[2014-03-22 19:24] lolmaus commented on #1615
Wait for version 0.12.5 or install from git.

[2014-03-22 23:21] chriseppstein commented on #1615
No new compass release is needed. I've just released sass 3.2.18. Please update sass to fix this issue.

[2014-03-22 23:21] #1615 closed, assigned to nobody

[2014-03-22 23:22] chriseppstein commented on #1615
[code]

[2014-03-22 23:28] chriseppstein commented on #1618
I don't have access to a windows box for testing. I have fixed an issue relating to permissions, maybe that will fix this issue too. Update to sass 3.2.18 and let me know if that fixes it.

[2014-03-22 23:29] chriseppstein commented on #1619
Dupe and fixed by sass 3.2.18.

[2014-03-22 23:29] #1619 closed, assigned to nobody

[2014-03-22 23:32] chriseppstein commented on #1611
The only issue here is that the error is not very clear. There's no reason to expect that passing in a url reference to this mixin should work. Are you expecting that compass would download the image or maybe that it would reverse engineer the url and realize it's an image in the local filesystem?

Anyways. it's easy to give a better error message, I can see how someone might inadvertently do this

[2014-03-23 00:51] iholler commented on #1615
I'm a total noob to Ruby, Sass, and Compass. So, my problems may be due to my ignorance.
However, I'm having the same issues regarding Compass/Sass even after installing the new version of sass ver 3.2.18.

Actually I uninstalled both Sass and Compass entirely and started fresh. As you can see in the code block below I installed fresh, and immediately tried to create a new project named "bestof" i

[2014-03-23 04:26] moollaza commented on #1618
@chriseppstein just gave it a try, but it doesn't look like your fix worked. I upgraded Compass to `0.12.4` and Sass to `3.2.18`. I ran `compass watch` and upon making a change to my stylesheet, the error is thrown when compass tries to write the new file:
![2014-03-23_00h25_10](https://f.cloud.github.com/assets/873785/2492621/38dff2ec-b243-11e3-83c3-1824bdd98a1f.png)

[2014-03-23 10:23] rizkysyazuli commented on #1619
updated to sass 3.3.4 and still not working. but since i'm using grunt-contrib-compass, is this related directly to compass or sass?

[2014-03-23 16:19] mattcollier commented on #1615
Hello, having the same issue here.  This problem coincided with day 1 of my sass/compass experience.  There has been much gnashing of teeth!

Anyhow, I'm a bit confused.  Isn't the current version of sass 3.3.4?  Why are we talking about 3.2.18?

[2014-03-23 16:21] nicholashead commented on #1615
I don't know if this is a problem with sass or compass-- but I was able to install previous version of compass and everything works fine again. So, there's that.

[2014-03-23 16:32] legiondesigns opened #1620 "updated compass and sass gem. Now I get compile errors"
I updated my compass and sass...that was all. Now when compass tries to compile the sass and overwrite the styles.css I get:
Errno::EACCES on line ["897"] of C: Permission denied - (c:/xampp/.....)

Running windows 8
Ruby version 2.0.0p247
Compass version 0.12.4 (Alnilam)
Sass version 3.2.18 (Media Mark)

**\* LOCAL GEMS ***

bigdecimal (1.2.0)
bootstrap (0.0.1)
bower (0.0.2)
chunky_png (1.2.9, 1.

[2014-03-23 16:40] lolmaus commented on #1620
Duplicate for https://github.com/chriseppstein/compass/issues/1618

[2014-03-23 16:54] legiondesigns commented on #1620
My bad. I looked around in here but must have missed that. Thanks for pointing me to that issue posting. I did what most of them did and reverted back to 0.12.3 and it is working again.

[2014-03-23 16:54] #1620 closed, assigned to nobody

[2014-03-23 18:18] iholler commented on #1615
@mattcollier - I uninstalled compass and sass again and reinstalled **Compass ver. 0.12.3** which automatically installed **Sass ver. 3.2.18** everything now works. Guess there's still some bugs to iron out with the newest version of either Compass or Sass (which I don't have the knowledge of which is the culprit).

[2014-03-23 21:21] bridgeport commented on #1618
Experienced the same issue on Windows after upgrading to v0.12.4. When I installed compass it'll automatically installed SASS v3.2.18 as a dependency even though I also have SASS v3.3.4 also installed. Still, the problem persists.

Downgrading to v0.12.3 fixed it.

Here's the trace output:

[code]

Here's my config.rb file:

[code]

The permissions error occurs even if I remove config.rb

Thanks.

[2014-03-23 22:22] moollaza commented on #1618
This seems like the offending commit -- it changed between Compass 0.2.13 and 0.2.14
https://github.com/chriseppstein/compass/commit/fb85ca514c38f33e6633217feb960f158bc1c759

[2014-03-23 22:25] kylemacfarlane opened #1621 "Cannot import vertical_rhythm when import once is active in 1.0"
I started a new project with the 1.0 alpha and for some reason I'm not able to import the vertical_rhythm module.

I've reduced it down to `config.rb`:

[code]

And in my `style.scss` I only have:

[code]

When using `compass watch` it throws the following:

[code]

I found that removing `require 'compass/import-once/activate'` seems to bypass the error.

[2014-03-24 01:23] pabliqe commented on #1615
+1 for downgrade

Thanks guys, Ive been looking a workaround since yesteday

[2014-03-24 03:29] nicholashead commented on #1615
I think this needs to be reopened?

[2014-03-24 11:05] chriseppstein commented on #1618
@moollaza Please delete all your compiled CSS files and let me know if the issue continues to persist.

[2014-03-24 18:05] moollaza commented on #1618
@chriseppstein no luck -- but I think I believe I found the problem and a potential solution:

Looking around online (https://www.ruby-forum.com/topic/127161#567261) it seems Windows doesn't let you move/rename files while they're open. Looking at Sass' `atomic_create_and_write_file` (https://github.com/nex3/sass/blob/stable/lib/sass/util.rb#L1166) it seems this is the case, the file is being rena

[2014-03-24 19:05] chriseppstein commented on #1618
@moollaza Thank you for the help debugging this. I've just pushed a commit to the `stable_3_2` branch. All tests pass for me. Can you try testing against that and see if it's working?

[2014-03-24 22:58] moollaza commented on #1618
@chriseppstein I cloned the sass repo, checked out the `stable_3_2` branch and when I run `rake` to try the tests it's failing with the same error as before. I tried modifying my installed SASS gem again to make sure I had it working before with compass and again I was able to get compass working so now I'm confused as to why its failing when I run the tests.

I briefly fiddled around with the fun

[2014-03-25 15:15] aaronjensen commented on #1529
This did not fix it for me either. I'm using globbing from sass-rails.

[2014-03-25 16:30] bshelling commented on #1618
I've noticed the same problem and discovered inside of the config.rb file I commented out the the require 'compass/import-once/activate' line and everything seems to be working now, even with version 0.12.4

[2014-03-26 01:00] chriseppstein commented on #1618
@moollaza Thank you for testing. I have requested a windows machine (or VM) here at work so that I can try to debug this on my own. IT is giving me crap about it. Until then, any help in fixing this is appreciated.

[2014-03-26 02:07] Ne-Ne opened #1622 "Error Installing Compass --pre"
Hi,

Having trouble installing compass beta. I have managed to remove all old gems and install the latest stable fine. However installing the latest (beta) for some dev as an external file for Codekit V2.

Concept seems fine in practise, however on installation I get this error:

[code]

---

Here is a URL if it helps - https://dl.dropboxusercontent.com/u/16277962/compass-pre-install-issue.txt

--

[2014-03-26 15:42] quasiobject opened #1623 "Compass Compile File Permissions"
I upgraded to 0.12.4 on my laptop last night (OS X 10.9.2). Compass was compiling my CSS just fine, but it was writing the compiled CSS file with 600 permissions. Accordingly, Apache threw a 403 and was unable to load the compiled CSS until I set the permissions to 644. However, each subsequent compile changed the permissions back to 600. Downgrading to 0.12.3 resolved the issue.

I tried the same

[2014-03-26 17:44] rasky commented on #1617
I've got the same bug, and cannot rollback to alpha18 because it has a different bug that was fixed in alpha19 :) I'm out of luck I guess...

[2014-03-26 18:17] stringtheory opened #1624 "Invalid markup not erroring inside media queries in Compass - v.1.0.0.alpha.19"
When there is a missing selector within a media query it is not raising an exception.

[code]

Codepen Example:
http://codepen.io/stringtheory/pen/xguvy

I ran some other invalid markup inside the media query and all of the following correctly raised an exception:

[code]

[2014-03-26 18:23] lolmaus commented on #1624
I also encountered that but was too lazy to report. Thx for reporting @stringtheory.

[2014-03-27 04:44] rrcobb commented on #1622
I am running into the same situation. The latest stable release (0.12.4) installs successfully, but the dev fails to make, with exactly this trackback. Thanks for any help!

[2014-03-27 04:56] rrcobb commented on #1622
Well, shame on us for not looking at the closed issues. #1604 has more notes about the problem, but all I needed to do was update my version of ruby and the install worked like a charm.

[2014-03-27 05:11] #1622 closed, assigned to nobody

[2014-03-27 09:02] mingan opened #1625 "Location of temporary sprite files"
Change introduced in db3c621 made Compass stop working in a shared folder between Win host and Ubuntu guest. When sprites are compiled the renaming from generated tempfile to proper name fails.

I had similar issue with running SASS in this setup, but there's the cache_location option which solves it. Is there some way to instruct Compass to save temporary files to a different folder?

[2014-03-27 14:03] mikesherov commented on #1603
@chriseppstein looks like you already introduced the multi_json library for the caniuse.com data in 71dd03c36ad9d32273ef2aa2df95b7cc684ce6b8 .

However, now `json` is being used in the compiler to generate sourcemaps in addition to being used by the various docs that @Snugug mentioned.

[2014-03-27 14:03] mprins commented on #1623
see #1615

[2014-03-27 14:30] quasiobject commented on #1623
Thanks, I did see that. I'm running Compass 0.12.4 with Sass 3.3.1 on OS X 10.8.5 and don't have those issues on that machine. So, downgrading to Sass 3.2.18 wasn't required for the OS X 10.8.5 machine.

I believe the OS X 10.9.2 machine was running 3.3.3/4.  I'll try downgrading to Sass 3.2.18 on Mavericks.

[2014-03-27 19:04] plynchnlm opened #1626 "Website is down"
On Page: http://compass-style.org/help/tutorials/spriting/customization-options/

I was looking for:
the page

But instead I found:
Site Temporarily Unavailable

We apologize for the inconvenience. Please contact the webmaster/ tech support immediately to have them rectify this.
error id: "bad_httpd_conf"

[2014-03-27 20:39] chriseppstein commented on #1626
https://twitter.com/compass/status/449281085097009152

[2014-03-27 20:39] #1626 closed, assigned to nobody

[2014-03-27 20:43] chriseppstein commented on #1625
No way to do that. we need to make this work on windows instead of break.

[2014-03-27 21:00] awholegunch opened #1627 "http://compass-style.org down: "Site Temporarily Unavailable""
Site Temporarily Unavailable

We apologize for the inconvenience. Please contact the webmaster/ tech support immediately to have them rectify this.
error id: "bad_httpd_conf"

[2014-03-27 21:10] lolmaus commented on #1627
![Y U NO search](http://i.memeful.com/memes/RXEDVLd/YUNO.jpg)
https://github.com/chriseppstein/compass/issues/1626
https://twitter.com/compass/status/449281085097009152

[2014-03-27 22:48] lifeiscontent opened #1628 "Compass sprite doesn't compile unless you call the sprite-map in a css prop"
[code]

if I use this mixin, I get errors saying the sprite-position function can't convert nil to a string.

however if I add `background-image: $sprite2x;` to the top of the `.hidpi` selector this works fine.

but I don't want to have to call the `$sprite` because its less optimal CSS output than I'd like to have.

[2014-03-28 00:23] Josh68 commented on #1615
I'm still having issues, as 0.12.3 (or the sass downgrade) is causing other errors in my site build. Is there another solution that doesn't require any downgrades? Thanks

[2014-03-28 03:38] chriseppstein commented on #1623
You can't even run compass 0.12 with Sass 3.3, if you're running compass 0.12, it's activating a Sass 3.2 version installed on your system. If you have Sass 3.2.18 or greater (in the 3.2.x line) installed this issue should be fixed. The only platform that continues to have this issue is windows for other reasons.

[2014-03-28 03:38] #1623 closed, assigned to nobody

[2014-03-28 09:58] ctumolosus opened #1629 "Use `$legacy-support-for-ie6` in float mixin"
You're using `display: inline` on the float mixin to fix an IE5/6 issue. Most of your mixins that take care of IE quirks wrap the logic using these `$legacy-support-for-iex` variables, which is a very nice feature if you are trying to suppress the amount of CSS that you use when certain browsers are no longer supported by your business.

[2014-03-28 10:15] Anahkiasen commented on #1629
This is fixed on master no ?

[2014-03-28 11:00] frapontillo commented on #1618
I am having the same issue on Windows 8.1 x64.
Reverting to Compass 0.12.3 solved it.

[2014-03-28 11:34] ctumolosus commented on #1629
It doesn't seem to be unless I'm looking in the wrong place [utilities/general/float](https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/utilities/general/_float.scss)

[2014-03-28 11:51] Anahkiasen commented on #1629
No that's stable, I mean in the [master](https://github.com/chriseppstein/compass/tree/master) branch

[2014-03-28 13:47] quasiobject commented on #1623
Ah, makes sense. I wasn't aware of that. I do indeed have 3.2.18 installed.

**\* LOCAL GEMS ***
sass (3.3.1, 3.2.18, 3.2.14, 3.2.0, 3.2.0.alpha.8)

Thanks for the explanation.

[2014-03-28 17:17] janjaap opened #1630 "Function sprite_map doesn't support keyword arguments"
Gems installed:
- compass (0.12.4)
- compass-core (1.0.0.alpha.19)
- compass-import-once (1.0.4)
- sass (3.3.4, 3.2.18)
- sass-globbing (1.1.0)
- susy (2.1.1)

If I run the command `compass sprite --images-dir ./img/ -f ./scss/sprites/stats.scss "stats/*.png"` the following scss is generated:

[code]

If I import the `stats.scss` file and compile everything with

[code]

, the following error is t

[2014-03-28 20:48] ActionScripted commented on #1623
Was having the same problem and fixed it by running `gem clean`...which still didn't resolve things. Compass (0.12.4) and Sass (3.3.4, 3.2.17) still writing things out as 600.

Will downgrade, thanks everyone.

[2014-03-28 21:08] quasiobject commented on #1623
@ActionScripted I believe you'll want to install 3.2.18, per Chris' explanation.

gem install sass -v 3.2.18

[2014-03-28 21:09] ActionScripted commented on #1623
@quasiobject: what I ended up doing was removing sass and compass completely, then reinstalled compass to get the dependencies right. Thanks so much!

[2014-03-28 23:03] JeffreyATW commented on #1617
Had to roll back to alpha18 too. Looks like alpha19 busted sprite-file.

[2014-03-29 10:19] ctumolosus commented on #1629
Your are correct. Closing.

[2014-03-29 10:19] #1629 closed, assigned to nobody

[2014-03-30 21:49] irunatbullets commented on #897
Any ETA on this being pulled into the main branch?

I accidentally ran `gem update` and it got the latest stable version of compass, which still has the "Sprites always recreated" issue. I then tried to uninstall it to get back to this version (compass-0.13.alpha.4.89f9f10.gem). It didn't work.

[code]

I then followed my old install documentation to get up and running from scratch and that didn't

[2014-03-31 10:45] georgethomasuk commented on #1600
The issue seems to be in how the sprite_file method generates a path to the original asset, as it end up generating invalid paths.

I have tried to modifying the function to fix the issue, but my low level of Ruby and under the hood Compass knowledge, meant I couldn't find a solution without breaking something else.

[2014-03-31 17:14] mtwalsh commented on #1618
Same issue on Windows Server 2008 R2 and the downgrade of Compass to 0.12.3 solved it.

[2014-04-01 02:59] huijing commented on #1607
@mbavio could you please advise on how to comment out the compass dependency from listen? Right now the only way I can get everything (Jekyll, Compass and SASS) to play nicely together is to use old versions of sass and compass.

[2014-04-01 03:11] pprince commented on #1607
As I understand it, there is a fix planned for this.  @chriseppstein is or
was waiting on SASS to bundle listen.

In the mean time I am maintaining a minimal fork for exactly this reason,
at https://github.com/pprince/compass

It has been working for me.

Thanks,
-Paul P.

On Mon, Mar 31, 2014 at 10:59 PM, Hui Jing notifications@github.com wrote:

[2014-04-01 03:13] pprince commented on #1607
I should add:  I plan to keep this up to date (within a couple of days,
anyway) of released versions, until this bug is fixed; after that my fork
will disappear.

Thanks,
-Paul P.

On Mon, Mar 31, 2014 at 11:11 PM, Paul Prince paul@littlebluetech.comwrote:

[2014-04-01 03:47] soundasleep commented on #1045
Also make sure you are running a recent version of `grunt-contrib-compass`, `cache_dir` doesn't work on 0.5.0 but works on 0.7.2.

[2014-04-01 10:13] eradrix commented on #1590
Found it! Conflict with autoprefixer in Gruntfile.js config. I can breathe... :-)

[2014-04-01 10:13] #1590 closed, assigned to nobody

[2014-04-02 23:58] AndrewDryga commented on #1077
No fix for more than 1 year :(

[code]

[code]

[2014-04-03 01:01] AndrewDryga commented on #1077
Workaround, just put this into your config.rb:

[code]

[2014-04-04 18:14] morewry commented on #1617
I'm also getting this, and unfortunately getting https://github.com/gruntjs/grunt-contrib-compass/issues/23#issuecomment-36420740 with alpha.18 (oddly), so I'm also stuck.

[2014-04-05 18:05] wheatpenny commented on #1615
Upgrading SASS from 3.2.17 to 3.2.18 fixed the issue for me. Thank you!

[2014-04-05 19:50] #1627 closed, assigned to nobody

[2014-04-07 01:46] chriseppstein commented on #1618
Should be fixed in 0.12.5. Please let me know if you have any more issues.

[2014-04-07 01:46] #1618 closed, assigned to nobody

[2014-04-07 06:35] kapowaz opened #1634 "Compass 1.0.0 depends on Listen 1.1"
I've been successfully using Sass 3.2 and Compass 0.12.x with [rake-pipeline](https://github.com/livingsocial/rake-pipeline) for several projects for a while now; the setup I have uses listen and rerun to rebuild all assets whenever they change on-disk, but recently I decided I'd like to try out Sass 3.3. Unfortunately Compass 0.12.x is incompatible with Sass 3.3, and Compass 1.0.0 now depends on

[2014-04-07 10:03] lhtdesignde opened #1635 "placeholder mixin extension for firefox"
Is it possible to add "opacity: 1" as a reset for the Mozilla declaration? Firefox gives default opacity value of 0.54 to the placeholder which makes it look different from the placeholder styling in other browsers. So at the moment I can either give all an opacity of 1 or live with the difference which is in the some cases a no-go.

On Page: http://beta.compass-style.org/reference/compass/css3/us

[2014-04-07 15:29] cimmanon commented on #1635
This seems like something that would be out of scope for that particular mixin, since it is not part of the reset module.

[2014-04-08 07:13] eradrix opened #1636 "1.0.0.alpha.19 cannot import images folder"
Hi,

It seems that compass fail to import an images folder, as soon as there is a versioned image name (foo.1.1.0.png) inside. Curiously the log reports an "Invalid CSS" error, which is not very helpful.

[2014-04-08 07:14] frapontillo commented on #1618
I can confirm the fix, thanks! :+1:

[2014-04-08 10:20] Silex opened #1637 "idea: instead of mixins, use automagic properties"
For example, the following code:

[code]

has to be written currently like this:

[code]

Which expands to:

[code]

The current way is a bit annoying, in that it forces you to write "unstandard" css code using the mixin, and I don't really understand why this cannot be done automatically.

What prevents us from writing the following?

[code]

Which would enable it that for each instance of `box-s

[2014-04-08 10:39] pprince commented on #1637
Look into the Autoprefixer project/application.  It works like this.

SASS doesn't work like this, and thus neither does Compass.

[2014-04-08 11:27] Silex commented on #1637
Oh, didn't know about autoprefixer. Thanks for mentionning it!

[2014-04-08 11:27] #1637 closed, assigned to nobody

[2014-04-09 02:08] corysimmons opened #1638 "Lists don't work in local Compass projects?"
- `compass create --sass-dir "scss" --css-dir "css" --javascripts-dir "js" --images-dir "images"`
- `echo '$map: (key1: value1, key2: value2, key3: value3);' >> scss/screen.scss`
- `compass watch`

[code]

Any ideas? Doesn't seem to throw this error on http://sassmeister.com/gist/10219326

https://github.com/mojotech/jeet/issues/187

[2014-04-09 05:01] lolmaus commented on #1638
Use Bundler.

[2014-04-09 13:27] corysimmons commented on #1638
@lolmaus There's no Gemfile? Should I create one with just Compass in it and install Compass on a per-project basis?

**edit** Even doing that doesn't seem to fix the problem.

[2014-04-09 14:09] lolmaus commented on #1638
What versions of Sass and Compass appear in the Gemfile.lock? Are you running Compass with "bundle exec"?

[2014-04-09 14:23] corysimmons commented on #1638
[code]

I've tried running it with `compass watch` and `bundle exec compass watch`. Same error.

[2014-04-09 15:57] derekwheee opened #1640 "Error compiling sprites: ENOENT on line ["146"] - v1.0.0.alpha.19"
I'm getting an error when trying to compile sprites on Windows.

My Sass looks like this:

[code]

The `sprite` dir is in `images_dir = "Images"`

This is the error I get when I run `compass compile`:

[code]

I'm running Ruby 2.0.0p247

[2014-04-09 16:05] derekwheee commented on #1640
Worth noting that `compass compile` works fine on the same code using the latest stable release of Compass.

[2014-04-09 17:54] lolmaus commented on #1638
There's your problem.

You're using Compass 0.12 which pulls Sass 3.2 which doesn't support maps.

Update your Gemfile to require Compass 1:

[code]

Then run:

[code]

[2014-04-09 18:16] corysimmons commented on #1638
Works, thanks. Out of curiosity, when I `gem uninstall compass sass` and remove all of them, then `gem install compass` (which installs the latest alpha and Sass 3.2) it continues to throw the same errors globally. Any ideas?

[2014-04-09 18:16] #1638 closed, assigned to nobody

[2014-04-09 19:01] lolmaus commented on #1638
@corysimmons, you did two mistakes:
1. `gem install compass` won't install an alpha. To install an alpha globally, you have to use `gem install compass --pre`.
2. An alpha version of Compass won't pull Sass 3.2. It has Sass locked at `< 3.5, >= 3.3.0`. See [RubyGems](http://rubygems.org/gems/compass/versions/1.0.0.alpha.19).

[2014-04-09 19:20] corysimmons commented on #1638
@lolmaus I did specifically install Compass @ 1.0.0.alpha.19 and it was the only version of Compass on my machine. If it's targeting Sass @ < 3.5, >= 3.3.0, then that range falls above 3.2, which is where maps were introduced, so shouldn't it still work?

[2014-04-09 19:30] lolmaus commented on #1638
@corysimmons I can only repeat what i said in my first comment.

[2014-04-09 19:32] corysimmons commented on #1638
Sorry, just trying to understand why global Compass that relies on Sass 3.3 - 3.5 (which supports maps) wasn't supporting maps. Bundler seems to work so I guess I'm crazy. :[

Thanks for the help.

[2014-04-09 19:50] kellylawrence opened #1641 ""NoMethodError" With Fresh Install of Compass"
Hello. Me and my co-workers have been using Compass for some time now, but have recently ran into a strange issue. As of yesterday, we started getting errors about our **config.rb** files not existing or being readable in our project folders, when none of them had been changed, and no changes had been made to our installs of Compass (To our knowledge).

We tried recreating the **config.rb** files

[2014-04-09 21:07] kellylawrence commented on #1641
Just a follow up to this. I've installed a fresh version of Ruby _(2.1.1p76)_ through RVM, then installed Compass through there, and everything seems to be working fine now. I'm not sure what the issue was before with our old combination that just stopped working yesterday, but the latest stable versions of everything seemed to have solved my issue at least. Consider this issue closed I guess!

[2014-04-09 21:32] lolmaus commented on #1638
If you used `gem install compass` then you installed Compass stable (most probably 0.12.5) which relies on Sass 3.2.

[2014-04-10 10:00] Duske commented on #1091
That feature would be very great. Is there any progress concerning this issue?

[2014-04-10 17:47] andypearson opened #1642 "compass-import-once causes `compass compile` to fail on Windows since 1.0.4"
We've just had a lot of fun trying to debug this over the past few hours...

The crux of the issues is:

On OS X the generated output cache path for an import-once scss file looks like:
`75fcaf1b4852ceb732871195e41567cc2a7d8997//Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/layout/_grid-background.scssc`

On Windows it'll look like:
`75fcaf1b4852ceb732871195e41

[2014-04-10 18:04] underblob commented on #1618
Also confirmed the fix. Thanks Chris.

[2014-04-10 20:22] JawsomeJason commented on #1251
Bump.  I would love to know how to get compass-import-once to work with this as well.

[2014-04-10 21:29] samme commented on #1551
:+1: This would be super helpful.

[2014-04-11 00:59] beausmith opened #1644 "inline-image() doesn't support image paths outside project"
When a stylesheet bundled in a gem is included into an application stylesheet and the bundled stylesheet uses `inline-image()` to refer to an image asset also contained within the gem, Compass displays an error. The error states that Compass cannot find the image at the path which it should be if the image were in the applications images directory.

[2014-04-11 06:24] clauzf commented on #1642
thanks you for this post, after read your post, I fixed it by replace the "key" function with the old version one.

[2014-04-11 14:55] JTLR opened #1645 "Add support for '-ms-linear-gradient' in 'background-image' mixin"
Currently the output CSS doesn't supply a gradient background that works in IE11, 10 and probably 9.

[2014-04-11 17:21] lmarcon commented on #897
Compass 1.0.0.alpha.19, still experiencing this problem.
We used to call sprite-url() in a mixin to generate sprites for retina displays, so every time we include this mixin the sprite is being regenerated.

We solved by calling sprite-url() just once at the beginning of our mixins partial, and assigning it to a variable used inside the mixin itself.

[code]

[2014-04-11 17:48] derekwheee commented on #1642
This looks like the same issue I'm having in #1640

[2014-04-11 17:53] derekwheee commented on #1640
Closing this in favor of #1642

[2014-04-11 17:53] #1640 closed, assigned to nobody

[2014-04-11 19:11] scottkellum opened #1646 "Currentcolor breaks gradient mixins"
The following code creates an error

[code]

While this compiles just fine

[code]

[2014-04-11 22:04] chriseppstein commented on #1645
Pretty sure this is fixed on master. Can you verify on compass `1.0.0.alpha.19`?

[2014-04-11 22:07] chriseppstein commented on #1603
@mikesherov yep! @Snugug Please file a bug against sass for the rest of this.

[2014-04-11 22:07] #1603 closed, assigned to nobody

[2014-04-12 15:59] exwar commented on #1460
+1 for this issue.
It will also provide more browser coverage

[2014-04-12 16:03] evilive3000 commented on #394
doesn't detect changes! But detects syntax error.
Example:

[code]

[code]

`--poll` doesn't help.

[2014-04-12 18:49] adiacov commented on #1470
Hi,
after installing devkit from http://rubyinstaller.org/downloads/ and reinstalling wdm everithing worked for me

[2014-04-13 02:28] chriseppstein commented on #1470
Ok. So do we need to update our install docs for windows?

[2014-04-13 08:09] sunilw opened #1647 "compass hangs eternally on project creation"
Compass 1.0.0.alpha.19

This command does not return at all.

[code]

So does this one

[code]

[2014-04-13 15:54] jvliwanag opened #1648 "Support for http_sass_path"
When enabling sourcemaps, the public url for the sass directory is automatically predicted based on the sass and css directories.

It would be great however if a public http_sass_path can be configured manually.

Encountered this limitation while using compass with yeoman.

Mentioned in: #1108

[2014-04-14 08:11] ghost commented on #1636
I came across the same issue.

UPDATE:

It seems like non alfanumeric characters are the issue.

[2014-04-14 11:49] mtwalsh commented on #1618
Fixed here too, thanks!

[2014-04-14 12:29] andypearson commented on #1642
@frxnz Yup, that does indeed look like the same issue.

[2014-04-14 21:06] drywall opened #1650 "Assigning to global variable "$default" by default is deprecated"
Just updated various versions of compass/sass/susy, which all have vaguely different and conflicting version preferences.

Running compass 1.0.0.alpha.19 against Sass 3.3.4, I get the following deprecation warnings:

DEPRECATION WARNING on line 121 of /[path]/compass-core-1.0.0.alpha.19/stylesheets/compass/css3/_transition.scss:
Assigning to global variable "$default" by default is deprecated.
In

[2014-04-14 21:07] drywall commented on #1650
Oh, and with the following as well:

If you want to assign to the global variable, use "$default: -compass-space-list(compact($default-text-shadow-h-offset $default-text-shadow-v-offset $default-text-shadow-blur $default-text-shadow-spread $default-text-shadow-color)) !global" instead.
Note that this will be incompatible with Sass 3.2.

[2014-04-15 14:07] JTLR commented on #1645
My bad! I'm on 0.12.2

[2014-04-15 14:07] #1645 closed, assigned to nobody

[2014-04-15 15:16] georgethomasuk commented on #1600
Looks like the same issues as raised in #1617

[2014-04-15 17:19] MiguelDebruyne opened #1653 "Upgrade page does not state how to upgrade compass"
On Page: http://compass-style.org/help/tutorials/upgrading/

I was looking for:
The command to put into the terminal how to upgrade compass

But instead I found:
A page where it only states how to find your version of compass, en where you can find what the new version of compass is, and its pre-release. I already found how to upgrade compass, just install compass again. But it should be stated on

[2014-04-15 17:38] grayghostvisuals opened #1654 "Sourcemaps w/grunt and gulp-ruby-sass"
Here's the repo I'm using to test all this with : [https://github.com/grayghostvisuals/sourcemaps](https://github.com/grayghostvisuals/sourcemaps)

My Workspace in DevTools is pointed at the root directory of my project and my Sass file is mapped to the local file system resource. I could definitely be doing something wrong for sure, but again here it is live for you to see.

Gulp-Ruby-Sass w/Comp

[2014-04-15 18:06] grayghostvisuals commented on #1654
Also discovered from Paul Irish that basically right now if you change something in styles pane
it breaks the source mapping because Chrome doesn't really know how to update the original source values.

[2014-04-15 18:21] chriseppstein commented on #1654
@grayghostvisuals right. For instance, did you mean to change the variable that was used to make that value, construct an intermediate expression (like by pressing up 5 times did you mean to change $foo to $foo + 5), or just replace the property with a new value.

IMO, the way Grunt w/Compass works seems more correct because once you're editing the properties from the styles pane, you're not editi

[2014-04-15 18:21] #1654 closed, assigned to nobody

[2014-04-15 19:20] grayghostvisuals commented on #1654
@chriseppstein

new property. exactly.

Agreed on the last part. Paul said this stuff is still being worked on, but thanks again for taking a peek. The current workflow is better than it was and it will only get better in time. :beers:

[2014-04-16 00:18] lencioni commented on #1614
I just tried to reproduce the problem described by those comments in tests on top of 5e5b3dd4e99e66882be9506360a5e13b5967635e (currently latest master), 1.0.0.alpha.19, and 1.0.0.alpha.18 and was unable to reproduce the bug.

Specifically, I added this to core/test/integrations/projects/compass/sass/transition.scss

[code]

And this to core/test/integrations/projects/compass/css/transition.css

[c

[2014-04-16 04:37] jacobbednarz opened #1655 "h3 missing left padding in code samples"
The h3 used within the documentation pages for code blocks is missing the left padding.

![deindented-h3](https://cloud.githubusercontent.com/assets/283234/2716122/b67f1fd0-c520-11e3-8b9f-72860059d5e9.png)

An example of this can be seen at http://compass-style.org/reference/compass/helpers/urls/#image-url. Happy to patch this one if it is confirmed as a bug and nothing is already in the works.

[2014-04-16 13:16] fender commented on #897
I'm also starting to get this error: **Errno::ENOENT on line 28 of /Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/sass_extensions/functions/image_size.rb: No such file or directory - /Users/jfender/Documents/Workspace/dmeapp/src/scss/images/base2x-sc8d7ccdb84.png**

[code]

[2014-04-16 13:31] lmarcon commented on #897
@fender I had this error using the same mixin, but then I realized that I was missing an image inside one of the two sprites directories. There have to be the same exact filenames in the two base and base2x directories.

[2014-04-16 13:34] fender commented on #897
@lmarcon Thanks for replying. I took a look and unless I am going blind the file names are all exactly the same:

[code]

[2014-04-16 13:40] lmarcon commented on #897
@fender Take a look here: http://thewebivore.com/compass-sprites-and-retina-displays-sass/
Basically that error means that compass can't find something. Also check `generated_images_dir` parameter in your `compass.rb` config file

[2014-04-16 15:33] fender commented on #897
@lmarcon Thanks for pointing me in the right direction. Looks like even setting the `generated_images_dir` is not working. There is another issue where other people are having similar problems: https://github.com/chriseppstein/compass/issues/1077

[2014-04-16 15:37] fender commented on #1077
I'm assuming this is fixed in the latest version, 1.0.0.alpha.19? Unfortunately I get `make failed` errors when trying to update to the latest pre version.

[2014-04-16 15:39] AndrewDryga commented on #1077
Yes, but its alpha, so we need to wait for stable release

[2014-04-16 15:45] fender commented on #1077
@AndrewDryga Your workaround didn't seem to work for me. Was there anything else I needed to add to config.rb for this?

[2014-04-16 15:47] AndrewDryga commented on #1077
Here is my config:

[code]

[2014-04-17 06:46] jawinn opened #1656 "0.12.2 font-face() mixin docs not correct"
On Page: http://compass-style.org/reference/compass/css3/font_face/

The page lists the Version as 0.12.2 in the upper left, but the code displayed for the font-face() mixin doesn't match up. See `format('eot')` vs newer `format('embedded-opentype')`. I was using the reference, and when I checked my compiled CSS I was surprised to see the older "eot" being used (compiling with compass.app). ~~I'm

[2014-04-17 18:07] bodrovis opened #1657 "Generating sprites on Windows raises Errno::EINVAL (again)"
Hello.

Firstly I faced this problem a couple of months ago when trying to upgrade one of my apps from Rails 3 to 4. I used compass there to hook up some CSS3 helpers and generate sprites. I followed the migrations guidlines, but kept getting this error:

[code]

when trying to visit the main page of the app. At that time I actually did not have a lot of time to work on this so I just gave up afte

[2014-04-18 11:17] mdrobny commented on #897
**@Imarcon** solution worked for me. Calling _sprite-url()_ only once doesn't lead to double generation.

[2014-04-21 15:10] jribeiro opened #1658 "Compass Android 2.3 Support"
Hi,

I'm using Compass 1.0.19 beta with the following browser support definition:

[code]

Problem is I have a linear gradient definition which is not generating the appropriate syntax for Android 2.3:

[code]

I needed Compass to generate something like

[code]

Any idea?

[2014-04-23 01:20] mikesherov commented on #1603
@chriseppstein I'm not sure why this issue was closed though. It seems the `json` dependency needs to be removed from the cli gemfile and gemspec, and the compass-style.org json dependency  needs to still be replaced with multi-json.

[2014-04-23 01:21] mikesherov commented on #1603
BTW, the easy way to fix the JSON error for the time being is: http://stackoverflow.com/questions/22352838/ruby-gem-install-json-fails-on-mavericks-and-xcode-5-1-unknown-argument-mul

[2014-04-23 14:15] tim-arnold commented on #1470
I think so.  I can verify that I was unable to run compass watch on my Windows7 machine until installing ruby dev tools and then running "gem install wdm"

[2014-04-23 16:27] deeja commented on #1642
Might mention that the file affected on my machine is:
**C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-import-once-1.0.3\lib\compass\import-once\importer.rb**

[2014-04-24 10:12] thany commented on #1573
This is still happening in alpha.19, just so you know.

For absolute clarity, here's my full list of installed gems again:

[code]

So no old versions of Compass or SASS lingering.

[2014-04-24 20:03] smaboshe commented on #1634
Hi!

I'm experiencing a similar dependency spaghetti problem to @kapowaz while experimenting with "compass", "~> 1.0.0.alpha.19".

In my `Gemfile`, I have:

[code]

On running `bundle install`, the bundle fails to complete with the following error:

[code]

Would it be possible to have the `listen` dependency for `compass` updated?

[2014-04-25 09:54] fpellanda commented on #1529
We use a workaround at the moment by adding an excalation mark to the improt filename.

[code]

[2014-04-25 09:59] fpellanda commented on #1529
Why is this a duplicate of style? We have trouble in compass with the Compass::Import::Importer class which seems not to handle the import correct.

Please reopen Issue!

[2014-04-25 10:07] lolmaus commented on #1529
It has been reopened a month ago and it is also marked as blocking.

[2014-04-25 11:18] fpellanda commented on #1529
Ah sorry, my fault. Thanks!

[2014-04-25 13:03] ghost commented on #1621
I get this problem too, anyone found a fix? I want to use the 'import-once' as its seems quite practical, but I cannot use it when I call anything related to compass e.g.

<code>
@import "compass/css3";
@import "compass/typography";
</code>

However, import-once works fine with anything else e.g. @import "breakpoint";

[2014-04-25 14:46] mcmillion commented on #1647
+1

[2014-04-27 22:50] CoinmanSachs opened #1660 "Compile command outputs 640 permissions files"
Upon compile, the newly overwritten .css files have a permissions setting of 640, causing the need to renew permissions every time a change is made using watch.

[2014-04-28 17:47] kimpixel opened #1661 ""watch 'path' do" function does nothin on windows 8"
Hallo

i tried all possible Path combination but nothing happen.

[code]

The same syntax works fine on Ubuntu Linux

[2014-04-30 11:38] thomwiggers opened #1662 "Dead link"
On Page: http://compass-style.org/help/tutorials/integration/

The link "this site" is dead.

[2014-05-01 15:14] jonfaustman commented on #857
I just started having this problem with a stand-alone project after I updated RVM, Compass and Sass. My file dir. is a bit different:

template root
|--src/sass
|--src/img
|--static/2011/latest/css
|--static/2011/latest/img

and my config.rb:

css_dir = "static/2011/latest/css"
sass_dir = "src/sass"
fonts_dir = "static/2011/latest/fonts"
images_dir = "src/img"
generated_images_dir = "static/2011/l

[2014-05-01 19:23] kjbkjb opened #1663 "Newer alphas using very old listen gem"
Noticed that listen gem was added as a dependency, but it is on a version that is well over a year old (1.1). Listen is up to 2.7.3. It is conflicting with my use of guard-rspec. much sad.

[2014-05-02 01:41] sktzoootech commented on #394
Hi there,

I also experience this problem.  When I do a compass watch.  Nothing happens, not even an error. It's like its frozen but I can ctrl+c to exit.  Not a hint why it doesn't work. Below are the details and versions I am using:
sass - (3.3.6)
compass - (1.0.0.alpha.19)
susy - (2.1.2)

ruby: 1.9.3p125

[2014-05-02 09:16] lolmaus commented on #394
Try `compass clean`.

[2014-05-02 22:25] pramodsankarl opened #1664 "Compass compile throws Errno::ENOENT on line ["346"] of D: No such file or directory"
I am trying to write a batch script to compile scss files using compass. While doing so it succesfully gets to the path detects the unchanged files but while overwriting/creating the css file it throws **ENOENT** error on a temp file which is not present in the location. ANy idea what could the issue be? appreciate your help.

Using compass version 0.12.5

**_Errno::ENOENT on line ["346"] of D: No

[2014-05-03 14:12] nessup commented on #646
+1

[2014-05-03 20:26] felixbuenemann commented on #1663
I'm running into the same issue. Does it really need such an ancient version?

[2014-05-05 00:25] brewster1134 commented on #1617
alpha19 relies on the relative path from the specific sprite to your generated images path...the problem is with finding a relative path, you need to be comparing 2 absolute paths or 2 relative paths, but not 1 of each.

when the sprite is loaded, the path is expanded to the full absolute path, but the same treatment is not given to the generated images path.

a workaround for now is to ensure you

[2014-05-05 03:40] brewster1134 opened #1665 "sprite_file function pathing bug"
I was having trouble using the sprite-file function with alpha19 and found a couple possible bugs...

Firstly, the function attempts to return a relative path from the generated images folder. It attempt to do this without ensuring that the two paths are both absolute.  If the `generated_images_path` is a relative path, or more likely, the `project_path` is set to the current directory (`.`), Path

[2014-05-05 15:48] pabliqe opened #1666 "Closing comment blocks"
What is this error about? I can't get it. Thanks in advance

[code]

[code]

[2014-05-05 16:01] lolmaus commented on #1666
Sass indented syntax does not have a closing tag for comment blocks. It uses indentation instead:

[code]

Demo: http://sassmeister.com/gist/11540683

It is strongly recommended to use block comments only for legal information which should survive minification. For anything else, use line comments instead. Leverage your notepad/IDE hotkey to comment out blocks of code with line comments.

[2014-05-05 16:04] pabliqe commented on #1666
I see, thank you so much for the info. I have heard about the "not-closing" comment syntax but I got confused due to the IDE syntax highlighter.

[2014-05-05 16:04] #1666 closed, assigned to nobody

[2014-05-05 16:05] lolmaus commented on #1666
I forgot to provide a link to the reference for the indented syntax: http://sass-lang.com/documentation/file.INDENTED_SYNTAX.html#comments

[2014-05-05 21:04] ghost opened #1667 "Pre / alpha releases breaking on Mavericks"
Still investigating upgrading to XCODE 5, but this error occurs when installing.  I have to use this because I am obligated to use the latest version of Semantically Awesome Style Sheets

Davids-MacBook-Pro:web david$ sudo /usr/bin/gem install compass --pre
Password:
Building native extensions.  This could take a while...
ERROR:  Error installing compass:
ERROR: Failed to build gem native extensio

[2014-05-06 17:32] ghost commented on #1667
Also created this Stack Overflow

http://stackoverflow.com/questions/23429145/error-failed-to-build-gem-native-extension-ruby-extconf-rb-mac-osx

[2014-05-06 19:23] pravi opened #1668 "tags for new releases are missing"
last tagged version in 0.12.x series is 0.12.3 where as rubygems.org lists 0.12.6 as the latest version. debian packages are built from tags and we are missing notification for new upstream releases. please tag all the releases.

[2014-05-06 20:10] rootwork opened #1669 "URL for depreciated vendor prefixes is broken"
In the commit https://github.com/chriseppstein/compass/commit/e5742f64e2b5a1fb18def2002a3a8d8b04cc1ded the warning message was updated to include a link to the documentation. However, that URL is wrong, and it took me a bit of searching around to find the correct one.

The address that is listed is:
http://compass-style.org/help/documentation/tuning-vendor-prefixes/

but it should be:
http://beta.

[2014-05-07 04:39] mlanning commented on #1482
I've run accross a broken link as well (gives a 404):
  http://compass-style.org/help/documentation/tuning-vendor-prefixes/

I found it from this warning:
WARNING: Compass has changed how browser support is configured. The following configuration variables are no longer supported: $legacy-support-for-ie6, $legacy-support-for-ie7, $legacy-support-for-ie8.Details: http://compass-style.org/help/docum

[2014-05-07 19:41] tbremer commented on #1488
I am having this issue as well, and am not able to move my source code to the same partition as ruby.

[2014-05-07 21:14] #1306 closed, assigned to nobody

[2014-05-07 21:14] #1591 closed, assigned to chriseppstein

[2014-05-07 21:15] #1561 closed, assigned to nobody

[2014-05-08 11:02] ptkarthikreddy commented on #1513
i try last 2 days getting this Error:

$ vagrant box list

## Error:

/home/karthik/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/site_ruby/2.0.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- log4r (LoadError)
    from /home/karthik/.rvm/rubies/ruby-2.0.0-p353/lib/ruby/site_ruby/2.0.0/rubygems/core_ext/kernel_require.rb:55:in`require'
    from /usr/bin/vagrant:2:in `<main>'

[2014-05-09 14:22] benebun opened #1670 "View source for lines-for-font-size() broken"
The view source link for the lines-for-font-size() function doesn't work when the syntax preference is scss because it got mangled with the sass source somehow:

http://compass-style.org/reference/compass/typography/vertical_rhythm/#function-lines-for-font-size

[code]

[2014-05-10 01:35] eddie-ruva commented on #1550
@kroleg were you able to fix your problems with (1) and (2)? I would like to take a look at how we can fix this but before starting to code I wanted to check with you if you were able to get something good working so we don't have to start from scratch.

By taking a look at the code I think a quick solution for anyone that runs into the problem before a fix is submitted is to call the mixin in the

[2014-05-10 07:32] eddie-ruva commented on #1550
[Compass docs for css3 transitions](http://compass-style.org/reference/compass/css3/transition/) mention that the order of the parameters for creating a transition are:

[code]

Also the code in the transition mixin seems to be very couple to the order in which the parameters are passed:

[code]

Having said that there can probably be two changes that can be done:
1. Modify the transition mixin so

[2014-05-10 20:45] mcmillion opened #1671 "Compass not honoring 'generated_images_dir' when referencing sprite images"
Error:

[code]

config.rb:

[code]

The image is being generated correctly in `client/public/images` but then Compass is immediately looking for it in `client/app/assets/images`

[2014-05-11 21:57] vikraman opened #1672 "Test failures with ruby20"
[code]

[2014-05-12 09:02] thany commented on #1550
To keep in check with the W3C recommended notation, I suggest changing the mixin behaviour so it can work with parameters in any order. This should go for other mixins as well, of course, such as box-shadow (may not be neccesary though).

The CSS3 spec prescribes how parameters must be interpreted. What's more (if I remember) the spec never dictated the order of parameters. Just which is which whe

[2014-05-13 00:58] sdhull commented on #1607
@chriseppstein can you give me a hint on how to use `compass-core` in Jekyll?  Currently I'm using a jekyll plugin based on [this gist](https://gist.github.com/Grandrath/8282339), which calls

[code]

however compass/exec isn't included in compass-core.

[2014-05-13 12:22] mstoltenburg commented on #965
Is it true that the current stable compass version (0.12.6) ist still not supporting the standard syntax (using the `to` keyword and `0deg` pointing to the top)? It's still using the same _angle-or-direction_ for the prefixed and unprefixed statements. This is wrong one way or another.

[2014-05-13 22:07] sdhull commented on #1607
Does _anyone_ here know how to use compass-core in Jekyll?  I was looking at [the projects test](https://github.com/chriseppstein/compass/blob/master/core/test/integrations/projects_test.rb#L97) and it's a bit... unwieldy. Why bother with `config.rb` if I just manually feed all the config options to the sass parser?

[2014-05-14 03:55] Quintion opened #1673 "compass compile @each"
For example:@each $name,$color in (skin-blue,blue),(skin-red,red){...}
An error occurred while using the compass compiler, sass command compiles

Syntax error: Invalid CSS after "@each $name": expected "in", was ",$color in (ski..."

[2014-05-14 04:50] timkelty commented on #1435
This ever get anywhere? @Snugug do you know if it's still happening in 1.0 w/ support vars?

The thing I find hard about using '!default' "as-intended" is illustrated below.

The following **won't work**, because I'm trying to use the `contrast-color` function, which isn't available unit _after_ I import Compass.

Therefore, I usually end up just importing Compass and all my extensions first, and

[2014-05-14 07:10] jonathansick commented on #1634
:+1: Also ran into this issue: I can’t use compass in a [Jekyll 2.0](https://rubygems.org/gems/jekyll) project since Jekyll requires listen ~> 2.5.

[2014-05-14 08:38] #1673 closed, assigned to nobody

[2014-05-14 20:52] jpuffer opened #1674 "Compass incorrectly omits the keyword "at" in radial-gradient rule"
The following SASS rule produces incorrect results:
`background-image(radial-gradient(center center, #ddd, transparent 100px)`

[code]

Changing the SASS rule to the following also produces incorrect results:
`background-image(radial-gradient(at center center, #ddd, transparent 100px)`

[code]

Expected behavior is that it should put the keyword "at" before "center center" in the non-prefixed vers

[2014-05-15 13:46] thany opened #1675 "[1.0.0.alpha.19] browser-out-of-scope() not working"
browser-out-of-scope always returns false, no matter what. Look:

[code]

Guess what this prints out... false.
I'd expect this to print out true, because clearly, IE8 is supposed to be out of scope here.

[2014-05-15 13:51] thany opened #1676 "[1.0.0.alpha.19] Linear-gradients no longer converted to SVG"
`linear-gradient` and `repeating-linear-gradient` are no longer converted to SVG for old Android, Opera and IE9. When I enable `$debug-browser-support`, it does output a comment that says the `-ms-` prefix wasn't included, even though `-ms-linear-gradient` doesn't even exist?? Regardless, it says nothing about why the SVG version wasn't outputted, even though IE9 is supposed to be supported.

Is t

[2014-05-15 14:56] thany opened #1677 "Idea: colorize an image"
The idea is that you'd have black&white images on disk, and have Compass colorize black pixels with a certain color value, leaving transparency intact. This would be very cool where css-generated images or svg are not an option, while still keeping the flexibility of being able to change colors.

The image would probably have to be included as a data-uri, which is fine.

So, for example, an image

[2014-05-15 15:30] lolmaus commented on #1677
It would be relatively easy to implement for embedding the colorized image into CSS with a base64 encoding. You could probably do it yourself with a Ruby-backed Sass function leveraging MiniMagick.

Otherwise, you have to deal with saving generated images to disk, caching and maybe spriting. It's a lot more work.

[2014-05-15 16:09] pyrsmk commented on #1470
Should be a great idea to have docs for windows users ^^

[2014-05-15 16:20] scottdavis commented on #1677
Sounds like a great idea for an extension!

Sent from my iPhone

[2014-05-16 07:51] thany commented on #1677
I've gotten a base64 extension to work in the past, for inlining generated svg. But in this case, svg generating was nothing but string concatenation. I'm not familiar with minimagick... would it be able to do what I need? Or at least the colorizing part?

[2014-05-16 08:43] lolmaus commented on #1677
1. Compass bundles the `inline-image()` Sass function and it works both with bitmap and vector images. But it is only useful for fetching images from disk. If you're going to create a custom Sass function, you'll have to encode images yourself. It's not difficult, you can [have a look](https://github.com/chriseppstein/compass/blob/9ee6b422262668e8a7e154d2ac34f350ee331dc0/lib/compass/sass_extension

[2014-05-16 20:16] alexweber commented on #1603
Just in case anyone else stumbles upon this, the one-line answer from the Stack Overlow question works like a charm! http://stackoverflow.com/a/22583048/197007

[2014-05-16 21:38] hd-deman commented on #800
+1

[2014-05-16 22:01] gpakosz commented on #1663
Looking at the master branch, no `Gemfile` binds specifically to `listen 1.1.0`.

Yet there's a `Gemfile.lock` in the `compass-style.org` directory that depends on `listen ~> 1.1.0`. Rebuilding the `core` and `cli` gems from source works for me. So it seems @chriseppstein and/or @scottdavis just uploaded a Gem with a very old dependency without noticing.

[2014-05-16 22:57] chriseppstein commented on #1529
Fixed by https://github.com/chriseppstein/sass-globbing/commit/1da5d07baf1cae4059082dc859b2b7499cbb495a and 49fdc97032a4b969c3af08a9c18279ab5060ffed

[2014-05-16 23:25] #1529 closed, assigned to chriseppstein

[2014-05-16 23:40] chriseppstein commented on #1491
So. I can't reproduce this.

This code exists and seems to account for this use case: https://github.com/chriseppstein/compass/blob/master/core/lib/compass/core/sass_extensions/functions/urls.rb#L68

I added a test case in 9e8d4701aca65183d906fb4d00291ce199784df4 and no warning happens for me.

Please add a failing test to compass and send me a link to it and I'll reopen this issue and fix it.

[2014-05-16 23:40] #1491 closed, assigned to nobody

[2014-05-16 23:54] chriseppstein commented on #1676
I added a test case in 95cb9eb8eb665790831b04666151dd438c510959 but I cannot reproduce the issue.

There is special case handling for this here: https://github.com/chriseppstein/compass/blob/master/core/stylesheets/compass/css3/_images.scss#L32

Maybe this is just some other config issue in your project?

[2014-05-16 23:55] chriseppstein commented on #1676
Please provide a failing test case as a simple compass project if you think I'm mistaken.

[2014-05-17 00:34] lolmaus commented on #1529
Thank you, @chriseppstein.

[2014-05-17 00:53] aaronjensen commented on #1529
@chriseppstein yet to try this out, but should this fix sass-rails too, or will sass-rails need a similar change?

[2014-05-17 03:08] chriseppstein commented on #1529
Sass-rails has an independent globbing implementation. Afaict, it should work with import-once.

[2014-05-17 09:18] pascalduez commented on #1600
Related #1665

[2014-05-17 22:02] aaronjensen commented on #1529
@chriseppstein it did not work previously, and since your only change was to sass-globbing, I'm guessing it still doesn't work now. I'm guessing the issue is with sass-rails, so I should open an issue there after confirming it still doesn't work.

[2014-05-18 06:51] omervk commented on #1529
Thanks, @chriseppstein, it works wonderfully :)

[2014-05-18 15:58] azavisha opened #1680 "Compiler Issue with Compound Selectors"
Sass Reference (http://sass-lang.com/documentation/file.SASS_REFERENCE.html#parent-selector) has the following example, which compiles without errors with sass compiler, but throws an error when compiled with compass (the error message is Invalid CSS after "&": expected "{", was "-sidebar {" "-sidebar" may only be used at the beginning of a compound selector).

& must appear at the beginning of a

[2014-05-18 16:33] cimmanon commented on #1680
Check your version of Compass.  The feature you're referencing is new for Sass 3.3, but Compass 0.12 is incompatible with it (it requires Sass 3.2).  You'll need to upgrade to Compass 1.0 via `gem install compass --pre`.

[2014-05-18 16:33] #1680 closed, assigned to nobody

[2014-05-19 08:54] thany commented on #1676
No problem, here we are:
http://sassmeister.com/gist/970ffe312a2d6dcdb5e5

This is fairly accurate, as initially I didn't have any browser config defined, and the output is similar to what I'm getting (i.e. no SVG).

[2014-05-19 09:13] felixbuenemann commented on #1663
@gpakosz The Gemfile is irrelevant, look at the compass.gemspec:

[code]

[2014-05-19 16:01] chriseppstein commented on #1600
I'll look into it.

[2014-05-19 16:26] nickjules commented on #1642
I have exactly the same problem, but I am a designer and am really struggling
with the techy side, here is the error and the gems I have in a gem file, please could someone advise ( as if speaking to a child might help with my skill level!) Many thanks

![error1](https://cloud.githubusercontent.com/assets/7632785/3016813/5b928a96-df72-11e3-85b0-e5c83d00a3c7.jpg)

![error_gems](https://cloud.github

[2014-05-19 16:47] scottdavis commented on #1600
Ill look into this and #1665 tonight

[2014-05-19 18:20] nickjules commented on #1642
sorry to have posted the above, all I needed was @import "compass/css3"; and then it compiled without error. I am so new to all this.......

[2014-05-19 21:45] chriseppstein commented on #1617
Set `generated_images_dir` if it's a relative location.

Duplicate of #1600

[2014-05-19 21:54] chriseppstein commented on #1665
Use `generated_images_dir` if it's a relative directory.

[2014-05-19 21:54] #1665 closed, assigned to nobody

[2014-05-19 21:55] chriseppstein commented on #1665
project_path gets expanded internally to an absolute path.

[2014-05-19 21:56] chriseppstein commented on #1665
I don't understand the question here:

can you give a better example of the issue?

[2014-05-19 22:34] chriseppstein commented on #1617
Honestly, I cannot reproduce this unless I misconfigure my project by setting a `*_path` property to a relative url instead of an absolute path.

http://compass-style.org/help/tutorials/configuration-reference/

If someone can provide a properly configured project that has this issue please post the details.

[2014-05-19 22:34] #1617 closed, assigned to nobody

[2014-05-19 22:35] chriseppstein commented on #1600
Honestly, I cannot reproduce this unless I misconfigure my project by setting a *_path property to a relative url instead of an absolute path.

http://compass-style.org/help/tutorials/configuration-reference/

If someone can provide a properly configured project that has this issue please post the details.

[2014-05-19 22:38] chriseppstein commented on #1663
https://github.com/chriseppstein/compass/blob/master/cli/compass.gemspec

Will be fixed when we release the next version.

[2014-05-19 22:38] #1663 closed, assigned to nobody

[2014-05-20 09:40] pascalduez commented on #1600
When I upgrade to `1.0.0.alpha.19` have this issue on [this project](https://github.com/pascalduez/SassyIcons) with the following [config](https://github.com/pascalduez/SassyIcons/blob/master/config.rb). No issue on `1.0.0.alpha.18`.

The error message:

[code]

I don't feel like doing something wrong in *_path config. Although I have to admit it's sometimes a bit confusing...

Thanks.

Edit:
I th

[2014-05-20 11:21] pascalduez commented on #1600
Related: #1659

[2014-05-20 21:11] felixbuenemann commented on #1663
Thanks, Chris!

[2014-05-20 21:14] kjbkjb commented on #1663
Thanks!

[2014-05-20 21:18] chriseppstein commented on #1600
@pascalduez

Try:

[code]

[2014-05-20 21:30] pascalduez commented on #1600
@chriseppstein Same issue with this setting...

Edit:
even with a bare minimal settings I can't get ride of it:

[code]

Basically, `sprite-file` should only care about `images_dir` or `images_path` or I'm missing something ?

[2014-05-20 22:45] chriseppstein commented on #1600
@pascalduez Can you make a zip (or tar.gz) file of a minimal compass project that has this problem and email it to chris@eppsteins.net?

[2014-05-21 05:43] lolmaus commented on #1600
Or a Github repo.

[2014-05-21 08:33] hgrimelid commented on #1600
I fixed the issue by setting

[code]

as suggest by @brewster1134 in https://github.com/chriseppstein/compass/issues/1617#issuecomment-42152050

[2014-05-21 09:19] auipga opened #1681 "mistake in naming"
On Page: http://compass-style.org/help/tutorials/spriting/

In block "Basic Usage"
**Note: The use of icon is only for this example, "icon" represents the folder name that contains your sprites.

It must be "my-icons" instead of just "icon".

[2014-05-21 09:23] auipga opened #1682 "a word too much"
On Page: http://compass-style.org/help/tutorials/spriting/

The goal of this stylesheet is to provide a simple naming convention for your sprites so that **you** they are easy to remember and use

[2014-05-21 09:24] auipga opened #1683 "swapped words"
On Page: http://compass-style.org/help/tutorials/spriting/

You should never have to care what **the is** name of the generated sprite map, nor where a sprite is located within it.

[2014-05-21 09:26] auipga commented on #1681
same at block "Selector Control", "Magic Imports"

[2014-05-21 09:27] auipga commented on #1681
block "Nested Folders"
icon -> orange

[2014-05-21 16:46] pascalduez commented on #1600
Investigating: I could not reproduce the error on a bare minimal project. So I tried to trace back the differences.

It seems to comes from the compiler used, sass instead of compass:
this produce the error:
`bundle exec sass --watch --compass test/sass:test/css`
while this works fine
`bundle exec compass watch`

Repository of test project:
https://github.com/pascalduez/compass-1600

U P D A T E
T

[2014-05-21 16:59] Arcovion commented on #1676
I'm also getting this, please reopen.

It should work by default; [IE9 needs it](http://caniuse.com/#feat=css-gradients) - but as far as I can tell it can't be enabled at all. =[

[2014-05-21 17:00] Anahkiasen commented on #1600
I'm using Compass to compile and still got that error

[2014-05-21 17:41] pascalduez commented on #1600
Well yeah, that's what I just realized... I can get the error with compass compiler as well.
Back to hunt...   Will update previous comment.

[2014-05-21 20:06] chriseppstein commented on #1676
ok. First, you need to set the threshold lower. Then it turns out that the issue is that it only works with the new "to position" style gradients:

http://sassmeister.com/gist/74a94d6a6f04fea03f16

Degrees don't get a svg gradient for some reason.

[2014-05-21 22:46] chriseppstein commented on #1600
`project_path` is a path and needs to be absolute like all the other `*_path` options. >_<

I don't love this config system, but it's how it works.

[2014-05-22 02:35] Arcovion commented on #1676
Cool, so `linear-gradient(left, *)` works, it just doesn't show up without `$browser-minimum-versions: (ie: '9')`.

I'm new to the threshold system but I don't really understand it. Why is IE9 omitted when the `$critical-usage-threshold` is so low? I thought it used [this data](http://caniuse.com/usage_table.php) but it's clear that wouldn't work because of IE6 etc... I guess you are manually remo

[2014-05-22 02:56] Arcovion commented on #1600
@chriseppstein You could internally make the paths absolute via File#expand_path/File#absolute_path, it wouldn't affect paths that are already absolute.

Alternatively raise an error on Pathname#relative? so people immediately see where the problem lies.

[2014-05-22 03:12] mirisuzanne commented on #1676
linear-gradients don't use the `$critical-usage-threshold` by default. They use `$graceful-usage-threshold`:

[code]

[2014-05-22 03:21] Arcovion commented on #1676
I see, still it shows `Content for ie 9 omitted` with any value though. In my mind setting both thresholds to 0 would enable _all_ browsers and 100 would disable all of them, the latter works fine.
`$svg-gradient-shim-threshold` is not connected to the global thresholds.

[2014-05-22 04:28] KatieK2 commented on #1470
I currently get this error on Windows 7 when running `compass watch --trace`. I've just upgraded to Sass 3.3.6 and Compass 1.0.0.alpha.19. Not using any maps, though.

Do I really have to upgrade my entire Ruby environment to handle this?

Here is a more complete console capture:

[code]

[2014-05-22 05:21] Arcovion commented on #1470
@KatieK2 WDM is the best way to watch directories on Windows, it makes use of a C extension instead of polling so it's blazing fast - the DevKit is just there to bring in binaries like GCC and all the MSYS utilities in order to build the extension.

It's not a big deal, just extract the DevKit and run:

[code]

Compass is not to blame here, the [listen](https://github.com/guard/listen) gem (used i

[2014-05-22 06:32] pascalduez commented on #1600
Well, a few points should be noted:
- There's no mention in the [doc](http://compass-style.org/help/tutorials/configuration-reference/) that those `*_path` needs to be absolute
- It used to work prior to `1.0.0.alpha.19`

Then there is  the second issue:
as soon as I add `generated_images_dir` (no `project_path`)
https://github.com/pascalduez/compass-1600/blob/master/config.rb#L18-L22
Might be rel

[2014-05-22 07:57] thany commented on #1676
That's a bug that will be fixed, right? Because afaik, the degrees (or radians) notation is still accepted in the standard. And in this particular case, I really did need `45deg`, a `to bottom right` wouldn't look like what I need.

Apart from that, I do have to say, perhaps there are a few too many variables to control browser prefixes/workarounds. I think if there will be as many as there are no

[2014-05-22 11:33] ruben-santacruz opened #1684 "cache-buster gets wrong timestamp from image file"
I create a simple example project. The `config.rb` doesn't contain anythink remarkable:

[code]

I have an image under the path `images/phone.png` and only one Sass file under the path `sass/style.scss`:

[code]

I check the image timestamp from my shell:

[code]

Then I run `compass compile` and I get the CSS output (which matches the timestamp we got using `stat`):

[code]

After that I delete t

[2014-05-22 16:15] KatieK2 commented on #1470
For right now, I found it easier just to revert to the previous (stable) version of Compass.

[2014-05-22 17:13] Arcovion commented on #1470
Come to think of it, you're actually on a very old version of listen. The new gem has better error messages and is still able to fall back to polling if WDM doesn't work.

Try updating listen to 2.7.5 and see what happens, I guess since Sass unbundled listen for ruby versions 1.8.7+ that updating Sass by itself doesn't update the listen gem. Not 100% sure... but worth a try.

[2014-05-22 18:03] Arcovion commented on #1470
Ok, so that's not possible:

[code]

Note that the previous version of compass looked like this:

[code]

So listen was only recently added as a compass dependency, it's best to remove it again if possible.
See the issue referenced below for further discussion

[2014-05-22 18:10] Arcovion commented on #1634
Also ran into this, some people are having problems updating because of it: #1470
According to `gem dependency`, #1306 was never properly implemented:

[code]

Note that we previously didn't rely on listen:

[code]

Sass doesn't even include it in their gemspec, they just require from the local gems and fall back to a vendored version for old versions of ruby (from what I can tell)...

Edit: After

[2014-05-22 20:51] chriseppstein commented on #1676
Right.

Agree. I want it to work intuitively but also to be configurable enough for users who have special needs. I think we can make `$svg-gradient-shim-threshold: $graceful-usage-threshold !default;` the standard. If people want to avoid the bloat, they can adjust that threshold up.

[2014-05-23 08:01] thany commented on #1676
Additionally, `$browser-minimum-versions: ('ie': '9');` should still force enable IE9 workarounds regardless of the threshold(s), right?

[2014-05-26 02:04] bencooling commented on #1657
I'm having the same issue.

[2014-05-26 08:34] s-hirvonen commented on #1188
I had a similiar problem with an asset called snow.png. Tracing the code it executes this function:

[code]

I wish I knew Ruby better, I can't really tell what's going on here and why. Nevertheless, this issue might be linked to the fact that 'peru', 'azure' and 'snow' are all HTML color names...

[2014-05-26 08:51] lolmaus commented on #1188
Sounds definitely like a bug and your guess seems correct to me.

Can you provide a stacktrace?

[2014-05-26 09:28] s-hirvonen commented on #1188
Created a new project with `compass create`, inserted files `images/assets/Peru.png` and `images/assets/normal.png`.

Output of `compass compile --trace`:

[code]

After renaming Peru.png to foo.png, it compiles just fine.

edit: my addition to screen.sass was

[code]

[2014-05-26 09:42] lolmaus commented on #1188
The stacktrace points to [this line](https://github.com/chriseppstein/compass/blob/master/cli/lib/compass/sass_extensions/functions/sprites.rb#L137):

[code]

The error is _undefined method `parent' for nil:NilClass_.

My guess is that `map.image_for()` fails to resolve properly because `sprite.value` returns unexpected result due to what @algoni assumed: a filename is mistakenly treated as a colo

[2014-05-26 09:46] lolmaus commented on #1188
Might be [this one](https://github.com/nex3/sass/blob/bd8d8db2eb2ec57b1ef851816a95ef23e68abbe9/lib/sass/script/value/base.rb#L12).

If this catch is correct, it makes the issue to be a Sass issue rather than Compass one.

[2014-05-26 12:22] theghostbel opened #1686 "Include all images from sub folders into single sprite map with compass"
We're using compass+scss and have next folder structure inside folder "/images/:
- signup
  - logo.png
  - button.png
- login
  - bullet.png
  - trash.png

Also, we have, for example two per-module scss files (partials): signup.scss and login.scss.

[code]

As a result, compass creates two sprite images. It's more or less ok. But in real life we have 20 modules and each creates it's own sprite. My

[2014-05-26 12:23] lolmaus commented on #1686
https://github.com/chriseppstein/compass/issues/800

[2014-05-26 12:24] lolmaus commented on #1686
https://github.com/chriseppstein/compass/issues/1286

[2014-05-26 12:55] scottdavis commented on #1686
Your "next way" is the correct way. The importer supports globing for this reason.

[2014-05-26 12:55] #1686 closed, assigned to nobody

[2014-05-27 17:11] chriseppstein commented on #1600
It does make sense to resolve project_path to an absolute value. The other `*_path` settings should be an error if they are not set to an absolute value.

[2014-05-27 18:55] Twintails commented on #1614
This looks to be resolved, when one uses shorthand in the correct spec order:
Correct order <code>+transition(transform 1s)</code> as oppose to
Incorrect order <code>+transition(1s transform)</code>

based on gist from @lozandier http://sassmeister.com/gist/9700278 from #289

[2014-05-28 06:19] izelnakri commented on #686
Any plans to implement this feature?

[2014-05-28 16:52] deisner opened #1689 "Comass Documentation Reference Page should include index links"
On Page: http://compass-style.org/reference/compass/

I was looking for:
An index of all variables, mixins, and functions.

But instead I found:
Lots of great information, but not that. The search results page includes links to an index of all variables, mixins, and functions. I think the reference section page should have these links, too.

As it stands, I find myself searching for 'fdsajklsd' to

[2014-05-29 13:41] tiagoporto opened #1692 "Sprite images sort-by name"
Hello, sort sprites just works with layout horizontal, not in vertical.
Something is wrong in my sass?

[code]

[2014-05-30 03:21] simongcc opened #1693 "0.13.alpha.2 watch broken on Windows8 root drive other then C"
I have working for different drives including network drives, but yesterday, my colleague pass me a project folder which put in the root of a drive eg. root/nodejs
and when I mount nodejs in network space, it becomes, say, y:/
# then I watch as usual and find the following error:

ArgumentError on line ["465"] of C: different prefix: "y:/" and "y:."
  C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.

[2014-05-30 10:11] Avcajaraville commented on #1108
Any update regarding to this ? Im still stuck with the famous warning:

"WARNING: Compass::SpriteImporter should define the #public_url method."

when running

sass --compass --sourcemap --watch ./scss/pages/index.scss:./css/pages/index.css

Anyway, sprites & maps are getting generated, but hate to get a warning on my workflow...

[2014-05-30 11:51] scottdavis commented on #1108
@Avcajaraville the fix should be in master soon as in minutes

[2014-05-30 18:46] brewster1134 commented on #1617
from what i see, the `sprite_file` function never uses `generated_images_dir`

[2014-06-01 11:45] askdesigners commented on #1559
I agree that the documentation is off-putting. There even ARE examples, but the links are not immediately findable in the documentation.

For instance these pages :
http://compass-style.org/reference/compass/css3/transition/
and
http://compass-style.org/examples/compass/css3/transition/

They even are linked together but with the doc page is long (as many are) it's really easy not to find that exa

[2014-06-01 12:58] ffuubarbuzz commented on #686
One more, who hopes this will be implemented soon

[2014-06-01 17:11] dreamersp commented on #1657
Same here, running on windows by the way.
Any workaround until it get fixed?

[2014-06-01 17:36] bodrovis commented on #1657
@dreamersp I have not found any...

[2014-06-03 14:56] arthurgouveia opened #1695 "Compass not looping on reverse @for"
Compass v0.12.6
Sass 3.3.8

When compiling the .scss file with pure Sass, the for outputs just fine.
If I compile that with Compass, the reverse loop does not work. Switching the <start> and <end> params to the standard increasing way, works.

[code]

As per Sass documentation: "When < start > is greater than < end > the counter will decrement instead of increment"

[2014-06-03 15:05] manoelneto commented on #1695
I`m having the same issue.

[2014-06-03 15:14] cimmanon commented on #1695
Compass 0.12 is not compatible with Sass 3.3.  It still depends on Sass 3.2, which is not able to decrement with loops.  If you wish to take advantage of Sass 3.3 features while using Compass, you will need to upgrade to 1.0 via `gem install compass --pre`.

[2014-06-03 15:14] #1695 closed, assigned to nobody

[2014-06-03 16:23] arthurgouveia commented on #1695
Sorry about that and thanks for the explanation. Much appreciated.

[2014-06-04 03:45] brewster1134 commented on #1665
so first thing is `generated_images_path` gets used explicitly from `sprite_file`so it doesn't seem that `generated_images_dir` has any effect.

---

regarding my question about pathing... i discovered it seems to only become an issue when compass is run in the context of guard.  i have a test application setup [here](https://github.com/brewster1134/test/tree/compass_1665) on the `compass_1665` br

[2014-06-04 06:12] scottdavis commented on #1665
@brewster1134 can you open a PR so i can review it more sainly?

[2014-06-04 06:18] brewster1134 commented on #1665
can you not see the diff from the compare view?

here is the PR as welll https://github.com/chriseppstein/compass/pull/1696

[2014-06-04 06:38] scottdavis commented on #1665
Oh i could see the diff just fine the PR just helps me remember that i need to look into it and gives you credit if it is indeed the fix :)

[2014-06-06 11:19] Arcovion commented on #1676
Note this comment is still true on `master`: https://github.com/chriseppstein/compass/issues/965#issuecomment-29696367
The new syntax `to right` throws a warning: `Cannot determine the opposite position of: to`

[2014-06-06 12:27] KittyGiraudel opened #1697 "Incorrect output for column-break-* mixins"
I didn't find anything related to this issue so let me open it.

Mixins `column-break-before` and `column-break-after` output something weird: unprefixed rule, then WebKit prefixed rule, then unprefixed rule again.

http://sassmeister.com/gist/e61226fcfb332e709b2f

Did I miss something perhaps?

[2014-06-06 12:29] cimmanon commented on #1697
Duplicate of https://github.com/chriseppstein/compass/issues/1561

[2014-06-06 12:29] #1697 closed, assigned to nobody

[2014-06-06 12:30] KittyGiraudel commented on #1697
My bad. Didn't find it with a search. :(

[2014-06-09 16:07] dreamersp commented on #1657
@bodrovis Just for the record, for which version of Ruby and which of Rails are you experiencing the problem in?

[2014-06-09 17:04] bodrovis commented on #1657
@dreamersp Ruby 2 and Rails 4.0.4 - https://github.com/bodrovis/SitePointNestedComments/blob/compass_issue/Gemfile#L2

[2014-06-10 04:54] shaneafsar opened #1699 "$legacy-support-for-mozilla: true isn't !default"
I noticed that setting **$legacy-support-for-mozilla** to false on our project was not preventing legacy mozilla code from rendering (see **inline-block** mixin). Looking at the source, I then noticed that the !default flag isn't set, which means that setting the variable before compass is included in your SASS file doesn't work like it does with the **$legacy-support-for-ie** flags.

[2014-06-10 07:46] dreamersp commented on #1657
@bodrovis Thanks. So it seems not related with Ruby or Rails version. It happens the same with Ruby 1.9.3 and Rails 4.1

[2014-06-10 20:52] acusti commented on #1634
Same problem here using Compass 1.x with Jekyll 2.0.3, like @jonathansick. For the sake of those searching for the text of an error message and wondering what the problem is, here’s the text of the error message I received:

[code]

[2014-06-11 16:59] jeremyabrahams commented on #1609
Getting this with sass 3.3.8
Not using compass

ASCII CODE 170 (logical negation symbol) is being added where the lines break. Had to turn 'invisibles' on to see it.

[2014-06-13 02:18] lifeiscontent commented on #1634
@chriseppstein whats the status of this issue? Would love to get it resolved soon. If I cut a release of compass could we merge it into master?

[2014-06-13 09:54] dreamersp commented on #1657
@bodrovis I've found a workaround, using the low level `sprite-map()` mixin instead of the `@include`.
This sample shall work:

[code]

[2014-06-13 09:59] dreamersp commented on #1657
This is definitely a problem in compass-rails in Windows, as I can't reproduce the problem using compass in command line.

[2014-06-13 09:59] bodrovis commented on #1657
@dreamersp Okay, cool - will give it a try. I hope compass-rails's authors will take a look at that. Thank you a lot!

[2014-06-14 08:02] egstad commented on #1497
Still no solution other than running a sudo command? I have the same problem, and the symptoms of whatever problem this is sure makes working in the command line a pain.

[2014-06-14 12:06] impatient commented on #1497
What version are you running?  He added a check for whether or not a directory was writable in the commit above.  I'd expect it to work.

[code]

You could also add the --poll flag to get up and running or install a ruby that doesn't place your gem directories somewhere read only.

[2014-06-14 16:36] phpmycoder opened #1702 "Global for $<map>-sprite-dimensions"
I find `$<map>-sprite-dimensions` very useful because it reduces the amount of typing I have to do on all of my sprited graphics (also very handy if I need to change a size by a few pixels). So I almost exclusively set this to true for all of my sprites.
I feel that this is common and believe that it would be beneficial to be able to override the default value of false by setting a global variable

[2014-06-17 21:54] chrisdrackett commented on #1491
I'm getting this issue using inline-font-files within font-face

[2014-06-17 22:39] joeonmars commented on #1617
module Compass::SassExtensions::Functions::Sprites
  ZERO = Sass::Script::Number::new(0)
  VALID_SELECTORS = %w(hover active target)
  # Provides a consistent interface for getting a variable in ruby
  # from a keyword argument hash that accounts for underscores/dash equivalence
  # and allows the caller to pass a symbol instead of a string.
  module VariableReader
    def get_var(variable_name)

[2014-06-18 08:30] equivalentideas commented on #1634
Same issue here:

[code]

[2014-06-18 17:18] simonwalsh commented on #1647
+1

[2014-06-22 14:12] macie commented on #1607
@sdhull
I had problems with Jekyll with Compass and [Susy](http://susy.oddbird.net/). [Bundler](http://bundler.io/) solved them (see [my gists with configuration & instructions](https://gist.github.com/macie/39cd87034c73ca7a969f)).

[2014-06-24 13:08] thany opened #1704 "alpha19: `image-url` returns the wrong url"
My project structure is as follows, simplified:

[code]

And my config is as follows:

[code]

I'm running compass from the directory `includes` where `config.rb` is as well. All is fine. Works great. The function `inline-image` works fine, too. But `image-url` does not.

When I use this code:

[code]

It spews out:

[code]

Which is not correct, because the actual website starts at `projectname`.

[2014-06-24 17:37] sdhull commented on #1607
@macie thanks for the reply! However I couldn't use `jekyll` 2.0 with compass 1.0 alpha, as you get the following bundler error:

[code]

Could you check your Gemfile.lock to see what version of things actually ended up being installed?

I'm trying to get Jekyll 2.0 + Compass + Sass 3.3

[2014-06-24 20:11] macie commented on #1607
@sdhull
This is part of my `Gemfile.lock`:

[code]

I used default gem for jekyll - shouldn't I have version 2? Interesting...

[2014-06-25 08:16] antpaw opened #1705 "sprite-map generates sprites ordered in different order"
The problem with different order is that you can't just change the sprite-image in the high-res @media query you also have to position every asset all over again

[code]

I don't see the point of ordering them differently if the both directories contain the same file names. Maybe this is just a small bug?

![screen shot 2014-06-25 at 10 14 20](https://cloud.githubusercontent.com/assets/108543/3382

[2014-06-26 20:16] edmundask commented on #1634
Yes, I'd really like to see this old `listen` version dependency go away.

[code]

[2014-06-27 02:37] reacher-lu opened #1706 "undefined method `index' for nil:NilClass"
[code]

I'm running compass on osx10.9,just get the error above.

[2014-06-27 09:22] thany opened #1707 "[alpha.19] `watch` doesn't pickup changes in directory "vendor""
When I make a change in an scss file in a directory called `vendor`, for some reason `compass watch` doesn't see any changes and doesn't update my css files.

My project structure is as follows: (simplified)

[code]

I'm running `compass watch` from the project root, with the config.rb like this:

[code]

Everything runs fine. Except any change in any file in `includes/sass/vendor` doesn't get pic

[2014-06-29 04:40] YemSalat opened #1708 "Confusing statement in docs"
On Page: http://compass-style.org/reference/compass/css3/border_radius/

What does this mean? (Its in the Mixins section)
Quote:
"Note: webkit does not support shorthand syntax for several corners at once. So in the case where you pass several values only the first will be passed to webkit."

[2014-06-29 12:48] cimmanon commented on #1708
MDN has the answer:

[code]

https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius#WebKit_notes

[2014-06-30 09:27] littlbr opened #1709 "Alpha 20"
On Mac OS X 10.9.3
After updating my configuration to Compass 1.0.0.alpha.20 Compass is no longer polling for changes. Compilation works when starting a compass watch action, then nothing updates...
Only solution found so far is a downgrade to alpha.19.

I can provide more system info on request.
Thank you

[2014-06-30 19:23] thiagofesta opened #1710 "Rubygems SASS dependecy version"
I think we should update the SASS version to 3.3.0. Am I correct? https://github.com/Compass/compass/blob/stable/Gemfile#L11

[2014-06-30 20:41] ncolton commented on #1205
This is also an issue with ‘compile’; files are deleted when running a --dry-run flagged compile without any additional commands.

[2014-06-30 22:17] sdhull commented on #1607
The tests I link to from above have this `compile_project` method (included below).

Apparently the way to do it is `Sass::Plugin::Compiler.new(options).update_stylesheets`. And I guess that just having `compass-core` loaded maybe puts the necessary compass files (eg for `@import "compass/css3/box-shadow"`) on the sass load path.

The method from the tests:

[code]

However, `jekyll-sass-converter

[2014-06-30 23:44] Arcovion commented on #1710
Use the [alpha versions](http://rubygems.org/gems/compass/versions) for Sass 3.3+

I think the default branch of this repo should be set to `master`; lots of people keep looking at the `stable` branch which is essentially obsolete.

[2014-06-30 23:47] thiagofesta commented on #1710
Sounds good. Thanks!

[2014-06-30 23:47] #1710 closed, assigned to nobody

[2014-07-01 09:33] mozzi commented on #1707
I have same bug.
Changes in /sass/vendor/subfolder1 are not detected by watcher.
Changes in /sass/lib/subfolder2 are detected correctly.
If i rename vendor to any other name changes are tracked correctly.

[code]

compass (1.0.0.alpha.20)
sass (3.3.9)
wdm (0.1.0)

ruby 2.0.0p353, Windows 8 x64

[2014-07-01 10:03] Arcovion commented on #1707
This is due to the outdated `listen` dependency ([original code](https://github.com/guard/listen/blob/v1.3/lib/listen/directory_record.rb#L15), [fixed code](https://github.com/guard/listen/blob/master/lib/listen/silencer.rb#L11-L14))
See #1634

[2014-07-01 11:25] thany commented on #1707
Okay so the culprit appears to be the DEFAULT_IGNORED_DIRECTORIES constant... Is there a workaround that can be used to override it, until the fix is deployed?

[2014-07-01 11:34] Arcovion commented on #1707
[code]

Adding this to the end of your `config.rb` should work for now.

[2014-07-01 11:39] thany commented on #1707
Brilliant, that works. Thanks.
I'll remember to re-test this when the next version comes out.

[2014-07-01 18:04] tannerjfco commented on #1709
I experience this issue as well, but with alpha.19. When I start compass watch, it will detect any changes pending and compile, but after that polling seems to silently fail, as it does not pick up any further changes unless i stop and start compass watch again.

Looks like this is likely related to #1707 and #1634

[2014-07-01 18:54] Arcovion commented on #1707
Huh, a new compass gem was released just a few days ago (`1.0.0.alpha.20`) where it looks like the `listen` dependency has been removed... can you check whether
`listen ~> 2.7` & `compass ~> 1.0.0.alpha.20` are now compatible?

[2014-07-01 19:38] thany commented on #1707
Ooh, even better. I'll check it out tomorrow :)

[2014-07-02 08:26] thany commented on #1707
And it works. Nice work, thanks :)

[2014-07-02 08:40] salimhb commented on #924
For people who might be puzzled when linear-gradient doesn't work in IE10 in some cases without adding the -ms prefix, read this: http://joshuapaling.com/post/compass-background-gradients-not-working-ie10

[2014-07-02 11:45] Arcovion commented on #1707
I can't take the credit, it was fixed months ago - just wasn't released till now. Will notify the other tickets.

[2014-07-02 11:50] Arcovion commented on #1634
The `listen` gem is removed in `compass-1.0.0.alpha.20`, falling back to the Sass version.

[code]

Gems and bundles using sass or compass should now explicitly mention listen v2.

[2014-07-02 13:22] hagenburger commented on #1599
@chriseppstein do you think this might get merged? My projects are full of work-arounds ;)

[2014-07-03 08:15] littlbr commented on #1709
Coming back to the issue with more details
I'm using a Mac with Mac OS X 10.9.4
Ruby installation is set via rbenv
The Ruby version is 2.0.0-p247
Gems list:
bigdecimal (1.2.5, 1.2.0)
celluloid (0.15.2)
celluloid-io (0.15.0)
chunky_png (1.3.1)
compass (1.0.0.alpha.20)
compass-core (1.0.0.alpha.20)
compass-import-once (1.0.4)
ffi (1.9.3)
fssm (0.2.10)
hitimes (1.2.1)
io-console (0.4.2)
json (1.8.1,

[2014-07-03 08:46] Arcovion commented on #1548
Listen 2.x.x has better error messages now with Alpha 20, this can be closed I think.

[2014-07-03 11:35] winghouchan opened #1712 "Compass not writing charset"
Compass does not write the charset in the output stylesheet.

For example, if I have this written in SCSS:

[code]

The output CSS would be:

[code]

Nothing! There is no output. :confused:

[2014-07-03 11:40] winghouchan commented on #1712
I found a **temporary** workaround here: http://stackoverflow.com/questions/22573254/compass-dont-compile-charset-rule

[2014-07-03 12:26] Arcovion commented on #1712
This is an intentional optimization, Sass only adds the encoding if there are non-ASCII characters like the StackOverflow answer says. The other answer also links to the docs where other encoding stuff is explained; maybe further explanation is needed there.

[2014-07-03 12:30] #1712 closed, assigned to nobody

[2014-07-06 22:59] vasco3 opened #1713 "This documentation is outdated"
On Page: http://compass-style.org/examples/compass/css3/box/

I was looking for:
<details>

But instead I found:
<more details>

[2014-07-07 21:06] AndrewDryga commented on #1077
Updated to latest version, Compass 1.0.0.alpha.20, and now my workaround is broken. Can someone assist? I don't know Ruby

[2014-07-07 21:09] AndrewDryga opened #1714 "Please, reopen #1077"
Subj #1077
People have issues, and you don't pay attention to that ticket anymore

[2014-07-08 00:57] AndrewDryga commented on #1077
New monkey patch that work for both versions in same time:

[code]

[2014-07-08 06:46] ajilon-ww commented on #1402
Thanks a lot. Sorted out my issue.

[2014-07-08 13:15] aronwoost commented on #1257
:+1: Android 2.x is very alive.

[2014-07-08 13:16] aronwoost commented on #1658
Yes, [is it removed](https://github.com/Compass/compass/issues/1257).

[2014-07-08 18:53] lvarela-r7 opened #1716 "gem install compass broken"
AUS-MAC-1116:test1rp lvarela$ gem install compass
ERROR:  Could not find a valid gem 'compass' (>= 0), here is why:
          Unable to download data from https://rubygems.org/ - SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (https://s3.amazonaws.com/production.s3.rubygems.org/latest_specs.4.8.gz)
AUS-MAC-1116:test1rp lvarela$

[2014-07-08 18:55] lvarela-r7 commented on #1716
I bypassed the certificate... but I think this should be addressed.

[2014-07-08 19:31] scottdavis commented on #1716
This is un realted to compass and is a problem with rubygems

[2014-07-09 00:48] #1716 closed, assigned to nobody

[2014-07-09 00:49] #1714 closed, assigned to nobody

[2014-07-09 00:52] scottdavis commented on #1705
This is the exact reason I added custom sorting support. http://beta.compass-style.org/help/tutorials/spriting/sprite-layouts/#sorting It should be in the latest alpha.

Try sorting both by name and everything should work

[2014-07-09 00:52] #1705 closed, assigned to nobody

[2014-07-09 05:34] rbcorrales commented on #1077
I created the following function on my project as a workaround for this bug. I know this is not a clean solution, but it solves my need at this moment without changing any compass ruby files.

In my case, I'm using grunt-contrib-compass with the following settings:

[code]

So in my function, I'm just pointing to the generatedImagesDir relatively to my imagesDir:

[code]

I hope this could help so

[2014-07-09 08:53] antpaw commented on #1705
Thanks!

[2014-07-09 21:00] chriseppstein commented on #1599
@hagenburger

don't we want `brightness(1.1)` to return `brightness(1.1)` instead of `1.1`?

[2014-07-10 01:36] chriseppstein commented on #1676
Fixed by 1f20e44f4d36e37ffc4244615a138b876f1368bb

[2014-07-10 01:36] #1676 closed, assigned to nobody

[2014-07-10 01:39] chriseppstein commented on #1692
@scottdavis ping?

[2014-07-10 01:52] scottdavis commented on #1692
i just flagged this yesterday give me some time

[2014-07-10 09:48] littlbr commented on #1709
Update : upgrading ruby to 2.1.2 and reinstalling compass alpha 20 corrected the problem for me.

[2014-07-10 21:04] chriseppstein commented on #1709
I'm seeing this too. Making it a blocker.

[2014-07-10 23:12] chriseppstein commented on #965
This is fixed on master. If something thinks otherwise please post exact syntax that is broken so I can reproduce.

[2014-07-10 23:12] #965 closed, assigned to nobody

[2014-07-11 00:00] chriseppstein commented on #1599
Assuming you said yes. :)

Merged and pushed to master.

[2014-07-11 00:00] #1599 closed, assigned to nobody

[2014-07-11 01:24] chriseppstein commented on #1709
I narrowed it down to a bug in Listen: https://github.com/guard/listen/issues/243

[2014-07-11 01:25] chriseppstein commented on #1709
I'll look into a workaround tomorrow.

[2014-07-11 06:02] hiphapis opened #1717 "helper: file_exist (in sass-extension)"
https://github.com/hiphapis/compass/commit/009049bb0048174ba736789d74d5c2fe7202b377

this is not a bug-patch code
But i think, somebody will need this function, just as i did

if you agree with this, i will send you pull-request

ps. I have no idea how to create unit test code
It's because `real_path` will not work successfully in test mode
Let us know if you have any other ideas

sample

[code]

[2014-07-11 07:04] hagenburger commented on #1599
Ehm, “yes” (I was busy yesterday). As far as I see you are right and it needs a fix. Did you change your mind?

[2014-07-11 16:13] vladyn commented on #1147
Can you please give a code example. I tried to do my imports within the media queries, but this error persist.

In my case I have imported image, which takes advantages on Compass Sprites

[2014-07-11 16:19] scottdavis commented on #1147
are you putting

[code]

inside a media query? can you post the code you are having errors with can't help if I'm blind :)

[2014-07-11 17:04] vladyn commented on #1147
@import "mac/_.png";
@import "mac2.0/_.png";

is my case

[2014-07-11 18:50] chriseppstein commented on #1709
Fixed by b999b49eae178da056cfcd94a8d726775a2088b7

[2014-07-11 18:50] #1709 closed, assigned to nobody

[2014-07-13 08:49] BernhardBehrendt opened #1718 "Mixin transform-origin doesn't take affect"
I've a strange propblem with transforms in compass.

I want do move the axis with `transform-origin(50% 100%)`to the bottom which is working if i type it into firebug.

But if I use the mixin `@include transform-origin(50% 100%)` it's not visible in firebug.
Only the rotation part is applied `@include transform(perspective(600px) rotateX(45deg) rotateY(0deg) rotateZ(0deg));`.

In compiled CSS I ca

[2014-07-14 01:11] scottdavis commented on #1147
sorry what i ment was can you give me some runable sass example that recreates the problem. showing me the imports doesn't allow me to help you any.

[2014-07-15 07:08] vladyn commented on #1147
Beside these two rows I have further down in the code a lot of includes inside media queries like:

[code]

The first two lines, importing image obviously producing sprite name **mac-sprite**

[2014-07-15 08:49] rchaffer opened #1719 "Error in css2-fallback() HTML"
On Page: http://compass-style.org/reference/compass/helpers/cross-browser/

The styling for the text in section css2-fallback() is incorrect (the code block does not stop).

It appears to be caused by the &lt;/code> tag following "&lt;code>$value" not having a "/", and so is nesting a &lt;code> within the &lt;code>.

The error is at line 337 of the rendered HTML.

[2014-07-15 14:05] scottdavis commented on #1147
you need todo your `@import` inside the media query also

[2014-07-15 16:47] altearius opened #1720 "compass-import-once causes error when recompiling second stylesheet to reference same sprite"
I am encountering an error when using `compass-import-once`.  The error occurs when there are two separate, independent stylesheets that both `@import` the same sprite file.

A clean compilation succeeds.  The second compilation always fails with this message:

[code]

Here is a complete log with `--trace` turned on:

[code]

Here is my `config.rb` file, in its entirety (reduced to generate this t

[2014-07-15 18:27] jasonkendall opened #1721 "Spriting Tutorial"
On Page: http://compass-style.org/help/tutorials/spriting/

I think under the Basic Setting part (and the other sections for that matter), the text needs to either read .my-icons or .icon. Right now it's referencing both. Sorry in advance if I'm getting this wrong!

Currently: **Note: The use of icon is only for this example, "icon" represents the folder name that contains your sprites.

@import "

[2014-07-16 07:11] aiham commented on #1412
This just happened to me immediately after 2 successful compiles. Using compass version 0.12.6

[2014-07-16 16:26] starryeyez024 opened #1723 "Compass watch task doesn't stay active in version 1.0.0.alpha.20"
I upgraded to Compass version 1.0.0.alpha.20 and when I ran the command "bundle exec compass watch" it would only compile the sass upon the first save of the sass file. All subsequent saves had no effect, and terminal was idle. I'd have to keep stopping the process and re-running the command. When I switched back to 1.0.0.alpha.19 and Listen 1.1.0, it worked again. here is my full (working) gem fi

[2014-07-16 20:42] vladyn commented on #1147
Yes, I see your point and after I did that for some reason I'm still getting this persistent error:

[code]

...and this is weird as on this line I have nothing to do with any extends, includes or media queries.

[2014-07-16 21:53] swecker commented on #1647
I had this issue as well, and found that it was some conflict with compass-rails (at least in my case).  Removing the compass-rails gem solved it for me (so if you actually need the compass-rails gem then I guess this solution means nothing).

[2014-07-17 10:58] thany commented on #1545
This problem still exists in alpha.21

Please reopen, since this produces problems for Chrome, not just Opera. I've been scratching my head on why my transitions wouldn't work on Chrome, because Chrome apparantly still needs the `-webkit-` prefix.

Current workaround:

[code]

But this is more verbose scss and produces more verbose css.

[2014-07-17 15:47] totty90 opened #1725 "-webkit-linear-gradient doesn't work..."
[code]

This will not output the css at all. Using grunt compass for scss

Also -webkit-gradient doesn't work.

[2014-07-17 17:05] chriseppstein commented on #1725
I cannot reproduce this. Please provide a complete sass file that exhibits this issue and tell me how you are compiling it and with what versions of software.

[2014-07-17 19:43] starryeyez024 commented on #1723
Turns out it was actually Sass. It had updated to 3.3.10, and when I set it back to 3.3.8 the problem went away.

[2014-07-17 19:43] #1723 closed, assigned to nobody

[2014-07-17 20:59] chriseppstein commented on #1723
@nex3 ping. I found this bug in listen: https://github.com/guard/listen/issues/243 sounds like it might affect sass too?

[2014-07-17 23:18] dunn opened #1726 "support for sass 3.3 map objects?"
Sass 3.3 was released four months ago, but I still can't get maps to work in Compass:

[code]

This should compile to the following, and does when using `sass`:

[code]

But I get an error when trying to compile with compass.  Here's a link to the `--trace` for [`compass compile -e production --trace`](https://gist.github.com/grumble/1dbe4825eefeec080e36).

[2014-07-17 23:31] chriseppstein commented on #1726
`gem install compass --pre`

[2014-07-17 23:31] #1726 closed, assigned to nobody

[2014-07-18 07:42] vote539 commented on #924
I use Compass to simplify my coding process on faith that it is covering all important edge cases.  However, after going to my newest site on a friend's PC, I discovered that the background gradients are completely messed up in IE 10.

Do you think we can reverse this commit and add the -ms- prefix back into Compass gradients?  The -ms- browser prefix increases the weight of CSS no more than the -

[2014-07-18 10:11] salimhb commented on #924
@vote539 there's no need for the ms- prefix, check the link I posted in my previous comment.

[2014-07-18 17:30] vote539 commented on #924
I read your link yesterday.  What I'm saying here is something different.

I understand that the objective of Compass is to ease development by making CSS statements cross-browser-compatible when possible.  The fact that I can write a SASS `linear-gradient` statement that works in WebKit and Gecko but not IE 10, despite the fact that the documentation for that function claims to support IE 10, is

[2014-07-18 17:34] salimhb commented on #924
In my case, Solution 1 from that link worked, but Solution 4 seems to cover all cases, have you tried it?
The thing is that the problem here is about the parameters passed to linear-gradient, not the support for linear-gradient itself.

[2014-07-18 17:38] vote539 commented on #924
My site uses a limited number of left-to-write gradients, so Solution 1 won't work for me.  I ended up using Solution 3.  But that's not my point.  I can always find workarounds.  If Compass is supposed to make my life easier, it should prevent me from ever needing to read that article.

[2014-07-18 17:40] cimmanon commented on #924
@vote539 Do you have any information to backup your claims?  [Caniuse reports IE10 as being prefix free and having "complete support"](http://caniuse.com/#feat=css-gradients) (which means that it supports all features found in the current W3C specification).  Compass (as of 1.0) decides which prefixes are valid based on information provided by Caniuse, this information is not coded by hand like it

[2014-07-18 17:41] salimhb commented on #924
@vote539 I agree, I don't like Solution 3 either, have you tried Solution 4 using `90deg` for the gradient direction?
so it would be: `@include background-image(linear-gradient(90deg,  ...))`

[2014-07-18 17:46] vote539 commented on #924
Here's the code I was using.

[code]

Try it.  It works in WebKit and Gecko, but not in IE 10.

Sure, if I read the article salimhb posted, I can change my code to make it work in IE 10.  That's not my point.  If Compass is trying to make my life easier, it should either complain if I try using the `left` keyword instead of the `90deg` keyword, or it should deal with the problem some other way lik

[2014-07-18 17:58] salimhb commented on #924
@vote539 as the link says: "I noticed it wasn’t working in IE 10, and on further investigation, the problem is actually that IE 10 is going by the WC3 standards (Gasp!) and Compass (following the implementation in other browsers) isn’t."

If you go to the [W3C page](http://dev.w3.org/csswg/css-images-3/#linear-gradients), you will see that `left` as a direction is not standard, you can use `[ <ang

[2014-07-18 18:06] chriseppstein commented on #924
In compass 1.0:

[code]

produces:

[code]

so the old syntax is converted to the new standard and works great in IE 10.

[2014-07-18 21:14] vote539 commented on #924
### Using Legacy "left" Syntax

Compass version 0.12.7

[code]

[code]

[code]

Firefox 30:
![firefox](https://cloud.githubusercontent.com/assets/2059203/3631903/ba9de200-0ebc-11e4-92b7-c68cb7b735fd.png)

IE 11:
![ie-broken](https://cloud.githubusercontent.com/assets/2059203/3631904/ba9f38bc-0ebc-11e4-89dc-b0c9d4dd4f1c.png)

Safari 5.1 for Windows:
![safari](https://cloud.githubusercontent.com/ass

[2014-07-18 21:21] cimmanon commented on #924
@vote539  Your issue is fixed in 1.0.  Either write a workaround for 0.12 or upgrade.  Continuing to complain about this doesn't seem very productive.

[2014-07-18 21:24] vote539 commented on #924
@cimmanon You asked me "Do you have any information to backup your claims?".  Thus I created the demo posted above.  I don't mean to complain. :smiley:

[2014-07-18 21:40] vote539 commented on #924
For what it's worth, here is the related thread where the issue is fixed for Compass 1.0 and people are raised similar issues as I raised here.  I was not aware that thread existed or I would not have posted in here. :blush:

#965

[2014-07-18 21:41] chriseppstein commented on #924
I did a **bunch of work** on gradients in the last couple weeks. I think it's solid. Please use compass 1.0 (`gem install compass --pre`) and let me know if you find any bugs!

[2014-07-18 23:20] nex3 commented on #1723
I can't reproduce this with Sass. Maybe it's OS-dependent? What OSes are people seeing this on?

[2014-07-18 23:26] Razunter commented on #1723
Windows 8.1 x64, Rubyinstaller (Ruby 1.9.3-p545)

compass (1.0.0.alpha.20)
compass-960-plugin (0.10.4)
compass-core (1.0.0.alpha.20)
compass-import-once (1.0.4)
compass-normalize (1.5)
compass-rgbapng (0.2.1)
compass-sourcemaps (0.12.4.sourcemaps.a4836f1)
compass-validator (3.0.1)
..
listen (2.7.9)
..
sass (3.3.10)
sass-globbing (1.1.1)

[2014-07-18 23:38] nex3 commented on #1723
@Razunter can you try running with Sass from [this branch](/sass/sass/tree/maybe-fix-issue) and see if that fixes the issue?

[2014-07-18 23:42] Razunter commented on #1723
Same.

[code]

[2014-07-18 23:48] nex3 commented on #1723
I don't follow. What are the directories you're trying to watch? What changes are you making to the files? Is it not picking up on any of the changes at all? @starryeyez024's report sounded like the first change was getting picked up.

[2014-07-18 23:56] Razunter commented on #1723
@nex3 there weren't any changes. "Watch" works like "compile" right now, only doesn't output 'unchanged'

[code]

There is [config.rb](http://pastebin.com/6SJ7WHY2) in this directory & "sass" folder.

Output with changes:

[code]

Execution stopped there.

P.S. "compass compile" ignores sass_options = {:cache_location => "/tmp/sass"}

[2014-07-19 00:03] nex3 commented on #1723
What happens if you just run "sass --watch" on a few directories containing simple dummy files?

[2014-07-19 00:06] Razunter commented on #1723
Works OK even on unpached version:

[code]

[2014-07-19 00:06] nex3 commented on #1723
What happens if you watch multiple directories at once?

[2014-07-19 00:13] Razunter commented on #1723
Still OK with both versions:

[code]

[2014-07-19 00:14] nex3 commented on #1723
Looks like this may not affect Sass, then.

[2014-07-19 16:35] starryeyez024 commented on #1723
I was watching two directories at once. At first both directories would only compile once and then hang, and when I switched the version of compass only one directory would hang. When I rolled back to compass 3.3.8 both directories compiled normally.

[2014-07-19 19:51] chriseppstein commented on #924
Right. And I read those and made more fixes :)

On Fri, Jul 18, 2014 at 2:40 PM, vote539 notifications@github.com wrote:

[2014-07-21 12:30] vladyn commented on #1488
I'm experiencing same issue, but my ruby and files are on same drive;

[code]

[2014-07-22 18:17] chriseppstein commented on #1284
fixed by 3e03ec00a2e0bbd73623a7a97aa95b3975b12159

[2014-07-22 18:17] #1284 closed, assigned to nobody

[2014-07-22 18:38] chriseppstein commented on #1550
Fixed by f296478c29518f3d02786c5fd62fdb0ccca8ad80

[2014-07-22 18:38] #1550 closed, assigned to chriseppstein

[2014-07-22 20:54] alanhogan commented on #1265
Observing 100% CPU usage from `compass compile` and/or `compass watch`, myself, as well.

Compass 1.0.0.alpha.21

[2014-07-22 21:00] timkelty commented on #1435
@Snugug If you're using `support-legacy-browser`, you'll also run into problems overriding defaults with `$browser-minimum-versions`.

@JohnAlbin has a [fix](https://github.com/Compass/compass/pull/1524), not sure why it hasn't been merged in.

[2014-07-23 09:13] sroze opened #1729 "`compass` is not following symbolic links"
I'm bootstrapping a project on which SASS stylesheets are in different sub-folders and one aggregate them using symbolic links. The problem is that when I want to compile the directory, linked directories aren't found.

My directory structure is so simple:

[code]

This is the result of `compass compile` call on the master directory (`app/public`):

[code]

As you can see, the subdirectory `travel

[2014-07-23 11:12] Arcovion commented on #1729
See https://github.com/guard/listen/issues/25

[2014-07-24 23:38] chriseppstein commented on #1599
@hagenburger I added a follow-on commit: 690477a1348bb92c978e7ea226087510ab495e91

[2014-07-25 04:22] quaertym opened #1730 "Compile option to specify output file name."
I haven't found a way to specify output file name for compass compile. The suggested solutions on the web are using `partials` and `import` however those are workarounds rather than a solution. I think adding this option would be great for plugins like `grunt-compass` and `broccoli compass` as it removes other additional tasks to rename compiled scss output.

[2014-07-25 08:25] hagenburger commented on #1599
Thanks :)

[2014-07-25 15:42] ddbrierton commented on #1497
This is not working for me. I had been sticking with Sass 3.2 and Compass 0.12 until today, when I upgraded to compass-1.0.0.alpha.21 and sass-3.3.10. This is on Mac OS X 10.9.4, with the system version of Ruby (2.0.0p451 (2014-02-24 revision 45167) [universal.x86_64-darwin13]).

$ gem list | egrep 'compass|sass'
compass (1.0.0.alpha.21)
compass-core (1.0.0.alpha.21)
compass-import-once (1.0.4)
co

[2014-07-25 16:33] tylertadej commented on #1497
@jordanegstad a quick way to avoid 'sudo' is to go to the directory '/Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/' and give yourself read/write access on that folder and all enclosed folders.

[2014-07-25 20:56] nex3 commented on #1723
@starryeyez024 can you reproduce this using only `sass`, without Compass involved?

[2014-07-25 21:20] Undistraction opened #1731 "Add keyword support to vertical rhythm"
Would be really nice to be able to pass in keywords aliased to numbers of lines:

[code]

Obviously it's easy to create variables: `$double: 2`, but would be nice to be able to use keywords directly. Could be just a matter of a lookup with `map-has-key` to a map of keywords.

[2014-07-25 22:59] mirisuzanne commented on #1731
At that point you're getting into a style-guide approach, which is a great idea — but I think it should be a separate layer of abstraction. At OddBird, we use our own `size()` function that does exactly that - and calls rhythm in the background. That sounds like a great Compass plugin, but I'm not sure it makes sense in the core.

[2014-07-25 23:03] lolmaus commented on #1731
`rhythm($single)` anyone?

[2014-07-26 00:27] #1731 closed, assigned to nobody

[2014-07-26 09:01] Undistraction commented on #1731
@ericam Fair enough. What would be really nice is being able to override the `rhythm` function, add a layer of keyword handling, then hand-off to the original implementation, but of course Sass doesn't support overriding functions (yet).

@lolmaus I already mentioned in my issue that passing variables is a possibility

[2014-07-28 12:40] ymcheung commented on #1642
I've got the same problem but dunno how to solve it.
Do the same as @deeja 's screenshot?

[2014-07-28 13:01] deeja commented on #1642
If you don't mind what version you use, you can roll back a bit to where it works:

[code]

[2014-07-29 03:52] ymcheung commented on #1642
My colleagues use susy2 so that I have to install at least sass v3.3 and compass 1.0.
Can I just install compass-import-once 1.0.3 ?

[2014-07-29 13:55] peta opened #1733 "No recompilation when imported partials are modified"
Probable bug is related to the `compass watch` command. Lets assume the following files in a directory:

[code]

whereas `main.scss` imports the partials. When a partial changes, the compass command e.g. logs `info file/to/main.scss was modified` but the referencing main.scss won't be recompiled. If I modify (like entering a space somewhere) the main.scss the recompilation happens.

This bug doesn

[2014-07-30 19:10] leopic commented on #1108
Don't mean to beat a dead horse, but I just got this error when upgrading from alpha 19 to alpha 21:

[code]

So I just turned off maps for now. There used to be a warning about having to implement "public_url" back in 19, that's gone now tho...

[2014-07-30 19:25] chriseppstein commented on #1108
@leopic I'm about to release 1.0.0.rc.0 please file a _new issue_ about this if the issue still exists in that release. please include steps to reproduce.

[2014-08-01 02:41] philgruneich commented on #1721
True, also replacing it for my-icons in the copy would also make the reference to the code clearer.

[2014-08-01 02:47] chaoren1641 opened #1734 "Rmove the ruby path info in css file"
In our development team，some members useing Mac, some members using Windows，reset module always output ruby path info in css file

mac like this:

[code]

windows output like this:

[code]

this caused a file is always changing in git

how can this information does not output?

thanks!

[2014-08-01 03:17] scottdavis commented on #1734
the simple solution is that you should not be checking in your compiled files

[2014-08-01 03:28] chaoren1641 commented on #1734
@scottdavis But we use the grunt plugin for compass in the project, everyone would have to recompile the entire project  ：）

[2014-08-01 04:12] chriseppstein commented on #1734
Turn off line_comments

Hunt & pecked on my iPhone... Sorry if it's brief!

[2014-08-01 13:12] scottdavis commented on #1734
@chaoren1641 my argument to that is if you were building a project from source would you check in the compiled binary? I don't think its too much to ask people to compile the project.

[2014-08-01 15:46] alexcabrera opened #1736 "NoMethodError in sass_compiler.rb"
Received a `NoMethodError` when running Compass through a Gruntfile using the following configuration:

[code]

This was working under 1.0.0.alpha.21.

Full Backtrace:

[code]

[2014-08-01 16:22] grayghostvisuals commented on #1286
I gotta be that guy and ask what the status is on this feature?

[2014-08-01 17:16] chriseppstein commented on #1733
This is fixed in `1.0.0.rc.0`

[2014-08-01 17:16] #1733 closed, assigned to nobody

[2014-08-01 17:17] chriseppstein commented on #1729
Compass now uses the Sass compiler and watcher, can you please confirm this is working as expected in `1.0.0.rc.0`?

[2014-08-01 17:17] #1729 closed, assigned to nobody

[2014-08-01 17:18] chriseppstein commented on #1730
compass compiles projects, not files. Use the Sass compiler with the `--compass` option for a file-oriented compiler.

[2014-08-01 17:18] #1730 closed, assigned to nobody

[2014-08-01 17:21] chriseppstein commented on #1736
Huh, this is because you need the latest Sass release. Gem version dependencies should have enforced this. You need Sass `3.3.13` or greater. Please confirm your sass version.

[2014-08-01 17:21] #1734 closed, assigned to nobody

[2014-08-01 17:23] chriseppstein commented on #1725
Closing due to lack of reply.

[2014-08-01 17:23] #1725 closed, assigned to nobody

[2014-08-01 17:32] chriseppstein commented on #1721
This is fixed in 1.0 http://beta.compass-style.org/help/tutorials/spriting/

[2014-08-01 17:32] #1721 closed, assigned to nobody

[2014-08-01 17:43] cimmanon commented on #1736
This just popped up on SO, same error:  http://stackoverflow.com/questions/25085638/cant-get-compass-to-watch-my-susy-project

The question author lists these gems:

compass (1.0.0.rc.0, 0.12.7)
compass-core (1.0.0.rc.0)
compass-import-once (1.0.4)
sass (3.4.0.rc.2, 3.2.19)
susy (2.1.3)

[2014-08-01 17:52] chriseppstein commented on #1286
I've had a moratorium on new features in Compass until 1.0 ships. This is slated for 1.1

[2014-08-01 20:27] jameswilson opened #1737 "CSS files are generated twice with add_import_path 'sass'"
After upgrading to sass 3.3 (from 3.2) and compass 1.0.0.rc.0  (from 0.12.6),  when I now run `bundle exec compass compile` I get css files generated twice:  once inside `./css`  and then the same files re-generated inside `./css/sass`.

I've looked around for this issue but both Google and this issue queue search turned up nothing.

I'll be happy to paste in my Gemfile and config.rb configuration

[2014-08-01 20:29] jameswilson commented on #1737
Complete config.rb file:

[code]

[2014-08-01 20:35] jameswilson commented on #1737
The problem appears to be related to this line in config.rb:

[code]

If i comment that line out and recompile, then there are no more duplicate css files generated.

Related issue on the Omega issue queue explains why the line was added: https://www.drupal.org/node/2177397

Apparently it just causes problems on newer versions of compass.

[2014-08-01 21:01] dexterns88 opened #1738 "@extend not supported into @media only screen..."
@extend not supported into @media only screen...

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    @extend  .something;
}

getting error message  (Line 24 of sass/_bundle.scss: Extend directives may only be used within rules.)

This option will be very useful.

[2014-08-01 21:11] chriseppstein commented on #1738
This is a sass language issue. Duplicate of https://github.com/sass/sass/issues/1050.

[2014-08-01 21:11] #1738 closed, assigned to nobody

[2014-08-01 21:21] chriseppstein commented on #1737
The reason that you needed that extra `add_import_path` was a bug in ruby 2.0 and listen. It has been fixed in compass `1.0.0.rc.0`. You should take it out, but also, it does seem strange that this happened. I have fixed the bug.

[2014-08-01 21:21] #1737 closed, assigned to nobody

[2014-08-01 21:33] chriseppstein commented on #474
I don't see this issue anymore.

[2014-08-01 21:33] #474 closed, assigned to nobody

[2014-08-01 21:42] chriseppstein commented on #401
I did a simple implementation of this for 1.0, but 1.0.x needs to take thresholds into account.

[2014-08-01 21:44] chriseppstein commented on #448
We use listen in Sass now. It's not an explicit dependency.

[2014-08-01 21:44] #448 closed, assigned to chriseppstein

[2014-08-01 21:45] chriseppstein commented on #487
We use Sass's watcher now.

[2014-08-01 21:45] #487 closed, assigned to nobody

[2014-08-01 21:47] chriseppstein commented on #489
This is fixed in `1.0.0.rc.0`

[2014-08-01 21:47] #489 closed, assigned to nobody

[2014-08-01 21:47] #587 closed, assigned to nobody

[2014-08-01 21:48] #592 closed, assigned to nobody

[2014-08-01 21:49] #612 closed, assigned to scottdavis

[2014-08-01 21:50] chriseppstein commented on #655
You shouldn't inline images that are so big. If you do, I don't think it's onerous to create a mixin to do both of these for you.

[2014-08-01 21:50] #655 closed, assigned to nobody

[2014-08-01 21:51] chriseppstein commented on #329
I am chris, destroyer of old issues.

[2014-08-01 21:51] #329 closed, assigned to imathis

[2014-08-01 21:51] chriseppstein commented on #414
I am chris, destroyer of old issues.

[2014-08-01 21:51] #414 closed, assigned to nobody

[2014-08-01 21:53] #664 closed, assigned to nobody

[2014-08-01 21:53] #732 closed, assigned to nobody

[2014-08-01 21:55] chriseppstein commented on #812
unpossible

[2014-08-01 21:55] #812 closed, assigned to nobody

[2014-08-01 22:33] chriseppstein commented on #1699
This variable isn't used in `1.0`.

[2014-08-01 22:33] #1699 closed, assigned to nobody

[2014-08-01 22:35] chriseppstein commented on #1704
You need to set `http_path = "<project_name>/"`

[2014-08-01 22:35] #1704 closed, assigned to nobody

[2014-08-01 22:38] chriseppstein commented on #875
This is fixed in `1.0`

[2014-08-01 22:38] #875 closed, assigned to nobody

[2014-08-01 22:39] chriseppstein commented on #857
Pretty sure this is fixed in 1.0. Please retest.

[2014-08-01 22:39] #857 closed, assigned to nobody

[2014-08-01 22:45] chriseppstein commented on #862
Eh, in 1.0 sprites are not even logged anymore. seems bad.

[2014-08-01 23:21] rkpasia commented on #1736
I have the same issue, using grunt-contrib-compass I can't compile because I have NoMethodError on the line 31 in `sass_compiler.rb`.
- **jekyll-sass-converter (1.2.0, 1.0.0)**
- **sass (3.4.0.rc.2, 3.3.13)**
- **compass (1.0.0.rc.0)**
- **compass-core (1.0.0.rc.0)**
- **compass-import-once (1.0.4)**

[2014-08-01 23:49] jameswilson commented on #1737
Well that was fast, amazing work. Thank you for compass, and have a great weekend!

[2014-08-02 00:23] scottdavis commented on #1736
gem doesn't or didn't used to fix dependency hell problems using bundler should make this a non-issue. Im betting he has multiple versions of sass installed what do you get if you run `gem list sass`. Its going to try to use which ever sass is on the load path first i think to avoid this we should detect the required sass version and notify the user of this problem.

[2014-08-02 20:41] tdreyno opened #1739 "Compass v1 Core is unusable without Config code from CLI"
Hey @chriseppstein, we chatted about this a while back. Checked in to see how the RC was looking and it seems to still be an issue.

Basically, Middleman would like to depend on `compass-core` and not have the CLI portions of Compass conflict with ours. Right now, you have `core` depending on various file watcher gems and CLI contains Sass Configuration which is needed outside the CLI.

The simple

[2014-08-02 20:51] chriseppstein commented on #1739
I'm surprised to hear this. Can you please list the specific issues which you ran into? Which gems? Which config? I want to support this use case in 1.0.

[2014-08-02 21:08] gmarziou opened #1740 "Sprite generation fails with no parent due to image filename wrong casing"
Sprite creation fails due to some mismatch in image filename. My environment is the following:
- ubuntu 14.04
- ruby 1.9.3
- sass 3.3.14
- compass 0.12.7

I have set up a git repository that exhibits the problem: https://github.com/gmarziou/compass_test_case.git

I’m creating sprites from flags directory which contains a hundred of country flags as PNG images using 3 letters country codes all uppe

[2014-08-02 21:18] gmarziou commented on #1740
I renamed all my images to lower cases with this script:

[code]

This fixed the problem so there is something related to file naming.

[2014-08-02 22:29] tdreyno commented on #1739
Seems like `Compass.configuration.to_sass_engine_options` isn't available. Did this just get renamed? Looks like some of it is defined in CLI.

Additionally, looks like the Sprite code is in CLI instead of Core.

[2014-08-03 03:34] scottdavis commented on #1739
spriting is set to be its own gem in 1.1. so for the 1.0 release it will sadly still be in cli

[2014-08-03 03:36] scottdavis commented on #1739
Also a stack trace would help

[2014-08-03 03:43] scottdavis commented on #1740
`compass 0.12.7` im curious if you have tried this against the latest pre release? alot has changed between 0.12 and now this may be a non issue once 1.0 is live.

[2014-08-03 03:47] scottdavis commented on #1589
I have cleaned this up and removed the old information for 1.0 but it still needs some love

[2014-08-03 19:58] gmarziou commented on #1740
I just tried Compass 1.0.0.rc.0 on ruby 2.1.2 and got the error below which could be the same.
Then I renamed all images to lower case and again it passed.

[code]

[2014-08-04 14:32] kentcdodds commented on #687
2 years later... Was something like this ever implemented?

[2014-08-04 15:27] chriseppstein commented on #1736
The issue here is that you need sass 3.4.0.rc.3. The APIs added in 3.3.13 are not present in 3.4.0.rc.2.

[2014-08-04 15:27] #1736 closed, assigned to nobody

[2014-08-04 15:29] chriseppstein commented on #1739
As scott said, spriting is it's own gem soon. It has a lot of dependencies, so I didn't want to make it part of core. The work is mostly done so the 1.1 release should follow relatively quickly after 1.0.

I will move `to_sass_engine_options` and `to_sass_plugin_options` to core.

[2014-08-04 15:50] tdreyno commented on #1739
Gracias. I'll point my test branch at master and let you know. Is there any way to communicate to users that Spriting is disabled?

[2014-08-04 15:53] chriseppstein commented on #1739
@tdreyno Spriting is not disabled. Moving to compass-core is optional. Users who have installed "compass" and depend on the "compass" gem continue to have sprites.

[2014-08-04 15:56] lolmaus commented on #1739
@tdreyno How about we depend on `compass` until `compass-core` and `compass-sprites` hit 1.1?

[2014-08-04 18:42] chriseppstein commented on #1739
@tdreyno I suggest, if you're eager to use compass-core by default, you can message this change about sprites however makes sense to middleman, and allow people to install the old plugin instead if they need that.

[2014-08-04 18:45] chriseppstein commented on #1739
@tdreyno Let me know if you bump into anything else.

[2014-08-04 18:45] #1739 closed, assigned to nobody

[2014-08-04 21:09] chriseppstein commented on #1740
easy, low-risk to fix.

[2014-08-04 21:09] #1740 closed, assigned to nobody

[2014-08-04 21:32] chriseppstein commented on #862
Enjoy the sounds of silence.

[2014-08-04 21:32] #862 closed, assigned to nobody

[2014-08-04 21:40] chriseppstein commented on #1720
I cannot reproduce this. Please retest with the 1.0 release candidate and let me know if it's still happening. If so, I guess I need this test case as a git repo or zip file.

[2014-08-04 22:43] chriseppstein commented on #1720
I was able to reproduce it afterall.

[2014-08-04 22:44] chriseppstein commented on #1720
Fixed in `compass-import-once` version `1.0.5`

[2014-08-04 22:44] #1720 closed, assigned to nobody

[2014-08-04 23:30] #691 closed, assigned to nobody

[2014-08-05 00:38] tdreyno opened #1741 "Compass Configuration relies on SpriteImporter from outside core"
When running `::Compass.configuration.to_sass_engine_options` with RC1:

[code]

This is from the line in `adapters.rb` that looks like this:

[code]

Which makes sense, if Spriting isn't in core.

[2014-08-05 13:43] axyuan opened #1743 "Compass compiles file and labels as “identical”, but should not have compiled the file at all"
I'm using SASS 3.3.8 and Compass 1.0.0.alpha.19

In the interest of shortening SASS compile times in my project, I have split my stylesheets, @import-ing shared mixins, variables, and placeholder selectors. My project file structure looks like this:

[code]

In section_a.scss, I have:

[code]

In section_b.scss, I have:

[code]

This way, when I am working on, e.g., section_a_widgets.scss, I shoul

[2014-08-05 14:52] sergonie opened #1744 "Compile error when using SASS maps"
__base.scss_:

[code]

and _cudui.scss_:

[code]

At command execution `compass compile` there is a mistake:

[code]

I use **Compass 0.12.7** and **Sass 3.3.14**

Thanks for attention!

[2014-08-05 15:20] lolmaus commented on #1744
Compass 0.x is incompatible with Sass 3.3 and most likely pulls Sass 3.2 which is in turn incompatible with maps and raises the above error.

Use Bundler to impose proper dependency versions. Use Compass 1.x and Sass 3.3 or 3.4 for maps support.

[2014-08-05 19:16] gmarziou commented on #1740
Thanks

[2014-08-05 20:12] zerocrates opened #1745 "Omit compass files from generated sourcemap"
Using the sourcemap support with compass works great, but it does generate a large number of relative references to compass's own files inside my .gem directory. Is there a way to omit these?

To my understanding, those paths in the `sources` key are only useful if the sources are actually being served at the paths given. I suppose this might work for pages being worked on at `file:///` URLs, but

[2014-08-05 20:13] axyuan commented on #1743
Solved the issue - I was running through grunt-contrib-compass, which runs "compass compile" under the hood rather than "compass watch".

[2014-08-05 20:13] #1743 closed, assigned to nobody

[2014-08-05 22:09] chriseppstein commented on #1744
What @lolmaus said, the issue is that you need the 1.0 preview release of compass to use sass 3.3.

[code]

[2014-08-05 22:09] #1744 closed, assigned to nobody

[2014-08-05 22:10] chriseppstein commented on #1745
run `compass unpack compass` to unpack compass's sass stylesheets into a local directory.

[2014-08-05 22:10] #1745 closed, assigned to nobody

[2014-08-05 22:11] chriseppstein commented on #1741
sigh, this is what happens when you don't move the test associated with the feature.

[2014-08-05 23:01] alanhogan opened #1747 "Linear gradients generating with svg data URL even with $svg-gradient-shim-threshold: 100"
**Renamed from …“even with $experimental-support-for-svg: false”**

Steps to reproduce:
1. Set <del>`$experimental-support-for-svg: false`</del> <ins>`$svg-gradient-shim-threshold: 100`</ins>
2. Import compass and/or compass/css3
3. Use `@include background` with a linear gradient

Expected: No data URI SVG background is output
Actual: SVG is generated and embedded

[2014-08-06 09:37] Melonbwead opened #1748 "Opacity mixin to support !important argument"
(Feature Request)

Currently the opacity mixin takes a $opacity param only.
http://compass-style.org/reference/compass/css3/opacity/

Any thoughts on allowing us to do something like this:

[code]

[2014-08-06 09:41] pughpugh opened #1749 "Opacity failing in IE8"
Hi,

Using compass 0.12.2

`@include opacity(0.3);`

Generates

[code]

In IE8, it appears to want the `-ms-filter` value to be quoted.

[code]

This seems to have been introduced in b6fef2f

Cheers,
pughpugh

[2014-08-06 10:13] pughpugh commented on #1749
Scrap that, that's not how that works. Some sneaky fella had overridden the mixin in our codebase. agh.

[2014-08-06 10:13] #1749 closed, assigned to nobody

[2014-08-06 14:11] PabloVallejo commented on #1720
Working with `1.0.5` for me as well :+1:

[2014-08-06 14:50] zerocrates commented on #1745
I guess the question I'm really asking is: is there a way to make those compass sources not show up in the sourcemap if I _haven't_ locally unpacked them?

[2014-08-07 11:54] micahgodbolt opened #1750 "Compass Stats broken in 1.0.0.rc.1"
On 100% fresh "compass create" project (as well as on large established project) i get this error when running `compass stats` in RC1

/2.1.1/lib/ruby/gems/2.1.0/gems/compass-1.0.0.rc.1/lib/compass/commands/project_stats.rb: undefined method `sass_files' for #Compass::SassCompiler:0x007fece97cc788

[2014-08-07 16:57] chriseppstein commented on #1748
I am not going to be able to handle adding `!important` support to every mixin in compass. This requires Sass language support. In https://github.com/sass/sass/issues/1040 I outlined how I think this should work, but @nex3 is not on board.

[2014-08-08 14:18] kemch opened #1752 "Duplicate Compass compiles when using watch"
I'm getting multiple compiles when doing `compass watch .`. When I first initiate it this way, files will compile once as normal, but when making a change, I'll see this in the terminal.

`info base/_base.scss was modified`
`info base/_base.scss was modified`
`overwrite ../css/main.css was modified`
`identical ../css/main.css`

I get anywhere from 2 to 3 duplicates depending on the project.

I'm n

[2014-08-08 18:32] chriseppstein commented on #1752
Please upgrade to `1.0.0.rc.1` and let us know if you still see this issue.

[2014-08-08 18:32] chriseppstein commented on #1752
(I could not reproduce it)

[2014-08-08 20:19] kemch commented on #1752
I still see the same issue with `1.0.0.rc.1`.

[2014-08-08 20:44] chriseppstein commented on #1752
kemch I need to see your compass configuration.

[2014-08-08 21:45] kemch commented on #1752
I think I isolated the behavior to when I use `additional_import_paths`.

[code]

[2014-08-08 22:53] chriseppstein commented on #1750
Fixed by fd2194da2a42d6c078b8928d36aa82a2fb5b185a

[2014-08-08 22:53] #1750 closed, assigned to nobody

[2014-08-08 22:53] chriseppstein commented on #1257
Fixed by #1751.

[2014-08-08 22:53] #1257 closed, assigned to chriseppstein

[2014-08-08 23:01] chriseppstein commented on #1606
This documentation was removed. I don't see any references to the old experimental variables now.

[2014-08-08 23:01] #1606 closed, assigned to nobody

[2014-08-08 23:05] chriseppstein commented on #1752
Why are you adding the sass path again? That shouldn't be necessary.

On Fri, Aug 8, 2014 at 2:45 PM, kemch notifications@github.com wrote:

[2014-08-09 00:55] eddie-ruva commented on #1747
@alanhogan which version of compass are you using? maybe I can help you debug this problem.

[2014-08-09 02:26] kemch commented on #1752
So I can use 'absolute' import paths for lack of a better term. In any case, it shouldn't be watching a file more than once?

[2014-08-09 04:41] #1548 closed, assigned to nobody

[2014-08-09 04:42] #1510 closed, assigned to scottdavis

[2014-08-10 08:09] JohnAlbin opened #1753 "Sourcemaps are always output even when not requested"
When using compass on the command line, it _always_ outputs sourcemap files. It should only output sourcemap files when the `--sourcemap` option is given to it or its specified in config.rb.

Here's my simple test case. There is no config.rb file in the directory. sass/test.scss is a CSS file with 1 ruleset and with no Sass syntax used.

[code]

You can see that the `sass` command works as expecte

[2014-08-10 15:57] r007 opened #1754 "No vendor prefixes for background: linear-gradient..."
I have such a problem. This is my scss code:

[code]

Generated css:

[code]

Should be:

[code]

How can I fix this problem? How can I add vendor prefixes?

[2014-08-10 16:10] lolmaus commented on #1754
For the release candidate (1.x): http://beta.compass-style.org/help/documentation/tuning-vendor-prefixes/

[2014-08-10 23:19] kemch commented on #1747
I actually just started getting this behavior as well.
http://sassmeister.com/gist/4148026667ec7da09890

[2014-08-10 23:50] eddie-ruva commented on #1747
@kemch if you want to turn off the svg gradient generation you can set

`$svg-gradient-shim-threshold: 100;`

You can find more information about the configurable variables related to gradient in: http://beta.compass-style.org/reference/compass/css3/images/

[2014-08-11 13:31] r007 commented on #1754
I tried but still without results.

[code]

Let's see how compass explains this behaivor.

[code]

Generated css:

[code]

And where are all these -o/-webkit/-moz contexts? Why it's "not a value that needs to be prefixed"?

[2014-08-11 14:07] ChristianPeters opened #1755 "compass-import-once: Import order does not follow the dependency path"
_Using compass-import-once 1.0.4 with sass 3.2.19 and sass-rails 4.0.3_

I am trying to manage the dependencies of my Sass partials by defining them at the top of each partial using `@import`.

The output CSS does not have the intended order though. I am facing the following problem:

Manifest application.css.sass:

[code]

globals/_form.css.sass:

[code]

components/_balloon.css.sass:

[code]

co

[2014-08-11 16:43] donut commented on #685
I [created a solution](https://gist.github.com/donut/ea9b2e36746411ae659d) for [Stylus](http://learnboost.github.io/stylus/) using [dr-svg-sprites](https://github.com/drdk/dr-svg-sprites) and a custom template to have generated mixins and variables. It could easily be adapted to SASS/Compass. Just change the template extension to "scss" or "sass" and update the template file accordingly.

[2014-08-11 18:27] kemch commented on #1752
Not sure why, but after updating to ruby 2.1.1p76, using Sass 3.3.7, and Compass 1.0.0.alpha.19, the problem seems to have gone away.

[2014-08-11 18:27] #1752 closed, assigned to nobody

[2014-08-11 22:35] r007 commented on #1754
Finally I found the problem. This problem occurs if `linear-gradient()` is in variable and in another file, then it will not work.

Like this, variables.scss:

[code]

Main file:

[code]

[2014-08-11 23:22] mechanicalduck opened #1756 "font-files helper: Add woff2 format"
woff2 font format has been recently introduced and is currently used by Google Chrome
and preferably served to Google Chrome (e.g. by Google Fonts API).

The font-files helper doesn't support it woff2 and fails when specifying it in the given list:

[code]

[code]

With best regards

[2014-08-12 03:46] lagden opened #1757 "Require compiled without import"
I have 2 `Compass` running...
1. Home - `Compass 1.0.0.rc.1 (Polaris) + Sass 3.4.0.rc.3 (Selective Steve)`
2. Work - `alpha version`

---

The `alpha` is ok...
The `Compass 1.0.0.rc.1` is with a strange behavior when compiled...

For example:

`$ compass create example`

Put `require 'bootstrap-sass'` on `config.rb` and run:

[code]

Note that was generated `bootstrap.css` without any `sass file`

[2014-08-12 08:00] itstueben opened #1758 "Sass Options Doku"
On Page: http://compass-style.org/help/tutorials/configuration-reference/

I was looking for:
Saas Options Documention Link.
The Link is broken: http://sass-lang.com/documentation/SASS_REFERENCE.md.html#options
The new Link is:
http://sass-lang.com/documentation/file.SASS_REFERENCE.html#options

[2014-08-12 11:57] mprins commented on #1756
duplicate of / fixed in #1742

[2014-08-12 14:24] #1748 closed, assigned to nobody

[2014-08-13 14:12] erikfrerejean opened #1759 ""watch" hangs on compile error."
After upgrading to `compass (1.0.0.rc.1)` I've noticed an issue with compass watch.

When an error is introduced in a SASS file, the compiler will show an error. However at that point the process seems to get stuck, as other changes won't picked up. You'll have to manually stop the process `Ctrl-C`, and restart watch for it to pick up new changes.

Here you'll find the output of the shell when the

[2014-08-13 18:22] chriseppstein commented on #1753
I don't see this @JohnAlbin. I removed my config file and it only writes the sourcemap.

[code]

Are you sure compass isn't picking up sass 3.4.0.rc.x? In that release, sourcemaps default to being enabled.

[2014-08-13 18:36] timkelty opened #1761 "Allow era tags (e.g. e-2) for browser support versions"
Example for setting to "2 versions back":

[code]

Spawned from: https://github.com/Compass/compass/pull/1524#issuecomment-52089334

[2014-08-13 18:52] chriseppstein opened #1762 "A way to exclude old browsers"
This is a feature request as a follow-on to this rejected PR:
https://github.com/Compass/compass/pull/1524

[2014-08-14 10:23] #1754 closed, assigned to nobody

[2014-08-14 23:47] rhinowrk opened #1763 "Windows Compass errors. Any suggestions?"
I'm going to list two issues, only because i think they are related.  If this assumption is in error I will repost as separate issues.

Issue #1:
C:\xampp\htdocs\project>compass watch

issue #2:
C:\xampp\htdocs\project>compass watch
 modified config.rb
    clean css
   delete css/style.css
   delete css/under-ie9.css

- Note: Compass just hangs here indefinitely.  Upon ctrl+c the following is outp

[2014-08-15 01:29] chriseppstein commented on #1763
is the wdm gem installed?

[2014-08-15 12:03] jemcook opened #1764 "compass app just not loading"
Hi I've just downloaded the compass app for windows. I can't get it to run. I've used it on previous systems and it's been brilliantly easy to set up, but on this new system I'm double clicking the icon and nothing is happening. I've tried downloading the package again and updating java but still no response. I'm using windows 8.1 - anyone any ideas about what may be going wrong?

with many thanks

[2014-08-15 19:36] chriseppstein commented on #1764
please file a bug about Compass.app here: https://github.com/KKBOX/CompassApp/issues

[2014-08-15 19:36] #1764 closed, assigned to nobody

[2014-08-15 20:54] chriseppstein commented on #1759
Fixed.

[2014-08-15 20:54] #1759 closed, assigned to nobody

[2014-08-17 08:06] jackoverflow commented on #1108
thanks to @chriseppstein for releasing compass 1.0, it also comes with sass 3.3.14. I just added "source_map: true" in my config.rb and ran "sass --compass --sourcemap --watch sass/style.scss :css/style.css" and voila!

I'm using chrome canary for my dev. ;) I hope it works for you guys as well.

[2014-08-17 09:18] stereokai commented on #1108
Congrats on the release, it's been a long and fruitful road.

[2014-08-17 13:00] ai opened #1766 "Issue on parsing radial gradient in Compass 1.0"
When I try to parse by `sass --compass test.scss:test.css`:

[code]

Sass throw:

[code]

It is Compass issue, because, when I parse by `sass test.scss:test.css` it will be OK.

[2014-08-17 13:04] ai commented on #1766
@chriseppstein @scottdavis this is part of GitHub CSS (I benchmark Autoprefixer, Compass and nib with it). Old Compass 0.12 parsed this part.

[2014-08-17 13:07] ai commented on #1766
Even

[code]

throw error. Maybe I forget some option?

BTW, my `Gemfile.lock` for Ruby 2.1:

[code]

[2014-08-17 13:30] nDmitry commented on #1766
Have this issue too.

[2014-08-17 15:32] itjil opened #1767 "Error installing - unable to load compass-retinator"
I've been able to install compass with no problems in the past, but everytime I try now, I get
Error: Unable to load extension compass-retinator
& the install hangs up forever, even if I install the compass-retinator extension first

[2014-08-17 18:03] chriseppstein commented on #1589
did a bunch of stuff

[2014-08-17 18:03] #1589 closed, assigned to chriseppstein

[2014-08-17 18:35] funkyfuture commented on #1108
all Ubuntu-users should be aware that they must install `ruby-dev` in order to update Compass.

btw, is there a documentation of the `confi.rb`-options?
i'm curious, because i expected the `:development` to imply sourcemaps, but i need to set the sourcemap-option for sass.

[2014-08-17 19:12] Snugug opened #1768 "Configuration Reference Documentation Missing"
With the launch of the new site, it appears as if the [Configuration Reference](http://compass-style.org/help/tutorials/configuration-reference/) page has disappeared.

[2014-08-17 19:30] stereokai commented on #1108
#### Sourcemaps instructions for Yeoman users

It is very easy to get sourcemaps working. Official Yeoman generators usually rely on Compass with Autoprefixer to handle CSS. The steps to enable sourcemaps with these are:
1. Uninstall both current compass and sass with Ruby gem: `gem uninstall compass`, `gem uninstall sass`
2. Install latest Compass: `gem install compass`.
3. In your Gruntfile or G

[2014-08-17 20:33] okaiji commented on #1108
I was meddling with this for so long. @stereokai thanks!!

[2014-08-17 21:05] funkyfuture commented on #1108
@stereokai if that intended me as audience, i'm sorry it doesn't help. i don't use grunt, and have hardly an idea what it is anyway.

i just seek for some documentation for pure usage of `compass` in a shell. or is that so outdated?

[2014-08-18 00:06] chriseppstein commented on #1768
It's here now: http://compass-style.org/help/documentation/configuration-reference/

[2014-08-18 00:06] #1768 closed, assigned to nobody

[2014-08-18 00:14] Snugug commented on #1768
Awesome, thanks. I'd recommend a redirect from the old page because it's got a lot of SEO juice.

[2014-08-18 00:16] Snugug commented on #1108
@funkyfuture here is the documentation for `config.rb`
http://compass-style.org/help/documentation/configuration-reference/

[2014-08-18 09:01] stereokai commented on #1108
@funkyfuture Sorry, I wasn't posting directly to you - it had just came to my attention that I posted this in the wrong issue on the wrong repo. This was supposed to be posted to the Yeoman generator-angular repo. Regardless, I have edited my post to fit this issue.

I don't want to divert further from the topic, but to answer your question - If you're asking me, yes. Using Compass alone in a shel

[2014-08-18 09:33] mullerzs commented on #1766
Try using @include background(radial-gradient(...)), it did the trick for me.

[2014-08-18 10:41] iamrane opened #1769 "Compile specific file"
Hi is the following command deprecated for compass 1.0?
compass compile [path/to/project] [path/to/project/src/file.sass ...] [options]

It worked before in 0.123, but after i updated to 1.0 i get
"Individual stylesheets must be in the sass directory.".

When I use compass watch everything works.

[2014-08-18 13:45] deansimcox commented on #1766
I had this problem too, like @mullerzs said, using the compass @include seems to let compass pass.

I'd love to know what the actual problem was though, I just wasted most of the day..

[2014-08-18 14:15] chhhris opened #1770 "Typos"
On Page: http://compass-style.org/blog/2014/08/15/omg-compass-1-0/

2 to/too typos

`This release took way *too* long`

`But I'm way *too* stubborn for that`

[2014-08-18 17:06] leopic commented on #1108
@chriseppstein source maps are working fine in my project now, this is g2g on my end.

[2014-08-18 17:39] rhinowrk commented on #1763
sorry for the response delay.  yes sir it is.

[2014-08-18 18:41] chriseppstein commented on #1012
is not finished.

[2014-08-18 19:38] chriseppstein commented on #1012
Should be on top of the changes coming in #1771

[2014-08-18 20:12] chriseppstein opened #1772 "Perspective needs a unit to work with firefox."
PR #1703 had a fix for the old system.

[2014-08-18 21:11] chriseppstein commented on #1770
fixed. :P

[2014-08-18 21:11] #1770 closed, assigned to nobody

[2014-08-18 21:28] chriseppstein commented on #1769
This should still work and it does indeed work for me with an out-of-the-box config and even with a changed config where the sass files have been relocated.

Please show me your config and the commands you are running.

[2014-08-18 21:28] chriseppstein commented on #1767
That extension probably needs an update to allow itself to work with compass 1.0.

[2014-08-18 21:28] #1767 closed, assigned to nobody

[2014-08-18 21:38] chriseppstein commented on #1766
fixed.

[2014-08-18 21:38] #1766 closed, assigned to nobody

[2014-08-18 21:39] chriseppstein commented on #1763
If you pass the `--poll` option does it work for you?

[2014-08-18 21:40] chriseppstein commented on #945
PR #1694 addresses this.

[2014-08-18 21:41] chriseppstein commented on #887
@Snugug We got this working for you as a plugin at sassconf right?

[2014-08-18 21:41] #887 closed, assigned to chriseppstein

[2014-08-18 21:42] #851 closed, assigned to nobody

[2014-08-18 21:43] Snugug commented on #887
I believe you had, but I don't remember the URL.

I think you wrote up a comprehensive project explaining how to do it.

[2014-08-18 21:44] chriseppstein commented on #828
If you pass the argument to the function yourself there is no directory prefix. If you set a global variable to configure that argument it requires the directory prefix.

[2014-08-18 21:44] #828 closed, assigned to nobody

[2014-08-18 21:44] #818 closed, assigned to nobody

[2014-08-18 21:45] #826 closed, assigned to nobody

[2014-08-18 21:45] chriseppstein commented on #785
I've dropped support for the one-click installer for now. Too finicky.

[2014-08-18 21:45] #785 closed, assigned to chriseppstein

[2014-08-18 21:46] #700 closed, assigned to nobody

[2014-08-18 21:48] chriseppstein commented on #928
CSS3 Pie was removed.

[2014-08-18 21:48] #928 closed, assigned to nobody

[2014-08-18 21:52] chriseppstein commented on #944
This got fixed during 1.0

[2014-08-18 21:52] #944 closed, assigned to nobody

[2014-08-18 21:52] chriseppstein commented on #891
we've removed css3pie

[2014-08-18 21:52] #891 closed, assigned to chriseppstein

[2014-08-18 22:01] chriseppstein commented on #880
Compass 1.0 automatically loads any framework that has a ruby file in it's main library path that conforms to "compass-*.rb".

Added docs for this in 7d570c818847fcb0d6c2e96d7f16db2fcd58f24d.

[2014-08-18 22:01] #880 closed, assigned to nobody

[2014-08-18 22:02] #946 closed, assigned to nobody

[2014-08-18 22:05] chriseppstein commented on #950
Agree. This needs an overhaul or to be removed.

[2014-08-18 22:05] chriseppstein commented on #953
css3pie has been removed.

[2014-08-18 22:05] #953 closed, assigned to nobody

[2014-08-18 22:06] chriseppstein commented on #1057
doesn't apply anymore

[2014-08-18 22:06] #1057 closed, assigned to nobody

[2014-08-18 22:10] chriseppstein commented on #968
We use the sass watcher now. If this issue is present in Sass with the compass 1.0 release, please file a bug there.

[2014-08-18 22:10] #968 closed, assigned to nobody

[2014-08-18 22:12] chriseppstein commented on #1758
fixed

[2014-08-18 22:12] #1758 closed, assigned to nobody

[2014-08-18 22:13] chriseppstein commented on #1757
This is a feature in compass 1.0. Any extension with non-partials will generate into your project as a subfolder. Ask them to convert those files to partials.

[2014-08-18 22:13] #1757 closed, assigned to nobody

[2014-08-18 22:16] chriseppstein commented on #1741
fixed.

[2014-08-18 22:16] #1741 closed, assigned to nobody

[2014-08-18 22:17] chriseppstein commented on #1683
Fixed by dfe844de0293d5c207347bd9c753e0cf0b8df6e5.

[2014-08-18 22:17] #1683 closed, assigned to nobody

[2014-08-18 22:18] chriseppstein commented on #1681
fixed.

[2014-08-18 22:18] #1681 closed, assigned to nobody

[2014-08-18 22:18] chriseppstein commented on #1682
fixed by 15a44f3

[2014-08-18 22:18] #1682 closed, assigned to nobody

[2014-08-18 22:20] chriseppstein commented on #1689
The search page has links to all of these: http://compass-style.org/search/

[2014-08-18 22:20] #1689 closed, assigned to nobody

[2014-08-18 22:23] lagden commented on #1757
tks!!
:beers:

[2014-08-18 22:44] tdreyno commented on #1741
Thanks Chris, we'll be in a beta for a long long while. I'll check in when the sprite gem is split out.

[2014-08-18 22:54] chriseppstein commented on #1689
Fixed by 7767fac5689cdcd6402212967c3ea4e6f800315d

[2014-08-18 22:54] chriseppstein commented on #1756
fixed

[2014-08-18 22:54] #1756 closed, assigned to nobody

[2014-08-18 23:01] chriseppstein commented on #1755
As I understand it you've got this structure:

[code]

You used to import it twice, bloating your output but giving you the cascade you wanted. Now you are only importing it once, but it giving you a different cascade. You will need to reorganize your importing to take import-once into account.

[2014-08-18 23:01] #1755 closed, assigned to nobody

[2014-08-18 23:02] chriseppstein commented on #1708
@cimmanon do you think should we change our output or update the docs?

[2014-08-18 23:04] chriseppstein commented on #1717
I'm ok with this, but It would need to be image-exists() or font-exists() so that the file can be found in the image or font directory instead of using an absolute path.

[2014-08-18 23:05] chriseppstein commented on #1713
It's been removed.

[2014-08-18 23:05] #1713 closed, assigned to nobody

[2014-08-18 23:05] #1706 closed, assigned to nobody

[2014-08-18 23:06] #1707 closed, assigned to nobody

[2014-08-18 23:07] chriseppstein commented on #1684
Compass and sass don't currently track dependencies on files that are not sass files.

[2014-08-18 23:09] chriseppstein commented on #1675
out of scope means that compass is in a specific context for a particular browser and that some other browser could not possibly apply to that context. E.g. in `@-webkit-keyframes { }` then mozilla is out of scope.

[2014-08-18 23:09] #1675 closed, assigned to nobody

[2014-08-18 23:10] chriseppstein commented on #1674
@eddie-ruva any luck on this one?

[2014-08-18 23:10] chriseppstein commented on #1671
fixed in 1.0

[2014-08-18 23:10] #1671 closed, assigned to nobody

[2014-08-18 23:10] chriseppstein commented on #1672
tests are all pasing in all rubies in 1.0

[2014-08-18 23:10] #1672 closed, assigned to nobody

[2014-08-18 23:11] chriseppstein commented on #1670
wierd.

[2014-08-18 23:12] chriseppstein commented on #1668
all tags are automagically added for each release now.

[2014-08-18 23:12] #1668 closed, assigned to nobody

[2014-08-18 23:12] chriseppstein commented on #1669
we've released so it's right now.

[2014-08-18 23:12] #1669 closed, assigned to nobody

[2014-08-18 23:13] chriseppstein commented on #1667
I have mavericks and it's working fine for me.

[2014-08-18 23:13] #1667 closed, assigned to nobody

[2014-08-18 23:13] chriseppstein commented on #1664
please upgrade to 1.0 and open a new issue with a full stack trace if this continues to happen.

[2014-08-18 23:13] #1664 closed, assigned to nobody

[2014-08-18 23:14] chriseppstein commented on #1661
Can you retest this in 1.0?

[2014-08-18 23:14] #1661 closed, assigned to nobody

[2014-08-18 23:15] chriseppstein commented on #1660
please retest using compass 1.0. We now use the Sass compiler so if it continues to happen, file a bug against sass.

[2014-08-18 23:15] #1660 closed, assigned to nobody

[2014-08-18 23:15] chriseppstein commented on #1658
we added it back for the 1.0 release.

[2014-08-18 23:15] #1658 closed, assigned to nobody

[2014-08-18 23:16] chriseppstein commented on #1657
moved this issue to compass-rails.

[2014-08-18 23:16] #1657 closed, assigned to nobody

[2014-08-18 23:19] chriseppstein opened #1773 "Get rid of font-files() and use varargs instead."
we don't need this hack anymore because sass has varargs.

[2014-08-18 23:20] chriseppstein commented on #1656
1.0 has support for embedded-opentype.

[2014-08-18 23:20] #1656 closed, assigned to nobody

[2014-08-18 23:20] chriseppstein commented on #1693
we use the sass watcher now. I think it should work. Please retest with 1.0.

[2014-08-18 23:20] #1693 closed, assigned to nobody

[2014-08-18 23:26] chriseppstein commented on #1662
working now.

[2014-08-18 23:26] #1662 closed, assigned to nobody

[2014-08-18 23:28] chriseppstein commented on #1647
filed a bug against compas-rails. https://github.com/Compass/compass-rails/issues/176

[2014-08-18 23:28] #1647 closed, assigned to nobody

[2014-08-18 23:29] chriseppstein commented on #1650
This issue will go away in sass 3.4. Someone is creating a `$default` global and it's not compass.

[2014-08-18 23:29] #1650 closed, assigned to nobody

[2014-08-18 23:30] chriseppstein commented on #1644
Note: I intend to add an asset path list in an upcoming version of compass.

[2014-08-18 23:32] chriseppstein commented on #1642
I've rewritten the compass compiler to use Sass's internal compiler and there's been an import once update since then. Can you verify this is fixed in 1.0?

[2014-08-18 23:33] #1641 closed, assigned to nobody

[2014-08-18 23:35] cimmanon commented on #1708
I can't speak for everyone else, but I would expect that when I write `@include border-radius(1em 2em);` that it is going to generate whatever is necessary to work in every browser possible.  So for me, that would be generating all of the longhand webkit prefixes.  But I would also make a note in the docs as to why the extra properties are being generated.

Are we able to tell from caniuse which b

[2014-08-18 23:36] chriseppstein commented on #1635
`opacity: 1` seems like a shitty default to force here. I like mozilla's value. In theory, we could add something to our reset... but it's really hard to do in a backwards compatible way.

[2014-08-18 23:36] #1635 closed, assigned to nobody

[2014-08-18 23:37] chriseppstein commented on #1634
not anymore

[2014-08-18 23:37] #1634 closed, assigned to nobody

[2014-08-18 23:39] chriseppstein commented on #1630
can you verify whether this is still happening in 1.0? It think I would have heard tons of reports if it was.

[2014-08-18 23:39] #1630 closed, assigned to nobody

[2014-08-18 23:41] chriseppstein commented on #1636
we use the filename to be a css class, so you must name each file according to a legal css class name.

[2014-08-18 23:41] #1636 closed, assigned to nobody

[2014-08-18 23:42] chriseppstein commented on #1628
you didn't include a stack trace.

[2014-08-18 23:42] #1628 closed, assigned to nobody

[2014-08-18 23:45] chriseppstein commented on #1625
It's a rename in the same directory. I don't see why this should be breaking. Can you retest with 1.0?

[2014-08-18 23:45] #1625 closed, assigned to nobody

[2014-08-18 23:47] chriseppstein commented on #1624
filed against sass's repo.

[2014-08-18 23:47] #1624 closed, assigned to nobody

[2014-08-18 23:50] chriseppstein commented on #1621
A patch would be helpful, I can try to get a windows machine working for testing this. But it's not top priority since you can simply comment out that require for now.

[2014-08-18 23:53] #1614 closed, assigned to nobody

[2014-08-18 23:54] eddie-ruva commented on #1674
@chriseppstein I didn't have time to work on it anymore during the weekend and I'm still at the same place with handling the svg. I will work on it today and I'm planning on getting the PR for tomorrow night.

[2014-08-18 23:55] chriseppstein commented on #1648
There's no such thing as `http_sass_path` because sass files are not served via http. There is only `http_stylesheets_path`

[2014-08-18 23:55] #1648 closed, assigned to nobody

[2014-08-18 23:58] chriseppstein commented on #1612
Please retest this against 1.0, I think I fixed it.

[2014-08-18 23:58] #1612 closed, assigned to nobody

[2014-08-18 23:59] chriseppstein commented on #1609
This is a sass bug.

[2014-08-18 23:59] #1609 closed, assigned to nobody

[2014-08-19 00:00] rootwork commented on #1669
And congratulations!

[2014-08-19 00:01] #1608 closed, assigned to nobody

[2014-08-19 00:02] chriseppstein commented on #1607
We don't depend on listen explicitly anymore.

[2014-08-19 00:02] #1607 closed, assigned to nobody

[2014-08-19 00:09] chriseppstein commented on #1595
Agree. Want to add some? :)

[2014-08-19 00:10] chriseppstein commented on #1551
This exists in sass now, but I think we'd need to expose it in compass.

[2014-08-19 00:11] chriseppstein commented on #1515
duplicate of #1060.

[2014-08-19 00:11] #1515 closed, assigned to nobody

[2014-08-19 00:12] chriseppstein commented on #1516
Good call. Please upgrade to 1.0 now.

[2014-08-19 00:12] #1516 closed, assigned to nobody

[2014-08-19 00:12] chriseppstein commented on #1514
use compass 1.0 to use sass 3.3+

[2014-08-19 00:12] #1514 closed, assigned to nobody

[2014-08-19 00:13] #1508 closed, assigned to nobody

[2014-08-19 00:16] chriseppstein commented on #1511
This is what compass-core intends to become.

[2014-08-19 00:16] #1511 closed, assigned to nobody

[2014-08-19 00:16] chriseppstein commented on #1505
It can now.

[2014-08-19 00:16] #1505 closed, assigned to nobody

[2014-08-19 00:17] #1501 closed, assigned to nobody

[2014-08-19 00:17] #1493 closed, assigned to nobody

[2014-08-19 00:18] #1502 closed, assigned to nobody

[2014-08-19 00:18] chriseppstein commented on #1558
we got rid of the listen dependency.

[2014-08-19 00:18] #1558 closed, assigned to nobody

[2014-08-19 00:19] #1559 closed, assigned to nobody

[2014-08-19 00:19] #1576 closed, assigned to nobody

[2014-08-19 00:21] chriseppstein commented on #1568
Yes. the docs are here: https://github.com/Compass/compass/tree/stable/compass-style.org

This actually comes from documentation in [a code comment](https://github.com/Compass/compass/blob/stable/core/stylesheets/compass/typography/links/_link-colors.scss#L12-L13).  It would be great if we converted all code comment documentation to be in scss syntax. Wanna do this?

[2014-08-19 00:22] chriseppstein commented on #1080
Agree. It's time for a compass website rewrite.

[2014-08-19 00:22] #1080 closed, assigned to nobody

[2014-08-19 00:25] chriseppstein commented on #260
Ugh. This mixin needs to die. Maybe something should arise from it's ashes though.

[2014-08-19 00:25] #260 closed, assigned to nobody

[2014-08-19 00:33] lifeiscontent commented on #1628
@chriseppstein using compass + sass-rails doesn't give stack traces -__-

[2014-08-19 00:58] chriseppstein commented on #1030
Use units or string addition/interpolation.

[2014-08-19 00:58] #1030 closed, assigned to nobody

[2014-08-19 00:59] #1089 closed, assigned to nobody

[2014-08-19 01:01] chriseppstein commented on #1141
I don't know how to make generic sass options available on the command line.

[2014-08-19 01:01] #1141 closed, assigned to nobody

[2014-08-19 01:02] chriseppstein commented on #1001
link is borken

[2014-08-19 01:02] #1001 closed, assigned to nobody

[2014-08-19 01:02] chriseppstein commented on #1122
released now

[2014-08-19 01:02] #1122 closed, assigned to nobody

[2014-08-19 01:06] chriseppstein commented on #1056
Like all good command lines, it it self documenting: `compass -h` or `compass <command> -h`

[2014-08-19 01:06] #1056 closed, assigned to nobody

[2014-08-19 01:06] chriseppstein commented on #1004
This shouldn't be an issue anymore

[2014-08-19 01:06] #1004 closed, assigned to nobody

[2014-08-19 01:08] chriseppstein commented on #1078
IMO, the main issue here was how far apart stable and master were. I want bug fixes to be submitted against stable, and new features against master. I want people who are just browsing the code to browse the code they are  using and not the version they will use in the future. So want to keep stable as the default branch.

[2014-08-19 01:08] #1078 closed, assigned to nobody

[2014-08-19 01:09] chriseppstein commented on #1204
this is a private function and I intend to remove it. Please do not depend on it.

[2014-08-19 01:09] #1204 closed, assigned to nobody

[2014-08-19 01:15] chriseppstein commented on #1674
@eddie-ruva Thanks!

[2014-08-19 01:16] chriseppstein commented on #1628
Try it without sass-rails?

[2014-08-19 01:16] chriseppstein commented on #1628
There's just no information here for me to go on.

[2014-08-19 06:20] iamrane commented on #1769
This is my config.rb file:

[code]

and is position like c:\website

and i've tried to run:
compass compile c:\website c:\website\my-scss-file.scss
compass compile \website \website\my-scss-file.scss
compass compile /website /website/my-scss-file.scss
and alot of more

all i get it Individual stylesheets must be in the same directory.
The first one worked before the upgrade.

[2014-08-19 07:42] stryju commented on #1001
uh - removed the repo :(

will probably re-do it, if the interest is still there :-)

[2014-08-19 09:34] AirQuick commented on #1642
It depends on the path length. Steps to repro:
1.  Install Ruby, Sass and Compass in "p:\Ruby\test1".
2.  Create an empty directory: "p:\proj"
3.  In "p:\proj", run "compass create".
4.  Insert a '@import "compass";' line into "p:\proj\sass\screen.scss".
5.  Run "compass compile --force" in "p:\proj". => Success
6.  Rename the Ruby installation directory to a longer one: "p:\Ruby\test1234567890123

[2014-08-19 16:19] rhinowrk commented on #1763
I'm sorry, Chris, unfamiliar with the --poll option.

[2014-08-19 17:25] Aradesh commented on #1240
This bug is reproduced in 1.0.0 too

[2014-08-19 17:34] chriseppstein commented on #887
you suck. I don't know where it is.

[2014-08-19 17:36] chriseppstein commented on #1769
Remove project_path from your configuration and try again.

On Mon, Aug 18, 2014 at 11:20 PM, Christian Ranebäck <
notifications@github.com> wrote:

[2014-08-19 17:39] chriseppstein commented on #1763
@rhinowrk `compass watch --poll`

[2014-08-19 17:41] chriseppstein commented on #1240
@Aradesh Thanks for the heads up.

[2014-08-19 17:47] rhinowrk commented on #1763
C:\xampp\htdocs\project>compass watch --poll

[2014-08-19 18:15] fk opened #1775 "Compass v1.0.0 renders radial-gradient SVG different than 0.12.6"
I know that there are a bunch of gradient related issues, but I could not find one which matches ours (could be just my lack of understanding the Compass internals though); possibly related: #1436/#1225, #1674.

We recently updated Compass from v0.12.6 to 1.0.0 in a project in which we used `$experimental-support-for-svg: true` to provide CSS gradient SVG fallbacks for IE9 (which worked like a cha

[2014-08-19 18:16] Snugug commented on #887
I love you too.

It doesn't look as if you wrote a custom plugin, but you did create a writeup on how to create your own.

https://gist.github.com/chriseppstein/6965538

[2014-08-19 18:30] slackersoft opened #1776 "radial-gradient mixin breaks when passed css syntax"
We have compass installed for our use, but when we pull in another dependency that doesn't expect to have compass, but uses scss and radial-gradient, compass breaks their call to radial-gradient. We were able to reproduce this by just copying one of the examples on how to use radial-gradient from [mdn](https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient). We only started seeing this w

[2014-08-19 18:36] chriseppstein commented on #1776
Duplicate of #1766

[2014-08-19 18:36] #1776 closed, assigned to nobody

[2014-08-19 18:42] mechanicalduck commented on #646
+1

[2014-08-19 18:45] chriseppstein commented on #1776
Just released 1.0.1 with this fix.

[2014-08-19 18:45] chriseppstein commented on #1766
Just released 1.0.1 with this fix.

[2014-08-19 18:47] slackersoft commented on #1776
Awesome, thanks!

[2014-08-20 01:32] deansimcox commented on #1766
Cheers @chriseppstein

[2014-08-20 02:16] zumek commented on #1618
I'm using 0.12.6 and getting this issue. Any advice? Thanks!

[2014-08-20 04:13] KatieK2 commented on #1568
I can have a crack at it some time. The nanoc build process looks a little hairier than I have time for right now, so it might be a bit of time.

[2014-08-20 08:26] iamrane commented on #1769
That didnt work.

Okey so after this I made a super easy site test.
So the only files that exist are

h:\devel\test\config.rb and
h:\devel\test\scss\test.scss

In config.rb:

[code]

and in test.scss

[code]

[code]

says: Individual stylesheets must be in the sass directory.

and

[code]

says : H:/devel/scripts\devel\test does not exist.

[2014-08-20 16:24] Arduinology commented on #394
EDIT: Nevermind, I was doing compass watch from inside a Vagrant SSH. Turns out I had to 'compass watch' from the host OS. Works as intended.

I am experiencing this problem. No errors,  no warning, just doesn't work.

Sass 3.2.12 (Media Mark)
Compass 0.12.2 (Alnilam)
ruby 1.9.3p547 (2014-05-14 revision 45962) [x86_64-linux]

[2014-08-20 16:32] mingan commented on #1625
I tested it with 1.0.1 and it worked ok, but when I went back to 0.12.4 the problem didn't manifest either.

[2014-08-20 17:51] vietnogi commented on #1725
Probably due to autoprefixer, may have to change `last 1 version` to 2 or 3

[2014-08-20 20:48] ryanburnett opened #1777 "Compass 1.0.1 errors"
I just updated Compass to 1.0.1 and Sass to 3.4. Before the update everything was working perfectly. Now when I `compass watch` I get this error:

[code]

Any idea how to avoid this error?

P.S. I'm on OS X 10.9.4 with:

[code]

[2014-08-20 21:36] chriseppstein commented on #1777
This is a sass issue, I filed the bug there.

[2014-08-20 21:36] #1777 closed, assigned to nobody

[2014-08-20 21:40] mikapa commented on #1763
I have the same problem ...

/c/wamp/www/blog/sites/all/themes/mika
$compass watch --poll

Compass is watching for changes. Press Ctrl-C to Stop.
ArgumentError on line ["465"] of c: different prefix: "c:/" and "c:\wamp/www/blog/sites/all/themes/mika/sass"
Run with --trace to see the full backtrace

[2014-08-20 21:46] ryanburnett commented on #1777
Great - thank you Chris!

[2014-08-20 21:48] chriseppstein commented on #1763
Ugh. windows makes me :cry:

[2014-08-20 23:31] Naddiseo opened #1778 "Cannot watch directories called "scss" with --compass"
[code]

If you look closely at the error, it reports that tmp/test/_sass_ is missing, when it should be looking for the "scss" folder.

[2014-08-21 04:49] JustJenFelice commented on #1642
I think I've got much of the same here:

[code]

Compass 1.0.1 (Polaris)
Sass 3.4.0 (Selective Steve)
Ruby-2.1.1
on Mac OSX 10.9.4

Here's the full backtrace:

[code]

I've been wrangling with this ever since I updated Compass and am now resorting to rolling-back. If anybody has any other suggestions for a possible fix, I'd love to hear it.

[2014-08-21 04:55] ancientrs commented on #1642
I solved this issue with @andypearson 's way, that I replace the "key" function with the old version(1.0.3)  on Windows.  Thanks a lot.

[2014-08-21 10:12] realest880 opened #1779 "Broken link for configuration reference"
On Page: http://compass-style.org/help/tutorials/

I was looking for the configuration reference, and clicked on this link:

http://compass-style.org/help/tutorials/configuration-reference/

But instead of navigating to the correct information, it was a broken link.

[2014-08-21 14:12] JustJenFelice commented on #1642
@ancientrs - thanks! I just rolled back and managed to get things working again. There does seem to be some significant differences in how the versions compile (as previously mentioned)...maybe it has to do with the handling of project_path. No sure yet. Regardless, I'm up and running again for now. Many thanks :+1:

[2014-08-21 18:46] chriseppstein commented on #1769
Ok. Looks like a bug.

[2014-08-21 18:47] chriseppstein commented on #1753
I saw someone else report this too. I need to be able to reproduce it. >_<

[2014-08-21 18:48] chriseppstein commented on #1747
You should have got a deprecation warning about using `$experimental-support-for-svg` if you didn't that's a bug.

[2014-08-21 18:50] chriseppstein commented on #1719
This is weird.

[2014-08-21 19:14] Arcovion commented on #1719
[`<code>$value<code>`](https://github.com/Compass/compass/blob/stable/compass-style.org/content/reference/compass/helpers/cross-browser.haml#L121) &rarr; `<code>$value</code>`

[2014-08-21 20:17] alanhogan commented on #1747
You’re totally right. I did get the warning. I’m sorry.

Will close. Apologies for wasting your time!

[2014-08-21 20:41] alanhogan commented on #1747
Thank you, @eddie-ruva. that’s what I wanted.

However, nothing seems to stop SVG output.

When I set these insane values:

[code]

My output indeed loses `zoom: 1` and a ton of prefixed features, but the data-uri svg backgrounds are still included.

This happens for me in Compass `1.0.0.alpha.21` and still when I upgraded to `1.0.1`.

[2014-08-21 21:18] chriseppstein commented on #1747
have you declared explicit browser minimum support?

[2014-08-21 21:35] alanhogan commented on #1747
dang… yes. I thought it didn’t matter, but when I commented-out this line:

[code]

then suddenly the svg disappeared.

guh. sorry.

[2014-08-21 21:50] chriseppstein commented on #1747
right. svg would be required to support ie9 correctly... Is this a case where you don't want to support ie9 but just for this feature?

[2014-08-21 23:46] alanhogan commented on #1747
@chriseppstein That’s right. It’s not a big deal at all, really, but we have some buttons with multiple states and multiple gradients per state (generated content). It’s nice but not a “must”, and the SVGs are weightier than most cross-browser fixes. (The irony that I pushed for them to be included into Compass’ gradient support a few years ago isn’t lost on me, and I’m still glad they are there,

[2014-08-22 12:21] nesk opened #1786 "--no-sourcemap flag doesn't work"
Here's a simple example:

[code]

[code]

However, I think you should stick to the original `--sourcemap` flag used by Sass which allows more configuration options from the command line.

This issue leads me to a question: Currently, how can I disable sourcemaps?

[2014-08-22 16:03] QuentinFchx opened #1787 "Is Compass supporting sourcesContent ?"
Sass allow to set `sourcemap=inline` in order to fill the property `sourcesContent`
https://github.com/sass/sass/issues/1107

How can I achieve that through compass ?

[2014-08-22 17:27] ivanovjaroslaw opened #1788 "Cannot use sprites - Windows 8"
When I try to use sprites:

@import "compass/utilities/sprites";
@import "sprites/*.png";

I get the next error:

C:\WebServers\home\work.ru\www>compass compile --trace
Errno::ENOENT on line ["346"] of C: No such file or directory - C:/WebServers/home/work.ru/www/.sass-cache/75
fcaf1b4852ceb732871195e41567cc2a7d8997/C%058%092Ruby193%092lib%092ruby%092gems%0921.9.1%092gems%092compass-co
re-1.0.1%09

[2014-08-22 17:52] ivanovjaroslaw commented on #1788
So, I find some kind solution. Don't use import with sprites (*.png). Use sprite-map.
Thanks to @dreamersp in issue https://github.com/Compass/compass/issues/1657

[2014-08-22 18:02] paulmillr opened #1789 "why your software is such piece of fucking shit i don't even"
...

sorry i get into all sorts of stupid issues with your shit but I am still obligated to use compass since clients used in in the past

fucking issues with: sass / compass ver dependency hell; SUSY / breakpoint module issues; horrible traces which don't allow me to solve ANYTHING with `puts`

whatever

![](http://unvailed.com/wp-content/uploads/2014/02/00000065-001.png)

@chriseppstein I don't

[2014-08-22 18:05] #1789 closed, assigned to nobody

[2014-08-22 18:07] chriseppstein commented on #1787
I need to add support for that.

[2014-08-22 18:14] chriseppstein commented on #1789
If you want support, put your emotions away and act like a grown up.

[2014-08-22 23:43] jasonsemko commented on #860
Had this as well, could someone please add lines in verbose mode to explain what files compass is looking at as it moves through sprite generation?

[2014-08-24 05:56] kyawthein opened #1790 "Cannot Install Compass in Mac OSX 10.9.2"
I have an error while install compass using: sudo gem install compass

Building native extensions.  This could take a while...
ERROR:  Error installing compass:
    ERROR: Failed to build gem native extension.

[code]

checking for ffi.h... no
checking for ffi.h in /usr/local/include,/usr/include/ffi... yes
checking for ffi_call() in -lffi... yes
checking for ffi_prep_closure()... yes
checking for

[2014-08-25 05:48] kkbruce opened #1791 "compass compile .sasss-cache file full path length over 255 will failed"
Hi,

I install RubyInstaller Ruby 2.0.0-p481 (x64) and install Compass:

C:\Users\Bruce>compass -v
Compass 1.0.1 (Polaris)

I use Compass in Sublime Text 3 - Compass build system ( https://github.com/whatwedo/Sublime-Text-2-Compass-Build-System )

Compass build System command path is : **C:\Users{username}\AppData\Roaming\Sublime Text 3\Packages\Compass**, It's long. It's call "compass compile '%f

[2014-08-25 14:48] mechanicalduck opened #1792 "Normalize / configurable quote character in framework"
Related to: https://github.com/sass/sass/issues/1394

Quote characters should be normalized/configurable in all compass mixins, functions, etc.
as different quote characters reduce gzip compression efficiency
and deviate from an intended quoting style.

Note: Not only in attributes, also in selectors.

[2014-08-25 15:11] bidah commented on #1642
It worked for me after @deeja 's way. Thanks

[2014-08-26 09:55] depoulo commented on #1460
+1

[2014-08-26 11:07] neekey commented on #1108
request for `http_sass_path` support or anyway that can alternate sass file path in the source map file.

I'm writing a compass middleware for express, which compile sass files only when user request the corresponding css file. For example, when the browser request `http://localhost/src/index.css`, the middleware will compile `/users/me/works/project/src/index.scss`( actually compile the whole pro

[2014-08-26 14:31] Shupal commented on #1791
maybe it is the same problem https://github.com/Compass/compass/issues/1642

[2014-08-26 14:32] Shupal commented on #1642
thanks @deeja
now it works!

[2014-08-26 15:23] kkbruce commented on #1642
@Shupal
My OS is Windows 8.1, @deeja steps is works for me.

[2014-08-26 15:25] kkbruce commented on #1791
1. @deeja step is work for my Windows 8.1.
2. Should be the same problem. Thanks @Shupal .

[2014-08-26 21:20] timelf123 commented on #1108
@neekey to hack around that at work we just find/replaced all the extra `../`

hacky, but worked well enough for us

[2014-08-27 00:45] chriseppstein commented on #1108
@neekey Please open a new issue about this

[2014-08-27 01:40] neekey opened #1794 "request a way to alternate sass file path in the source map file."
request for `http_sass_path` support or anyway that can alternate sass file path in the source map file.

I'm writing a compass middleware for express, which compile sass files only when user request the corresponding css file. For example, when the browser request `http://localhost/src/index.css`, the middleware will compile `/users/me/works/project/src/index.scss`( actually compile the whole pro

[2014-08-27 01:41] neekey commented on #1108
@timelf123 thank you for sharing your solution~ @chriseppstein  new issue https://github.com/Compass/compass/issues/1794

[2014-08-27 03:48] kkbruce commented on #1791
Follow steps:

[code]

Now, compass -v output 1.0.1, sass -v output 3.4.1.

compile output .sass-cache/75fcaf1b4852ceb732871195e41567cc2a7
d8997/**C%058%092Ruby200-x64%092lib%092ruby%092gems%0922.0.0%092gems%092compass-core-1.0.1%092stylesheets%092compass%092_support.scssc20140825-5800-ni3jly** will change **{your scss name}.scssc**, It let compile succeed for Sublime Text - Compass.

I don't know

[2014-08-27 07:16] Shupal commented on #1791
Do you need the newest sass version?
Cause if you uninstall the current compass version, then install a older version, then uninstall the old version and install it via "gem install compass" your get the newest compass/sass version with the bad behaviour ;-)

just do

gem uninstall compass-import-once -a
gem uninstall compass -a
gem uninstall sass -a

gem install sass -v 3.2.14
gem install compass

[2014-08-27 07:18] Shupal commented on #1763
have you install ruby and compass via rubyinstaller?

[2014-08-27 08:19] kkbruce commented on #1791
@Shupal  Thank your replay :D

[2014-08-27 16:21] alexpacklink opened #1795 "Broken Link"
On Page: http://compass-style.org/help/tutorials/

I was looking for:
Configuration reference

But instead I found:
404

[2014-08-27 16:23] alexpacklink opened #1796 "Broken Link"
On Page: http://compass-style.org/help/tutorials/

I was looking for:
Command line documentation

But instead I found:
404

[2014-08-27 17:27] chriseppstein commented on #1794
Also to be investigated: inline sources.

[2014-08-27 19:34] kevinsalter opened #1798 "Undefined mixin 'experimental'"
calling `@import "compass/css3/transition"` in a SCSS file doesn't work.  Instead it throws the error `Undefined mixin 'experimental'`

[2014-08-28 01:54] zfogg commented on #1794
How on earth are people getting sourcemaps to function properly without this?!? I have NO WAY at all to tell the compiler to generate the sourcemaps "sources" list with URLs pointing to where my SASS files actually are.. the compiler just assumes that my SASS files are accessible relative to my ".tmp" directory, but that's not right at all. It's probably wrong for most people who use a build tool

[2014-08-28 06:59] kyawthein commented on #1790
Hi everybody, I have asked my master Ben Frain(author of Sass and Compass for Designer). He replied me a way of solution. Finally, I have successfully installed compass on my Mac OSX. If you have same errors like me, you can follow steps in this link:

http://stackoverflow.com/questions/22544754/failed-to-build-gem-native-extension-installing-compass

[2014-08-28 08:09] mprins commented on #1796
duplicate of #1782

[2014-08-28 08:09] mprins commented on #1795
duplicate of #1782

[2014-08-28 10:54] FlorianMoser commented on #1769
I can confirm this bug with Compass 1.0.1 on Windows. Compiling works with directories (specified in compass.rb or in CLI), but not with individual files.

[2014-08-28 20:16] vance commented on #1702
Agree. is there some way to always use sprite dimensions? The use case for not using the sprite dimensions is, uh, about zero.

[2014-08-28 20:28] vance commented on #1432
I'm in the same boat. I can't figure out which images cause the problem (if that really causes it). The pngs in my sprite folder that don't work are pretty small. If I expand the size of the divs in quenstion, I can see that it is looking at the wrong coordinates (I can see the wrong sprites show up). It works for 95% of the other sprites (and there are a lot).

This seems independent of retina is

[2014-08-29 20:50] navarr opened #1800 "Using Compass without command line tools appears not to work"
Maybe this is my bad, but we're attempting to follow the instructions at [https://github.com/Compass/compass/blob/stable/compass-style.org/content/help/index.haml#L49](content/help/index.haml#L49) where it says to @import "compass/configuration" and run the `sass -r compass-core scss:css` command.

The problem is that sass cannot find "compass/configuration," despite including the compass-core lib

[2014-08-29 20:53] navarr commented on #1800
The docs should probably be updated to advise to just use the `--compass` flag.

[2014-08-30 00:12] jednano commented on #1251
I've noticed that running the `sprite-url` helper multiple times is what re-checks the sprite is unchanged or not. I got around this by caching the `sprite-url` in a variable for my use case, but I hope this helps target the problem for others.

[2014-08-30 00:15] jednano commented on #1363
1. Where is `$sprites-spacing` documented? I can't find it.
2. This doesn't work for me.

[2014-08-30 00:19] jednano commented on #934
The [CSS Sprite Helpers for Compass documentation](http://compass-style.org/reference/compass/helpers/sprites/) still states that calling `sprite-map` with `$new-spacing: 15px` is the way to do it. This wasn't working for me until I read this thread.

Calling `sprite-map` with `$spacing: 15px` solves this problem for me.

Can the documentation be updated to reflect this?

[2014-08-30 22:52] rpkoller opened #1801 ""Enclosing class/module unknown" warnings for fii in ri and RDoc documentation on Compass 1.0.1 clean install"
I am running 10.8.5 with ruby 1.8.7 (2012-02-08 patchlevel 358) [universal-darwin12.0]. So far i've used an older compass and sass version. I wanted to wait until the compass 1.0 final to  have a clean install of all my gems since i had some dependency troubles before. i've cleaned my local repository and then installed the latest version. I have to use `sudo`otherwise i get the following error:

[2014-08-31 03:48] m-spyratos opened #1803 "Compass watch works only the first time"
Running `compass watch .` compiles the scss files, but then changes are not detected.

**System Specifications**
OS: Windows 7
Ruby: v1.9.3
Sass: v3.4.2
Compass: v1.0.1

**Reproduce**
1. Install Ruby through Windows installer
2. Run `gem install compass`
3. Run `compass create test`
4. Run `cd test`
5. Run `compass watch .`

Compass will apply changes.
Any further changes though will be ignored.

[2014-08-31 07:19] ghost commented on #1794
I use grunt, sourcemaps work fine. It's relative to the actual css file.

[2014-08-31 07:37] erzki opened #1804 "Compass watch doesn't detect changes in sass 3.4.2"
gem list
bigdecimal (1.1.0)
breakpoint (2.5.0)
bundler (1.7.2)
chunky_png (1.3.1)
compass (1.0.0)
compass-core (1.0.1)
compass-import-once (1.0.5)
ffi (1.9.3 x86-mingw32)
io-console (0.3)
json (1.5.5)
minitest (2.5.1)
multi_json (1.10.1)
rake (0.9.2.2)
rb-fsevent (0.9.4)
rb-inotify (0.9.5)
rdoc (3.9.5)
sass (3.4.2)
sassy-maps (0.4.0)
susy (2.1.3)

Rubyinstaller on windows "Ruby 2.0.0-p481 (x64)" a

[2014-08-31 20:12] jbowyers opened #1805 "single-box-shadow - error on line 17 of mixin"
On Page: http://compass-style.org/reference/compass/css3/box_shadow/

Error on line 17 of single-box-shadow mixin:

$hoff should be $voff

[2014-09-01 11:27] scrichton opened #1807 "Chrome 37 Data URI load base64 Images"
It would appear that in the new release of chrome base 64 png images fail to load using the image-inline() methods.

if you inspect http://www.travelopo.com/ you will see the resource failures.

I've tried contacting the chromium team for resolution, but not sure if this is a compass related bug as jpg base64 encoding is correct.

I'm using OSX and the latest version of compass and ruby.

This is

[2014-09-01 12:58] liorocks commented on #1804
Have the same issue, but I downgraded it to **3.4.1** version.

[2014-09-01 13:16] mprins commented on #1804
duplicate of #1803

[2014-09-01 13:25] mprins commented on #1803
sass/sass#1409 is probably related

[2014-09-02 09:12] scrichton commented on #1807
it would appear that the compiler does not add the correct "image/png" data uri

[2014-09-02 09:30] cycold commented on #1804
Me too....

[2014-09-02 10:05] gatespace opened #1808 "add_import_path not working"
[code]

I used Foudatin 5.
But it does not work.
config.rb `add_import_path` does not work correctly.
it's bug?

see.
http://foundation.zurb.com/forum/posts/18624-foundation-5-and-compass-10

[2014-09-02 12:01] Trullus commented on #800
+1

[2014-09-02 18:12] Stefadesign commented on #394
Same in here. Just installed it on WIN 8 and same issue, initially it renders CSS file but "watch" is not working... I am running WIN8 x64 if that helps...

[2014-09-02 20:02] minneapolisdan commented on #1777
I have the same issue, and not having luck finding the solution at https://github.com/sass/sass/issues. I realize this isn't the place to ask for help, but can anyone point the way? I'll keep looking. I did find this, https://github.com/sass/sass/issues/1385, but don't understand how they're related.

[2014-09-02 20:13] minneapolisdan commented on #1777
Never mind, I'll file my issue in the right place with more details.

[2014-09-03 10:14] asso1985 commented on #394
Same here : initially renders the CSS file but "watch" is not working

[2014-09-03 15:40] emin93 opened #1809 "Single Box Shadow is buggy with the new version"
On Page: http://compass-style.org/examples/compass/css3/box_shadow/

I was looking for:
Single Box Shadow

But instead I found:
Just a 5px border bottom on the first example.

[2014-09-03 17:41] bcardarella opened #1810 "Compile command hangs with ruby 2.1.0-p0"
I haven't confirmed with other versions but I have a simple script:

[code]

I run `compass compile -c compass.rb` and it just hangs. The ruby process eats 99% of my CPU.

[2014-09-03 17:41] bcardarella commented on #1810
Any other info I can provide that would be helpful?

[2014-09-03 17:43] bcardarella commented on #1810
Confirmed this is OK with 2.1.2-p95

[2014-09-04 04:30] eddie-ruva commented on #1810
@bcardarella I was not able to reproduce this problem with the following configuration:

[code]

[code]

Does this look something similar to what you have?

[2014-09-04 04:51] eddie-ruva commented on #1809
@emin93 In the first example the single-box-shadow mixin is using the default values which are

[code]

From the w3c spec:

**1st length:** Specifies the horizontal offset of the shadow. A positive value draws a shadow that is offset to the right of the box, a negative length to the left.

**2nd length:** Specifies the vertical offset of the shadow. A positive value offsets the shadow down, a nega

[2014-09-04 05:22] eddie-ruva commented on #1798
@KevinSalter which version of compass are you using?

I tried to reproduce your problem with the following sass file

[code]

[code]

[2014-09-04 06:02] eddie-ruva commented on #1646
@scottkellum If the error that you see is

[code]

that is because is not a valid color. I think what you mean here is currentColor, small typo.

[2014-09-04 09:33] OlenDavis commented on #1511
You're wonderful; thanks!!

[2014-09-04 11:12] tamasd commented on #1769
I can confirm this bug on Mac OS X Mavericks with compass 1.0.1.

[2014-09-04 14:46] vladipus commented on #1281
I've met the same difficulties making compass watch actually work. I've switched to using the custom watchr-based scripts, using this tutorial: http://spin.atomicobject.com/2011/07/12/phonegap-with-haml-scss-and-coffeescript/

[2014-09-05 08:34] martin-eberle commented on #1077
In compass 1.0.1 this is still broken. :(

[2014-09-05 09:25] davgothic commented on #1803
They have fixed the bug in sass 3.4.3. I just re-installed sass and everything is working fine now.

[2014-09-05 09:53] pdrosos commented on #1642
Same issue here on Windows 7. It seems that we also have the problem with the long paths.
For now we downgraded as proposed above and the problem is gone, but we would like to use the latest version. When and in which of the next versions could we expect a fix of this issue?

Thanks.

[2014-09-05 10:15] Bobz-zg opened #1813 "Flexbox Error: Mixin flexbox takes 0 arguments but 1 was passed."
I'm trying to test this flexbox layout model in compass.
I run into problem, when I copy entire example to my localhost: http://compass-style.org/examples/compass/css3/flexbox/

I get following error:

[code]

To compile my scss files I use grunt-contrib-compass

ruby: 2.0.0p481 (2014-05-08 revision 45883) [x86_64-darwin13.1.0]
compass: Compass 1.0.1 (Polaris)
Sass 3.4.3 (Selective Steve)
grunt-co

[2014-09-05 10:59] AndrewDryga commented on #1077
@marteb developers don't bother about bugs, just closing it without comments.

See #1715

[2014-09-05 11:31] martin-eberle opened #1814 "sprite-path() does not honor the generated_images_dir path."
see #1077

the issue is still the same like in this ticket, which was closed without solution.

[2014-09-05 14:34] scottdavis commented on #1077
Sprites are going through a transformation to their own gem right now soon as chris approves the PR I will get this fixed and out with 1.0.1.rc

[2014-09-05 15:36] emin93 commented on #1809
Thanks for your fast reply. Let me try to explain again. In the older version of Compass, single-box-shadow had other default values than in the new one. In the new version of Compass, the default values are chosen impractical, because it looks like a 5px border bottom.

[2014-09-05 20:42] HadrienMP commented on #394
Same too. I tried on Windows 8 and on a clean ubuntu installation

[2014-09-05 23:37] kevinsalter commented on #1798
@eddie-ruva I'm also using `Compass 1.0.1 (Polaris)` and `Sass 3.4.2 (Selective Steve)`

I believe the difference is that I'm calling `experimental` directly, as in the example below.  Previously this worked fine.  Has this kind of access been deprecated, maybe?

This example was generated with `compass create sass-test` and then adding the following code to the `screen.scss`

[code]

This throws

[2014-09-05 23:56] eddie-ruva commented on #1798
@KevinSalter I see, I believe this has changed in the new compass version. For using _animation-duration_ there is a mixin called _animation-duration_ You can see more information about it in http://compass-style.org/reference/compass/css3/animation/#mixin-animation-duration

[2014-09-06 00:17] kevinsalter commented on #1798
@eddie-ruva right, that's what I ended up doing, was just calling `animation-duration` directly, just wanted to double check if the above issue was unexpected.  I'll go ahead and close this, cheers.

[2014-09-06 00:17] #1798 closed, assigned to nobody

[2014-09-09 01:17] voku commented on #1814
I also have problems with the sprite function: I use this dir-structure -> /themes/foobar/css, /themes/foobar/scss, /themes/foobar/images/ and I run all grunt jobs in the foobar directory ... if you need some other info, please ask! :)

error in grunt-output -> error scss/sprites.scss (Line 497 of d:/xampp/htdocs/maw-cms/themes/images/spritesTest/*.png: Invalid URL: ../images/spritesTest-s3567518b

[2014-09-09 02:32] xiaody commented on #1769
I came across this bug, too. Setting `sass_path` in the config file seems fix it.

[2014-09-09 03:54] doodirock opened #1815 "background: linear-gradient(); Being over written on output"
I've seen issues on this in the past, but not sure how to solve it.  I want to create a simple faded line.  When I write my css as is:

[code]

However the output is overwritten as:

[code]

Whats the best way to handle this use case?

[2014-09-09 04:33] eddie-ruva commented on #1815
Hi @doodirock I'm trying to understand what you want to do with this linear gradient to see if I can help you. I think the syntax is wrong because _linear-gradient_ takes a position which can be an angle or a keyword such as (to top, to bottom, to right, to left) and after that a list of color stops. You can find some examples here: http://compass-style.org/examples/compass/css3/gradient/

I think

[2014-09-09 04:36] doodirock commented on #1815
This is basically what I'm trying to build eddie.  Thanks so much for the help.

[2014-09-09 04:44] eddie-ruva commented on #1815
@doodirock Glad I was able to help!

[2014-09-09 04:46] doodirock commented on #1815
Just realized I didnt link my codepen

http://codepen.io/jared-christensen/pen/wlhzy

This seem about right in terms of what im going for?

[2014-09-09 09:09] henrahmagix commented on #1385
+1 for this, based on the browser support variables.

[2014-09-09 10:27] fgarcia opened #1816 "website does not render scss examples"
On Page: http://compass-style.org/reference/compass/typography/lists/horizontal_list/

I was looking for:
Change the scss style from sass by clicking the button at the top of the page

But instead I found:
Nothing happens, still renders sass style by default

[2014-09-09 11:45] LennyBalston commented on #1763
I had exactly the same error as mikapa.

I resolved this issue by changing the gemfile `gem 'sass-globbing', '1.1.0'`
and running `bundle install` again.

[2014-09-09 14:31] thany opened #1817 "Compass watch eating 100% CPU"
I'm seeing 100% CPU (on a single core) when using `compass watch`. However `compass compile --force` performs normally and returns in about a second.

This particular project happens to include bourbon as well, which kinda defeats the purpose of using compass, I realize that, but it's not my choice so I'll have to deal with it.

Compass 1.0.1, SASS 3.4.3, Windows 7. Tried with and without compass-

[2014-09-09 14:31] thany commented on #1817
Possibly somewhat related to [this issue](https://github.com/Compass/compass/issues/1271) even though the symptoms are slightly different.

[2014-09-09 16:34] adriancotter opened #1818 "1.0.1 upgrade problem: zen-grid-item"
Hope this is a good place to post this question. If not, if you have suggestions as to where I could get help, that would be greatly appreciated.

I use a PC. I was on compass 0.12 (I may have the exact number wrong)
When I upgraded my layouts were suddenly blown out, the width of the page being written as 200% instead of 66%.

This code

[code]

was producing

[code]

Now, with Compass 1.0.1 it i

[2014-09-09 20:25] zedalaye opened #1819 "compass imports never ends and eat 100% CPU"
I have these versions of compass related gems installed:

[code]

When I run `$ compass imports` the process never ends and eat a full CPU core.

The problem surfaced in RubyMine. The command it lauches is:

`/home/pierre/.rvm/rubies/ruby-2.1.2/bin/ruby /home/pierre/.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/bin/compass imports`

Same result.

[2014-09-09 21:47] eddie-ruva commented on #1815
@doodirock  For that I think you can use:

[code]

[2014-09-09 22:09] adriancotter commented on #1818
the problem seems to be around zen-grid-width: 100%
This seems to be setting the column width, not the full grid.
I don't see any documentation that says it should be doing this.

[2014-09-09 22:17] Bryce-Stark opened #1820 "update documentation"
You guys still have flexbox labeled in the css3 on your site, but when trying to import or view files........ 404.

thanks.

[2014-09-09 22:26] lolmaus commented on #1818
Here's the correct place to ask that: https://github.com/JohnAlbin/zen-grids/issues/

[2014-09-09 22:26] lolmaus commented on #1818
There seems to be a ticket for that already: https://github.com/JohnAlbin/zen-grids/issues/68

[2014-09-09 22:40] adriancotter commented on #1818
thanks @lolmaus

[2014-09-09 22:40] #1818 closed, assigned to nobody

[2014-09-11 05:43] peschee commented on #687
How about using inline image data?

https://gist.github.com/shiwano/3155735
http://cursor.sawyerhollenshead.com/

[2014-09-13 11:43] liunian opened #1823 "compile option mistake"
On Page: http://compass-style.org/help/

I was looking for:
There is no `compass compile --production`, but instead `compass compile -e production`

[2014-09-15 00:01] iamjonasmarlo opened #1824 "Compass install Error"
Hey,
if I'm trying to install compass my terminal always reports an error:

Jonass-iMac:~ Jonas$ sudo gem install compass
Password:
Building native extensions.  This could take a while...
ERROR:  Error installing compass:
    ERROR: Failed to build gem native extension.

[code]

checking for ffi.h... **\* extconf.rb failed ***
Could not create Makefile due to some reason, probably lack of necessar

[2014-09-15 18:27] mandymozart commented on #1769
@xiaody ... what did you set the sass_path to?

this thing is killing me

[2014-09-15 21:06] ksubileau opened #1825 "Encoding::CompatibilityError on Windows"
Hi,

When I try to run compass (watch or compile) on Windows, I get an encoding compatibility error as detailed below. Unfortunately, I have an accent in my user profile folder, and I guess that it's the reason of this issue. Of course, I could move the source folder, but it would be even better if compass could handle this case :)

[code]

[2014-09-16 03:41] maple-leaf opened #1826 "A bug when using pseudo element and icons-sprite"
See codes:

[code]

This will be compiled to :

[code]

you will see `.prev.disabled:hover:hover` at last style definition, this definition will overwrite the right one above.

[2014-09-16 15:16] tannerjfco opened #1827 "Dead link for gradient mixin on color-stops"
On Page: http://compass-style.org/reference/compass/helpers/color-stops/

I was looking for:
page links to http://compass-style.org/reference/compass/css3/gradient/
i'm guessing it should now link to http://compass-style.org/reference/compass/css3/images/

But instead I found:
404!

[2014-09-16 20:42] itecedor commented on #1769
We just hit this problem in an Ubuntu 14.04 environment where we didn't realized we'd installed 1.0 instead of 0.12.7 . . . reverting to 0.12.7 allowed us to continue. Just wanted to add that data point to the thread, this doesn't seem to be environment related...

[2014-09-17 01:49] aubricus commented on #1265
+1

Upgraded to `Compass 1.0.1 (Polaris)` today; noticed compile times are very slow (compared to the previous version of Compass running on the same project). Activity monitor shows 100% CPU usage from the `compass watch` process when compiles are triggered by file changes.

My project currently runs through a few loops to output some presentational classes useful for prototyping. Compile time is