[2010-11-22 15:15] chriseppstein commented on #223
Compass projects are fine. It was breakage in the compass extensions to sass when Haml::Util went away and lists were added.

[2010-11-22 15:58] slbug commented on #223
still not working. getting same error.

my Gemfile

<pre>
gem 'haml'
gem 'sass'
gem 'compass', :git => 'git://github.com/chriseppstein/compass.git', :branch => 'master'
</pre>

bundle list:

<pre>
  * compass (0.11.alpha.0.2048309 2048309)
  * haml (3.0.24)
  * sass (3.1.0.alpha.34)
</pre>

config/compass.rb

<pre>
project_type = :rails
project_path = Compass::AppIntegration::Rails.root
http_path

[2010-11-22 16:23] chriseppstein commented on #223
I cannot reproduce your particular issue. I ran thru the following steps:
1. rails new asdf
2. cd asdf
3. Add entries to gemfile from above
4. bundle install
5. bundle exec compass init rails
6. rails console
7. puts Sass::Plugin.options[:template_location]

It looks like you have an initializer in your setup. Compass no longer delivers an initializer to new rails projects -- it uses a Railtie ins

[2010-11-22 16:25] slbug commented on #223
yes, i have initializer

<pre>
require 'compass'
require 'compass/app_integration/rails'
Compass::AppIntegration::Rails.initialize!
</pre>

[2010-11-22 16:25] chriseppstein commented on #223
By the way, the specific issue appears to be that there's a template location of nil => nil registered in your app. We need to figure out what is adding that.

[2010-11-22 16:28] chriseppstein commented on #223
I tested with the initializer. everything still works ok for me.

<pre>
Gems included by the bundle:
  * abstract (1.0.0)
  * actionmailer (3.0.3)
  * actionpack (3.0.3)
  * activemodel (3.0.3)
  * activerecord (3.0.3)
  * activeresource (3.0.3)
  * activesupport (3.0.3)
  * arel (2.0.4)
  * builder (2.1.2)
  * bundler (1.0.7)
  * compass (0.11.alpha.0.2048309 2048309)
  * erubis (2.6.6)
  * haml

[2010-11-22 16:31] slbug commented on #223
I removed initializer and still have same issue.

[2010-11-22 16:33] chriseppstein commented on #223
@slbug, I'm out of ideas and cannot reproduce this issue. Please provide steps to reproduce from scratch or provide an archive of an application that demonstrates the issue.

[2010-11-22 16:46] slbug commented on #223
I've found problem. it fails only on rails master. dunno why.

[2010-11-22 16:50] slbug commented on #223
Seems like because of this commit - https://github.com/rails/rails/commit/32a5b49911b88e8e410583d382e8253004abce50#diff-6

[2010-11-22 17:01] chriseppstein commented on #223
Interesting. I can reproduce the problem now with this Gemfile:

<pre>
gem 'sass', :path => "/Users/chris/Projects/sass"
gem 'compass', :git => 'git://github.com/chriseppstein/compass.git', :branch => 'master'
gem 'rails', :git => 'git://github.com/rails/rails.git', :branch => 'master'
</pre>

[2010-11-22 17:02] chriseppstein commented on #223
But I have to stop working on this now... (day job)

[2010-11-23 04:57] nex3 commented on #223
This was caused by the new Sass/Rails integration work. I've pushed a change that should fix it.

[2010-11-23 05:00] chriseppstein commented on #223
Thanks, Nathan.

[2010-11-23 05:00] #223 closed, assigned to nobody

[2010-11-23 16:07] deleteme opened #224 "Add IE9 2D CSS Transform Support"
From http://blogs.msdn.com/b/ie/archive/2010/11/15/ie9-vendor-prefixes-and-developers.aspx,

"The Sixth Platform Preview of IE9 includes support for CSS3 2D Transforms. Similar to the use of “ms” in the Web Timing APIs, the 2D Transforms properties begin with –ms: -ms-transform and –ms-transform-origin."

[2010-11-24 05:04] slbug opened #225 "compass master + haml-edge"
Please make it possible to use compass master and haml 3.1.alpha. atm it gives error while doing bundle install.

<pre>
Bundler could not find compatible versions for gem "haml":
  In Gemfile:
    compass depends on
      haml (~> 3.0.23)

    haml (3.1.0.alpha.0)
</pre>

[2010-11-24 22:03] lmartins opened #226 "Error when installing CSS3 Pie with 0.11.alpha"
When i try to install this new module i get the following error:

Errno::ENOENT on line 144 of /Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/lib/compass/installers/manifest.rb: No such file or directory - /Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/frameworks/compass/templates/pie/manifest.rb
  /Library/Ruby/Gems/1.8/gems/compass-0.11.alpha.0/lib/compass/installers/manifest.rb:144:in `open

[2010-11-24 23:18] chriseppstein commented on #226
Sorry. The beta docs are actually ahead of the current alpha release. You need to install from master or wait to use this feature.

[2010-11-24 23:39] chriseppstein commented on #226
https://rubygems.org/gems/compass/versions/0.11.alpha.1

[2010-11-24 23:56] slbug opened #228 "problems on beta.compass-style.org"
JS alert almost on all pages:

<pre>
SyntaxHighlighter

Can't find brush for: sass
</pre>

[2010-11-25 00:22] imathis commented on #228
Thanks for the report, it should be fixed now.

[2010-11-25 00:24] slbug commented on #228
still have same issue. for example here - http://beta.compass-style.org/reference/compass/css3/gradient/

[2010-11-25 00:26] imathis commented on #228
Give it a hard refresh, it is fixed you may just have cached assets.

[2010-11-25 07:18] #226 closed, assigned to nobody

[2010-11-25 08:22] #228 closed, assigned to nobody

[2010-11-26 12:24] lgs commented on #164
... split http://vimeo.com/4335944 into a series of many shorter, updated videos, should be great !

bye luca

[2010-11-30 04:32] agibralter commented on #225
Also, isn't Sass a separate gem now? Could Compass just depend on the Sass gem?

[2010-12-03 02:36] chriseppstein opened #229 "ellipsis support in FF"
Brandon couldn't make the ellipsis binding work in FF 3.6, we need to sort this out.

[2010-12-03 19:15] tomstuart opened #230 "Blueprint 1.0 port buggy in Safari"
Something about the Compass 0.11.alpha.1 port of Blueprint 1.0 is causing odd behaviour in Safari, while the real Blueprint 1.0 is fine. I haven't tried any earlier versions of Compass so I don't know whether this issue predates 0.11.

For example:

[code]

With real Blueprint 1.0, both "Unvisited link" and "Visited link" appear in green as intended. With the Compass 0.11.alpha.1 port (blueprint/b

[2010-12-03 19:42] chriseppstein commented on #230
Thanks for the report and for testing the alpha release.

I cannot tell from this report what is broken. What value in your css were you expecting and what value did you get? What Sass code did you write, etc. What steps did you take to get to this issue. Thanks in advance for the additional information.

[2010-12-03 20:22] tomstuart commented on #230
Sorry, I'll try to be clearer.

The above page is a minimal, static HTML test case that doesn't involve writing any Sass. What's broken is the rendering behaviour in Safari, not any values in the generated files.

What I'm saying is: the screen.css, print.css and ie.css files which are generated out of the box by Compass 0.11.alpha.1's blueprint/basic pattern (i.e. what you get from `compass creat

[2010-12-03 23:51] chriseppstein opened #231 "extensions docs & ruby gems"
Update the doc to describe how to register an extension in a library file

and remove the dumb bit about being "outside the scope"

[2010-12-04 15:54] tmancino opened #233 "Compass stops auto-compiling in rails"
<cross posted to mailing list>
I had to clone my repo after blowing away the app directory, now compass will not autocompile, but the compass command works as expected. Is this expected behavior? I tried compass init rails, but and --force but nothing seems to work. Thanks....

[2010-12-04 16:58] lmartins opened #234 "filter-gradient causing clipping on negative margin elements"
Certainly not an Compass Issue, but something i've just came up to.
If i apply negative-margin on a element inside a container which has filter-gradient applied, the elemento with negative-margin gets clipped and none of the know workarounds seems to solve the problem.

[2010-12-04 17:19] tomstuart commented on #230
Having briefly investigated this, it looks like the difference is due to the Compass Blueprint port setting an explicit colour for `a:visited` (and `:active`), which Blueprint doesn't do.

On Safari this makes it hard to set a different colour for links, since a rule like `#foo a { color: green; }` will make `#foo`'s links green unless they're visited, in which case they continue to show up in the

[2010-12-06 04:42] chriseppstein commented on #233
google groups thread indicates this issue is resolved: http://groups.google.com/group/compass-users/browse_thread/thread/351706df2685d2d

I don't know of any thing I can do on my end -- closing.

[2010-12-06 04:42] #233 closed, assigned to nobody

[2010-12-06 04:52] chriseppstein commented on #234
If you find the cause is anything compass related, do let us know. Closing for now.

[2010-12-06 04:52] #234 closed, assigned to nobody

[2010-12-06 05:03] chriseppstein commented on #224
Add support for the -ms prefix in 2D transforms.
Closed by a86a94e4c222c29a2cb33b474078e25b28aa9576.

[2010-12-06 05:18] chriseppstein commented on #231
Clean up the extension documentation regarding creating rubygems. Closed by 5acbfc4879bd0e8c533b6cdede0c889a032667e6

[2010-12-06 05:18] #231 closed, assigned to nobody

[2010-12-06 05:19] chriseppstein commented on #225
Compass master now requires sass 3.1.

[2010-12-06 05:19] #225 closed, assigned to nobody

[2010-12-06 05:25] chriseppstein commented on #230
This is an area where Compass differs from Blueprint. It's an incredibly bad idea to not specify colors for each link state. Compass provides a simple mixin that let's you specify all the link-colors. I suggest you use that to set [link colors](http://beta.compass-style.org/reference/compass/utilities/links/link_colors/#mixin-link-colors). If you want to control the default color for links, the ea

[2010-12-06 05:25] #230 closed, assigned to nobody

[2010-12-06 05:26] chriseppstein commented on #210
We're reworking the homepage. It'll be better soon. Closing.

[2010-12-06 05:26] chriseppstein commented on #210
[link](http://beta.compass-style.org/)

[2010-12-06 13:03] #224 closed, assigned to nobody

[2010-12-06 13:26] #210 closed, assigned to nobody

[2010-12-06 15:16] deleteme commented on #224
Thanks!

[2010-12-06 21:28] imathis opened #236 "FSSM ain't happy with something"
On the compass docs when I reun ./bin/compass watch from /doc-src
I get this:

Same setup works fine with older versions.

[2010-12-06 22:02] chriseppstein commented on #236
I'll upgrade compass to fssm 0.2, but sass shouldn't force it's version unless the Sass CLI is being used.

[2010-12-07 22:08] chriseppstein opened #237 "document the compass unit test in the compass docs"
that is all.

[2010-12-11 01:04] doctyper opened #238 "ChunkyPNG throws an error when using the $<map>-position variable"
Using Compass (0.11.alpha.4, 0.10.6)

I _believe_ I have this narrowed down, but I could be wrong. This is the error I get:

`ChunkyPNG::OutOfBounds on line 233 of /Library/Ruby/Gems/1.8/gems/chunky_png-0.10.4/lib/chunky_png/canvas/operations.rb: Background image width is too small!`

The error occurs when I have a sprite map of two or more equal-dimension sprites. For my test case they were 38x38

[2010-12-13 10:44] flippingbits opened #239 "LoadError on line ["29"] of <internal: no such file to load -- lemonade"
It seems that you make usage of lemonade but didn't add it as a dependency to compass.

I'm getting the following error:
    LoadError on line ["29"] of <internal: no such file to load -- lemonade
when using compass 0.10.6 with Ruby 1.9.2 and running
    compass watch

It'd be cool, if you could add lemonade as a dependency to compass.

Regards

[2010-12-19 01:27] chriseppstein commented on #239
Compass does not require lemonade. Never has and never will. However in the v0.11 release, the lemonade functionality has merged into compass. If something is requiring 'lemonade', I suggest you grep your project and plugins.

[2010-12-19 01:27] #239 closed, assigned to nobody

[2010-12-19 02:40] chriseppstein commented on #238
fixed by 638fd8f54326e8ddb5e1a917b6a22f48c8b664a4

[2010-12-19 02:40] chriseppstein commented on #238
thanks for the great bug report.

[2010-12-19 03:39] chriseppstein commented on #236
this is fixed now.

[2010-12-19 03:39] #236 closed, assigned to nobody

[2010-12-19 10:40] #238 closed, assigned to nobody

[2010-12-22 20:56] scottdavis opened #240 "0.10.6 rails installer not putting public directories in right place?"
<pre>
138:recipe_box sdavis$ bundle exec compass init rails
directory src/
<b>directory stylesheets/</b>
   exists config/initializers
identical config/initializers/compass.rb
  convert screen.sass
   create src/screen.scss
  convert print.sass
   create src/print.scss
  convert ie.sass
   create src/ie.scss

Congratulations! Your rails project has been configured to use Compass.
Just one more thi

[2010-12-22 23:16] chriseppstein commented on #240
It works for me: [Gist](https://gist.github.com/b109cdc04897b1a72d9e).

Are you sure you don't have a compass config file already?

[2010-12-22 23:44] scottdavis commented on #240
i think the difference is i did a `bundle exec compass init rails` it was in a clean rails app so that seems to be the only difference

[2010-12-23 02:18] chriseppstein commented on #240
when I tried it that way it works too. Not sure what I can do here...

[2010-12-24 00:16] chriseppstein opened #242 "Central location for common compass extensions."
The folder `$HOME/.compass/extensions` should be auto discovered for extensions by the CLI.

[2010-12-27 00:50] billsaysthis opened #243 "Sprite command causes undefined method `declare' for Sass::Script::Functions:Module"
On OSX 10.6.5, ruby 1.9.2-p0, rails 3.0.3:

tester1: compass sprite "public/images/*.png"
/Users/billlazar/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.alpha.4/lib/compass/sass_extensions/functions/urls.rb:21:in `<module:Urls>': undefined method`declare' for Sass::Script::Functions:Module (NoMethodError)
    from /Users/billlazar/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.alpha.4/lib/compass/sass_

[2010-12-27 00:52] billsaysthis commented on #243
tester1: gem list compass

**\* LOCAL GEMS ***

compass (0.11.alpha.4)

[2010-12-27 01:18] chriseppstein commented on #243
Upgrading sass should clear up the issue.

[2010-12-27 01:24] billsaysthis commented on #243
I already have latest SASS as best I know:

tester1: gem list sass

**\* LOCAL GEMS ***

sass (3.1.0.alpha.206)
tester1: gem install sass --pre
Successfully installed sass-3.1.0.alpha.206
1 gem installed
tester1: gem list sass

**\* LOCAL GEMS ***

sass (3.1.0.alpha.206)

[2010-12-31 01:32] henry74 commented on #190
Getting the following similar error when using compass watch:

~/Documents/Ruby/awesome$ bundle exec compass watch
WARNING: Neither base.sass nor .scss found. Using base.css instead.
This behavior is deprecated and will be removed in a future version.
If you really need base.css, import it explicitly.

Here is my compass.rb file which is located a config folder one down from the app root directory

[2011-01-02 07:59] scottdavis commented on #240
yea its working now i think im just a retard

[2011-01-02 07:59] #240 closed, assigned to nobody

[2011-01-02 18:40] chriseppstein commented on #243
did you get things working yet?

[2011-01-02 18:46] billsaysthis commented on #243
Yes, you were right about HAML version needed. Still, can't get image_height, per my mail to the group list. Seems like passing a string name/path is erroring on RealPath method call.

[2011-01-02 18:48] chriseppstein commented on #243
I'll send you a reply to that on the mailing list.

[2011-01-03 02:48] #243 closed, assigned to nobody

[2011-01-13 12:58] buhrmi commented on #209
I've been looking for this, too. Here is my use case:

[code]

Hope it makes sense.

[2011-01-13 13:49] danjessen opened #247 "v0.11 issue when using $<map>-position"
this is using the "new" Spriting with Compass and calling
+<map>-sprite(name-of-image)
i set the position for the map to 100%
expected output should be:
background-position: 100% -xxpx;
but i get
background-position: 0 -xxpx;

[2011-01-13 13:50] danjessen commented on #247
meh comments don't allow the map tag, but i hope you get the point :)

[2011-01-13 14:15] hagenburger commented on #247
There are two different 100% positions for sprites:
1. the position in the sprite map
2. the CSS background position

Pleas have a look at [the spriting documentation](http://beta.compass-style.org/help/tutorials/spriting/) or this [visual guide to spriting](http://www.hagenburger.net/TMP/compass-sprites-position.png).

I hope, this answers the question.

[2011-01-13 15:46] chriseppstein commented on #209
You can get this behavior in an even more performant way by using the spriting features of compass v0.11. Please investigate and let me know if it meets your needs or not: http://beta.compass-style.org/help/tutorials/spriting/

[2011-01-13 15:57] buhrmi commented on #209
Yes, I agree that this is more performant when displaying a lot of small images at once. However, in my scenario, there are about 100 different images and each has a resolution of at least 300x300. IMHO, spriting does not make sense in this case.

[2011-01-13 16:00] chriseppstein commented on #209
will consider this feature for a future release. In the mean time, if you are handy with ruby you can extend compass to provide this feature. Poking around in the spriting code should reveal how.

[2011-01-13 16:01] buhrmi commented on #209
All right, will do!

[2011-01-13 17:19] timothyklim commented on #243
Hi! My Gemfile has same gems

<pre><code>gem 'sass', '>= 3.1.0.alpha.50'
gem 'haml-edge'
gem 'haml-rails'
gem 'compass', git: "git://github.com/chriseppstein/compass.git"
...
% gem list|ack sass
sass (3.1.0.alpha.214)
</code></pre>

and I'm got same error:

<pre><code>/Users/timothyklim/.rvm/gems/ruby-1.9.2-p136/bundler/gems/compass-8519a66a024e/lib/compass/sass_extensions/functions/urls.rb:21:in

[2011-01-13 17:57] jhilden commented on #243
I had the same error and this fixed it for me:

[code]

[2011-01-13 17:59] chriseppstein commented on #243
You should change haml-edge to:

[code]

And then run:

[code]

[2011-01-13 18:05] timothyklim commented on #243
@jhilden, @chriseppstein It works! Thanks.

[2011-01-13 21:50] #247 closed, assigned to nobody

[2011-01-14 23:01] chriseppstein opened #248 "Sprite hover selectors"
generate a :hover selector if filename ends in _hover.

[2011-01-14 23:02] imathis commented on #248
I like this. Also, I wonder if _active -> :active while you're at it.

[2011-01-14 23:43] chriseppstein commented on #248
any other states? :target ?

[2011-01-14 23:45] chriseppstein opened #249 "disable sprite folder prefix in selectors"
Add an option to be able to take off the sprite folder prefix in sprite selectors.

[2011-01-14 23:47] imathis commented on #248
Seems like :target is sensible. I don't have a full list of interactive pseudo selectors, but I think those are probably it.

[2011-01-14 23:54] chriseppstein opened #250 "css3 grid background"
Use Divya's fancy grid maker.

[2011-01-14 23:56] nimbupani commented on #250
WOOT. Result: http://dl.dropbox.com/u/952/compass-grid/index.html

Mixin: https://gist.github.com/763090

[2011-01-15 14:31] lmartins opened #251 "Error after upgrade to v.0.11"
After upgrading to the latest version, i get the following error when i try to run any command in compass:

/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.0/lib/compass/sass_extensions/monkey_patches/browser_support.rb:68: undefined method `to_literal' for class`Sass::Script::Funcall' (NameError)
    from /Library/Ruby/Site/1.8/rubygems/custom_require.rb:29:in `gem_original_require'
    from /Libra

[2011-01-15 18:25] lmartins commented on #251
Sorry, not a bug. Had to force update to SASS in order to get it to work.

[2011-01-15 18:25] #251 closed, assigned to nobody

[2011-01-17 18:00] mirisuzanne opened #252 "sass 3.1.0.alpha.217 breaks support for browser prefixes"
+background-image(linear-gradient(...)) outputs only the official syntax, and +background-size(...) outputs nothing at all. Those were the two I tested. Downgrading sass to v. 3.1.0.alpha.216 fixes the problem.

If this is actually a sass problem let me know and I'll post it over there.

[2011-01-17 18:04] chriseppstein commented on #252
Yes. it's a sass bug. I traced it to this commit: https://github.com/nex3/sass/commit/947e8cfc6bc31a7f39933a5d4035f6da75dcb5d1

It causes the `@if` directive to not output it's contents under some conditions that I have yet to isolate.

[2011-01-18 09:22] lmartins opened #253 "Sprites spacing not considered in generated sprite-position"
The following code produces an image with the request spacing between sprites, the problem is that the +sprite-background-position generates coordinates like if there was no space between the sprites:

$icons: sprite-map("sprites/icons/_.png")
$icons-spacing: 10px
@import sprites/icons/_.png

label.restaurantes
    @extend .icons-sprite
    +sprite-background-position($icons, searchicon-restaurant

[2011-01-18 09:45] lmartins opened #254 "Border-radius not being processed"
After upgrading to Compass 0.11.beta.1, the mixin +border-radius() does nothing. The generated code doesn't include any declarations for any browser.

Not sure if related, but i had also some mixins for position +absolute-top-left() that would accept up to 4 variables. Since the upgrade, that mixins do work but wont process any of the variables.

[2011-01-18 14:02] roytomeij commented on #254
+1 on this one.

[2011-01-18 14:38] roytomeij opened #255 "Remove old sprites when a new sprite is created"
Unless I'm misunderstanding some internal workings of Compass, removing old sprites when a new one is generated saves us from ending up with dozens of sprites after a while.

[2011-01-18 15:11] chriseppstein commented on #255
This cannot be done unfortunately. This is because you can make several spritemaps from one sprite directory. These could have been done in other stylesheets with slightly diff params or by using globbing to select different sprites.

Best solution I have so far is to remove all sprite maps and then recompile. There's another issue open to do that.

[2011-01-18 15:11] #255 closed, assigned to nobody

[2011-01-18 16:48] lucasefe opened #256 "Compass doesn't find plugins on Ruby 1.9.2"
Hi, I have a new Rails 3 project setup with compass 0.10.6 and compass-960-plugin.

When using it with ruby ree/1.8.7, I see the following output:

<pre>
Available Frameworks & Patterns:

  * blueprint
    - blueprint/basic      - A basic blueprint install that mimics the actual blueprint css.
    - blueprint/buttons    - Button Plugin
    - blueprint/link_icons - Icons for common types of links

[2011-01-18 17:11] mirisuzanne commented on #254
The first part of this sounds to me like a known bug in sass 3.1.0.alpha.217. Any chance you upgraded to that at the same time? If so, try jumping back to 214.

[2011-01-18 17:20] roytomeij commented on #254
No, it happened right after I upgraded from Compass 0.11.alpha.4 to beta.1, without changing the Sass version.

[2011-01-18 17:35] jonasvp commented on #254
We seem to have a similar issue: running on Ubuntu or OS X, 0.11.beta.1 works fine. On Debian, even with a self-compiled version 1.4.1 of rubygems, it doesn't include border-radius or box-shadow and only the CSS3 version of linear-gradient (background-image: linear-gradient()) No fallbacks for -webkit or -moz.

We also use CSS3PIE and the necessary support declarations (behavior, etc.) don't appea

[2011-01-18 18:11] jonasvp commented on #254
Wow... your tip to downgrade sass to 3.1.0.alpha.214 helped wonders. We're up and running again! Thanks a lot, hope you'll be able to find the regression introduced in those 3/1000s of a version. I'll be glad to help if I can.

[2011-01-22 01:23] heygrady opened #259 "Need to dec-to-hex function to manipulate color strings, particularly in IE"
You can see that [madr](https://github.com/madr/css3-sass-mixins/) is trying to make a SASS/Compass mixin that supports everything in [CSS3 Please!](http://css3please.com/) and is unable to because SASS doesn't allow for string manipulation on colors and doesn't support a dec-to-hex function.

Here's an issue he's filed on his own library.
https://github.com/madr/css3-sass-mixins/issues#issue/2

T

[2011-01-22 01:28] chriseppstein commented on #259
I already made this function to support the [filter-gradient mixin](https://github.com/chriseppstein/compass/blob/master/frameworks/compass/stylesheets/compass/css3/_images.scss#L50-63). It is `ie-hex-str($color)`. The color can be in any form that sass understands and it will get translated to the backward ie hex string they use.

This feature is available in the latest betas.

[2011-01-22 01:53] heygrady commented on #259
My guess is that this isn't fully released yet? I just ran a gem update and this doesn't appear to work for me. I don't have any of the edge stuff installed.

[2011-01-22 04:28] chriseppstein commented on #259
It's in beta and will be released once Sass 3.1 is out. You can install the beta like so:

[code]

[2011-01-22 09:28] #259 closed, assigned to nobody

[2011-01-24 17:35] chrisrohr opened #260 "Request to add color options to the alternating-rows-and-columns"
I think it would be useful to add text color options to the alternating-rows-and-columns.  That way if someone picks darker colors for the backgrounds they can lighten the text color all with in the same call.

[2011-01-25 23:20] ghost opened #262 "line spacing"
Hi, someone probably already asked thsi question, but after a bit of reasearch I haven't come to the solution yet.
is there a way to get rid of the line spaces between rules (for the output css) without having to nest elements one in another?

I mean, I get this:
.crowns_baron { background: url('/images/crowns.png?1296421758') 0 -27px; }

.crowns_count { background: url('/images/crowns.png?1296421

[2011-01-25 23:22] ghost commented on #262
ah, it looks in :compact mode for some reason...

I just want it to be without space, e.g.
this is a css rule
this is another css rule

and not
this is a css rule

this is another css rule

[2011-01-25 23:23] chriseppstein commented on #262
That would be a Sass concern, can you file an issue over there?

[2011-01-25 23:23] #262 closed, assigned to nobody

[2011-01-26 14:02] esamattis opened #263 "Compass watch fails when writes come from a remote SSHFS mount"
Consider this scenario:

I have a testing server (Debian squeeze) and a workstation (OS X).
All my scss files are on the server and I have Compass watch running on the server.
On the workstation I have a SSHFS mount of the server-side scss-directory for editing.

Inotify events do make up to the server and compass tries to compile the scss files, but the compiled file is empty!

I did lookup for p

[2011-01-26 17:23] ttilley commented on #263
Since Compass was the original inspiration for writing FSSM, and still where I end up using it the most, anything that causes problems for compass users is a big deal in FSSM. Nathan (nex3) actually wrote both the inotify backend for FSSM as well as the library said backend uses.

[2011-01-26 17:45] ttilley commented on #263
I've updated the backend in master, and am just trying to figure out how best to reliably reproduce this bug /locally/ so that it can be captured in a test. I'll be setting up another VM to experiment with that, but any suggestions between now and when I get home from work would be greatly appreciated. ^_^

[2011-01-26 20:19] chriseppstein opened #264 "Reset 2.0"
http://meyerweb.com/eric/thoughts/2011/01/26/reset-v2-0/

[2011-01-27 04:35] hoopyfrood commented on #264
yes please, I was hoping this would happen.

[2011-01-27 19:58] virtualmice opened #265 "invalid option: --using"
Whenever I try to create a stand-alone Compass project or to Compass-enable a Rails project I keep getting this error:

$ compass create my_project --using blueprint/semantic

/usr/lib/ruby/1.8/optparse.rb:1450:in `complete': invalid option: --using (OptionParser::InvalidOption)

Same in rails with
$ compass init rails . -f blueprint/semantic

Have I missed something  ?

Also, I've just noted a di

[2011-01-27 19:59] chriseppstein commented on #265
Almost certainly.

[2011-01-28 03:59] #265 closed, assigned to nobody

[2011-02-01 17:49] amaia commented on #164
A tutorial on compass with semantic blueprint would be great, I'm also a bit lost on that.

Just watched the video on vimeo and it's just what I needed to understand better how things work, thanks for that video.
I think it should be linked from the website, even if it's a bit outdated, maybe with a note like "this video is a bit outdated but still useful" or something like that.

[2011-02-02 18:38] ericdfields opened #268 "Sprite generation: PNGs files starting with numbers don't compile."
Renamed a file from '5-3-2_doodad.png' to 'doodad.png' and it worked.

[code]

[2011-02-02 20:01] chriseppstein commented on #268
Yes, this is because the filename becomes a css class and css classes can't start with numbers. I'll make a note in the docs.

[2011-02-02 21:11] chriseppstein commented on #268
Also, maybe we could come up with a better error message :)

[2011-02-04 00:25] mirisuzanne opened #270 "new x-browser font-face technique"
http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax

Removes the need for special handling of EOT files in compass. They should simply be listed first, and with the trailing hash by the designer.

A backwards-compatible change could mean the arguments remain the same, but if $eot is specified, it simply gets the hash added and is prepended to the other $font-files. From there, $eot

[2011-02-04 03:51] paulirish commented on #270
i pinged chris on this guy this morning. I'm a +1 behind it.

The downside is you will ALWAYS serve webfonts to Android 2.2+ ... but.. I guess that's what people want?

[2011-02-07 02:16] derek73 opened #271 "command line interface truncates file name"
I am working on a project that has a layout non-rails project layout. I would like to hook up compass to our existing css compile process in the same way that we use sass. However it appears that the command line interface is broken.

[code]

Seems regardless how I attempt to pass in a specific scss or sass file, the resulting css file's name gets truncated (css/styles.scss > css/les.css).

[2011-02-09 15:17] apraditya opened #272 "compass generator for rails 3.x"
Just notice that running

[code]

put compass.rb inside config/ and it caused this error http://pastie.org/1541736. The file should be in config/initializers/

[2011-02-09 17:04] chriseppstein commented on #272
There should be a compass.rb in config as well as config/initializers

[2011-02-09 18:44] scottdavis commented on #272
theres no need for ./

just `compass init rails --using blueprint` from within the directory

guess the documentation on this needs to be updated

[2011-02-09 20:12] hoopyfrood commented on #270
+1

[2011-02-14 15:10] roytomeij opened #274 "Stack level too deep when using 30+ images in sprite"
In one particular project (running in Middleman) a "stack level too deep" error occurs when using over 30 images in a sprite directory. Is this a known error? Stack trace below.

[code]

[2011-02-14 16:48] chriseppstein commented on #274
I've personally made sprite maps with more than 30 images in them. Are you sure this is about how many images and not due to a strange image?

[2011-02-14 16:50] chriseppstein commented on #274
You can try generating a sprite file with the `--skip-overrides` option instead of using the autogenerated one.

[2011-02-14 17:03] roytomeij commented on #274
I also have projects with well over 30 images. In this particular project I tried different files as the 31st one. Let me see if they aren't all corrupt in some way.

[2011-02-15 18:39] rathgar commented on #265
I just had exactly the same issue.

Discovered that I had a version of compass installed outside of rvm. The solution that worked for me was to go to home dir and uninstall all versions of compass. Restart your terminal sessions then go back to the project directory and bundle install again. IT should be fine.

[2011-02-17 20:28] alanhogan opened #276 "compass/reset could include HTML5 shim"
Styles applied to e.g. <header> won’t take properly in e.g. Firefox 3.6 without

[code]

More than this is actually recommended for an HTML5-ready reset; see http://html5doctor.com/html-5-reset-stylesheet/

[2011-02-17 23:51] chriseppstein commented on #276
I don't include it by default yet, but the mixin exists:
http://beta.compass-style.org/reference/compass/reset/utilities/#mixin-reset-html5

[2011-02-19 03:46] alanhogan commented on #169
The simplest thing to do is work with `growlnotify`, the command-line tool for Growl that ships with Growl but is not included by default.

[code]

The proper thing is to actually use Growl, but hey.

(I’m not working on this, but would love to see it.)

[2011-02-19 03:52] alanhogan opened #277 "Variables not scoping or working as expected"
Steps to reproduce:

style.scss:

[code]

display.scss:

[code]

Expected:
: The radial gradient does not include `-webkit-` support, but the `border-radius` does

Actual
: Radial gradient as expected, but now `border-radius` did not generate `-webkit-` code!

[2011-02-19 03:55] alanhogan commented on #277
(Edited: style.css variable, I made a typo confusing `true` and `false` in this bug report)

[2011-02-19 04:04] imathis commented on #277
This is a misunderstanding of variable scoping. The $experimental-support-for-webkit variable is global, it must be set before you <code>@import "compass";</code>.

If you want to just use a specific vendor you can also do this:
<pre><code>background-image: -moz(radial-gradient(50% 400px, circle farthest-side, red, black));</pre></code>

Also just so you know, when you import compass, you also imp

[2011-02-19 04:08] alanhogan commented on #276
Works for me. Your call to close the issue, include it by default, or maybe make a bigger stink about the option in the docs (my vote: the include by default, but I don’t care much)

[2011-02-19 04:10] alanhogan commented on #277
Hmm, then why in [this demo page](http://beta.compass-style.org/examples/compass/css3/gradient/) does ` $experimental-support-for-svg: true;` get set for just one CSS block?

[2011-02-19 04:13] alanhogan commented on #277
Also, just realized I am dumb for filing this as a compass bug, not a sass bug.

Still, I’m not sure what’s going on. Is that declared to be global somewhere?

[2011-02-19 04:56] chriseppstein commented on #277
A variable is only scoped to a block if it didn't exist already.

[2011-02-19 04:57] chriseppstein commented on #169
Soon compass will have callbacks that can be used to integrate with growl.

[2011-02-19 05:27] alanhogan commented on #277
Thanks.

So to achieve the above, would this work:

[code]

[2011-02-19 12:04] #277 closed, assigned to nobody

[2011-02-20 06:49] scottdavis opened #279 "wrong command line help for the pie extension"
- compass
  - compass/ellipsis     - Plugin for cross-browser ellipsis truncated text.
  - compass/extension    - Generate a compass extension.
  - compass/pie          - Plugin for cross-browser ellipsis truncated text.
  - compass/project      - The default project layout.

[2011-02-21 10:33] ramaboo opened #281 "alternating-rows-and-columns better defaults"
I think the function:
alternating-rows-and-columns($even-row-color, $odd-row-color, $dark-intersection, $header-color, $footer-color)

should have a default value for $dark-intersections so that the function could be used like this

@include alternating-rows-and-columns(red, blue) rather than @include alternating-rows-and-columns(red, blue, false)

It would also make sense (to me at least) to prov

[2011-02-21 10:37] ramaboo commented on #281
I would also think default values should be false rather than white so that if the user does not supply an argument the result is no action rather than an arbitrary default color. Alternately these default colors could be addressed in a global configuration file.

[2011-02-21 10:37] #281 closed, assigned to nobody

[2011-02-21 21:03] chriseppstein commented on #279
Fix copy/paste error. Closed by 3ee95174ebe2f987024cc1406eef592413837532.

[2011-02-21 21:03] #279 closed, assigned to nobody

[2011-02-22 00:26] chriseppstein opened #282 "In v0.11, warn people if compass gets booted twice"
They probably have an unnecessary initializer.

[2011-02-22 18:35] stevelacey opened #284 "Untitled"

[2011-02-23 01:09] #284 closed, assigned to nobody

[2011-02-24 10:20] scottdavis opened #285 "sprites dont update if a sprite file changed but the sass file stays the same"
This is mostly so i don't forget but if you remove a generated sprite but don't change the mtime on a sass file then the sprite doesn't get regenerated. There should be some sort of check to update the sprites maybe store some info in a temp file?. Implementation is the part im stuck on.

line 126: compiler.rb
options[:force] || Sass::Plugin.send(:stylesheet_needs_update?, css_filename, sass_filen

[2011-02-24 10:53] scottdavis commented on #169
And a growl plugin! it will be done once i find out a ruby growl library that isn't horrible

[2011-02-24 10:56] scottdavis commented on #285
this is with the rails configuration

[2011-02-25 20:22] MyHealthTeams opened #286 "Webkit gradient doesn't properly parse the color stop"
A simple line like this (following the docs):
    @include linear-gradient(color-stops(#CCC, white 60%), top);

Is compiled into the following css:
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #CCC), color-stop(100%, white));
    background-image: -moz-linear-gradient(top, #CCC 0%, white 60%);
    background-image: linear-gradient(top, #CCC 0%, white 60%);

I've tr

[2011-02-25 20:25] MyHealthTeams commented on #286
OK I feel sheepish.  Forgot to restart our server after upgrading Compass to version 0.11.beta.2.  After restarting, color stops in webkit work!  Success!!  I'll go answer that stackoverflow question now.

Cheers!

PS: I still want to know where grad-color-stops is defined...

[2011-02-25 20:25] #286 closed, assigned to nobody

[2011-02-26 00:42] MyHealthTeams opened #287 "Webkit linear gradients don't support pixel color-stops"
Linear gradients specified with pixels for color stops work in Firefox but not in Webkit.  This is a blocking issue for us.

[code]

**Should produce (for webkit):**

[code]

I've checked out the code and will look at how to fix it, but it'd be nice if someone more familiar with the problem/potential solutions would help.

[2011-02-28 22:37] dlo opened #288 "Compass watch is broken on OS X Lion"
Here is the traceback. Not really sure if this is library related to compass or what, but it certainly breaks the FSEvents hook.

[code]

[2011-02-28 22:40] chriseppstein commented on #288
That code is in [Sass](https://github.com/nex3/sass) which is vendored from [FSSM](https://github.com/ttilley/fssm). I don't have access to Lion, so it'd be awesome if you could diagnose the issue and provide a patch if possible.

[2011-02-28 23:01] dlo commented on #288
@chris As soon as I get a chance I'll put some work into it. Super busy ATM but I'd love to help, just wanted you to be aware of the issue.

[2011-03-01 00:18] ttilley commented on #288
this makes me a saaaaad panda

[2011-03-01 18:51] aurelien-baudet opened #289 "Bug with transition mixin + transform as property"
Hi!

It's not possible to do this:
@include transition-property(transform)

In order to have:
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform
...

Instead it generates:
-webkit-transition-property: transform;
-moz-transition-property: transform;
...

Of course the generated css doesn't work

Thanks

[2011-03-01 22:31] chriseppstein commented on #289
hmmm. That's certainly annoying. I'd rather not bake-in a list of what properties are prefixed and what aren't. What if there was a `transition-prefixed-property` mixin?

[2011-03-02 07:38] aurelien-baudet commented on #289
Yes you can use a special mixin for that, the important is to have the good result for each browser

[2011-03-02 08:36] aurelien-baudet opened #290 "Sprite: new features"
<ol>
    <li><b>optimize the final sprite image to have less blanks as possible (if using different sizes)</b>
        <pre>
Example:
    wanted result: <a href="http://img819.imageshack.us/i/spritemanuel.png/">http://img819.imageshack.us/i/spritemanuel.png/</a>
    actual result: <a href="http://img825.imageshack.us/i/sprite4fcf1a7b31.png/">http://img825.imageshack.us/i/sprite4fcf1a7b31.png/</a>

[2011-03-02 08:42] aurelien-baudet opened #291 "CSS3: animations"
Actually, the CSS3 animation feature (http://www.w3.org/TR/css3-animations/) is not supported by compass.
Is it possible to add the following mixins:

<pre>
animation($name, $duration, $timing_function, $delay, $iteration_count, $direction)
animation-name($name)
animation-duration($duration)
animation-timing-function($function)
animation-iteration-count($count)
animation-direction($direction)
keyf

[2011-03-02 08:55] hagenburger commented on #290
**@1. optimize the final sprite image to have less blanks as possible (if using different sizes):**

This would break the original use case Compass Sprites ([Lemonade](http://www.hagenburger.net/BLOG/Lemonade-CSS-Sprites-for-Sass-Compass.html)) was made for. Your example would be useful if you use sprites as an image replacement (having an HTML element with exactly the size of the image). Compass

[2011-03-02 09:00] hagenburger commented on #290
**@2. possibility to make one image for all css files**

Sure.

[2011-03-02 09:02] hagenburger commented on #290
**@3. possibility to make a meta sprite from separated sprites:**

I think this would make it too complicated. Also for my experiences it’s OK to have more than one sprite map (outputted sprite PNG).

[2011-03-02 09:10] hagenburger commented on #290
**@4. possibility to make a meta sprite from separated sprites:**

Hmm … it think it’s good to have readable code. Very often “normal” designers work in the same project. So it’s important to understand each line as much as possible. If there’s some magic somewhere else, it could be more complicated. Again: This could be useful for projects with just image replacements. If you use background-posit

[2011-03-02 09:17] aurelien-baudet commented on #290
Thanks for the responses.

- the automatically generated sprite by compass is <b>2.77 Kb</b>
- the automatically generated sprite by compass after optimization using gimp is <b>2.49 Kb</b>
- the manual sprite image using gimp is <b>1.71 Kb</b>

This is 0.78 Kb less (using gimp for both) so it saves 31% for this simple image. In our website, we have more than 50 images from different sizes. So we c

[2011-03-02 10:22] aurelien-baudet opened #292 "Sprite: impossible to load gif images"
When using the sprite feature, it fails when loading gif images
      @import "smileys/*.gif";

Fails with:
     Line 4: File to import not found or unreadable: smileys/*.gif

[2011-03-02 10:32] hagenburger commented on #292
Compass Sprites uses [chunky_png](https://github.com/wvanbergen/chunky_png) which supports PNG files only. This way you don’t need to use RMagick which is known to have struggles while installing. Please convert your GIF files to PNG (you won’t have any difference in the resulting sprite map).

[2011-03-02 15:33] chriseppstein commented on #292
There's a plugin to compass coming that uses rmagick instead of chunkypng. For people who install this plugin, I think this can be made to work so I reopened it.

[2011-03-02 15:35] chriseppstein commented on #274
Any followup?

[2011-03-02 17:12] scottdavis commented on #292
Noted ill add this to my feature list for the plugin

[2011-03-05 23:17] palosopko opened #295 "Segmentation fault on file change"
When I tried Mac OS Lion Developer Preview `compass` didn't work properly. Watch started alright but once you save a file it fails with a segmentation fault:

[code]

[2011-03-06 21:14] scottdavis commented on #295
I don't think anyone has a copy of lion that works on compass but your more then welcome to supply a patch

[2011-03-06 21:15] scottdavis commented on #295
also this is more of an FSSM bug

[2011-03-08 10:44] aurelien-baudet opened #296 "Bug with repeat-x"
Hi,

I have a sprite with many images and not with the same size. The width of the generated sprite is 1024px. I have a 22px image that I want to put in this sprite and repeat it horizontally. I used the variable
    $<map>-<sprite>-repeat: repeat-x;
as described in the documentation but I got the error:
    ChunkyPNG::OutOfBounds on line ["233"] of D: Background image width is too small!

stack:

[2011-03-08 16:18] mobilutz opened #297 "Compass::AppIntegration::Rails.env returns wrong value"
In one of my applications I use a custom environment value.

Using "Compass::AppIntegration::Rails.env" does not return the same value as "Rails.env" which corrupts the processing of the scss.

[2011-03-08 18:01] chriseppstein commented on #296
Hi Nico, could you investigate this?

[2011-03-09 08:41] digitarald opened #298 "Installed chunky_png 1.0.1 – "compass --pre" says it requires chunky_png ~> 0.12.0"
Installing compass --pre requires chunky_png ~> 0.12.0

Installing chunky_png installs 1.0.1.

Installing compass --pre still fails with requiring chunky_png ~> 0.12.0

[2011-03-09 14:54] scottdavis commented on #298
im working on a patch for 1.0.1 until then 0.12.0 is the stable currently used in the compass beta

[2011-03-10 16:54] ganar opened #299 "WARNING: Neither typography.sass nor .scss found. Using typography.css instead"
The following message appears upon rendering fancy-type, I downloaded the file from git-hub

[code]

[2011-03-10 17:12] chriseppstein commented on #299
Doesn't sound like you have compass installed correctly. You can't just drop a file into your project. Please contact the mailing list for support after following the compass installation instructions.

[2011-03-10 21:00] ganar commented on #299
Solved: I was importing the mixing in the wrong way. Thanks for your help with this issue Chris

[2011-03-11 01:12] #299 closed, assigned to nobody

[2011-03-14 03:18] skue commented on #288
Why is this closed?

I get the same error in Snow Leopard 10.6.6 running ruby 1.8.7 (2009-06-12 patchlevel 174). I've never been able to get compass watch to work...

[2011-03-14 03:57] chriseppstein commented on #288
I think it got closed on accident.

If you've never had the watcher work, it's certainly system specific, you can file a bug if you want, but I doubt it'll get worked on anytime soon -- as always with open source projects, patches are accepted.

[2011-03-14 04:09] skue commented on #288
Ah. Will try to hunt it down then and send you a patch/pull response if needed. Thanks.

[2011-03-14 21:59] ijy opened #300 "config.rb ignored until forced"
Changes in the config.rb file appear to be ignored even if the source file (.scss) is newer than the target file (.css). Forcing the issue works but doesn't fix the problem. i.e.

compass compile --force stylesheets

[2011-03-16 15:32] chriseppstein commented on #254
the sass issue is fixed now. Closing.

[2011-03-16 15:32] #254 closed, assigned to nobody

[2011-03-16 15:34] chriseppstein commented on #264
This is in thanks to @ericam

[2011-03-16 15:34] #264 closed, assigned to nobody

[2011-03-16 15:38] chriseppstein commented on #297
Compass only has two environments development and production. I can revisit this design decision soon, but in the time being you should probably refer to Rails.env directly. If this work around doesn't work, please let me know why.

[2011-03-16 15:40] chriseppstein commented on #285
Can you test again with yesterday's release? I think it might be fixed.

[2011-03-16 15:46] chriseppstein commented on #272
There's new installer documentation in the latest docs:
http://beta.compass-style.org/download/

[2011-03-16 15:46] #272 closed, assigned to nobody

[2011-03-16 15:56] scottdavis commented on #272
was more of a axe the compass rails init . and use the rails generate compass:init using thor .. was merely a suggestion but its pretty much a consistency thing its just intuitive  for me to look at the generators after installing a gem to see if there is anything i need todo

[2011-03-16 15:57] scottdavis commented on #272
oh wait this is a way old ticket
i should read the tickets first lol .. its too early

[2011-03-16 23:29] jeff-foster commented on #169
I may try my hand in it using growlnotify. I haven't even looked into any code yet. Are callbacks even necessary for it to work?

[2011-03-17 04:01] ttilley commented on #288
This would, in fact, be an FSSM bug and not a compass bug regardless. I have access to lion, but enough of my dev/play environments outright break that I played with it quite briefly before reverting to a backup. Besides, that change in scroll behavior makes me want to stab someone in the face.

If this continues to occur, and you file a bug for it in the FSSM issues system rather than here, I wil

[2011-03-17 04:19] scottdavis commented on #169
growlnotify isn't a good option because you have to install it from another package with the new version of growl. they also discourage coding against it

[2011-03-17 05:49] adambom opened #302 "Be able to place @imports within CSS 3 Media Queries"
This currently returns an error at compile time when I try to include a partial partials/grid_overlay within a CSS 3 Media Query tag:

<pre><strong>error src/screen.scss (Line 4: Invalid CSS after "...s/grid_overlay"": expected selector or at-rule, was "@import "partia...")</strong></pre>

<strong>/// For Example ///</strong>

I want to generate the following CSS, which should display a different

[2011-03-17 06:04] alanhogan commented on #169
Callbacks are not necessary but as noted, growlnotify isn't a good option for something you want to distribute. It'd be a good hack for personal use though.

[2011-03-17 06:49] chriseppstein commented on #302
What version of sass are you using? I think this should work in the alphas.

Chris

Hunt & pecked on my iPhone... Sorry if it's brief!

On Mar 16, 2011, at 11:49 PM, adambomreply@reply.github.com wrote:

[2011-03-17 07:23] adambom commented on #164
I've set up a repo called Boilergrid (https://github.com/adambom/Boilergrid-for-Compass/), which is a nice semantic implementation of blueprint using compass. I've integrated Paul Irish's HTML5 boilerplate for cross-browser, optimized markup.

Using this as a template should help you get up and running with compass and blueprint.

Add all of your styles in scss or css in /css/src/partials/_main.sc

[2011-03-17 07:29] adambom commented on #302
Version 0.10.6

Is this that the alpha, or should I fetch from the source? There's nothing new from Gem.

Running osx 10.6.1

[2011-03-17 14:35] chriseppstein commented on #252
Fixed in Sass now.

[2011-03-17 14:35] #252 closed, assigned to nobody

[2011-03-17 14:42] chriseppstein commented on #302
This is implemented in Sass 3.1, you can upgrade to the latest alpha if you need this feature.

[2011-03-17 14:42] #302 closed, assigned to nobody

[2011-03-17 14:50] chriseppstein commented on #274
Closing. There's not much I can do about this from compass, I filed a sass bug for it: https://github.com/nex3/sass/issues/issue/48

[2011-03-17 14:50] #274 closed, assigned to nobody

[2011-03-17 14:51] chriseppstein commented on #270
This is in compass v0.11.beta.3

[2011-03-17 14:51] #270 closed, assigned to nobody

[2011-03-17 14:53] chriseppstein commented on #263
I'll be taking a new update of fssm before v0.11 ships to fix this and a few other issues.

[2011-03-17 14:57] chriseppstein commented on #276
The new compass reset (from eric meyer's reset 2.0) has html5 elements in it. This is in the latest betas.

[2011-03-17 14:57] #276 closed, assigned to nobody

[2011-03-17 14:59] chriseppstein commented on #287
Will get this fixed in the next release.

[2011-03-17 15:11] adambom commented on #302
Thanks. I still get the same error, even with 3.1.0.alpha.249 (bleeding
edge). Syntax error: Import directives may only be used at the root of a
document. Anything else I can try? I just ran gem install sass --pre and
converted my scss to sass and compiled. Do I need to take any more steps?
Should I file a bug with sass?

Adam

On Thu, Mar 17, 2011 at 7:42 AM, chriseppstein <
reply@reply.github.co

[2011-03-17 21:22] ttilley commented on #263
oh crap. i've been leisurely fixing some things in my task list when i have free time, and the largest contiguous chunk of free time i'll have in... a while is quite possibly right now in the next few hours. how much time do i have? ^_^ ;

Particularly, I've been doing a fair chunk of work with rb-fsevent and am almost ready to start integrating improvements in FSSM: https://github.com/thibaudgg/r

[2011-03-17 22:52] scottdavis commented on #169
I wrote a growl library that uses the applescript bindings for ruby to send growl messages so thats what i plan to implement this with

https://github.com/jetviper21/growl_notify

[2011-03-19 22:30] jeremyw commented on #268
I'd like to start using Compass sprites, but have a ton of icon images that are just sequential numbers (don't ask).

Would it make sense to prefix the class name to ensure that it starts with a valid character? e.g. "_s-5-3-2-doodad-png", or "sprite-5-3-2-doodad-png" if you're not into the whole brevity thing.

I'd be interested in making this change myself if that's an acceptable implementation.

[2011-03-19 22:42] chriseppstein commented on #268
There's a [prefix option](https://github.com/chriseppstein/compass/blob/master/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss#L33) to the `sprites` mixin. It means that you can't use the autogenerated "magic" sprite import. Instead you should generate a sprite stylesheet and hand edit it.

[2011-03-19 23:07] jeremyw commented on #268
What I meant was a default prefix for the magic sprites.

[2011-03-20 07:07] chriseppstein commented on #268
I guess there could be some variable that you could set for that.

[2011-03-20 22:26] ttilley commented on #288
This bug is, unfortunately, verified on lion. RubyCocoa is incredibly grumpy.

[code]

Awesome, right? Luckily, rb-fsevent still works fine on lion... So it's just a matter of not using the rubycocoa backend where we know it won't work. Use rb-fsevent if available, or fall back to polling.

[2011-03-21 00:22] chriseppstein commented on #288
Sounds like a fine plan. Please let me know when FSSM is released and I will update compass accordingly. Thanks for looking into this!

[2011-03-21 00:48] alanhogan opened #303 "images module unable to handle angled gradients (or “transparent”)?"
Compass `0.11.beta.3`.

Adding “`45deg,`” before color stops in `background-image` crashes Compass.

(I also had to replace “`transparent`” with “`rgba(0,0,0,0)`” — it said it was expecting a color. Could be a Sass thing? Understandable, either way, given that transparent pixels do generally still need values for other channels when working with or generating images…)

[2011-03-21 00:52] alanhogan commented on #303
Oh, IIRC, the old `-webkit-` syntax doesn’t allow angles, but the `-moz-`/W3C variant does, and new Webkit builds do too. Not positive there though — the old Webkit syntax may have allowed angles as well as the start+stop points system that Mozilla rejected?

[2011-03-21 07:46] ttilley commented on #288
On lion, without rb-fsevent installed:

[code]

I've also done some quick work to get rb-fsevent multipath support into FSSM now rather than wait for the cleaner, simpler, and not even close to complete metadata support. ;)

Chris, if you have a list of things you're particularly grumpy about, let me know. In particular, I'm sure being unable to tell FSSM to just shutup and use polling is probably

[2011-03-21 15:43] chriseppstein commented on #288
@ttilley, the biggest pain point is that fssm reverts to polling whenever compass is used with rvm. I think rb-fsevent will fix that, right?

[2011-03-21 15:59] ttilley commented on #288
yeah. technically, when using rvm, and a 1.8.x ruby, you could manually install rubycocoa... which apple so generously does for you with the system ruby. that still wouldn't do you much good if you're using 1.9.x though. rb-fsevent will solve both problems.

originally, rb-fsevent could only accept and report on a single path, but i pretty much rewrote the C code for fsevent_watch to be more flexi

[2011-03-21 21:46] scottdavis commented on #298
fixed pending my pull request

[2011-03-21 21:47] scottdavis commented on #298
fixed pending my pull request

[2011-03-21 21:57] scottdavis commented on #298
^

[2011-03-21 21:57] #298 closed, assigned to nobody

[2011-03-22 00:20] scottdavis commented on #253
i just reviewed the code and i think this is fixed in my sprite patch can you give me the css its returning to you and the expected css so i can make sure my spec it correct

[2011-03-22 01:05] scottdavis commented on #253
just verified that this is fixed in my patch

[2011-03-22 01:05] #253 closed, assigned to nobody

[2011-03-22 01:15] scottdavis commented on #253
<pre>
      $squares-spacing: 10px;
      @import "squares/*.png";
</pre>

your syntax was a bit off you don't need to define $icons by doing

@import sprites/icons/.png

you can access your sprite map via ${name}-sprites

what you where trying to do was causing 2 sprite maps to be created one with the correct results and one without.

[2011-03-22 02:09] scottdavis commented on #248
added search methods to the sprite base class for checking if these exist
http://rdoc.info/github/chriseppstein/compass/dda7c9/Compass/SassExtensions/Sprites/Image

[2011-03-23 20:09] mirisuzanne commented on #250
've been working on a fluid version of this for Susy, but have run into a Sass list parsing problem:

https://gist.github.com/783336

Mine doesn't currently take arguments, but that's an easy change once the concept is working.

[2011-03-23 20:23] chriseppstein commented on #250
/me has been nudged.

[2011-03-24 02:23] sdhull commented on #287
Awesome!! That's exciting.

We have a deadline in about 1 week, and I'd love to have this fixed for that release.  Was wondering if you will be getting to this in the next few days or if I should take a pass at it in the interest of expediency...

[2011-03-24 04:07] chriseppstein commented on #287
I'll take a peek very soon and try to understand if it's a simple issue or not, then I will be able to tell you.

[2011-03-24 22:26] sdhull commented on #287
The only real way to make gradients stop at a particular pixel value in webkit (at least the version of webkit that almost everyone is using) is to specify the size of the box.  Sadly, color-stops in webkit still have to be done in percentages, but if you tell webkit that the box is only say 200 pixels high, then you can know that your gradient will be done in exactly 200 pixels.

I _think_ that y

[2011-03-24 22:44] miracle2k opened #304 "Incorrect absolute path handling"
I kind of feel like this may be related to a bug I reported before, #129 (which is closed as fixed), but frankly, reading that bug report I don't quite understand what the problem was back then.

Still, using Compass 0.11.beta.3, I have this problem:

[code]

As you can see, it creates /tmp/foo/.css rather than /tmp/foo/ie.css, as you would expect.

This seems due do some simplified path handling

[2011-03-24 22:55] scottdavis commented on #304
<pre>

$ compass help compile

Usage: compass compile [path/to/project] [path/to/project/src/file.sass ...] [options]
</pre>

try

<pre>
compass compile /tmp/foo $(pwd)
</pre>

[2011-03-24 23:16] miracle2k commented on #304
FWIW, this:

[code]

If I use your syntax but pass a source file:

[code]

So this recreates the full path within /tmp/foo (not really what I want), and what's more, it still cuts off the path incorrectly (see the folder called "evelopment" - that should be "Development".

Note that I don't actually want to use compass's project management features. That's why I'm pointing it to a temp directory.

[2011-03-24 23:42] scottdavis commented on #304
<pre>
stylesheets (master)]$ compass compile screen.scss --css-dir /tmp
   create n.css
</pre>

I'm seeing this happening also definitely seems to be unintended. thanks for reporting ill get this on my list

[2011-03-24 23:59] scottdavis commented on #304
<pre>
compass compile /tmp --sass-dir=`pwd`
</pre>

this worked for me

[2011-03-25 02:02] sdhull commented on #287
This is the first approach I was talking about:

https://github.com/chriseppstein/compass/pull/305

[2011-03-25 07:01] scottdavis commented on #242
SHA: 3272dc7e5a35316dc2dc29d18430e64ab139726c

[2011-03-25 07:01] #242 closed, assigned to nobody

[2011-03-25 08:41] piouPiouM opened #306 "compiler.rb: wrong number of arguments (3 for 2)"
The compilation breaks with Compass 0.11.beta.4.

[code]

[2011-03-25 15:08] chriseppstein commented on #306
That error doesn't make much sense. The method clearly accepts three
arguments. Are you monkey patching compass or maybe you have a plugin that
does?

On Fri, Mar 25, 2011 at 1:41 AM, piouPiouM <
reply@reply.github.com>wrote:

[2011-03-25 15:36] piouPiouM commented on #306
I had to install the compass-growl gem (via rubygems).
Before that I worked with version 0.10.6 (which I returned).

[2011-03-25 16:20] chriseppstein commented on #306
Can you please tell me more about your environment? How do you compile your stylesheets? do you use a ruby app? What other compass plugins do you have?

[2011-03-25 16:24] chriseppstein commented on #306
Can you please tell me more about your environment? How do you compile your stylesheets? do you use a ruby app? What other compass plugins do you have?

[2011-03-25 16:35] piouPiouM commented on #306
I compiles my stylesheets via the compass comand line and I only use the lemonade plugin (by writing this line, I wonder if the inclusion of lemonade is not the fault).

More information about my environment:

[code]

[2011-03-25 18:10] chriseppstein commented on #306
What version of Sass do you have?

[2011-03-25 19:01] scottdavis commented on #248
9962a37b2ed6150ccb56e56521cceddd96a55f61

[2011-03-25 19:01] #248 closed, assigned to nobody

[2011-03-25 20:44] piouPiouM commented on #306
Sass 3.1.0.alpha.252.

Note: iIf I comment in my config file the line `require "lemonade"` the compilation starts.

[2011-03-25 21:47] chriseppstein commented on #169
can we close this now?

[2011-03-25 22:45] scottdavis commented on #169
yes

On Fri, Mar 25, 2011 at 5:47 PM, chriseppstein <
reply@reply.github.com>wrote:

[2011-03-26 01:06] scottdavis commented on #169
https://github.com/jetviper21/compass-growl

[2011-03-26 01:06] #169 closed, assigned to nobody

[2011-03-26 22:48] alanhogan opened #309 "Images module makes it difficult to differentiate for CSS2"
Consider:

[code]

The output is:

[code]

So CSS2 browsers see `background: transparent` now! Obviously this can cause a problem… and the “fix” would be to pass  `background()` the color `#f5e0e0` but this actually changes the meaning of the CSS3 styles quite a bit.

[2011-03-27 07:25] ikezue opened #310 "NoMethodError for Sass::Script::Functions during Rails template app creation"
See backtrace below.  I believe this has to do with the sass gem not being loaded when Bundler.require tries to load compass.  This happens when I try to install rails with a template and the template writes 'gem compass' to the gemfile:

[code]

The beta site looks great by the way!  Thanks for compass!

[code]

[2011-03-27 19:19] scottdavis commented on #310
Try removing the group development I'm curious to if that's the problem

Scott Davis

On Mar 27, 2011, at 3:25 AM, ikezuereply@reply.github.com wrote:

[2011-03-27 21:25] johnthedebs commented on #306
I'm seeing this same issue with Compass 0.11.beta.5. I also have `require "lemonade"` in my config.rb and compilation starts (then fails for other reasons) when I comment that out.

The traceback:

[code]

My environment info:

[code]

(Despite it saying Kernel Version 10.7.0, I'm on OS X 10.6.7)

Let me know if any other info would be helpful.

[2011-03-27 22:54] ikezue commented on #310
The problem starts with this line in application.rb:
    Bundler.require(:default, Rails.env) if defined?(Bundler)

Current environment when this executes is :development, so placing the compass gem in any group other than :development should work.  I tried :developments (note the 's'), for instance and that worked.  Removing the group entirely also works as that places the gem in :default.

I als

[2011-03-27 22:54] johnthedebs opened #311 "Broken search links on beta docs site"
The search result links on beta.compass-style.org are broken. They point to `http://beta.compass-style.org/docs/...` but the pages are located at `http://beta.compass-style.org/...` (no /docs).

[2011-03-28 00:50] scottdavis commented on #311
the docs links work for me there seems to be a rewrite rule setup

[2011-03-28 00:53] scottdavis commented on #310
im assuming this is breaking because of the railtie but I've never really run into this because I add compass to the default group. Anyway, can you make me a test rails template so I have something to test against and ill look into this?

[2011-03-28 03:39] chriseppstein commented on #309
It is a conundrum. I have an idea.

[2011-03-28 03:41] alanhogan commented on #309
Great, looking forward to it… my naïve hope would be for the images module to simply stop emitting the plain “`background: <color>;`” line altogether.

[2011-03-28 04:04] chriseppstein commented on #309
Don&#39;t output transparent in css2 ouput.

Closed by 119ce9d018ef25bf08531114ce22307306dfc212

[2011-03-28 04:08] chriseppstein commented on #309
Now that same input will print out:

[code]

Messy but functional.

[2011-03-28 04:12] alanhogan commented on #309
Cheers. Seems like this would still make it quite difficult, or impossible, to specify different non-transparent background colors for CSS2 and CSS3, respectively, though. Thoughts?

[2011-03-28 04:12] chriseppstein commented on #306
What version of Sass do you have?

On Sun, Mar 27, 2011 at 2:25 PM, johnthedebs <
reply@reply.github.com>wrote:

[2011-03-28 04:15] johnthedebs commented on #306
[code]

[2011-03-28 04:17] chriseppstein commented on #311
I took it out anyway in 2521d4d

[2011-03-28 04:17] #311 closed, assigned to nobody

[2011-03-28 04:52] chriseppstein commented on #309
I don't understand why someone would want to do that.

[2011-03-28 06:29] damien-roche opened #314 "weird issue - change detected - identical"
it says:

Change detected to: /path/to/css
identical public/css/dashboard.css

..and none of my changes are reflected in the created file. in fact, the file is now blank.

On ubuntu 10, ruby 1.8, gems 1.3.5..please, sort it out! Framework is useless if it buckles under simple tasks like this.

[2011-03-28 06:48] chriseppstein commented on #314
Please include the contents of your sass file, your configuration, and the actual command that you ran and the output it displayed.

[2011-03-28 06:49] chriseppstein commented on #314
And does running `compass compile --force` fix things?

[2011-03-28 06:52] damien-roche commented on #314
Hi, I'm not entirely sure that matters. The issue still stands - when
'watching', the tool reports identical file when the file is not, and so
sees no reason to update it. I have to manually delete the file every time.
This happens very sporadically. I think it usually happens after a couple of
fast edits and saves.

[2011-03-28 06:55] chriseppstein commented on #314
I'm not inclined to help you, given your attitude in this report. I asked for information because I felt I needed it to diagnose the issue.

[2011-03-28 06:55] #314 closed, assigned to nobody

[2011-03-28 07:02] damien-roche commented on #314
I'm sorry, I'm not looking for help - I'm trying to help you create a better
piece of kit!! JEEZ. I didn't notify you as a dig, I did it because that's
what I'd want someone to do. Really man, chill out. Suck it up, your tool is
buggy, sort it out. Simple.

[2011-03-28 07:06] chriseppstein commented on #314
I'm not upset. You are. The watcher works fine for just about everyone else, so this issue is likely specific to your project or system. This bug report does not include enough information to properly reproduce the issue and so it is useless. I asked for the information I would need to attempt to fix the issue and you declined to provide it.

[2011-03-28 07:23] hoopyfrood commented on #314
Hi Chris,
I'm running the same spec as ivrock and used to get the same issue when uploading large sass files over sftp/ssh tunnels. Then I switched from Dreamweaver to TextMate, turned on atomic saves and have never experienced the issue since. It would seem compass watcher kicks in as soon as a change is detected, not necessarily when the upload is finished/file is 100% on the server. As I mentio

[2011-03-28 15:01] ttilley commented on #314
it is rather unfortunate, but i am unable (within FSSM) to catch the moment a write has completed except under linux using the inotify backend. the mac filesystem event system is only at the directory level, and polling could hit a file at any point and just notice a change (file size, timestamp). it's... complicated.

so yes, you need to either use a linux box with inotify or an IDE/editor featur

[2011-03-28 16:22] hoopyfrood commented on #314
Agreed with ttilley. Never experienced an issue developing locally on Mac, only over sftp on Linux. And yes, the common case shouldn't be affected by this.

[2011-03-28 16:32] chriseppstein commented on #309
I reverted this changeset, `transparent` is a [legal css2 value](http://www.w3.org/TR/CSS2/colors.html) -- I thought it was a css3 thing. I don't know why you want to use different colors in these circumstances, but I think the right thing is to specify the same color you want in all cases or don't use the shorthand notation or don't use the compass mixin.

[2011-03-28 16:46] chriseppstein commented on #314
Thanks for your input guys. I don't think this issue is related to remote editing, so perhaps you can open a separate issue for that and link here for details.

Also, since I don't have an environment set up in this configuration, it's going to require detailed steps to set that up or just provide a patch that clears up the issue for you.

[2011-03-28 16:57] alanhogan commented on #309
Here is an example. Consider invalid form items. With CSS3 browsers, I
could use a semitransparent background gradient (maybe the page has a
patterned/noise background) or box-shadow to differentiate it, but
need to do something else for CSS2 browsers. A light red background
would be the way to do that. So now you have a case where the
background color needs to be different for different browsers

[2011-03-28 18:15] chriseppstein commented on #309
@alanhogan, I think you should install modernizr and scope your rules according to feature detection or do one of the other remedies I discussed above. This mixin has a very clear and concise behavior and I think your needs are not common. If you look at the implementation of this mixin you'll see it's not doing a whole lot, please take its guts and modify them for your needs on your projects.

[2011-03-29 01:10] ikezue commented on #310
This is the smallest template I was able to reproduce the error with.  Removing either haml-rails or cucumber-rails would result in no errors, for some reason.  Similarly, swapping compass gem statements should not bring up an error.  Thanks, and let me know if you have other requests.

[code]

[2011-03-29 02:40] scottdavis commented on #268
Since this is more of a sass limitation. we are adding a verification and gracefully going to raise an error telling you to rename your file. Numbers will not be allowed at the start of a file name.

[2011-03-29 02:41] #268 closed, assigned to nobody

[2011-03-29 02:47] scottdavis commented on #296
can you try this using the compass 0.11.beta.5?

[2011-03-29 02:53] scottdavis commented on #310
thanks

[2011-03-29 03:01] scottdavis commented on #310
gem 'haml-rails', '>= 0.3.4'

is the issue its locking the version of haml and sass to the pre split version.

[2011-03-29 03:06] scottdavis commented on #310
also wanted to note that

gem 'compass', '>= 0.10.6', :group => :development

is probaly not going to work since the 0.10x version of compass doesn't use a railtie it uses an initializer which isn't environment agnostic:

https://github.com/chriseppstein/compass/blob/stable/lib/compass/app_integration/rails/installer.rb#L105

[2011-03-29 05:19] ikezue commented on #310
So with haml-rails 0.3.4 and compass 0.11.beta.5, the versions of haml and sass installed are 3.0.25 and 3.1.0.alpha.252 respectively.  Is this what it should be for 0.11.beta.5 to work ok, I don't see a --pre version for haml?  Or isn't this what you mean when you say haml-rails is "locking the version of haml/sass".

With compass 0.10.6 the template install runs fine and I'm able to auto-compile

[2011-03-29 05:45] scottdavis commented on #310
`gem 'haml', '>= 3.1.alpha.214'` this is just from a project i had handy im sure theres a better version of 3.1 out

Is what i use but I never use haml-rails basicly anything > 3.1 is going to screw you over when using compass 0.11.beta's since it requires the latest sass

[2011-03-29 05:46] scottdavis commented on #310
note:
https://rubygems.org/gems/haml-rails

requires 3.0 maybe fork the haml-rails repo and monkey patch it and send them a pull request?

[2011-03-29 06:01] ikezue commented on #310
It installed haml-3.1.0.alpha.147, and now the install at least runs ok.  I'll follow your suggestion on monkey patching haml-rails.  Thanks!

[2011-03-29 06:09] scottdavis commented on #310
no problem! are ok with me closing this?

[2011-03-29 06:12] ikezue commented on #310
Yes, cheers.

[2011-03-29 06:12] #310 closed, assigned to nobody

[2011-03-29 07:17] WaYdotNET opened #318 "Background linear gradient Opera"
// work with FF & Chrome
   // NOT works with Opera/9.80 (X11; Linux x86_64; U; it) Presto/2.8.119 Version/11.10

   @include linear-gradient(color-stops($header, darken($header, 10%)));

   // Hack to works with Opera:

   background-image:-o-linear-gradient(color-stops($header, lighten($header, 20%)));

   // test with compass  compass-0.10.6 & compass-0.11.beta.5

[2011-03-29 09:17] aurelien-baudet commented on #296
Hi!

I've just tested with 0.11.beta.5 and it still fails with this error:
       ChunkyPNG::OutOfBounds on line ["282"] of D: Background image width is too small!

[2011-03-29 17:04] chriseppstein commented on #318
Sounds like we need to revisit our opera support matrix.

[2011-03-29 18:50] scottdavis commented on #296
im not really sure whats going on here maybe @wvanbergen can give some input

[2011-03-29 19:06] wvanbergen commented on #296
Can you give a backtrace with ChunkyPNG 1.0 or 1.1?

[2011-03-29 19:10] scottdavis commented on #296
The beta compass is using 1.1

[2011-03-29 19:24] wvanbergen commented on #296
The backtrace available here still used ChunkyPNG 0.12. That' why I asked for a new backtrace.

[2011-03-29 19:59] jleider opened #320 "Can't create sprite file from cmd line with -f option"
$ compass sprite -f "app/webroot/img/sprite_imgs/general/*.png" --trace

NoMethodError on line 42 of /Library/Ruby/Gems/1.8/gems/compass-0.11.beta.4/lib/compass/commands/sprite.rb: private method `gsub' called for nil:NilClass

  /Library/Ruby/Gems/1.8/gems/compass-0.11.beta.4/lib/compass/commands/base.rb:18:in `execute'
  /Library/Ruby/Gems/1.8/gems/compass-0.11.beta.4/lib/compass/commands/projec

[2011-03-29 20:02] jleider commented on #320
This error exists in 0.11.beta.5 as well.

[2011-03-29 22:14] chriseppstein commented on #320
Try this instead:

[code]

"app/webroot/img/sprite_imgs/general/*.png" --trace

Chris

On Tue, Mar 29, 2011 at 12:59 PM, jleider <
reply@reply.github.com>wrote:

[2011-03-29 22:19] scottdavis commented on #320
I'll get this fixed. I Didn't notice it because someone didnt write a test for it =p /nudge @chriseppstein

Scott Davis

On Mar 29, 2011, at 3:59 PM, jleiderreply@reply.github.com wrote:

[2011-03-29 22:26] scottdavis commented on #320
or maybe not

[2011-03-29 22:36] chriseppstein commented on #320
I think it just needs a better error when they don't provide a path to the sprites.

[2011-03-29 22:36] chriseppstein commented on #320
Who needs tests. we have users!

[2011-03-29 22:37] scottdavis commented on #320
yea this is definitely broken im working on a patch and test now

[2011-03-29 23:26] scottdavis commented on #320
closed by 96f1e4dc969e565206cc57c6f5c51120732299f4 and refactored the rspec tests

[2011-03-29 23:26] #320 closed, assigned to nobody

[2011-03-30 03:42] freewind opened #322 "How to use compass in java/scala?"
I want to use compass in scala through jruby, but I don't know how to invoke it.

There is a project let me use sass in scala, the code is very simple. I think I can use compass the same way, could you help me?

The project I mentioned is [scalate-jruby](https://github.com/scalate/scalate/tree/master/scalate-jruby/src/main/scala/org/fusesource/scalate/jruby), only 2 files needed.

[2011-03-30 04:14] ttilley commented on #322
I have code lying around for bootstrapping rake and so forth from ant using both maven and ivy... perhaps this would make a good wiki item for jruby, with a mention in the compass wiki that points to it?

Anyways, here's an ant snippet to install ivy if necessary, load ivy, use ivy to resolve jruby and dependencies, install those, load org.jruby.ant.RakeImport, and fire off the "default" task (whe

[2011-03-30 04:26] ttilley commented on #322
Ah... after reading further into scalate, I see that this is a much more deeply integrated system, more akin to running compass within rails. Interesting.

[2011-03-30 04:32] freewind commented on #322
Thanks, ttilley. I'm sorry I didn't express clearly, actually I want to invoke compass programmatically. I have set up the jruby jars and environment, but I don't know to invoke compass.

The code I'm using now is:

[code]

Unfortunately, it reports an error about logger. Which logger compass uses?

[2011-03-30 04:42] ttilley commented on #322
So.... At this point in the source tree:

https://github.com/scalate/scalate/tree/master/scalate-jruby/src/main/resources

You would need to add compass and its' dependencies. The latest git version of compass depends on sass, not haml, as it has been split out into its own package. You will probably want to edit the existing scalate sass code to load this instead of what it's currently doing. IF

[2011-03-30 04:50] ttilley commented on #322
I lied. The compass option is handled in exec, not engine, so it would require larger changes to the ruby that scalate pushes to jruby. The compass option effectively does this:

[code]

This loads the compass configuration file, with sane defaults for anything not specified (or even if there isn't a config I believe), sets the project path to the current directory (which may be wrong in your case

[2011-03-30 05:08] freewind commented on #322
@ttilley,thank you. Let me have a try

[2011-03-30 05:08] #322 closed, assigned to nobody

[2011-03-30 10:00] aurelien-baudet commented on #296
I made a sample in order to reproduce it easily. It seems that the bug happens when the repeated sprite image is not a multiple of the whole image. Example:

<table>
<thead>
<tr><th>total width</th><th>sprite width</th><th>total width/sprite width</th><th>result</th></tr>
</thead>
<tbody>
<tr><td>1280</td><td>16</td><td>80</td><td><b>OK</b></td></tr>
<tr><td>1280</td><td>26</td><td>49,230769230769

[2011-03-30 13:36] scottdavis commented on #296
So I think the solution from at least the compass end should be to die gracefully. Unless @wvanbergen thinks this is a valid chunky png bug.

[2011-03-30 13:47] wvanbergen commented on #296
ChunkyPNG raises that particular error when there is not enough space to paste the image on the background image, so this most likely occurs with the very final sprite image near the edge of the background image.

This is not a bug in ChunkyPNG. To resolve the issue, I could add a method that will silently ignore all the pixels that fall off the background image when pasting, or this can be solved

[2011-03-30 14:03] mirisuzanne commented on #309
It's actually a very common use case, and I had also assumed that the background mixin would work with it. Sometimes the color I use with a gradient will not work as a legible color without the gradient.

Modernizr is certainly an option, but @alanhogan's approach is the accepted CSS best-practice and I'm actually not clear on why the background mixin would output that first line in any case. That

[2011-03-30 14:34] jleider commented on #320
Wow, awesome response. Thanks!

[2011-03-30 15:16] scottdavis commented on #296
I wouldn't modify your api for this it seems like a necessary error. I'll make some modifications to the sprite generation engine to calculate the dimensions correctly.

[2011-03-30 15:19] scottdavis commented on #296
also thanks @wvanbergen for your input

[2011-03-30 21:11] chriseppstein commented on #309
The source of the first line is compass's attempt to create a fallback value for css2 browsers. Maybe compass is doing too much here, but I thought we'd go a little deeper down this rabbit hole before we turn back, so I made a new compass function called `css2-fallback` that you can use to pass a value and a css2 fallback as a single value. If people hate this then we can stop trying to be smart.

[2011-03-30 21:17] mirisuzanne commented on #309
I think that yes, Compass is doing too much in the initial approach. Because what it is doing is not a default behavior and not a reliable fallback behavior.

Now this, on the other hand, is an interesting proposal. I would adjust it a bit, because I'm not sure why both values are being passed to the function. I'd keep everything explicit and run it like this:

[code]

and then that css2 fallback

[2011-03-30 21:23] Kevnz opened #323 "Custom defined watch only runs once"
I have a watch setup in the config.rb of my project and on the first save it works great. But after the first time it doesn't run until a scss file is changed. https://gist.github.com/895290

[2011-03-30 21:31] chriseppstein commented on #309
The reason that it takes two values is that transparent would be in the output otherwise, conceptually they are a single value with different representations in different contexts.

[2011-03-30 21:37] chriseppstein commented on #309
Closed by f2ceec4680a2305bf716c5eba2fbc52768ff721e. Try this and let me know if you hate it and would rather manage legacy browsers outside of the css3 mixins.

[2011-03-30 21:41] chriseppstein commented on #318
Fixed by da57adc49d4c75b56235390cad4c5721b8961a24

[2011-03-30 21:41] #318 closed, assigned to nobody

[2011-03-30 21:47] mirisuzanne commented on #309
That makes some technical sense in the background, but it just doesn't match how these tools are used or the expected behavior of either Compass or CSS. In reality I want completely separate control of my fallback, and I will probably even write it at a different time (durring browser-testing). It makes more sense to me that I would write my css2 shorthand and my css3 shorthand each once, separate

[2011-03-30 22:33] chriseppstein commented on #309
I agree with you on a certain level. I can see how this would get in the way for users like yourself, but I think it's a pretty good behavior for n00bies who don't really grok the whole progressive enhancement concept yet.

What if we added a config variable to turn off css2 fallbacks in the css3 module?

[code]

[2011-03-30 22:38] mirisuzanne commented on #309
you might be right, and that solution would be acceptable for what I need, but my experience with n00bies is that they are actually even more confused with magic solutions than I am - especially when the abstraction is so leaky. They will expect a solution that is fool-proof or none at all. I don't think we can do foolproof, so I vote for none.

[2011-03-30 23:05] chriseppstein commented on #309
It's annoying that you're right.

[2011-03-31 00:17] alanhogan commented on #309
Chris, I sympathize with your intention and the disappointment that comes with a good idea being perhaps less than ideal in practice. All I can say is, thanks for caring so much and listening so well.

[2011-03-31 00:19] alanhogan commented on #309
Also, I thought I was replying by email, but I don’t see my comments here. Basically, I think @ericam expressed a lot of my own views very well (thanks).

[2011-03-31 06:45] WaYdotNET commented on #318
good job chris!

[2011-03-31 18:41] chriseppstein commented on #309
I'm not quite sure how to handle the v0.11 early adopters of the new css3 mixins. If they are already relying on the fallback behavior. Any suggestions?

[2011-04-01 15:15] scottdavis commented on #271
closed by da2af62f47c81b95f995e17cf745b21a36bf5317 - fixed bug that was causing file name to truncate

[2011-04-01 15:15] #271 closed, assigned to nobody

[2011-04-01 15:37] scottdavis opened #324 "Problem with compass stats in a rails app"
$ bundle exec compass compile stats
Errno::ENOENT on line 143 of /Users/sdavis/Work/compass/lib/compass/compiler.rb: No such file or directory - /Users/sdavis/Work/breakthroughs/hubble-breakthroughs/stats
Run with --trace to see the full backtrace

seems to be a load path problem

[2011-04-01 15:37] scottdavis commented on #324
Note:
file or directory - /Users/sdavis/Work/breakthroughs/hubble-breakthroughs/stats

does not and should not exist

[2011-04-01 15:45] chriseppstein commented on #324
When you pass an argument to compile, it assumes that is the folder/file that you want to limit the compilation to. Did you want stats for your project? Then just do:

[code]

That said a better error message could have been given here.

[2011-04-01 16:05] scottdavis commented on #324
I was hoping if i ran it from the rails root it would find the config and give me the stats for the project. so i should run it from the stylesheets directory?

[2011-04-01 16:05] scottdavis commented on #324
hahaha nvm im closing this im stupid i had `compass compile stats` herp derp

[2011-04-01 16:05] #324 closed, assigned to nobody

[2011-04-01 16:49] mirisuzanne commented on #309
I'd guess at this point anyone adopting the Beta will see a note in the next changelog and make the appropriate adjustments. That's the beauty of Beta. Or maybe I'm just a hard-hearted developer.

[2011-04-01 17:00] chriseppstein commented on #309
I moved the simple bg support to a new mixin called background-with-css2-fallback which has the same behavior as the current bg mixin. The release notes mention this, but those who didn't adopt the prerelease will be none the wiser. I'll push this change in a little bit.

[2011-04-01 18:47] scottdavis commented on #296
closed by 2c62cdf2f96c2f769faaf03f86cb28815984d963 rescue OutOfBounds exception gracfuly

[2011-04-01 18:47] #296 closed, assigned to nobody

[2011-04-01 19:19] scottdavis commented on #256
I can't seem to recreate this issue if i run

<pre>
ruby 1.9.2p180 (2011-02-18 revision 30909) [x86_64-darwin10.6.0]
$ bundle exec compass frameworks -r ninesixty
</pre>

I get

<pre>

Available Frameworks & Patterns:

  * blueprint
    - blueprint/basic      - A basic blueprint install that mimics the actual blueprint css.
    - blueprint/buttons    - Button Plugin
    - blueprint/link_icons - Ic

[2011-04-01 19:31] scottdavis commented on #300
Im not seeing this behavior can you give me some more details like ruby version, compass version, and steps to recreate.
My Findings (from new project):

<pre>
$ compass compile
create public/stylesheets/ie.css
create public/stylesheets/print.css
create public/stylesheets/screen.css
</pre>

run again

<pre>
$ compass compile
unchanged app/stylesheets/ie.scss
unchanged app/stylesheets/print.scss
un

[2011-04-01 19:33] scottdavis commented on #300
Also operating system

[2011-04-02 00:30] hoverlover opened #325 "Undefined variable: "$sprite-selectors""
I am in the process of trying out Compass' sprites functionality in the 0.11.beta.5 version and ran into a problem:

[code]

This is where the error originated, which as you can tell from the stack trace above was in my `app/stylesheets/partials/_base.scss` file that is imported from my `app/stylesheets/screen.scss` file:

[code]

I fixed it by importing `compass/utilities/sprites` but the sprites

[2011-04-02 01:48] scottdavis commented on #325
This is actualy confusing me since i created a new sprite project today and i didn't need to add that import are you using compass standalone or with rails?

[2011-04-02 01:55] hoverlover commented on #325
I'm using it with rails 3.0.5.

On Apr 1, 2011, at 8:48 PM, jetviper21
reply@reply.github.com
wrote:

[2011-04-02 02:49] scottdavis commented on #325
can i see your compass.rb thats in configs and your screen.scss

[2011-04-02 12:31] scottdavis commented on #325
nvm seems you need to import the file when in stand alone mode. i fixed the docs

[2011-04-02 12:31] #325 closed, assigned to nobody

[2011-04-02 12:31] scottdavis commented on #300
can't replicate

[2011-04-02 12:32] scottdavis commented on #256
can't replicate

[2011-04-02 12:32] #256 closed, assigned to nobody

[2011-04-02 14:25] hoverlover commented on #325
I'm not using stand-alone mode.  I'm using compass within a rails
project. I just checked the docs and they don't appear to be updated.
The tutorial I was referring to was here:

http://beta.compass-style.org/help/tutorials/spriting/

The tutorial doesn't appear to be specific to rails, so you might add
a rails-only note mentioning the need for the import if it's only
necessary for rails projects.

[2011-04-02 14:32] scottdavis commented on #325
They are updated in git I haven't pushed the update since I'm still working on documentation

Scott Davis

On Apr 2, 2011, at 10:25 AM, hoverloverreply@reply.github.com wrote:

[2011-04-02 15:09] hoverlover commented on #325
Ah, ok.  Thanks.

On Apr 2, 2011, at 9:32 AM, jetviper21
reply@reply.github.com
wrote:

[2011-04-02 17:10] chriseppstein commented on #297
closing for now

[2011-04-02 17:10] #297 closed, assigned to nobody

[2011-04-02 17:11] chriseppstein commented on #295
dupe of #288.

[2011-04-02 17:11] #295 closed, assigned to nobody

[2011-04-02 17:18] chriseppstein commented on #304
I made a fix for this, you'll get an error unless you run this variant of the command from the project directory.

[2011-04-02 17:18] #304 closed, assigned to nobody

[2011-04-02 17:19] chriseppstein commented on #304
commit: 389291958516adf695e274b81dab16a3c12cb2cc

[2011-04-02 17:29] scottdavis commented on #285
this was fixed by a sass patch

[2011-04-02 17:29] #285 closed, assigned to nobody

[2011-04-02 17:53] chriseppstein commented on #282
[Rails Integration] Print a warning if compass is booted more than once. Closed by af10edd7a971a5146601dd8b2f7f15267e71b5fe.

[2011-04-02 17:53] #282 closed, assigned to nobody

[2011-04-02 19:02] chriseppstein commented on #250
Ok. This changeset fixes the compass issue that was preventing the generation of the gradient you've got there: 727c025881a380879f3b327d30dbd689e8909d61

But I couldn't make it work in a browser, chrome was complaining about the gradient that was generated and not saying why.

[2011-04-02 19:05] chriseppstein commented on #250
Here's an updated gist: https://gist.github.com/899769

[2011-04-03 01:29] alanhogan commented on #309
That sounds like the best way forward to me.

[2011-04-03 23:31] chriseppstein commented on #306
Ok. The issue is that the stable release of lemonade gem overrides some compass APIs. The [beta release](https://rubygems.org/gems/lemonade/versions/1.0.0.beta.1) of lemonade doesn't have this issue, but it doesn't really work with compass anymore due to dependency conflicts. Since the functionality of lemonade is now merged with compass, I am going to close this issue. Please use [compass sprites

[2011-04-03 23:31] #306 closed, assigned to nobody

[2011-04-03 23:37] scottdavis commented on #325
Chris patched this error yesterday I put the configuration variable in the
wrong spot. So feel free to flog me the documentation was correct.

On Sat, Apr 2, 2011 at 11:09 AM, hoverlover <
reply@reply.github.com>wrote:

[2011-04-03 23:53] hoverlover commented on #325
Ha!  No problem.

On Apr 3, 2011, at 6:37 PM, jetviper21
reply@reply.github.com
wrote:

[2011-04-04 13:29] olistik opened #327 "can't install via the rails template (redirect error)"
I've tried to follow the steps described here:
https://github.com/chriseppstein/compass/wiki/Ruby-on-Rails-Integration

but encountered a redirect error with the template URL:

[code]

If I use the full URL things work properly:

[code]

[2011-04-04 13:57] scottdavis commented on #327
which version of compass?

[2011-04-04 14:28] olistik commented on #327
[code]

By the way I've wrongly read that wiki page, in rails 3 the preferred method is via:
    $ compass init rails /path/to/myrailsproject

I've just jumped to the part below..

I think that the problem, for rails 3 at least, is not present at all :)

[2011-04-04 14:28] #327 closed, assigned to nobody

[2011-04-05 01:13] mirisuzanne commented on #250
There are some choices to make before I finish this up.

The problem you were having with chrome stems from sending non-percentage-based color-stops to the old webkit syntax.

One solution to that is the same solution that I need for this to work with susy: convert everything to percentages. That makes it all a bit less pixel-perfect for people using fixed or elastic grids, but it works everywhere

[2011-04-05 01:17] mirisuzanne commented on #250
(also, not clear why this isn't working in opera yet. more testing needed.)

[2011-04-05 01:31] mirisuzanne commented on #250
(oh, only opera beta supports gradients. also fixed a silly width declaration in my sample.)

[2011-04-05 01:51] nimbupani commented on #250
The generated CSS does work in Opera tho! :/

http://jsfiddle.net/nimbu/PX6aM/ (or am I missing smthing?)

[2011-04-05 11:20] millisami opened #328 "How to setup offline documentation?"
Hi, I followed this instruction at https://github.com/chriseppstein/compass/tree/stable/doc-src README and fired up the server.

[code]

Then when I visit `localhost:4000/docs`, I just get `File not found: /docs` in the browser.
Is this the right way to setup the offline documentation?
Or is there any other instruction on how to setup offline documentation?

[2011-04-05 18:29] chriseppstein opened #329 "Add a page to the docs for the Compass Team"
@imathis would you design a page for the docs that highlights who are the members of the compass team? A short bio and some links to them on the 'net, etc? Would like to get more credit where it's due.

[2011-04-05 19:39] mirisuzanne commented on #250
I was the one missing something, as noted above. It works great if your on the Opera Beta.

[2011-04-06 02:23] chabgood opened #330 "issue installing on rvm gemset"
ERROR:  While executing gem ... (TypeError)
    can't dup NilClass

[2011-04-06 05:44] chriseppstein commented on #330
Please provide better steps to reproduce and a full stack trace.

[2011-04-06 13:47] chabgood commented on #330
How do I get a stack trace that is the only message I get when I do:
gem install -f chriseppstein-compass-0.8.17.gem

ERROR:  While executing gem ... (TypeError)
    can't dup NilClass

On Wed, Apr 6, 2011 at 00:44, chriseppstein <
reply@reply.github.com>wrote:

[2011-04-06 13:57] chriseppstein commented on #330
That gem name and version are very old. Are you a new user of compass? Please use the gem named "compass" and let me know if it works.

On Apr 6, 2011, at 6:47 AM, chabgoodreply@reply.github.com wrote:

[2011-04-06 14:00] chabgood commented on #330
No it is being used and is working in production.  We are trying to set it
up on a staging server and it is giving this error all of a sudden with
rvm.  I am using rvm with this gem locally and it works fine.

On Wed, Apr 6, 2011 at 08:57, chriseppstein <
reply@reply.github.com>wrote:

[2011-04-06 14:05] chriseppstein commented on #330
I can't help you with this. It's an ancient gem version and the error is not coming from my software. There's been a bunch of gem bugs lately I suggest you consider upgrading or downgrading rubygems in that environment. I also suggest you upgrade compass to at least v0.10.

On Apr 6, 2011, at 7:00 AM, chabgoodreply@reply.github.com wrote:

[2011-04-06 17:07] chriseppstein commented on #330
Closing.

[2011-04-06 17:07] #330 closed, assigned to nobody

[2011-04-07 19:22] johnae opened #331 "Rubygems 1.7.x and compass gemspec"
The compass gemspec is invalid and rubygems 1.7.x will tell you that and won't let you run bundle install for example. I had to downgrade to rubygems 1.6.2 to make it work. This is very annoying and should probably be fixed in the gemspec. I guess the problem is this:

[code]

which is not really valid - it should probably be

[code]

[2011-04-07 19:39] scottdavis commented on #331
is this change backwards compatible?

[2011-04-07 19:43] scottdavis commented on #331
according to the gem manual date should be a unix timestamp integer?

<pre>
spec.date = File.utime('VERSION')
</pre>

[2011-04-07 19:46] johnae commented on #331
Well if that's the case both the current gemspec and my suggestion are wrong and will probably result in the same behavior (i.e in my case not being able to run bundle install).

[2011-04-07 19:46] scottdavis commented on #331
actually you shouldn't set this anyway
http://rubygems.rubyforge.org/rubygems-update/Gem/Specification.html#method-i-date-3D

[2011-04-07 19:47] johnae commented on #331
Ahh ok, then that is the solution to this. Simply removing that from the gemspec should make everything good with rubygems 1.7.x.

[2011-04-07 19:51] scottdavis commented on #331
fixed issue with gem spec in rubygems 1.7 closed by 73a01b367763d8bdc6d19b41b34e300bde67ae1a

[2011-04-07 19:51] #331 closed, assigned to nobody

[2011-04-07 19:51] scottdavis commented on #331
this will get fixed in the beta.6 push

[2011-04-07 21:15] chriseppstein commented on #250
Where are we with this? Once I patch compass to support the new webkit gradients are we done? If so, let's turn this into a pull request and do a final code review.

[2011-04-07 23:33] mirisuzanne commented on #250
my computer died, and it will take me a bit to get up and running on a new one. that's where I am. I can come back to this in a day or two, I hope.

Do we have a preference between always using percentages in the output (as it's written now) vs using whatever units we are passed (I need to make some adjustments)? I assume the latter, in which case it's not quite ready to go, but I'll send a pull r

[2011-04-08 15:04] moeffju commented on #290
A lot of the savings probably stem from different PNG libraries. Just taking the generated sprite image and running it through optipng or pngcrush reduces size by several kilobytes.

[2011-04-09 17:13] ragaskar opened #332 "Blueprint partials aren't installed (Rails 3/Bundler/rvm/ruby 1.9.2 p136)"
Tried various combos of

compass init, compass create, compass install on my rails project, finally tried with a 'fresh', standalone project, still no love:

example output with fresh project:

~/workspace$ compass create test2 --using blueprint
directory test2/
directory test2/images/
directory test2/src/
directory test2/src/partials/
directory test2/stylesheets/
   create test2/config.rb
  conve

[2011-04-09 19:28] chriseppstein commented on #332
Compass does not put its stylesheets in your project, they stay with compass and you import them from where they are using the @import directive.

If you really want them in your project look at the `compass unpack` command.

[2011-04-09 19:28] #332 closed, assigned to nobody

[2011-04-09 21:23] chriseppstein opened #333 "create vertical rhythm function for calculating leaders/trailers without mixins."
that is all.

[2011-04-09 21:56] chriseppstein opened #334 "add support for new column properties"
compass doesn't support `column-fill` or `column-span`. We should do a scan of the latest spec and update the compass columns module to match.

[2011-04-10 06:38] chriseppstein commented on #328
the nanoc aco approach is for developing the docs. best to just compile them once with `bundle exec nanoc3 co` and then run `bundle exec serve ..`. Lastly, make sure to add a trailing slash to your URL: `http://localhost:4000/docs/`

Let me know if that doesn't work for you.

[2011-04-10 21:16] chriseppstein commented on #303
The main issue is fixed, but I'm keeping this open until we determine the SVG support for degree arguments.

[2011-04-10 21:20] chriseppstein commented on #303
also we still need to handle `transparent` as a color value.

[2011-04-10 23:37] ragaskar commented on #332
I'm pretty confident this was a load path problem that got cached in the tmp/sass-cache or public/stylesheets, since checking out the project on a new machine got it working normally. I ran into problems again when I switched to susy. Killing tmp/sass-cache and public/stylesheets fixed all my problems.

[2011-04-12 02:01] mirisuzanne commented on #250
Pushed: e66c822503d32d9b4e87a1fb0ccfec35dedda983

This may need some internal adjustments once $experimental-support-for-legacy-webkit is in place, but it shouldn't change the use at all.

@nimbupani, I went with multiple-backgrounds over generated-content because I didn't see any browsers supporting gradients without also supporting multiple-backgrounds.

@chriseppstein, also note the line commen

[2011-04-12 21:19] mirisuzanne commented on #333
fixed: bc4e3eeb44a2cd0f151776eaab31625e3f84adb3

use @rhythm($lines [,$font-size])@

[2011-04-12 21:19] #333 closed, assigned to nobody

[2011-04-12 21:24] mirisuzanne commented on #309
closed by: 0eef08e6ce664d5d905928c7a7c4e66f80e5e8c7

[2011-04-12 21:24] #309 closed, assigned to nobody

[2011-04-13 05:19] millisami commented on #328
Thanks, that solved the previous error. But now after successful compilation of the docs, some syntax error shows up.

[code]

[2011-04-13 15:36] chriseppstein opened #335 "Handle API breakage in compass that Lemonade's monkey patching causes"
Need to fail with an upgrade message instead of a stack trace.

[2011-04-13 17:48] scottdavis opened #336 "Add inline sprite rendering"
http://groups.google.com/group/compass-users/browse_thread/thread/c62aeca396c67600

[2011-04-13 18:51] ghost commented on #336
I´ve once written a parse and replace tool using js/rhino, based on an article of stoyan stefanov which adresses issues the current image-inline also could benefit from (IE6/7 MHTML).
http://www.phpied.com/the-proper-mhtml-syntax/

Unfortunatly i´am not a Ruby dev but if anyone comes up with an pull request i can help out with manual testing and also have a few pages up with already inlined images

[2011-04-13 21:26] chriseppstein commented on #328
hmmm. looks like ruby does not like something in serve. I don't get this error locally when I use 1.9.2-p180 and compass/master. Very strange.

[2011-04-13 23:16] scottdavis commented on #336
not going to happen in this release will reopen the issue at another time if a need arises

[2011-04-13 23:16] #336 closed, assigned to scottdavis

[2011-04-14 05:09] chriseppstein opened #337 "Support for rails 3.1 conventions"
- Stylesheets will be in `app/assets/stylesheets`
- Images will be in `app/assets/images`
- javascripts will be in `app/assets/javascripts`

Also need to tie into their asset path system.

[2011-04-14 10:23] jjl opened #338 "Compass does not provide a way to pass configuration to Sass"
...or if it does, I can't seem to find where it permits it in the documentation.

My main request is to be able to select an output style, so that i can use compass to do the building for deployment by using the compressed output while using the expanded style during dev.

Relevant sass doc: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style

[2011-04-14 14:44] chriseppstein commented on #338
you can specify the output style on the command line (compass compile -h), using the `output_style` config option, or by passing it to the sass options directly like this in your config:

[code]

[2011-04-14 14:44] #338 closed, assigned to nobody

[2011-04-14 21:42] joliss opened #339 "filter-gradient requires utilities/general/hacks"
Using filter-gradient throws the following error message:

[code]

It goes away if I put `@import "compass/utilities/general/hacks";` at the top.  Shouldn't filter-gradient import that module automatically?

(I'd send you a pull request, but I'm not sure where to best put the @import.)

[2011-04-14 21:43] joliss commented on #339
Also: I've only used it very briefly, but so far, Compass seems most awesome!  Thanks for all the hard work!

[2011-04-14 21:45] chriseppstein commented on #339
Yes. Thanks for the bug, we will add the import.

[2011-04-15 12:49] passy opened #340 "watch leaks memory"
Today I noticed that compass 0.11.beta.5 is leaking a noticeable amount of memory after each change. I tracked the memory usage over a few hours while working with it and it grew from an initial 86 MB to over 600 MB in 2 and a half hours (even though it seems to solely depend on the amounts of changes). Restarting compass watch does obviously help, though.

Here's a graph of the memory usage over

[2011-04-15 13:53] scottdavis commented on #340
this is probably more suited as an fssm bug

[2011-04-15 15:34] thedarkone commented on #340
@chriseppstein: this is most likely SASS's `Plugin::StalenessChecker` leak that that has been introduced by the `plugin_v2` branch/refactor. I've talked about this with Nathan back in september and from a cursory look it still hasn't been fixed as of yet. Basically `Sass::Importers` classes need to have consistent hashing as required by ruby's `Hash`, so that:

[code]

I think doing something like

[2011-04-15 16:31] chriseppstein commented on #340
@thedarkone - thanks for the pointer. I will test to see if that clears up the issue.

[2011-04-16 06:21] chriseppstein commented on #250
72434be1375ecce208eee90796f3b99a4ad40485 adds support for webkit's standardized css3 gradients.

[2011-04-16 06:55] chriseppstein commented on #250
Did a little cleanup: 8a8d625a7de5060a0664e1c2660573469544c6c4 and 0a33bc14b2d6b6f2a30e671e2b6fbbb4d54bac20

[2011-04-16 07:22] chriseppstein commented on #250
Will inform users who generate grid background about this feature: 26fe7f1074927103e77eadd3819e465b8fa83335

[2011-04-16 07:26] chriseppstein commented on #250
Default the blueprint grid background to the this implementation: 196abb2a2817f4fb375bb45ea618cda0b6d2aef0

[2011-04-16 07:26] chriseppstein commented on #250
I think that does it. Great work everyone!

[2011-04-16 07:26] #250 closed, assigned to nobody

[2011-04-16 07:44] mirisuzanne commented on #250
Fantastic! Well played, kids [sic]. Howz about a version bump to spread all that love?

@nimbupani thanks for being brilliant. what next? :)

[2011-04-16 07:49] #335 closed, assigned to chriseppstein

[2011-04-16 07:58] #339 closed, assigned to nobody

[2011-04-16 08:12] mirisuzanne commented on #334
useful: http://kmsm.ca/2010/an-almost-complete-guide-to-css3-multi-column-layouts/
and of course: http://www.w3.org/TR/css3-multicol/

I have my eye on this if it's still sitting around when I have the chance. probably in a week or so.

[2011-04-16 08:12] chriseppstein commented on #287
merged in. Thanks!

[2011-04-16 08:12] #287 closed, assigned to nobody

[2011-04-16 08:20] chriseppstein commented on #334
I'm hoping we can do the v0.11 release before the end of the month.

[2011-04-16 08:26] mirisuzanne commented on #334
I like the sound of that. Let's do.

[2011-04-16 08:34] chriseppstein commented on #250
v0.11.beta.7 is out: https://twitter.com/#!/chriseppstein/status/59172334820528128

[2011-04-16 08:45] mirisuzanne commented on #250
[code]

[2011-04-16 16:10] chriseppstein commented on #250
@ericam please provide steps to reproduce in a new bug.

[2011-04-16 19:13] mirisuzanne opened #341 "problems with rounding color-stops"
With Compass 0.11.beta.7 and Sass 3.1.0.alpha.253.

SCSS:

@import "compass";
@import "compass/layout/grid-background";

@include column-grid-background(12, 2em, 1em, 1em, rgba(100, 100, 225, 0.25), rgba(0,0,0,0), true);

RESULT:

error sass/screen.scss (Line 69: Color stops must be specified in increasing order. 91.8918918918919 came after 91.8918918918919.)

/*
Syntax error: Color stops must be

[2011-04-16 22:57] scottdavis commented on #341
@ericam did you make a failing test for this?

[2011-04-16 23:00] mirisuzanne commented on #341
Nope. But I can.

[2011-04-16 23:04] scottdavis commented on #341
check one in and ill work on it .. im bored and its raining

On Sat, Apr 16, 2011 at 7:00 PM, ericam <
reply@reply.github.com>wrote:

[2011-04-16 23:35] mirisuzanne commented on #341
Ok, so I can commit the sass, but since it throws an error I don't have the correct output code for the other end of the test. I suppose I could run all the math by hand, but it'd take a while and I couldn't do it right now. Is that still helpful to you?

[2011-04-16 23:37] mirisuzanne commented on #341
All I'd be doing is adding:

[code]

to the grid_background.scss test.

[2011-04-16 23:43] sporkd commented on #337
So would we need/want to disable sprockets if we were to do this?  Or is the goal for compass to start using sprockets for including partials?

[2011-04-16 23:47] chriseppstein commented on #337
The goal is to single source the asset configuration for rails users. We will teach Sass how to use sprockets for finding imports.

[2011-04-16 23:53] sporkd commented on #337
Hooray. I was hoping you were going to say something like that.

[2011-04-17 00:25] scottdavis commented on #341
ok ill do it =p

[2011-04-17 00:34] scottdavis commented on #341
this seems to be a problem with ruby's shitty handling of decimals

[2011-04-17 00:44] scottdavis commented on #341
https://gist.github.com/aa435a04493e8e84d6bd

useing the BigDecimal class to to the compair seems to kill the error but i can't verify what the output should be

heres the test output of the failing tests

https://gist.github.com/ef4b740c0a99b6f59902
and:
https://gist.github.com/a1c1c176384493d3b68d

[2011-04-17 01:12] mirisuzanne commented on #341
That output looks right to me. If you check it in, I'll run some live tests and make sure it's all working the way it should.

[2011-04-17 02:10] scottdavis commented on #341
done
https://github.com/chriseppstein/compass/commit/d845c4d48614fb57302054914d722850e4290bf8

[2011-04-17 04:34] olivierlacan opened #342 "Provide info for Heroku compatibility in docs"
Heroku is widely used for Rails projects running the Compass gem and even though I'm aware that it's a read-only environment (where you can only compile inside of the tmp/ folder of a Rails app) I often forget this while creating a new project using Compass.

Chris, as I mentioned on Twitter the Install page on the beta docs would be a good place to warn users who select "Rails project", but the R

[2011-04-17 05:51] mirisuzanne commented on #341
perfect. well solved!

I fixed all the related tests and pushed back.

closed by: 3c86dfa0b3dcb4bae422fd80a26c595fd565a992

[2011-04-17 06:27] mirisuzanne commented on #341
I was wrong. Somehow I just hit the exact same error again by changing the column-width argument from 2em to 4em. Not sure why that would make a difference. Guess I should have done more testing.

[2011-04-17 06:31] mirisuzanne commented on #341
actually a slightly different problem:

[code]

note the very last digit.

[2011-04-17 13:33] scottdavis commented on #341
Stack trace?

Scott Davis

On Apr 17, 2011, at 2:31 AM, ericamreply@reply.github.com wrote:

[2011-04-17 17:07] mirisuzanne commented on #341
/Users/eric/Sites/_misc/test/sass/screen.scss:4
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7.25.d845c4d/lib/compass/sass_extensions/functions/gradient_support.rb:294:in `color_stops_in_percentages'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7.25.d845c4d/lib/compass/sass_extensions/functions/gradient_support.rb:288:in`map'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7.25.d845c4d/lib/compass

[2011-04-17 18:38] #341 closed, assigned to nobody

[2011-04-17 23:50] chriseppstein opened #343 "Don't vendor FSSM"
Change FSSM to a normal gem dependency.

[2011-04-18 18:24] bilts opened #344 "box-flex and display-box are order-dependent"
*Editing initial report.  I originally got the mixins wrong.

The box-flex sass mixin sets the element to be display:block.  If this comes after a display-box declaration, it overwrites the display: attribute.  It seems inappropriate for box-flex to declare display:block, since you'd very often want display:box in this case.

[2011-04-19 09:33] olivierlacan opened #345 "Allow comma-separated multiple values in CSS mixins to be nested"
With the advent of multiple values in several CSS properties (text shadow, box shadow, background-images, etc) I find myself  driven to nest each value in order to increase future legibility.

This seems adequate for Compass & Sass since we tend to write longer properties with SassScript and the new CSS3 mixins.

This:

[code]

is much more legible than this:

[code]

Thanks again for the great wo

[2011-04-19 13:35] scottdavis commented on #345
This is more of a sass issue then compass

Scott Davis

On Apr 19, 2011, at 5:33 AM, olivierlacanreply@reply.github.com wrote:

[2011-04-19 16:04] aurelien-baudet opened #346 "add possibility to disable magic sprite selectors (hover, active, target)"
Hi,

Could you add a configuration variable in order to disable the automatic inclusion of sprite-selectors in sprite (file _base.scss).
Indeed, for the project I am working on, the automatic selectors create problems with Dojo styles because :hover is more specific than .dijitTabHover.

Thank you

[2011-04-19 18:32] mirisuzanne commented on #344
I don't see that reflected in the code anywhere. There should never be an output of `display: block` from any flex-box related mixin. Here's the code for those two:

[code]

Are you possibly overriding those mixins with some of your own?

[2011-04-19 21:35] olivierlacan commented on #345
I was wondering about that. Will post to Sass's Issues then.

[2011-04-19 21:35] #345 closed, assigned to nobody

[2011-04-20 00:00] botandrose opened #347 "querystring cachebuster strategy for lemonade sprites"
Howdy,

I'm interested in switching the cachebusting strategy for the generated sprite images to timestamp-in-the-querystring, rather than hash-in-the-filename.

I first attempted to get a proof-of-concept working via a monkeypatch, but I started seeing strange behavior in the css, namely, the vertical positions were off. For example, I was seeing a background-position-y of -1069px when the image

[2011-04-20 00:20] scottdavis commented on #347
can you create a fork i can pull down and poke around?

secondly do the specs run if you apply your patch to the code directly? `bundle exec rake spec`

[2011-04-20 00:32] scottdavis commented on #346
https://github.com/chriseppstein/compass/commit/6b884d34c3317bd845d6250e6ec41ed59df4d4bf

[2011-04-20 00:35] #346 closed, assigned to scottdavis

[2011-04-20 01:38] chriseppstein commented on #347
What's the motivation behind changing this?

[2011-04-20 01:40] scottdavis commented on #347
i was wondering the same.

[2011-04-20 03:01] #343 closed, assigned to chriseppstein

[2011-04-20 03:13] scottdavis commented on #337
Since imports in sass can be order dependent Im not sure if it makes sense to try to use sprockets to load in the sass partials unless you are saying that a partial is its own sass context then all we need to do is teach sass to write out the correct sprocket comments.

Note: Sprockets is a rack app

[2011-04-20 03:15] scottdavis commented on #337
example from the default css in rails 3.1

<pre>
/*
 * FIXME: Introduce SCSS & Sprockets
 *= require_tree .
*/
</pre>

https://github.com/sstephenson/sprockets/blob/master/lib/sprockets/processor.rb#L98

also able to do `*=require_directory`

https://github.com/sstephenson/sprockets/blob/master/lib/sprockets/processor.rb#L80

[2011-04-20 03:53] chriseppstein commented on #337
What we'll do is make Sass @import directives find things via sprockets. Sass users shouldn't have to use hacky comments to accomplish this behavior. Sass has already implemented this feature, we just need to glue it together.

[2011-04-20 04:06] sporkd commented on #337
Yea, this is kind of what I meant. I am just worried that since sprockets is all rack, it might be too late in the request for compass to intervene.  I imagine that is why sprockets uses the commented out directives.  i.e. the compiled css from sprockets probably has those directives still in them.

[2011-04-20 04:10] chriseppstein commented on #337
Sass::Plugin is all in rack too. In rails, all compass does is configure things and get out of the way.

[2011-04-20 04:21] chriseppstein commented on #323
Do you have rb-fsevents installed?

[2011-04-20 04:27] sporkd commented on #337
Perfect.  Good to know.

[2011-04-20 06:19] botandrose commented on #347
@jetviper21 : Both good ideas. I'll do them and report back.

@chriseppstein : The motivation is consistency with Rails default asset cachebusting strategy, around which we've built some tooling and middleware. Also, to make it more automatic for some of our less technical designers. With the current strategy, the images folder quickly fills up with many sprite-abc54d2.png, sprite-a5b634d.png, spr

[2011-04-20 06:40] chriseppstein commented on #340
@thedarkone I tried what you said, but that doesn't seem to be the major offender.

I spent a few hours on this tonight. I'm pretty sure this is due to the introduction of the in memory cache. I need to look into it more tomorrow.

[2011-04-20 06:46] scottdavis commented on #303
http://www.w3.org/TR/SVG/coords.html#TransformAttribute

[2011-04-20 06:47] scottdavis commented on #347
i was debating adding an option to remove old sprites when a new one is generated

[2011-04-20 16:39] ijy commented on #300
Sorry for the delay in replying.

Ruby: ruby 1.8.7 (2009-06-12 patchlevel 174) [universal-darwin10.0]
Compass: Compass 0.10.6

As for the steps to re-create, well it's just basically a case of putting the watch on the stylesheets directory, making changes to config.rb which sits inside the stylesheets directory. For example changing output_style from :expanded to :compressed. Refreshing the web pa

[2011-04-20 18:27] scottdavis commented on #300
oh this is in 10.6? try it using 0.11 if you can and see if you have the same issue

[2011-04-20 21:04] MyHealthTeams commented on #287
Excellent!  Thank you!

[2011-04-20 23:59] scottdavis commented on #303
partialy fixed by 4e502dda7302d4ca05068dd4bccd335728d07bef

[2011-04-21 02:17] botandrose commented on #347
@jetviper : Changes made here: botandrose/compass@e91cdf022409626726bd ... all spec pass, after I removed the expectation of the uniqueness_hash from them. However, when this is bundled into my app, I'm still seeing the same incorrect vertical position behavior. I suppose I should create a reduced failing test-case now? I was hoping that I was simply missing something obvious, and you could point

[2011-04-21 04:13] chriseppstein commented on #340
@thedarkone Actually that turned out to be about 50% of the issue. Thanks for the pointer.

The relevant fixes are [here](https://github.com/chriseppstein/compass/compare/fec367d60c...9cafbc642c).

Memory use during watch is very stable now.

[2011-04-21 04:38] scottdavis commented on #347
your not appending a cash buster to the image url? im all for helping you getting this working so you can make a plugin. so i would start by crating a test case that will fail when you use what ever code is rendering the bad positions

[2011-04-21 05:04] botandrose commented on #347
@jetviper21 : Thanks for helping me with this. I am appending the cachebuster, actually. It's that subtle last true in:

[code]

It's just not showing up in the specs, for some reason, something to do with the lack of an Compass.configuration.images_dir value in the configuration for the specs. I haven't looked too deeply, still trying to figure out this vertical position bug!

[2011-04-21 08:36] passy commented on #340
I can confirm that the leak has been greatly reduced, however it seems like some changes are no longer detected after your patch. I.e. files are marked as "identical" until the watch service is restarted. I guess this is related to the new hashing algorithm, isn't it?

[2011-04-21 15:05] chriseppstein commented on #323
ping?

[2011-04-21 15:14] chriseppstein commented on #340
I see that too :(

[2011-04-21 19:34] chriseppstein commented on #323
I think this was due to a bug in FSSM when using the rb-fsevent backend. That bug is fixed on master now. Please let me know if your issue is different.

[2011-04-21 19:34] #323 closed, assigned to nobody

[2011-04-21 20:59] Kevnz commented on #323
Sorry, I've actually been sick and haven't had a chance to check this.

[2011-04-21 21:17] karellm opened #348 "Compass and sass"
Hi,

I just wanted to know how I could set compass to use the latest sass gem so I can benefit from the media query and latest features.

Thanks a lot.

[2011-04-21 21:21] chriseppstein commented on #348
Please use our [mailing list](http://groups.google.com/group/compass-users) for questions like these.

To use the latest sass, install the latest compass: `gem install compass --pre`

[2011-04-21 21:21] #348 closed, assigned to nobody

[2011-04-21 21:43] nimbupani commented on #250
WOOT I shall test!

[2011-04-22 03:11] chriseppstein opened #349 "Revisit production defaults and line_comments behavior"
The CLI help incorrectly identified production as the default environment.

line_comments should be off in production mode.

production mode should be compressed instead of compact.

consider making line_comments opt in by default.

[2011-04-22 17:09] Kronuz opened #350 "Transitions should accept multiple transitions separated by commas"
The css3/transitions are currently not accepting a comma separated list of multiple transitions...  I've created a patch to fix this, much in the same way shadow-box does it: https://gist.github.com/937098

[2011-04-22 17:24] imathis opened #351 "Compass extension template defaults to .sass"
Should `compass create my_extension --using compass/extension` instead default to .scss? I think that's the standard we're pointing folks to.

[2011-04-22 17:33] scottdavis commented on #350
can you fork and send a pull? its just easier to merge that way and you get credit =D

[2011-04-22 17:39] Kronuz commented on #350
Sure, no problem... I've added a pull request :)

[2011-04-22 17:44] chriseppstein commented on #351
I suspect these users are savvy enough to know they can use both syntaxes. But if you'd like to change it, go ahead.

[2011-04-22 17:45] scottdavis commented on #351
How about we ask?

[2011-04-22 17:49] chriseppstein commented on #351
nah. at most, we should add a message that gets printed out as part of the installer

[2011-04-22 19:02] imathis opened #353 "Extensions do not seem load from ~/.compass/extensions"
I followed the compass extension tutorial with the latest version of compass. I created a symlink ~/.compass/extensions/fancy-buttons which points to my local development directory for fancy-buttons. I've installed my gems with bundler such that I must prefix my commands with bundle exec (if that matters). When I type `bundle exec compass frameworks` I only see blueprint and compass being listed a

[2011-04-22 19:33] imathis commented on #353
I'm an idiot. So that's good. I didn't realize I failed to change the line:

Compass::Frameworks.register('my_extension', :stylesheets_directory => stylesheets_dir, :templates_directory => templates_dir)
to:

Compass::Frameworks.register('fancy-buttons', :stylesheets_directory => stylesheets_dir, :templates_directory => templates_dir)

The way the framework is listed last and the fact that I wasn'

[2011-04-22 19:33] #353 closed, assigned to nobody

[2011-04-22 19:51] scottdavis commented on #353
lol

[2011-04-23 14:27] scottdavis opened #354 "Failing test after gradient refractor ruby"
https://gist.github.com/80eae6373e078393f408

<pre>
Sass::SyntaxError: wrong number of arguments (0 for 1) for `-svg'
    /Users/sdavis/Work/compass/frameworks/compass/stylesheets/compass/css3/_images.scss:21:in `background'
    test/fixtures/stylesheets/compass/sass/gradients.sass:8
</pre>

[2011-04-23 15:15] scottdavis commented on #351
better yet i made it respond to -x so you can pass a syntax option

830a44868a6dd2bc642a1f62b822e40e3d4f2a30

[2011-04-23 15:16] #351 closed, assigned to scottdavis

[2011-04-24 15:33] kajetanowicz commented on #190
I had exact the same problem. I was getting @import('blueprint.css') literals in my screen.css ( without using compass watch) . For some reason when I removed sass.rb from initializers directory everything started working correctly.

[2011-04-24 16:26] mirisuzanne commented on #291
I've started working on a basic syntax here: https://gist.github.com/939663

I'm recreating the first example in the w3c proposal. It looks to me like `keyframes` are best suited to the proposed new `@children` syntax (which has not yet been implemented). The rest are simple prefixed properties.

[2011-04-24 17:09] chriseppstein commented on #190
@kajetanowicz What did your sass.rb do? If it overwrote the template locations instead of adding to it, then I would expect this behavior.

[2011-04-24 17:39] kajetanowicz commented on #190
Yep, that's exactly what happened. In initializers/sass.rb  I had Sass::Plugin.options[:css_location]  = "public/stylesheets" , in compass.rb: css_dir = "public/stylesheets/compiled".  I've been using Sass in my project for a while but couple days ago i decided to give Compass a try. Because this behaviour might not be so obvious for newcomers like me, it would be great to find short note about it

[2011-04-24 21:10] chriseppstein opened #355 "update blueprint/liquid plugin"
It needs to implement recent changes to the blueprint/grid module.

[2011-04-24 23:28] chriseppstein commented on #274
I made a sprite with 200+images the other day and it worked fine in ruby 1.9.2.

[2011-04-25 02:22] chriseppstein commented on #340
fixed and working now.

[2011-04-25 02:26] #340 closed, assigned to chriseppstein

[2011-04-25 02:27] chriseppstein opened #356 "Gradient mixins don't handle the transparent keyword."
it should treat it as `rgba(#000, 0)` for the purpose of calculations but output as transparent.

[2011-04-25 02:28] chriseppstein commented on #303
This is mostly fixed, you can work around the issue with the transparent keyword by using rgba(0,0,0,0). There's a new issue to track that last aspect. https://github.com/chriseppstein/compass/issues/356

[2011-04-25 02:28] #303 closed, assigned to nobody

[2011-04-25 03:07] chriseppstein commented on #349
fixed.

[2011-04-25 03:07] #349 closed, assigned to chriseppstein

[2011-04-25 14:58] #180 closed, assigned to nobody

[2011-04-25 15:00] chriseppstein commented on #354
fixed by 5962a85a99ba22b7332992e0c7f49576a95bd1a7

[2011-04-25 15:00] #354 closed, assigned to chriseppstein

[2011-04-25 15:01] chriseppstein commented on #288
Closing, rb-fsevent works great now.

[2011-04-25 15:01] #288 closed, assigned to nobody

[2011-04-25 15:03] chriseppstein commented on #190
I just don't see this issue. Can you guys retest with the latest sass 3.1 and compass v0.11 and tell me if you're having issues?

[2011-04-25 15:04] chriseppstein commented on #263
I'm closing this issue. FSSM is now a proper gem dependency, so you can get fixes as soon as they are released.

[2011-04-25 15:05] #263 closed, assigned to nobody

[2011-04-25 16:47] mirisuzanne opened #357 "`gem install compass` installs sass alpha as well"
When sass is not already installed. This should install sass 3.1 instead.

[2011-04-25 18:31] chriseppstein commented on #357
whoops! fixed and pushed as v0.11.1

[2011-04-25 18:31] #357 closed, assigned to nobody

[2011-04-26 14:50] johnrees opened #358 "Compass not autocompiling with pow"
I've noticed that when I run my development sites using a .dev domain with [pow](http://pow.cx) my .scss files aren't being auto compiled like they were with

[code]

Is there a quick/easy workaround for this?

Thanks

[2011-04-26 14:53] chriseppstein commented on #358
are you using edge rails?

[2011-04-26 14:57] johnrees commented on #358
Rails 3.0.5
and
Compass 0.11.1

Should I drop back a bit?

Thanks Chris

[2011-04-26 15:02] johnrees commented on #358
Nevermind, reinstalling pow has fixed it. Sorry about that!

[2011-04-26 15:02] #358 closed, assigned to nobody

[2011-04-26 15:04] chriseppstein commented on #358
And if you start via `rails s` now does it still work? If so, I would consider this to be a pow bug.

[2011-04-26 15:05] chriseppstein commented on #358
ok :) Good to know.

[2011-04-26 23:47] maca opened #359 "sass files not being rendered."
I started a new rails 3.0.7 app and ran

[code]

But no stylesheet is being rendered into public/stylesheets and I get this error:

[code]

[2011-04-26 23:50] chriseppstein commented on #359
sorry to ask the simple questions, but did you add compass to your gemfile? Did you restart your app? Did you make a request to a controller?

[2011-04-27 00:00] maca commented on #359
Well first thing was adding compass and compass-susy-plugin to my gemfile, then I ran the generator (compass init), I've done that before for other apps an was enough to get me going.

I read a thread on the sass github page that informed me that the new convention is for sass files to go into app/views/stylesheets and have a controller and action for each sass template but the problem is though I

[2011-04-27 01:09] maca commented on #359
I ressorted to compass 0.10.4 and it is working now, with a few deprecation warnings.

[2011-04-27 01:26] scottdavis opened #360 "Failing configuration tests"
You forgot to update the tests when you changed the configs

https://gist.github.com/50e702220ad211222bb7

[2011-04-27 04:39] chriseppstein commented on #359
I asked three questions and you somehow avoided answering them.

[2011-04-27 05:12] maca commented on #359
Yeah, I added compass and compass susy to my gemfile, restated the app and made a controller request

[2011-04-27 05:33] chriseppstein commented on #359
It works for me. Here's a transcript of what I did: https://gist.github.com/943762

Please provide similar steps to reproduce if you continue to have the problem.

[2011-04-27 05:33] #359 closed, assigned to nobody

[2011-04-27 07:10] maca commented on #359
Tomorrow I will try to replicate, thanks!

[2011-04-28 04:05] scottdavis commented on #360
fixed

[2011-04-28 04:05] #360 closed, assigned to chriseppstein

[2011-04-28 11:33] chriseppstein commented on #360
Thanks, you rock.

[2011-04-28 12:19] keithamus opened #361 "Support Internet Explorer 10's -ms-linear-gradient"
Compass should include support for the vendor prefixed -ms-linear-gradient which is available in Internet Explorer 10 platform review 1.

[See here for more detail (msdn.microsoft.com)](http://msdn.microsoft.com/en-us/ie/gg192966#_CSS3Gradients)

[2011-04-28 12:38] curvedmark opened #362 "Image doesn't fill sprite horizontally for repeat-x background"
If we have this code

[code]

and my-bg.png isn't the widest image in the sprite, it isn't filled horizontally in the sprite, which leaves transparent stripes in the background when repeated.

I guess this happens to repeat-y background as well (haven't tested).

Also, I'm wondering why the $new-repeat parameter is needed in the sprite-map function? I feel it makes a lot more sense to let the spri

[2011-04-28 13:42] chriseppstein opened #363 "Allow template manifest discovery to accept a path and to options"
to make it easier to put assets into folders and also to allow assets to be shared among templates.

[2011-04-29 00:09] RISCfuture opened #364 "Compass 0.11.1 no longer works for homeless root users"
Deployed the latest Compass gem and got the following error upon starting my Resque worker:

[code]

The relevant code:

[code]

The code is being run as root on a typically-configured Linux deploy target.

[2011-04-29 00:34] chriseppstein commented on #364
Whoops!  We'll get that patched ASAP.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Apr 28, 2011, at 5:09 PM, RISCfuturereply@reply.github.com wrote:

[2011-04-29 00:35] scottdavis commented on #364
We have a outstanding grudge against homeless users

Scott Davis

On Apr 28, 2011, at 8:09 PM, RISCfuturereply@reply.github.com wrote:

[2011-04-29 02:25] scottdavis commented on #362
your going to have to be more specific are you upgrading from lemonaid?

[2011-04-29 03:07] curvedmark commented on #362
No, never installed lemonaid. I first installed 0.11.beta.7 and then updated to 0.11.1.

[2011-04-29 13:35] nel commented on #364
+1 got bitten in production cause my www-data is homeless, this will also probably also fail in various case on windows. expand_path with ~ should be avoided

[2011-04-29 19:33] chriseppstein opened #365 "If Sass::Script::Functions.declare is not defined, give a better error"
they probably have haml 3.0 installed.

[2011-04-29 20:40] kimili opened #366 "Any way to generate a sprite image horizontally?"
Currently, the individual sprites in the generated sprite images are arranged vertically. This creates an issue in certain situations - for instance:

Say you have modules in a layout of fixed width but variable height. Each of these modules has an icon in the upper left corner, icons which you want to sprite. With the current functionality, in order to use a generated sprite in this situation and

[2011-05-01 16:39] chriseppstein commented on #344
The box-flex mixin used to do that, but it's been removed in v0.11.

[2011-05-01 16:39] #344 closed, assigned to nobody

[2011-05-01 16:57] chriseppstein commented on #190
closing

[2011-05-01 16:57] #190 closed, assigned to nobody

[2011-05-01 17:01] chriseppstein opened #368 "Provide an option to automatically cleanup old generated sprites"
This option should default to true, but should be set to false by users who are generating multiple distinct sprites from the same folder of source images.

[2011-05-01 17:02] chriseppstein commented on #347
Closing this issue as the name is misleading, compass will not provide a query-string approach to sprite cache busting. See #368 for future direction.

[2011-05-01 17:02] #347 closed, assigned to nobody

[2011-05-01 17:07] chriseppstein commented on #229
no one else seems to care. closing.

[2011-05-01 17:07] #229 closed, assigned to nobody

[2011-05-01 17:15] chriseppstein commented on #300
Closing. Pretty sure this is fixed in v0.11. Will reopen if @ijy can still reproduce.

[2011-05-01 17:31] #361 closed, assigned to nobody

[2011-05-01 17:31] #365 closed, assigned to nobody

[2011-05-02 14:47] jleider opened #369 "Passing a list of arguments to single-box-shadow fails"
I have a list

[code]

that I pass to single-box-shadow

[code]

however the values im passing dont override the default values set by compass.

Instead of generating:

[code]

I get:

[code]

Even when I pass in all 6 variables via list the default options dont get overridden.

[2011-05-02 15:02] chriseppstein commented on #369
Right, that doesn't work because sass doesn't yet have list -> argument globbing.

Just do this:

[code]

[2011-05-02 15:17] jleider commented on #369
Thats odd because I can do this:

[code]

And it works as expected.

[2011-05-02 16:14] chriseppstein commented on #369
that's because it's exactly what I told you to do with `box-shadow` :) The issue here is that you're using `single-box-shadow` which calls out each argument where as `box-shadow` does not.

[2011-05-02 16:14] #369 closed, assigned to nobody

[2011-05-02 17:05] jleider commented on #369
Ah, ha didnt catch that difference. Thanks.

[2011-05-03 16:37] aaronchi opened #370 "Sprites from nested folders"
Is it possible to change the sprites helper to work with nested folders? It makes it really inconvenient when I'm forced to leave all of my sprite folders at the top level of the images dir. This worked fine with lemonade.

[2011-05-04 02:45] l4u opened #371 "Provide an option to generate png24"
IE6 and photoshop cs3,4 don't support indexed png8

[2011-05-04 04:03] chriseppstein commented on #370
Hmmm. I thought this worked. We'll look into it. What did you try doing and what did or didn't happen when you did that?

[2011-05-04 04:09] chriseppstein commented on #371
I suppose this is regarding sprite generation?

I need to test it using our generated sprites, but I'm pretty sure png8 works fine in IE6 -- I've used them before. Regarding CS3/4, I don't really care about supporting them, they're not browsers and generated sprites don't need to be edited.

[2011-05-04 11:37] l4u commented on #371
IE6 rendered my sprites in a poor quality
probably it is related to the png with alpha channels?

currently I convert the sprites to RGB instead of Indexed, and use a pngfix on ie6.

[2011-05-04 13:28] scottdavis commented on #370
i think you have to change your glob in the @import to be `@import "foo/**/*.png"`

[2011-05-06 03:22] krisbulman opened #374 "documentation - partials"
the link in the documentation leading to "partials" is dead

http://sass-lang.com/yardoc/file.SASS_REFERENCE.html#partials

[2011-05-06 03:59] chriseppstein commented on #374
fixed by 26cb90e2fc629a0ab01a53a8fbe2f3669ab8bd48

[2011-05-06 03:59] #374 closed, assigned to nobody

[2011-05-06 04:00] chriseppstein commented on #374
thanks for the heads up.

[2011-05-06 07:34] MoOx opened #375 "Add an import path option to the command line tool"
Compass should have a import path option like Sass does (-I).
We can do that with the configuration file, but cannot directly with the command line option.
Can we add this ?

[2011-05-06 13:06] tjeden commented on #337
I wasn't able to make compass work with rails 3.1.0 beta1. Problem was with this directive in css:

[code]

It was searching blueprint in assets, not in compass gem.

[2011-05-06 13:15] chriseppstein commented on #337
@tjeden it's not implemented yet. Suggest you use the compass cli to compile for now.

[2011-05-06 18:03] tessro opened #376 "$HOME/.compass/extensions autodiscovery crashes Rails under init"
#242 (3272dc7e5a35316dc2dc29d18430e64ab139726c) introduced a dependency on the Unix environment.  If $HOME is not set, Compass fails to load.  We're loading Compass inside Unicorn through init, which is a common use case.  $HOME is unset.

For now we are reverting to 0.10 which works fine.

It seems to me that Compass extensions that are commonly needed should be rolled into gems of their own, and

[2011-05-06 18:06] tessro commented on #242
This change causes apps to fail to load unless $HOME is defined in their initscripts.  See #376.

[2011-05-07 18:54] morgoth opened #377 "Encoding error on compass font-face mixin"
I'm getting error similar to: https://github.com/chriseppstein/compass/issues/196

My stacktrace:

[code]

You can find source of this app on: https://github.com/morgoth/bridge-score
Not really sure if this is compass or sass problem.

[2011-05-07 19:08] chriseppstein opened #378 "Update compass sinatra example app and docs."
So that @wayneeseguin is not confused.

[2011-05-08 04:04] l4u opened #379 "undefined method `find' for #<Compass::SpriteMap"
vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/staleness_checker.rb:169:in `tree'
vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/staleness_checker.rb:159:in`compute_dependencies'
vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/staleness_checker.rb:142:in `dependencies'
vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/staleness_checker.rb:119:in`dependencies_sta

[2011-05-08 04:08] l4u commented on #379
when i restart webrick, it runs properly

[2011-05-08 10:07] thulstrup opened #380 "Add support for variables within @media rules"
It would be great to be able to do something like this:

[code]

[2011-05-09 05:51] MoOx commented on #380
I think it's a Sass issue (https://github.com/nex3/sass/issues/64)

[2011-05-09 19:49] alanhogan commented on #309
I’m really glad to see this fixed… I recently noticed my IE visitors were seeing white text on white background in my site header, with this issue as the cause (despite my creation of a fallback color in the source SCSS) — updating to the latest beta (or specifying a color for the images model) fixed my issue.  You did the right thing here, Chris.

[2011-05-09 21:02] thulstrup commented on #380
Yeah, I had a feeling it might be.

I've opened a new issue in the Sass queue: https://github.com/nex3/sass/issues/79

[2011-05-09 21:02] #380 closed, assigned to nobody

[2011-05-10 00:28] chriseppstein opened #381 "sprites with the same name as a color value"
Maybe we can be smart here or give a better error message? Took a while to debug why `@include stars-sprite(yellow)` wasn't working.

[2011-05-10 15:00] scottdavis commented on #379
are you on windows? or is there a reason you are running 1.9.1?

[2011-05-10 15:12] scottdavis commented on #350
closed since new issue is open with pull request

[2011-05-10 15:12] #350 closed, assigned to nobody

[2011-05-10 15:26] l4u commented on #379
$ruby -v
ruby 1.9.2p180 (2011-02-18 revision 30909) [x86_64-linux]

compass-0.11.1

Sometimes when I add a graphic file in the sprite folder, this error occurs.
But I couldn't reproduce it.

[2011-05-10 16:35] mocoso opened #382 "Functions that log warnings only work when compiling with the command line tool"
Functions that log warnings only work when using the command line tool, for example if you use

[code]

in your scss file and run compile with

[code]

Your file compiles correctly and the warning "PIE does not support radial-gradient." is logged to the console.

However if you use this same line in scss file in a rails app and let the rails app compile the templates when required then you get the

[2011-05-10 22:23] kieranklaassen commented on #337
but is there a way of importing the correct compass files in SASS via a short term fix? Looking forward to this 3.1 fix.

[2011-05-11 01:13] scottdavis commented on #368
closed by: 325306dcec16b8c8ff1c00b97f08e5c847740826

[2011-05-11 01:15] #368 closed, assigned to scottdavis

[2011-05-11 01:16] scottdavis commented on #370
@aaronchi have you tried what i suggested above?

[2011-05-11 01:17] scottdavis commented on #249
can you give an example im not 100% sure what you mean

[2011-05-11 01:18] scottdavis commented on #362
can you try against master branch i just found a bug that was causing options to not get set on the image classes.

[2011-05-11 01:53] #381 closed, assigned to nobody

[2011-05-11 01:56] scottdavis commented on #379
compass standalone or rails integration?

[2011-05-11 02:42] scottdavis commented on #370
scratch that this was a bug ive got a fix for it

[2011-05-11 02:46] scottdavis commented on #370
fixed by: 753ad37df743d7d39d1cec65df25aefec1ba5f87

[2011-05-11 02:46] #370 closed, assigned to scottdavis

[2011-05-11 07:47] kathi commented on #366
this feature would be really great and would help me a lot.
thanks :)

[2011-05-11 11:24] mlapshin commented on #337
If you inspect `Sass::Plugin.options` in Rails console you'll see they are correct. It seems like load_paths are reset to default value `["."]` during CSS compilation. I don't have any idea what causes this problem.

[2011-05-11 12:09] curvedmark commented on #362
It seems nothing has changed.

I ran`./bin/compass create ~/test`, put previous code in screen.scss, put in images and then ran `./bin/compass compile ~/test`, and images were not filled horizontally.

But I guess I might have done something wrong. After I pulled the project, checked out master branch, running `./bin/compass --version` returns `Compass 0.11.1 (Antares)` which is same as my install

[2011-05-11 17:41] scottdavis commented on #362
no the version shouldn't have changed but the code should have if you pulled master. would you mind creating a spall test app that i can use in order to get this working? ive never actually generated a sprite in this way. which is embarising but hey everyday you learn something new heh

[2011-05-11 22:08] MarioRicalde commented on #292
I found this issue when I was working with it the other day; somehow I didn't find a comment pointing out that the sprites were only for png's. Maybe we should add this as an important note on the documentation?

[2011-05-11 22:15] chriseppstein commented on #292
Sure. but user's don't read docs so we should probably have a better error message in compass.

[2011-05-11 23:06] MarioRicalde commented on #337
What's the status on this? who's working on it?

[2011-05-11 23:08] kieranklaassen commented on #337
yes, I have to less knowledge to fix it but want it really bad thanks!

[2011-05-11 23:23] chriseppstein commented on #337
I am working on it. But I'm tied up w/ work stuff for the last week or so.

[2011-05-11 23:24] MarioRicalde commented on #337
Why don't you post your findings and thoughts about how to solve the problem? maybe we can solve it if you're too busy.

[2011-05-11 23:58] chriseppstein commented on #337
I will get to it. I know when and how to delegate.

[2011-05-12 00:00] MarioRicalde commented on #337
Roger! Thanks for your hard work <3

[2011-05-12 03:29] scottdavis commented on #362
haha i just realized what you are doing wrong. $`<image-name>`-repeat. is your image named "new"? the docs need to be clearer

[2011-05-12 05:07] curvedmark commented on #362
Oh, man. You are absolutely right! I didn't know the "new" part was for individual sprites. Now everything works perfectly. Thank you so much. :)

[2011-05-12 05:41] curvedmark commented on #362
I'm sorry but I just find out one thing that is counter-intuitive:

[code]

Why is the "repeat-x" in div's background rule necessary? Since it's already specified in sprite-map.
In what circumstance would a user want to repeat the img in sprite map and at the same time don't want to that sprite map to be repeated in the page, knowing the fact that sprite map's dimension is variable?

Oh, another m

[2011-05-12 06:31] mvilrokx opened #383 "compass init rails not asking anything"
I just installed compass and I am trying to use it on a new rails (3.0.7) project.  I just ran (as per the doc):

$ gem install compass
$ rails new my_project
$ compass init rails my_project --using blueprint

Apparently this is suppose to ask me:

Compass recommends that you keep your stylesheets in app/stylesheets
  instead of the Sass default location of public/stylesheets/sass.
  Is this OK? (

[2011-05-12 06:58] chriseppstein commented on #383
Rails will compile your stylesheets when you make the first request to a controller. Why it didn't prompt you for directories is not clear. But you can edit your config if you want something different.

Hunt & pecked on my iPhone... Sorry if it's brief!

On May 11, 2011, at 11:31 PM, mvilrokxreply@reply.github.com wrote:

[2011-05-12 07:08] scottdavis commented on #362
"Should I file a new issue for it or is it a correct behavior" please!

Sent from my iPad

On May 12, 2011, at 1:41 AM, gravofreply@reply.github.com wrote:

[2011-05-12 07:22] danielpuglisi opened #384 "watch doesn't recognize changes"
Since I updated from 0.11.beta.3 to 0.11.1, compass watch doesn't recognize changes in live mode. Online after watch is started, compass compiles the changes and then watches for other changes, but it don't recognize them.

[2011-05-12 07:26] danielpuglisi commented on #384
ok, my mistake. Had to update the sass gem too. sry

[2011-05-12 07:26] #384 closed, assigned to nobody

[2011-05-12 09:26] MarioRicalde commented on #337
On a side note; sprockets seems a bit buggy with the require_tree relative paths out of experimentation.

[2011-05-12 14:24] mvilrokx commented on #383
So I don't need "compass watch"?  Is that just for non-rails projects?

[2011-05-12 16:22] greenz commented on #383
I see the same issue. If i am outside of the rails project directory it will prompt me but once i do from the rails directory no prompt.

compass init rails . --syntax sass --using 960

[2011-05-12 17:08] chriseppstein commented on #383
Sorry. I forgot that in rails 3, I have disabled these prompts. We use rails
3.1 conventions now.

On Thu, May 12, 2011 at 9:22 AM, greenz <
reply@reply.github.com>wrote:

[2011-05-12 17:39] mvilrokx commented on #383
Could you please elaborate what those conventions are?

Also, do I need to run "compass watch"? Is that just for non-rails projects?

[2011-05-12 17:53] chriseppstein commented on #383
Source files:

[code]

Generated css:

[code]

And you can use compass watch if you want, but you should disable rails-based compilation using:

[code]

Otherwise you'll be doing it twice.

[2011-05-12 17:53] #383 closed, assigned to nobody

[2011-05-12 18:33] scottdavis commented on #362
also, its probably a vocabulary problem and your right it is counter intuitive. Im totally open to suggestions on how to make this better. The docs are also horrible for the entire spiriting section mostly because i havent had time to work on them.

[2011-05-12 18:34] scottdavis commented on #362
<pre>
Oh, another minor issue, sprite-map("*.png") throws TypeError on line ["136"] of /usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/sass_extensions/sprites/base.rb: can't convert nil into String. It has to be sprite-map("./*.png"). Should I file a new issue for it or is it a correct behavior?
</pre>

This is a downfall of the way the current sprite globing works. the spiriti

[2011-05-12 18:35] scottdavis commented on #362
also keep this issue open so i remember to update the documentation

[2011-05-12 18:37] scottdavis commented on #337
in reality require_tree shouldn't be needed when using sass this is i think what the current hold up is mostly about but, im unsure

[2011-05-12 18:40] chriseppstein opened #385 "Use the rails logger when using compass via rails for compilation"
Compass needs to integrate with the logger for the environment that it is in...

[2011-05-12 18:58] chriseppstein commented on #337
require_tree will be supported via glob-based imports:

[code]

[2011-05-12 22:22] ghost opened #387 ""stack level too deep" error breaks sass --watch when adding @import "compass/css3/pie";"
I apologize in advance if this isn't in fact a Compass issue, but with so many moving parts I have to start somewhere.

While working with SASS I use the sass --watch command to automatically update my .css files as I edit the .scss files.

I already have the following in my base.scss file:

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

As soon as I add:

@import "compa

[2011-05-12 23:19] fantactuka opened #388 "-q, --quiet Are not working for compass compile"
Event if running `compass compile -q` or `compass compile --quiet` it still output compiling info into console, like "identical ../display.css"

Tried with compass (0.11.1)

Is there another way to make it completely quiet?

[2011-05-13 00:14] ghost commented on #387
I've had problems in the past with duplicate gems being installed, and sure enough, I had duplicate sass gems. After some gem uninstalling, then re-installing based on the Compass/PIE group discussion at http://groups.google.com/group/compass-users/browse_thread/thread/5064e92d13285289?pli=1 my error seems to have simplified a bit to:

My local gems have changed. Do any of the following raise any

[2011-05-13 01:59] curvedmark commented on #362
[code]

Thank you. I would suggest that `sprite` function also outputs repeat parameter. Would it cause problems in other places?

[2011-05-13 03:57] scottdavis commented on #362
@chriseppstein would need to comment on that

[2011-05-13 03:58] scottdavis commented on #387
have you run it with --trace?

[2011-05-13 04:04] chriseppstein commented on #362
It seems like a conflation to link the values together at the function level. But i'm not opposed to creating a new function like `sprite-repeat($map)` that returns a repeat value and could be used by mixins or other functions for generating a more complete declaration. Also, such a change would break backwards compatibility.

[2011-05-13 09:08] curvedmark commented on #362
`sprite-repeat` is great.

But can we also introduce a new function that basically does `sprite` + `sprite-repeat`? Otherwise the code isn't going to be petty:

[code]

[2011-05-13 11:12] tomtaylor commented on #376
I'm experiencing this issue too.

[2011-05-13 12:34] ghost commented on #387
This is the output with --trace. Does this imply I'm having trouble with the version of sass I'm running?

$ sass --watch --trace static/scss:static/css

[2011-05-13 18:14] beausmith commented on #101
Compass Gem 0.11.1

Using the following SASS…

[code]

Compass produces the following CSS which displays no radial gradient in Safari 5.0.5…

[code]

Safari 5.0.5 displays correctly when pixel values do not have a unit ("px") specified.

The following CSS works in Safari 5.0.5…

[code]

[2011-05-13 22:24] greenz opened #389 "960.gs native support"
I would like to request a feature that enables 960.gs as a optional grid system when first installing initializing compass such as
--using blueprint.

[2011-05-14 09:11] scottdavis commented on #389
https://github.com/chriseppstein/compass-960-plugin

?

[2011-05-14 19:43] lawrencecurtis commented on #337
Ok i've found the problem.... it uses tilt to do the rendering, the issue has been fixed in master, so add this to your gemfile and all will be well

`gem 'tilt', :git => 'git://github.com/rtomayko/tilt.git'`

[2011-05-14 20:34] lawrencecurtis commented on #337
Seems that fixes a lot of things, but sprites still don't work, get a parser error, why would that be...

`Invalid CSS after "...rethink/*.png",": expected function argument, was ");"`

Source is
[code]
[code]

[2011-05-14 22:18] lawrencecurtis commented on #337
Ok, so if the images live in the public folder then it all works, that error means "i can't find this directory" it seems, now, how hard is it to have sass have the sprites be in app/assets/images and put the compiled png in public/images ?

[2011-05-14 22:46] chriseppstein commented on #337
Compass has to configure whatever instantiates the Sass::Engine to know about our existence. I will work with sprockets and tilt to provide the correct configuration hooks and then compass will be able to work once we integrate with that.

[2011-05-14 22:49] lawrencecurtis commented on #337
@chriseppstein to be fair there isn't much to do, by the looks of things, just using head tilt is enough to make everything work

all that's needed is a way to have all your sprites in app/assets/images/ and it compile into public/images if its rails 3.1

[2011-05-15 02:39] greenz commented on #389
That is an additional gem that you have to download. When you do gem install compass it automatically comes with blueprint all you have to do is run --using blueprint when init your project. There is no seamless integration with 960.gs you have to d/l the plugin a) init the project b) edit the compass.rb file to include require 960 c) init the compass project again using 960. There are 3 additiona

[2011-05-16 02:40] wuyuntao commented on #379
Same problem happens to me.

ree 1.8.7, rails 3.0.7 and compass 0.11.1

[2011-05-16 07:20] curvedmark commented on #362
Or maybe we could just introduce a global variable like `$enable-output-sprite-repeat`, when set to `true`, `sprite` function will also output the repeat parameter. This variable is `false` by default, so it shouldn't break backwards compatibility.

[2011-05-16 18:00] sullimander commented on #196
This issue is back in 0.11.1.  Looks like the fix got reverted.

[2011-05-16 18:04] morgoth commented on #196
I opened new issue for this: https://github.com/chriseppstein/compass/issues/377

[2011-05-16 18:04] sullimander opened #390 "UTF-8 character in font-face mixin causing compile error"
This was fixed in 0.10.6, but is back in 0.11.1.  Looks like the fix for the following issue was reverted somewhere along the line.

https://github.com/chriseppstein/compass/issues/196

The better fix would be to remove the UTF-8 character from the comment on line 40 of the file.

Thanks
Ryan

[2011-05-16 18:13] morgoth commented on #390
duplicate of https://github.com/chriseppstein/compass/issues/377

[2011-05-16 21:06] ghost commented on #387
I'm not even sure if this was the best place to ask, but I did want to report back that I've given up on this. PIE.htc is extremely easy to use without SASS (and Compass) but the environment I'm doing work in is all SASS'd out, so I was attempting to use PIE.htc "the Compass/SASS way".

For whatever reason, my original problem remains. The addition of "pie.scss" and a "@import "compass/css3/pie";"

[2011-05-16 21:06] #387 closed, assigned to nobody

[2011-05-16 21:30] paukul commented on #376
same here. Worked around it for now by adding

[code]

at the very top of application.rb for now. But that's not a very satisfying "solution" in any way

[2011-05-17 06:22] sethbro opened #391 "Sass-cache location no longer customizable"
Working on a Rails 3 project, I have tried to change the location of the sass-cache directory by setting both _cache_dir_ (as mentioned in 0.10.0 release notes) and _:cache_location_ in the _sass_options_ hash. Regardless, Compass stubbornly creates a .sass-cache file in the main project directory whenever it compiles.

[2011-05-17 14:28] he8us commented on #391
Same for me.
Mac OS X w/ Compass 0.11.1

[2011-05-17 15:00] he8us commented on #391
Correction: cache_path did the trick.

All xxx_dir were renamed to xxx_path in 0.10.5 (http://compass-style.org/CHANGELOG/)

[2011-05-18 03:17] ravinggenius opened #392 "Compass::Configuration::Adapters assumes additional_import_path will be a String"
It would be nice if one could register a class with add_import_path in `config/compass.rb` (Rails app). Currently Compass expects a string like '/Users/chris/work/shared_sass'.

[2011-05-18 04:28] 01iv3r commented on #263
I am having this exact same issue using Compass v0.11.1 on my CentOS server via SSH

SSHFS mounted using Transmit v4.1.4 (uses MacFUSE).
scss file saved from Textmate 1.5.10 to SSHFS mount.
compass sees the file changes but compiles a bunch of blank css files 80% of the time,
the other 1 in 5 times it will properly generate only some of the css files.

[2011-05-18 04:39] chriseppstein commented on #263
@featherodd can you please [file a bug with fssm](https://github.com/ttilley/fssm/issues)?

[2011-05-18 05:38] 01iv3r commented on #263
of course. thank you for the reply :)

[2011-05-18 12:34] ryenski commented on #376
@paukul's solution worked for me. Except I put it in my production.rb file.

[2011-05-18 20:43] stouset commented on #337
Compass needs to also stop writing out finished stylesheets. Rails' asset pipeline handles this now, so Compass should step out of the way.

[2011-05-18 21:06] chriseppstein commented on #337
Compass has never written a CSS file to disk in a rails environment. Compass always defers to the framework it is embedded within. The only time sass compiles CSS is if you call the CLI.

[2011-05-18 21:09] scottdavis commented on #337
@lawrencecurtis once all this is hashed out ill be able to tap into the rails 3 asset pipeline and add the images directory to the sprite importers search path.

[2011-05-18 21:21] stouset commented on #337
For some reason, I'm having stylesheets written out to `public/stylesheets` when Compass is installed. Any idea why this would be happening?

[2011-05-18 21:23] stouset commented on #337
Also, @import doesn't seem to work against files named (according to 3.1 convention) `foo.css.scss`. It only finds files named `foo.scss`.

[2011-05-18 21:27] chriseppstein commented on #337
stouset these are problems with rails, sass and sprockets.

[2011-05-18 22:33] ttilley commented on #263
resolved in essentially the same fashion: avoid the high latency filesystem operation entirely unless wrapped in a comforting rb-inotify embrace: https://github.com/ttilley/fssm/issues/21#issuecomment-1195538

We've both received multiple complaints about an issue I'm not sure there's a fix for unless using inotify on linux, where the event fires only after the write has completed, or polling, whe

[2011-05-19 01:36] ixley commented on #300
I'm having this same problem and am updated to v0.11.1
Using 'compass watch my_directory' generates new css files after any changes, but does not recognize changes to the config.rb file until I force compile them like noted above.

[2011-05-19 04:11] stouset commented on #337
Fair enough. However, the `public/stylesheets` issue seems to exist only due to Compass. I've been digging around and haven't found a culprit. If an `assets/stylesheets/application.css.scss` exists, `public/stylesheets/application.css` is created if and only if Compass is installed.

[2011-05-19 05:05] stouset commented on #337
I think you're right about having @import use sprockets' `require` behind the scenes. Without it, Rails can't tell that the file's contents have changed for invalidating caches and asset hash-stamps.

[2011-05-19 05:48] jaryl commented on #342
I just tried this out and ran into a couple issues. Firstly, the sass directory is wrong because compass sets up rails projects with the sass files in the app folder, thus it should be:

[code]

Secondly, the initializer wouldn't work because compass now runs as a railtie and it doesn't want to be initialized twice and gives a warning as you start up. I'm not sure if it affects anything in runtime

[2011-05-19 12:08] scottdavis commented on #337
@stouset we have a fix in the works we are waiting on the sprockets guys to get everything hashed out before we can move forward

[2011-05-19 18:38] stouset opened #393 "blueprint-print can't be used inside @media selector"
I'm using a `@media print` selector to avoid print stylesheets from requiring a second connection to my webserver. However, the `blueprint-print-defaults` mixin doesn't nest well. It contains selectors that aren't nested to the parent element (`&`), so it affects the main layout.

[2011-05-19 18:41] stouset commented on #393
I'm an idiot. Never mind.

[2011-05-19 18:41] #393 closed, assigned to nobody

[2011-05-19 21:08] chrisdrackett opened #394 "compass watch isn't watching files"
No idea why this stopped working. I'm on a mac with 0.11.1:

when I first run watch it'll find all changes, but any changes I make after that are not picked up. I've tried on multiple projects and it seems to be every compass project on my computer.

[2011-05-19 21:32] scottdavis commented on #394
which version of fssm do you have installed? are you using a Gemfile in your project?

[2011-05-19 22:03] chrisdrackett commented on #394
I'm just using compass on its own for these projects, fssm is 0.2.7

[2011-05-19 23:09] chriseppstein commented on #394
Please upgrade sass, haml and fssm to the latest versions and let me know if it fixes it.

Hunt & pecked on my iPhone... Sorry if it's brief!

On May 19, 2011, at 5:08 PM, chrisdrackettreply@reply.github.com wrote:

[2011-05-20 07:32] MoOx opened #395 "Cannot use sprite with sass --compass"
I'm trying to use sprite mixins  but I'm using sass --compass (since
I'm waiting for compass to have an import path command line option)
When I use sass --compass for a code which work with normal compass bin, i've this error:
NoMethodError: undefined method `top' for nil:NilClass

Chris tell me it's is normal. So here is the stacktrace:

[code]

[2011-05-20 22:41] nathos commented on #389
@greenz from the 960 plugin README, just use:

`compass create -r ninesixty my_project --using 960`  to create a new 960.gs-based project.

[2011-05-20 23:39] Zettersten opened #396 "Error when importing "icon/*.png""
I am trying to follow the tutorial here: http://compass-style.org/help/tutorials/spriting/

My code:

[code]

It should spit out all the items i have in my icon folder. Instead I get the following error...

error main/public/includes/sass/imports/header.scss (Line 16: Invalid CSS after "...p("icon/*.png",": expected function argument, was ");")
### Note: the end of #logo is line 16.

My versions,

[2011-05-20 23:51] ixley commented on #300
anything else I should check for or info I can provide?

[2011-05-21 02:32] scottdavis commented on #396
list out your icon directory for me just do a ls and paste it here

[2011-05-21 02:35] scottdavis commented on #300
I have run through this a few times see above and I'm not seeing an issue. That being said im not calling you crazy i just don't know what to tell you =\

[2011-05-22 17:37] chriseppstein opened #397 "Support Compass's preferred_syntax option in Rails 3.1 generators"
When compass is installed the rails generators should conform to the preferred_syntax setting.

[2011-05-23 14:46] Zettersten commented on #396
Hey all,

This issue was fixed. The directory path I was asking for did not exist. I really got hung up on the error it gave me. All in all, this is "not-a-bug".

The only thing I'd like to point out is that the error message may need to be tweaked.

Thanks for your time,
Erik

[2011-05-23 14:46] #396 closed, assigned to nobody

[2011-05-23 18:44] chrisdrackett commented on #394
no worries! everything is at the latest version, but no change. I'm now using this method (which I actually like better:)

http://www.senchatouchbits.com/4/better-alternatives-to-compass-watch.html

[2011-05-23 19:17] jotto opened #398 "not auto compiling on rails 3.1.0.beta1 and 3.1.0.rc1"
on each request in rails 3.0.7 compass compiles. starting with 3.1.0.beta1, it does not compile on requests

[2011-05-24 09:39] wrumsby commented on #394
We've experienced something similar - of the 4-5 developers working with Compass and `compass watch` I'm the only one who doesn't have a problem with watch, all the other devs have the problem that Chris mentioned (works first time).

IIRC the `watch` configuration doesn't trigger for subsequent updates. Like I said I'm the only one who doesn't have this so I'll get the others to comment here.

[2011-05-24 13:36] yfeldblum commented on #364
Is there an upcoming release which will include this fix?

[2011-05-24 13:39] nel commented on #364
If you use bundler you can add:

[code]

But I am also waiting for a a bug-fix release

[2011-05-24 14:57] scottdavis commented on #398
duplicate #337

[2011-05-24 14:57] #398 closed, assigned to nobody

[2011-05-24 15:00] chriseppstein commented on #394
Would love to get to the bottom of this. Does uninstalling and re-installing compass, sass, and fssm do the trick? If not it sounds like we have 4 machines that share a common trait here. I will kiss you if you guys can narrow this down to something reproducible so I can fix it.

[2011-05-24 15:12] chriseppstein commented on #364
There will be a release very soon, until then, using the above gem
configuration is acceptable.

[2011-05-24 16:33] adion opened #399 "Display Helper: elements-of-type(html5) missing elements"
I believe the `html5` display value is missing a few tags: http://web-design.blogs.webucator.com/2010/10/14/list-of-new-html5-tags/

Also, `dialog` isn't a valid HTML element.

[2011-05-24 18:30] JeanMertz commented on #337
Any update on this? I tried getting compass to work on Rails 3.1.rc1 using these instructions, but it didn't work for me: http://metaskills.net/2011/05/18/use-compass-sass-framework-files-with-the-rails-3.1-asset-pipeline/

[2011-05-24 18:52] chriseppstein commented on #337
Ok so here's the deal. Rails gave us a whole 2 weeks notice before putting out their RC and they discarded months of planning and went with a new architecture. In those two weeks we had to prepare, I was busy with work. The Rails API is still not solidified. I was working with yehuda on this last night. But until these core issues are resolved, I cannot add compass support. I AM ON THIS and will n

[2011-05-24 19:06] slbug commented on #337
@nulvierdrie, it works using rails master, sass master and compass master branches.

[2011-05-24 19:06] ghost commented on #337
Is this the same issue? Everything worked well directly through SASS in Rails 3.0.x

Given:
Rails 3.1rc
/app/assets/stylesheets/subfolder/_stylesheet1.scss
/app/assets/stylesheets/subfolder/_stylesheet2.scss

set variable $main-color in _stylesheet2.scss
use variable $main-color in _stylesheet1.scss

in an scss file in /app/assets/stylesheets I use

@import "subfolder/stylesheet2"
then
@import "su

[2011-05-24 19:20] stouset commented on #337
@chriseppstein No pressure. For what it's worth, my comments were meant to highlight possibly-overlooked ways that Compass is currently incompatible with Rails 3.1 so that they can be considered as well. I've been trying to look into how/why Compass is currently incompatible, but haven't had as much time as I'd like either.

[2011-05-24 19:26] ghost commented on #337
@stouset

You mentioned the assets getting written out to disk automatically (not through the CLI). This could be set within your environment.rb file in your config folder, as something like the following:

Sass::Plugin.options[:template_location] = {"./app/sass" => "./public/stylesheets/"}

This would cause the SASS to write out the compiled application.css file to the specified target, using the

[2011-05-24 19:31] stouset commented on #337
That's precisely the behavior I don't want. And there's no code in my app to do that. It's being done somewhere in the Compass code, AFAICT, but I haven't had the time to determine exactly where.

[2011-05-24 20:27] scottdavis commented on #337
Look guys we are working on a fix this isn't just a compass issue it has todo with how sass ties into sprockets you can look around and try and figure stuff out but once the fix is finalized your efforts will possibly be wasted so lets just have some patience we are working hard on getting this working.

If you want to read up on what the core issue was you can read this pull request thread (note

[2011-05-24 20:29] stouset commented on #337
@jetviper21 I am not so convinced. With Compass installed, the behavior in question happens. With Compass not installed, no stylesheets are written to disk. I suspect it has to do with the options Compass configures Sass::Plugin with.

[2011-05-24 20:32] scottdavis commented on #337
@stouset yes but, compass configures the rack app for sass. sass doesn't have a railtie, compass does

[2011-05-24 20:38] stouset commented on #337
Right. The Sass rack app does the actual labor, but Compass' configuration of the Sass plugin is most likely the culprit for the undesired behavior.

[2011-05-24 20:39] ghost commented on #337
Ah ya, I just popped that into my Rails 3.1 app and it doesn't work like that even if you want it to (I was thinking to set up my own asset pipeline as with 3.0; the Rails 3.1 pipeline seems inefficient if it really packs all CSS assets together and all JS assets together, as I don't want to have re-serve everything when only certain parts change, or serve up jquery when the user may already have

[2011-05-24 20:43] scottdavis commented on #337
@introspectif

<pre>
It's just frustrating because 3.0 felt so solid with all the refactoring and modularization of the framework, whereas this release feels particularly brittle.
</pre>

I couldn't be more on your side with this quote 3.1 is very unrails like in stability

[2011-05-24 21:49] wrumsby commented on #394
Our current schedule has us trying to uncover the cause of this in a couple of weeks time. In the meantime we might look at using a TextMate save action, but I will try to collect information about what is going on when we look at our internal issue.

[2011-05-24 21:54] ghost commented on #337
In case others are having problems with partial stylesheets being parsed by Sprocket (in order of appearance under the stylesheets folder) rather than parsed according to the order they are @import'ed into the relevant stylesheet, the easiest solution I found was to
1.) Create a folder under assets, but outside of stylesheets (and thus not in the load path for parsing stylesheets) called something

[2011-05-25 07:12] MoOx commented on #376
I'm launching compass from a PHP called process, so I have the same issue.
For now I prefix my compass call with `'export HOME=' . $_SERVER['DOCUMENT_ROOT'] . ';'`

[2011-05-25 10:26] rstacruz commented on #377
Same, using compass 0.11.1 and haml-3.0.18 here.

[2011-05-25 11:45] JeanMertz commented on #337
@introspectif could you please elaborate on how you've set up compass with 3.1 and @import?

My steps (which don't work):
1. add compass gem to gemfile, using require: false, because else it will compile the scss files in public/stylesheets, which we don't want, we want them to be included in the application css file
2. use compass init rails --prepare (only generates config/compass.rb)
3. add tes

[2011-05-25 15:18] dryman opened #400 "typo on callback function"
lib/compass/compiler.rb
156:      Compass.configuration.run_callback(:styesheet_error, sass_filename, formatted_error)

styesheet_error
should be
stylesheet_error

There is a missing **l** at **stye**

[2011-05-25 15:26] scottdavis commented on #400
sounds like yet another thing that needs a test written GAH i hate finding these ill get this fixed

[2011-05-25 15:30] scottdavis commented on #337
You need to require compass or else you can't `@import "compass"`

[2011-05-25 15:35] scottdavis commented on #400
i take that back there is a test its just commented out https://github.com/chriseppstein/compass/blob/stable/test/integrations/compass_test.rb#L31

[2011-05-25 15:43] dryman commented on #400
Thanks for super fast reply!
BTW
'styesheet' typo only appears at this line. It is double checked via find and grep.

[2011-05-25 15:49] #400 closed, assigned to scottdavis

[2011-05-25 20:48] chriseppstein opened #401 "repeating-gradients"
Add support for repeating gradients to compass.

As a work around users can add the following to their configuration:

[code]

then it will just work with the [image mixins](http://compass-style.org/reference/compass/css3/images/)

[2011-05-25 22:37] ixley commented on #300
fair enough. it's not the worst problem to have. Maybe it'll resolve itself with continued upgrades down the line.

[2011-05-25 22:44] chriseppstein commented on #300
I don't see any code in the update_project command for this... I thought it was there. It should just be a matter of running:

[code]

[2011-05-26 09:17] chriseppstein commented on #337
If you want to help out:

You'll need the following gems checked out via github with the given branch:
- rails/rails/sass-cleanup
- chriseppstein/sprockets/engines
- nex3/sass/stable
- chriseppstein/sass-rails/master

add gem 'sass-rails' to your Gemfile pointing the :path option at your checkout.

Compass still does not work at this time, now that I have the basic structure in place for sass, I c

[2011-05-26 12:52] scottdavis commented on #337
i get some tests done ITS ALL I DO IS WRITE TESTS!

[2011-05-26 17:33] ghost commented on #337
@nulvierdrie

I created a scss-based template of my own a while back that works much like compass. As long as you keep your partials out of the assets/stylesheets directory (for now), you'll be fine.

In other words, you could @import files into any scss file in your assets/stylesheets directory, even linking to the partials in the gem directory, and they would get parsed in the correct order.

Th

[2011-05-26 18:37] scottdavis commented on #389
This is not going to be included in compass and will remain a plugin

[2011-05-26 18:37] #389 closed, assigned to nobody

[2011-05-26 18:44] scottdavis commented on #300
@ixley, try using this commit see if it fixes the problem

https://github.com/chriseppstein/compass/commit/d080fdddb779d5dc4d56676d664c3fccd11bc724

[2011-05-26 19:49] JeanMertz commented on #337
@introspectif

Actually, there is this post: http://metaskills.net/2011/05/18/use-compass-sass-framework-files-with-the-rails-3.1-asset-pipeline/

That together with your partials solution would solve the problems for now I guess, no?

[2011-05-27 05:24] alanhogan opened #402 "Using deprecated gem method?"
[code]

I get this every time I `compass compile`.

[2011-05-27 05:37] brentkirby commented on #337
If it helps anyone out as a temporary fix :)

What I did was copy the compass and blueprint stylesheets folders from frameworks/ into my vendor/ directory, removing all of the underscores from the file names. (change partials to files)

Gemfile:

[code]

Make sure to use the :require => false or else compass will try to compile to /public/stylesheets

In config/initializers/sass.rb

[code]

The li

[2011-05-27 05:45] chriseppstein commented on #402
fixed on stable already. will go out with the next release.

[2011-05-27 05:45] #402 closed, assigned to nobody

[2011-05-27 05:46] alanhogan commented on #402
Cheers, sorry to bug you!

[2011-05-27 06:01] MarioRicalde commented on #337
Temporary fix: use `compass watch` with `/config.rb`:

[code]

Just run `compass watch` on your project root and you're good to go. ;D

[2011-05-29 20:04] AndreasMadsen opened #403 "Undefined mixin all-icon-sprites"
Hey
Well i don not have much experience with compass, but i get this error:
Undefined mixin 'all-icon-sprites'
When i search the reason is that people use the wrong folder name, but this is not the case.

My config.rb looks like this:

[code]

And my file structure is:
/
- /IMG
  | - /sprite
     | - RSS.png
     | - login.png
     | - search.png
     | - print.png
- /CSS
  | test.scss
- /SASS
  |

[2011-05-29 20:12] chriseppstein commented on #403
The name of the mixin is derived from the name of the folder. So in your case it would be `@include all-sprite-sprites`.

[2011-05-29 22:18] masterkain opened #404 "Blueprint on Compass master returns invalid CSS"
Hello,
I'm using Rails 3.1-stable (git), sass-rails (git master), tilt (git master), compass (git master).

I have set up this application and everything seems to work, but when trying to use Blueprint the compiler bombs:

[code]
# Gemfile, relevant gems

[code]
# app/config/initializers/sass.rb

[code]
# app/assets/stylesheets/application.css

[code]
# app/assets/stylesheets/partials/_base.css.sc

[2011-05-30 06:52] naltatis opened #406 "global configuration for sprite generation"
is there a way to specify spacing between sprites globally?

If i read this correctly http://compass-style.org/reference/compass/helpers/sprites/#sprite-map I have to pass my options into every sprite-map.

Setting the default spacing globally would be nice.

[2011-05-30 09:24] hagenburger commented on #406
How many sprite-maps do you have? Usually it’s 1 or 2 per project for me.

Setting the spacing globally would be possible. But this results in bigger file sizes and (more important) uncompressed memory usage in the browsers. You should set it per image (not per map) if possible to get the best results.

[2011-05-30 09:33] naltatis commented on #406
I guess i will end up with 4-5 sprites.

Setting the spacing is necessary to support mobile webkit. When you zoom in or out, the browser uses the surrounding pixels to scale the background images. So you get a fine line at the top and bottom of your image.

I know that it uses more memory, but I guess there is no other way to avoid this effect.

[2011-05-30 19:48] scottdavis commented on #406
seems justified ill add it to the list

[2011-05-31 08:57] chriseppstein commented on #337
I've just submitted a pull request to rails for proper sass integration via the sass-rails plugin. https://github.com/rails/sass-rails/pull/2 Once this is accepted, I will be able to support rails in compass.

[2011-05-31 08:59] MarioRicalde commented on #337
Awesome news chris! thank you for your hard work :)

[2011-05-31 09:05] JeanMertz commented on #337
Great work chris, thanks a lot. Let's hope it makes it in before Rails 3.1 final...

[2011-05-31 09:11] gdeest commented on #337
Great news !

@nulvierdrie: it would be a shame if it didn't. What's the point of claiming you're supporting SASS and making headlines about it, when this support is clearly broken and all we have is synctatic sugar ?

[2011-05-31 15:39] AndreasMadsen commented on #403
Thanks
I don't know if this is the right place to say it but itsn't really clear that the folder name also has influence on what the @import name is.

Perhaps something like would make it more clear?
@import "customFolderName/*.png";
@include all-customFolderName-sprites;

I'm sorry to bother you.

[2011-05-31 17:40] SolidRhino commented on #337
This is great news

[2011-05-31 23:32] kieranklaassen commented on #337
Awesome! Thank for the hard work!

[2011-06-01 01:50] Phize opened #408 "*_path settings don't work with relative path."
*_path settings don't work with relative path with following configuration.

config.rb:
...
project_path = '.'
css_dir = 'css'
css_path = '../css'
...

command:
$ compass init

actual result:
./css

expected result:
../css

[2011-06-01 02:40] #408 closed, assigned to nobody

[2011-06-01 04:38] Phize opened #409 "cannot compile sass files with relative sass_dir."
Compass(sass?) cannot compile sass files when relative path is set to sass_dir.

config.rb:
http_path = "/"
css_dir = "stylesheets"
sass_dir = "../sass"
images_dir = "images"
javascripts_dir = "javascripts"

command:
$ compass init

output:
directory ../sass/
   create ../sass/screen.scss
   create ../sass/print.scss
   create ../sass/ie.scss
Nothing to compile. If you're trying to start a new pro

[2011-06-01 04:49] Phize commented on #408
I made a little hasty judgement.
Relative path works well with *_dir except for sass_dir.
I opened new one https://github.com/chriseppstein/compass/issues/409

[2011-06-01 06:49] vad opened #410 "Sprite optimization"
It seems impossible to run an image optimizer automatically on the generated sprites.

It would be handy to have a setting in config.rb to specify a CLI command (with interpolation for input name, output name)

[2011-06-01 11:28] JeanMertz commented on #337
Now onto the important question: has anyone got this working in a new rails 3.1 project?

Do I just create a new 3.1 rc1 app and add `gem "sass-rails"` and `gem "compass"`, or do I have to wait for the changes to be implemented in rc2 (hopefully) to use the new functionality?

[2011-06-01 14:36] scottdavis commented on #410
when the new packing implementation goes live i have set up chunky png to use maximum compression so using a 3rd party will not be necessary. unless you think compression level should be an option?

[2011-06-01 14:37] scottdavis commented on #409
using the latest compass?

[2011-06-01 15:13] vad commented on #410
usually i use imgopt, which does a few optimization:

http://lyncd.com/2009/03/imgopt-lossless-optimize-png-jpeg/#whatwhy

Do you think is useless? I don't know what chunky_png does.

[2011-06-01 15:18] scottdavis commented on #410
touche. chunky png uses zlib but in your compass.rb config file you can add

<pre>
on_sprite_saved do |filename|
  `run some command on #{filename}`
end
</pre>

[2011-06-01 15:19] scottdavis commented on #410
http://compass-style.org/help/tutorials/configuration-reference/#callbacks

[2011-06-01 15:20] scottdavis commented on #410
actually this would make a great extension

[2011-06-01 15:30] #410 closed, assigned to nobody

[2011-06-01 15:31] vad commented on #410
thank you! it would be good to have an extension to do this, but i don't know ruby...

[2011-06-01 18:41] scottdavis opened #412 "update gemfile and rakefile to use rake 0.9.0"
so travis.ci will shut up and rails 3 will play nicely

[2011-06-02 06:23] dfischer commented on #337
@chriseppstein thanks for the patch. Your hard work is appreciated.

[2011-06-02 09:53] felixandersen commented on #337
@nulvierdrie I tried and had problems. According to @chriseppstein's latest comment code needs to be written in compass to tie in to rails asset system. That code does not exist yet, but once it does this issue thread will be closed and it will just Work™

[2011-06-02 13:52] scottdavis commented on #337
chris is super busy but he has started working on it hopefully he pushes a topical branch soon and ill get it finished

[2011-06-02 15:42] jwallaceparker commented on #337
@nulvierdrie I got sass, compass & blueprint working by creating a config/initializers/sass.rb file with this content:

[code]

This is based off the [MetaSkills thread](http://metaskills.net/2011/05/18/use-compass-sass-framework-files-with-the-rails-3.1-asset-pipeline/) referenced above.  Note: I only have .scss files in the app/assets directory.

[2011-06-02 16:22] chriseppstein commented on #337
Be sure to rip out all these hacks and that initializer when we do the next release.

[2011-06-02 16:25] jwallaceparker commented on #337
@chriseppstein Noted. Thanks!

[2011-06-02 16:52] timmfin opened #413 "Request: Don't use paths for compass "built-in" mixins"
We're using Compass for a relatively big web app with a few different developers. One thing that can be annoying is needless compiled CSS churn based on comment-only changes. Such as:

[code]

I assume this happened because different developers have installed Compass differently (globally vs in their home directory).

To prevent this from happening every commit, maybe it would be helpful to show a

[2011-06-02 17:20] chriseppstein commented on #413
Line comments are a development feature. If you are checking in your CSS you should do so using the education environment which disables line comments by default

[2011-06-02 17:20] #413 closed, assigned to nobody

[2011-06-02 20:34] chriseppstein opened #414 "Use modernizr, QUnit and Test Swarm to test css3 module"
Let the browsers tell us what we should be supporting :)

[2011-06-02 20:45] chriseppstein commented on #414
@paulirish points out this page for reference: http://modernizr.github.com/Modernizr/test/index.html#caniuse

[2011-06-03 00:28] tehviking commented on #337
When this is fixed, will partials work properly? My hacks are making baby Jesus cry.

[2011-06-03 00:36] scottdavis commented on #337
Yes

Scott Davis

On Jun 2, 2011, at 8:28 PM, tehvikingreply@reply.github.com wrote:

[2011-06-03 04:54] bhollis commented on #376
This is a duplicate of https://github.com/chriseppstein/compass/issues/364 and it's already been fixed in master.

[2011-06-03 04:56] tessro commented on #376
@bhollis thanks for the catch. Closing.

[2011-06-03 04:56] #376 closed, assigned to nobody

[2011-06-03 06:36] curvedmark opened #415 "Unable to center a sprite in a map"
After @import "images/*.png", setting $<map>-<sprite>-position to 50% doesn't cause the sprite to be centered in the map.

I guess it's because 50% is not a supported value? Will it ever be supported?

[2011-06-03 09:08] masterkain commented on #337
Waiting eagerly on updates, if there is something we/I can do please let us know.

Currently on Rails 3.1-stable git and sass-rails (git) adding load_paths to Sass doesn't activate extra load paths anymore like it did few days ago.

Thanks!

[2011-06-03 16:07] Phize commented on #409
Yes, I'm using the latest release 0.11.1.
When I set absolute path to project_path, relative sass_dir also works well.
(But default project_path is '.', so relative sass_dir doesn't work alone.)

[added] sorry, I closed this thread by mistake, then I reopened.

[2011-06-03 16:46] imathis opened #416 "When using @media bubbling, @extend requires a local selector"
# articles {

  @media only screen and (min-width: 480px) { > article { @extend .foo; } } // works fine

[2011-06-03 17:06] chriseppstein commented on #416
Can you file this against sass plz?

Hunt & pecked on my iPhone... Sorry if it's brief!

On Jun 3, 2011, at 9:46 AM, imathisreply@reply.github.com wrote:

[2011-06-03 17:26] imathis commented on #416
Duh, sorry. Doing it now.

[2011-06-03 17:26] #416 closed, assigned to nobody

[2011-06-03 18:57] chriseppstein commented on #337
https://github.com/chriseppstein/compass/commits/rails31

Installation:
- rails using the `3-1-stable` branch from git
- sass-rails from git
- latest sass release
- latest sprockets release
- compass using the `rails31` branch from git

Pull requests will now be gladly accepted against this branch. Things that remain:
- asset host integration
- asset timestamp invalidation
- sort out sprite image

[2011-06-03 19:33] masterkain commented on #337
Thanks @chriseppstein, latest commit I'm on is

[code]

but I think something is missing here because assets aren't getting found:

[code]

I think this pull request might fix it: https://github.com/rails/rails/pull/1473#issuecomment-1298892 but again, it should not be a problem with compass itself, once they fix it I'll take a look.

In the meantime I removed all hacks and initializers, can you c

[2011-06-03 19:55] chriseppstein commented on #337
@masterkain You don't need to add compass to the import path. And your http urls should be /assets/application.css, but if you're using `stylesheet_link_tag` you should be insulated from such details.

[2011-06-03 19:56] masterkain commented on #337
@chriseppstein, ah I see, good to know, thanks.

Yes, I'm using a normal stylesheet_link_tag but something is definitely broken in rails, it was working few commits ago.

[2011-06-03 20:16] chriseppstein commented on #337
Sorry, just pushed a commit to sass-rails that I had locally and is needed to make sprites work in rails.

[2011-06-04 04:22] lexer opened #417 "Unselectable mixin"
User select is not cross browser. It is reasonable to include following mixin to compass.

@mixin unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}

[2011-06-04 04:24] lexer opened #418 "Mixin for input placeholder"
At least 4 browser now partially support  input placeholder style (firefox 4, safari, chrome, opera 11). It is reasonable to include experimental mixin for this.

http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css

[2011-06-04 15:21] mirisuzanne commented on #417
This should actually be:

[code]

or something along those lines. I haven't tested. But the mixin should mimic the CSS property in full, not a single value for that property.

[2011-06-04 15:28] mirisuzanne commented on #418
There is not a great way to do this in compass at the moment. One solution has been discussed here:

https://gist.github.com/923593

But using it would require overriding a mixin to set your own styles. Not an ideal solution. This could be fixed with the 'children' feature that has been discussed but never implemented:

https://gist.github.com/923780

[2011-06-04 22:08] aantix commented on #337
I was able to get the latest commits up and running with a new 3.1 app with the following (I am utilizing Blueprint).  This assumes that you have a Rails 3.0.x application with Compass installed that you can reference from.

1) Gemfile
    gem 'sass-rails', :git => 'https://github.com/rails/sass-rails.git'
    gem 'compass', :git => "https://github.com/chriseppstein/compass.git", :branch => "rails

[2011-06-04 22:20] masterkain commented on #337
I pasted a gist here with some examples: https://gist.github.com/1007518

[2011-06-06 05:04] Ti-webdev opened #419 "@extend and ampersand"
SCSS:

<pre><code>.a { color: red; }
.b {
    &-c { @extend .a; }
}</code></pre>

Expected result:
`.a, .b-c { color: red; }`

 Actual result:
`.a, -c.b { color: red; }`

[2011-06-06 05:34] chriseppstein commented on #419
Hi thanks for the bug report. Can you please file this against Sass? http://github.com/nex3/sass/issues

[2011-06-06 05:34] #419 closed, assigned to nobody

[2011-06-06 14:00] chriseppstein commented on #404
Why do you have compass as :require => false? and why are you doing all this initialization stuff? The compass railtie does this and the lack of require makes this error.

[2011-06-06 14:00] #404 closed, assigned to nobody

[2011-06-06 14:03] chriseppstein commented on #385
dupe of #382

[2011-06-06 14:03] #385 closed, assigned to nobody

[2011-06-06 14:06] masterkain commented on #404
ah yeah, this is old, sorry :)

[2011-06-06 14:09] chriseppstein opened #420 "Make sure the blueprint grid lines up correctly with the new grid debugger."
reported on twitter: https://twitter.com/#!/garybernhardt/status/77489486463893504

[2011-06-06 15:55] scottdavis opened #421 "document background-with-css2-fallback"
http://compass-style.org/reference/compass/css3/gradient/

[2011-06-06 21:05] sethbro commented on #391
Good to know. Thanks, he8us.

[2011-06-06 21:05] #391 closed, assigned to nobody

[2011-06-07 18:49] software-project commented on #377
Same for compass 0.11.1 and 3.2.0.alpha.3

[2011-06-08 11:40] bradphelan commented on #337
I've got some problems with compass with rails 3.1 that haven't been mentioned above.

https://gist.github.com/1014261

I'm getting errors such as

[code]

and then failures to resolve variables that are defined in @import'd partials.

The error seems to be coming from

[code]

 I've tried pp'ing puts'ing and to_s'ing the root object at this point but all i get is an error that nilclass has
 no me

[2011-06-08 11:43] JeanMertz commented on #337
@chriseppstein, with 3.1.0.rc2 out, have the changes you proposed to make compass work with rails 3.1 been added in? And if so, does compass now work with 3.1.0.rc2 or are there still changes needed on the compass side?

Thanks.

[2011-06-08 12:18] oriolgual commented on #337
I'm having the same problem as @bradphelan (with Rails 3.1.0.rc2)

[2011-06-08 12:28] bradphelan commented on #337
This might help. I popped open RDebug at the exception point and tried to display the root. Got this backtrace

[code]

and got the following stack trace

[code]

[2011-06-08 12:59] bradphelan commented on #337
Actually I think the cache error is irrelevant. My real problem is that the variables will not get imported from mixins but the css will.

[2011-06-08 13:58] oriolgual commented on #337
No luck here @bradphelan. We are also using compass + blueprint so maybe this is the problem.

[2011-06-08 14:02] bradphelan commented on #337
I figured out my problem with the variables not being imported.

My partials were named

_foo.sass

and then

@import foo

would only import the css not the vars

but

if I renamed it

_foo.css.sass

then all is well. Too much magic foo going on here :)

B

On Wed, Jun 8, 2011 at 3:58 PM, oriolgual <
reply@reply.github.com>wrote:

[2011-06-08 14:02] bradphelan commented on #337
I figured out my problem with the variables not being imported.

My partials were named

_foo.sass

and then

@import foo

would only import the css not the vars

but

if I renamed it

_foo.css.sass

then all is well. Too much magic foo going on here :)

[2011-06-08 14:02] zerobearing2 commented on #337
@bradphelan - make sure your sass partial filenames are "_partial.css.sass"! Rails 3.1 is expecting "css.sass" or "css.scss". I was having problems with my partials too until I renamed them. Hope that helps.

[2011-06-08 14:21] oriolgual commented on #337
LOLZ, @bradphelan @zerobearing2 that was what was happening to me!

[2011-06-08 23:24] SolidRhino commented on #337
It looks like Sass convert the scss to css, on per file bases, and then give the css to Sprockets to combine it so that it is one css file.

The problem with that is that it is not posible to create one file with all the mixens (including compass) you need for a project, and automatically import it for every file so that you have access to all mixens in all the scss files. Or am I wrong on this po

[2011-06-08 23:50] chriseppstein commented on #337
@ivotrompert I will investigate. It would be great if you can make a failing test case in sass-rails.

[2011-06-09 03:33] wrumsby commented on #394
Hi, not sure if this helps, but I created a [Google Docs Spreadsheet](https://spreadsheets.google.com/spreadsheet/ccc?key=0Athz6x4CxSLrdFlsaXFZbWhnSklhRDJLcnpwMDI3cEE&hl=en_US&authkey=CLvVufMO) comparing the `gem local` output of myself and two other developers.

`compass watch` works for me; `compass watch --poll` works for at least one of the other developers, but `compass watch` doesn't.

[2011-06-09 11:39] Jesse-Breuer commented on #337
I recently got compass working on 3.1 rc1. Was trying to set up blueprint modules, and saw that what was generated seems to be meant for rails 3.0 architecture. Is there a good resource or tutorial out yet as to what modifications to make to run blueprint compass on 3.1?

[2011-06-09 11:43] philippbosch commented on #395
@jezdez is currently trying to add Compass support to django-compressor (jezdez/django_compressor@d0411eba021c54e4f0f56ff8a54319fa7ebf398a). It's also relying on `sass --compass` which works fine so far except that we also experience the same issue described here when trying to use sprites. Any hint much appreciated.

[2011-06-09 12:27] Jesse-Breuer commented on #337
To answer my own question in case it helps anyone, the best directions I've seen are here:
http://metaskills.net/2011/05/18/use-compass-sass-framework-files-with-the-rails-3.1-asset-pipeline/
and if you read the first comment it explains an easy way to get blueprint working.

[2011-06-09 12:33] JeanMertz commented on #337
@JesseBreuer actually if you look in the comments above you will find that link in the comments, and some other tips on how to get it working properly. Obviously this isn't the way it should/wil work in 3.1 final, but for now, yes that will work.. somewhat.

[2011-06-09 12:43] MoOx commented on #395
It's not a bug from compass, just a bad usage.
It's a configuration problem.
See https://github.com/nex3/sass/issues/89

For the PHP filter I've rewritten, I do not use sass --compass anymore. See https://github.com/MoOx/assetic/blob/compass-bin/src/Assetic/Filter/CompassFilter.php

[2011-06-09 12:43] #395 closed, assigned to nobody

[2011-06-09 13:06] dblock commented on #377
I think the problem is the default character encoding. See https://github.com/nex3/haml/issues/269.

[2011-06-09 14:28] haarts commented on #336
Too bad. I believe this would solve the issue with Compass and read only filesystems like Heroku.

[2011-06-09 15:33] scottdavis commented on #336
the real problem is mhtml syntax

[2011-06-09 16:50] chriseppstein commented on #336
@haarts heroku's model is broken. They are adding a deploy step where stylesheet compilation can occur before the slug is locked down. This is necessary for rails 3.1 support.

[2011-06-09 19:35] scottdavis commented on #379
im getting this also now and im working on getting it fixed