[2011-11-08 22:06] parkr opened #613 "Cannot Concatenate Strings in @import"
I cannot seem to use variables when using the `@import` command. I have 2 different styles (white & red) that I want to choose from. At the moment, I have:

`screen.scss`:

[code]

`main.scss`:

[code]

`partials/_identity.scss`:

[code]

`partials/_search.scss`:

[code]

And I get this error when running `compass compile`:

[code]

It doesn't look like the variable is being properly concatenated.

[2011-11-08 22:11] chriseppstein commented on #613
This is technically a sass issue, but it's one that we've already addressed numerous times. Imports cannot be dynamic because that would prevent us from determining dependencies via static analysis of the file which makes a lot of things annoying and slow. I've rarely seen a sitation where the code cannot be restructured to accomodate this limitation even tho dynamic imports would certainly be a n

[2011-11-08 22:11] #613 closed, assigned to nobody

[2011-11-08 22:16] parkr commented on #613
Ok, thanks!

[2011-11-09 09:51] barraponto commented on #605
See http://sass-lang.com/docs/yardoc/file.INDENTED_SYNTAX.html#id25

[2011-11-09 09:54] barraponto commented on #599
@ericam can't we use the `on_style_saved` callback to generate this file? Trying to use it out of the box and missing an image file is frustrating.

[2011-11-09 12:06] scottdavis commented on #599
I think what he was getting at is everyone's underline.png is different

Sent from my iPhone

On Nov 9, 2011, at 4:54 AM, Capi Etherielreply@reply.github.com wrote:

[2011-11-09 14:13] brandon-rhodes commented on #605
barraponto — ah, so the mailing list messages were for people writing Sass rather than Scss? Fair enough. Now I am just confused about my initial two issues: (a) why imports of non-existent files result in no error messages, and (b) why a crucial directive that I need to compile my web site's Scss seems to be missing or deactivated in the most recent Compass version.

[2011-11-09 18:33] mirisuzanne commented on #599
@barraponto It is certainly a problem for things not to work out of the box. But right now we have a bug (missing file) and a broken approach (an image that should be different for everyone). I'm suggesting we fix the approach, not just the bug.

[2011-11-09 21:00] antpaw opened #614 "sprite doesn't add repeat-x"
Hi, this code works well, but i just ignores the repeat-x part. i have no idea what I'm doing wrong

[code]

generated code (i've extended some classes inside sass)

[code]

gem:
    compass (0.12.alpha.0)
      chunky_png (~> 1.2)
      fssm (>= 0.2.7)
      sass (~> 3.1)

[2011-11-09 22:08] chriseppstein commented on #614
hmmm. @hagenburger can you weigh in?

[2011-11-10 10:13] hagenburger commented on #614
There are 2 different `repeat-x` types: the CSS value and the image generation value. Your code should enable the sprite generator to place the image several times in one line in the sprite image if the width is smaller than the total width.

If you want to use the CSS `repeat-x` you have to do this by yourself, e.g.:

[code]

(Do not use `background` unless you want to override the generated code

[2011-11-10 11:39] antpaw commented on #614
okay tbh i dont understand your answer, because i don't see a the point, why not just fix this bug?

but it doesn't matter anymore to me, because i've found a better way to implement the compass sprites

[code]

the problem is, the spacing gets ignored once again.
it would be great if you could fix this too

[2011-11-10 16:02] chriseppstein commented on #614
If you create the sprite-map like that you need to pass $spacing: 20px as an argument. It's not a bug.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Nov 10, 2011, at 3:39 AM, Anton Pawlikreply@reply.github.com wrote:

[2011-11-10 16:08] hagenburger commented on #614
This is not a bug, this is a feature but difficult to explain. So it may be a “bug” in the documentation which I should improve.

[2011-11-10 18:11] antpaw commented on #614
okay now i get it, well as you've said the documentation is very misleading. but i think i got the hang out of it now and it rocks. thanks guys!

[2011-11-10 19:18] barraponto commented on #599
@ericam well, on_style_saved callbacks would fix it while we change the approach. If I knew how to get a Compass plugin to modify the values in config.rb, I'd write a patch.

BTW, I believe we can try generating the grid with repeating gradients, what do you think?

[2011-11-10 20:10] mirisuzanne commented on #599
We already are using gradients for the grid-background mixins that I'm proposing we use here. We aren't using repeating gradients because they can't account for the concept of a side-gutter. Though we could use some logic to create simpler repeating gradients (less code) when there are no side-gutters (or they are equal to the internal gutters).

Compass doesn't actually have built in support for

[2011-11-10 22:29] barraponto commented on #599
@ericam no support for repeating gradients, although @chriseppstein did post a workaround on #401

[2011-11-10 22:33] mirisuzanne commented on #599
https://github.com/chriseppstein/compass/pull/615

[2011-11-11 04:15] gavinhughes commented on #514
+1

[2011-11-12 11:53] leehambley commented on #516
I'm seeing ~14 seconds to compile the following:

[code]

Using:

[code]

The top of `screen.css.scss` looks like:

[code]

The `import.scss` looks like:

[code]

[2011-11-15 13:41] emattias commented on #512
I have the same problem.

Why isn't just the query string cache busting method used? (Looks like in the [sprite example](http://compass-style.org/reference/compass/helpers/sprites/#sprite) it is used. Is there a setting to use the same filename, only change the querystring?)

So the first version of the sprite is

icons.png?1234

and the second is (still icons.png)

icons.png?4321

This would solv

[2011-11-15 15:07] dbanck opened #617 "Sprites inside @media queries"
I'm using sprites inside a `@media screen and (max-width: 480px)` query.

But the generated CSS will apply to all elements and not only those inside the media-query. So it will override my other sprite.

Example:
main.sass:

[code]

_mobile.sass:

[code]

The generated CSS looks like this:

[code]

So the second sprite will override the first one, even if it's just indented for mobile usage.

[2011-11-15 15:52] scottdavis commented on #512
run `compass clean` and recompile

[2011-11-15 15:56] scottdavis commented on #617
ho hum this is a bad bug @chriseppstein

[2011-11-15 15:58] benjohnson opened #618 "http_images_path not working in 0.12.alpha.0?"
Hi there,

I'm attempting to get 0.12.alpha.0 working with a standalone install of sprockets. Almost everything works with help from  sprockets-sass and sprockets-helpers, but I think I'm seeing a bug where http_images_path just doesn't work in 0.12.alpha.0.

Can anyone confirm that it's not just me? Is this intentional?

Thanks.

[2011-11-15 16:10] #618 closed, assigned to nobody

[2011-11-15 16:11] benjohnson commented on #618
From the changelog:

Added a new set of configuration properties for generated images. generated_images_dir, generated_images_path, http_generated_images_dir, and http_generated_images_path can now be set to control where generated images are written and how they are served. Added a corresponding generated-image-url() helper function. These should rarely be needed and will default to your correspo

[2011-11-15 16:15] chriseppstein commented on #617
It's not a bug. The mixins set up the per-sprite properties and then extend the base class. In order for this to work, you have to define the base class in the proper media context. This means that you can't use the magic import, but you can run

[code]

and then edit that file to meet your needs and import it instead.

Maybe we should add some docs for this?

[2011-11-15 21:59] emattias commented on #512
I tried that and that worked. But I would like to not need to run clean and compile everytime I (or somebody else) add a picture to a sprite in one of the scss files in the project.

Am I wrong in thinking that compass would keep track of all the scss files refering to a sprite and update them all when the sprite filename is changed? Because that would be awesome!

[2011-11-16 01:05] dbanck commented on #617
If it's not a bug, some docs with examples would be really great. (:

[2011-11-16 01:32] timmolendijk opened #619 "Where does the output of `compass watch` go?"
I'm trying to run `compass watch` from a `Cakefile` (CoffeeScript's Node.js-based build system). When I spawn a new process (`require('child_process').spawn 'compass', ['watch']`) it will indeed watch changes and recompile them. In that sense it works. But I cannot seem to catch the process's output. Nothing comes in over `stdout`.

This problem only applies to `compass watch`, output of other com

[2011-11-16 01:38] chriseppstein commented on #619
It outputs to stdout like all the rest of the commands. If it didn't you wouldn't see it in the terminal output.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Nov 15, 2011, at 5:32 PM, Tim Molendijkreply@reply.github.com wrote:

[2011-11-16 02:06] timmolendijk commented on #619
Yeah, that's what I was thinking. Node.js's spawn method doesn't seem to agree though.

It turns out to be even weirder. With `--boring` nothing comes in over stdout or stderr for sure. Without `--boring` some data seems to come in but it is incapable of making something of it. Whatever you do it prints as empty string (but some coloring seems to make it through).

_Any_ clue what's different in `

[2011-11-16 02:47] timmolendijk commented on #619
P.S. The same behavior exists when spawning `compass` in a plain Node.js script, so Cake(file)/CoffeeScript has nothing to do with this.

[2011-11-16 02:50] timmolendijk commented on #619
More analysis:
- forked processes shouldn't be problematic: https://twitter.com/#!/ejpbruel/status/136636397246353408
- Node's `child_process.exec` experiences similar problems: https://twitter.com/#!/ejpbruel/status/136639257161900032

Really _really_ curious what `compass` is doing internally... Any thoughts? My Ruby skills are non-existent unfortunately.

[2011-11-16 04:44] timmolendijk commented on #619
[Issue report over at Node.js](https://github.com/joyent/node/issues/2127)

[2011-11-16 09:43] rvock opened #620 "Sprites: New Function "sprite-names""
Hi,

I would like to suggest a new function for the sprites:
sprite-names should return a (sass) list with all the (base)names of the files in a sprite for usage in other sprite-\* calls.

Then it would be possible to loop over them to use them in custom code or use the result to give to the sprites() function:

[code]

The Ruby Code to do this could look something like this: (I've never written R

[2011-11-16 17:09] ZeeAgency commented on #611
Thanks !

[2011-11-16 18:17] scottdavis commented on #512
well it should regenerate a sprite when you remove or add a file to the folder for that sprite map what sass are you using thats causing the problem

[2011-11-16 18:18] scottdavis commented on #512
query string cache busting is bad for cacheing inline cache busters are the future you can see more detailed examples here: http://compass-style.org/help/tutorials/spriting/

[2011-11-16 18:19] chriseppstein commented on #619
If you identify something that we're doing wrong. please let us know.

[2011-11-16 18:19] #619 closed, assigned to nobody

[2011-11-16 18:39] timmolendijk commented on #619
Bleh, yeah I don't know. Can't make much of the source code.

[2011-11-16 19:31] emattias commented on #512
I'm using Sass version 3.1.10 (Brainy Betty)

Sass and compass are installed and running on my Snow Leopard mac and the compass project files are on a NFS mount on a ubuntu virtual machine run with virtualbox. Does that have something to do with it not recognizing changes in the sprite folder?

Could you elaborate on inline cache busting, please?

[2011-11-16 22:03] scottdavis commented on #512
I assume compass watch is using polling over nfs? and when i said sass i ment your .(sass|scss) file sorry for the misunderstanding

and for cache busting this is a good read: http://eng.wealthfront.com/2011/02/bulletproof-rails-asset-caching.html

Also query string cache busting breaks down at the reverse proxy level when you run a site like ours and are pumping out millions of hits an hour cache

[2011-11-16 22:09] kmiyashiro opened #621 ""rem" not a recognized unit"
When doing a calculation, like `($base/$context)rem`, compass ignores the whole line and it simply doesn't get included in the compiled version. No errors, but not expected outcome.

[2011-11-16 22:22] chriseppstein commented on #621
In sass, every number has an associated unit. You cannot just glom on a unit to the result of a calculation, you need to have units in your expression. So the code above should be:

[code]

where the units of `$base` and `$context` are irrelevant as long as they are the same (the units cancel).

[2011-11-16 22:22] #621 closed, assigned to nobody

[2011-11-16 22:41] emattias commented on #512
Yup it polls over nfs. As I tried to explain before, compass and sass is installed on my mac and the scss and css files are located on the nfs mount.

My compass version is Compass 0.11.5 (Antares) and ruby is 1.8.7 (2010-01-10 patchlevel 249) [universal-darwin10.0]

[2011-11-17 00:16] scottdavis commented on #512
i just wanted to make sure you were not trying to use `rb-fsevent` over nfs

[2011-11-17 00:17] scottdavis commented on #512
this also may be an FSSM bug which is the core of compass watcher it controlls the polling for changes? have you tried guard-compass? i wonder if you get the same problems

[2011-11-17 06:55] shaun-floss opened #623 "CSS3 transitions missing -o- vendor prefix"
The -o- prefix isn't being set for transitions. I'm using a transition like this: `@include transition(all, 2s, ease, 0);` I've tried explicitly setting: `$experimental-support-for-opera: true;` but that doesn't seem to work. Am I missing something?

[2011-11-17 17:46] MoOx commented on #401
Do we just need to add a repeating-linear-gradient sass function like this one ?
https://github.com/chriseppstein/compass/blob/stable/lib/compass/sass_extensions/functions/gradient_support.rb#L271

[2011-11-21 13:14] ronnqvist opened #624 "config.sass_dir configuration is ignored"
config.sass_dir setting according to wiki/Sinatra-Integration doesn't seem to affect anything, "views" remains the place where Sinatra looks for sass-files.

[2011-11-21 15:20] aaronchi opened #625 "0.12.alpha.1 spriting issue"
When upgrading to 0.12.alpha.1 in a Rails 3.1 app, I get errors like this trying to generate sprites:

[code]

This is working in 0.12.alpha.0

[2011-11-21 15:23] scottdavis commented on #625
Clear your sass cache

Sent from my iPhone

On Nov 21, 2011, at 10:20 AM, aaronchireply@reply.github.com wrote:

[2011-11-21 15:29] aaronchi commented on #625
Same issue after clearing cache. It doesn't seem to be able to generate sprites.

[2011-11-21 15:45] scottdavis commented on #625
can you make me a test project that triggers this ill have to find a windows machine to test on until then i would go back to the previous version

[2011-11-21 16:38] aaronchi commented on #625
added here:

https://github.com/aaronchi/Compass-Issue-625

[2011-11-21 18:24] scottdavis commented on #625
now to find someone i know with a windows machine =)

[2011-11-21 22:09] stoplion opened #626 "no -moz prefix for box-sizing"
+box-sizing(border-box) outputs all browser prefixes but -moz

[2011-11-21 22:43] necolas opened #627 "Remove -ms-box-sizing"
IE8+ implemented `box-sizing` without prefix, so it serves no purpose.

https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/css3/_box-sizing.scss

[2011-11-22 16:07] alexkehayias opened #629 "Compass watch not working with scss syntax"
I recently tried switching to the scss syntax, but any project created using this syntax will not work with "compass watch." I thought I had messed up my setup, but when I go back to my sass syntax projects, compass watch works fine. Any new project created with sass syntax also works with compass watch. I've also tried compass watch --poll and even compass compile doesn't always work with an scss

[2011-11-22 16:12] leopic commented on #629
Can you post an example of the scss syntax that's not working? What does compass watch --trace outputs?

[2011-11-22 16:14] scottdavis commented on #629
Can you post the error

Sent from my iPhone

On Nov 22, 2011, at 11:07 AM, Alex Kehayiasreply@reply.github.com wrote:

[2011-11-22 16:27] alexkehayias commented on #629
there were no errors, it just would not detect the changes. --trace does not reveal any new output. I've tried purposely adding errors and it would not catch it. I have double checked that I am watching the correct directory and have tried it with specifying a specific folder.

Here's the .scss file that it should be detecting changes to. I tried simple little changes like adding an h2 or changing

[2011-11-22 16:44] scottdavis commented on #629
Run compass config --debug from the project root

Sent from my iPhone

On Nov 22, 2011, at 11:27 AM, Alex Kehayiasreply@reply.github.com wrote:

[2011-11-22 16:49] alexkehayias commented on #629
Here's the debug. The paths look ok to me, but maybe I'm missing something.

'''
Configuration sources:
command_line, /Users/alexkehayias/Dropbox/Private/Python/foundation/config.rb, stand_alone, implied, defaults
****\* asset_cache_buster = nil *****
default: -, -, -, -, -
value: -, -, -, -, -
raw: -, -, -, -, -
resolved: -, -, -, -, -
****\* additional_import_paths = nil *****
default: -, -, -,

[2011-11-22 16:58] scottdavis commented on #629
have you tried `compass clean` and then run watch

[2011-11-22 17:06] alexkehayias commented on #629
Yes, it finds the first change, but subsequent changes are not seen when the .scss file is modified.

[2011-11-22 18:26] scottdavis commented on #629
Weird

Sent from my iPhone

On Nov 22, 2011, at 12:06 PM, Alex Kehayiasreply@reply.github.com wrote:

[2011-11-22 18:28] agibralter opened #630 "sass-rails and compass *_url helpers conflict"
Both sass-rails and compass define Sass helper functions with the same names:

https://github.com/rails/sass-rails/blob/master/lib/sass/rails/helpers.rb#L29-35
https://github.com/chriseppstein/compass/blob/stable/lib/compass/sass_extensions/functions/urls.rb#L24-49

Are they meant to be able to work together? Is there any point in having the two together?

[2011-11-22 18:30] scottdavis commented on #630
One overrides the other this is on purpose

Sent from my iPhone

On Nov 22, 2011, at 1:28 PM, Aaron Gibralterreply@reply.github.com wrote:

[2011-11-22 18:44] agibralter commented on #630
@scottdavis -- which overrides which? I'm trying to use `font-url(..., true)` but `rake assets:precompile` is telling me `wrong number of arguments (2 for 1) for 'font-url'`

[2011-11-22 18:53] agibralter commented on #630
Basically I was trying to end up with:

[code]

Using **sass-rails** helpers (apparently that's what seems to have priority), I was able to achieve that by doing:

[code]

[2011-11-22 19:07] scottdavis commented on #630
Are you using the latest alpha?

Sent from my iPhone

On Nov 22, 2011, at 1:53 PM, Aaron Gibralterreply@reply.github.com wrote:

[2011-11-22 19:11] agibralter commented on #630
Yup. Here is my Gemfile:

[code]

[2011-11-22 19:16] scottdavis commented on #630
Put compass under sass-rails in the assets group

Sent from my iPhone

On Nov 22, 2011, at 2:11 PM, Aaron Gibralterreply@reply.github.com wrote:

[2011-11-22 19:16] alexkehayias commented on #629
lol agreed. Tried restarting and reinstalling the gem too. Guess I'll just stick with sass syntax for now.

[2011-11-22 19:22] agibralter commented on #630
Hmm still doesn't work -- I still get `wrong number of arguments (2 for 1) for font-url`

[2011-11-22 19:23] agibralter commented on #630
And what's the point of compass's `font-url('foo', true)` method anyway when `sass-rails` provides `font-path`?

[2011-11-22 19:27] agibralter commented on #630
This is what I was trying to do to get the `?#iefix` and `#ChunkFiveRegular` suffixes in the font urls with digests:

[code]

It seems like my pure `sass-rails` approach works:

[code]

Is there a reason for compass to have `font-url` at all? Is it just for non-rails projects? Would it make sense to suppress these conflicting compass helpers in Rails 3.1+ projects?

[2011-11-22 19:33] scottdavis commented on #630
Compass will not re define them if they exist but you need to make sure sass-rails is loaded before compass

Sent from my iPhone

On Nov 22, 2011, at 2:27 PM, Aaron Gibralterreply@reply.github.com wrote:

[2011-11-22 19:43] agibralter commented on #630
So whichever is first takes precedence?

[2011-11-22 19:56] scottdavis commented on #630
Yes

Sent from my iPhone

On Nov 22, 2011, at 2:43 PM, Aaron Gibralterreply@reply.github.com wrote:

[2011-11-23 13:58] JeanMertz opened #632 "opacity 0.5 results in css 0.005"
When I use

[code]

The result I get is a css file which sets `opacity: 0.005;`. Only after changing `0.5` to `50` it gives the desired result (`0.5`).

I tested this in the latest Safari and Chrome browsers.

[2011-11-28 18:31] vbichkovsky commented on #296
I've just stumbled on this issue today. Okay, I don't get an exception, but my repeat-x image has a gap, as it doesn't fill the sprite horizontally. To fix the issue, I just changed the code which calculates sprite's width.
I'm going to make a pull request with my commit.

[2011-11-28 22:44] whather commented on #516
I'm also seeing really long compile times with compass and Rails 3.1. Removing compass, compile times are normal and fast. Have any improvements been made recently?

[2011-11-28 23:36] scottdavis commented on #516
latest version of sass?

[2011-11-28 23:39] whather commented on #516
Yeah:

Using sass-rails (3.1.5)
Using sass (3.1.11)
Using compass (0.12.alpha.2)

[2011-11-28 23:49] scottdavis commented on #516
sprites?

[2011-11-28 23:52] whather commented on #516
No sprites

[2011-11-29 08:20] leehambley commented on #516
( +1 no sprites, for me either ) - seeing compile times of the previous
example that I posted in the region of 8 seconds.

It \* definitely\* helped (~30%?) to kick out the initializer hack as
described here:
http://metaskills.net/2011/05/18/use-compass-sass-framework-files-with-the-rails-3.1-asset-pipeline/-
I notice that he has updated the article recently to recommend _not_
following his instru

[2011-11-29 09:58] davetheninja commented on #292
@hagenburger - You say "you won’t have any difference in the resulting sprite map" but for people unfortunate enough to still have a requirement to support IE6 (like me) PNG wont cut the mustard.

PNG transparency is not supported in IE6 :-(

[2011-11-29 10:59] hagenburger commented on #292
@davetheninja this issue is about loading GIFs. The result would not differ if you load a GIF or 8 bit PNG.

_For saving images:_ You can set the PNG output file to 256 colors (IE6 does support 1 bit PNG transparency just like for GIFs). This configuration should work (sorry, I can’t test it at the moment):

[code]

[2011-11-29 11:31] davetheninja commented on #292
Most most most excellent sir!

On 29 Nov, 2011, at 6:59 PM, Nico Hagenburger
reply@reply.github.com
wrote:

[2011-11-30 09:59] GirlBossRush commented on #623
I too am facing this issue. The problem only came up after switching from SCSS to Sass. All other usual vendor prefixes are created except Opera. Running 0.12.alpha

[2011-11-30 10:23] eklipse2k8 commented on #356
I'm hitting this :-/.

[2011-11-30 13:07] andriusch opened #634 "Rails 3.1 and sprite-dimensions"
Seems on newest alpha of compass (0.12.alpha.2) sprite-dimensions doesn't work anymore (it works on 0.12.alpha.0). Error looks like this:

TypeError: can't convert nil into String
/home/box2/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.2/lib/compass/sass_extensions/functions/image_size.rb:17:in `extname'

I investigated this and seems that wrong image path is passed to Rails.application.assets.

[2011-12-01 11:15] schnittchen opened #635 "SASS deprecation warning for on_updating_stylesheet"
With sass 3.1.11, I get

Sass::Compiler#on_updating_stylesheet callback is deprecated and will be removed in a future release. Use Sass::Compiler#on_updated_stylesheet instead, which is run after stylesheet compilation.

This is called from lib/compass/configuration/helpers.rb:70:in `configure_sass_plugin!'

[2011-12-01 19:34] scottdavis commented on #635
Known issue but ill leave this open as a reminder thanks!

[2011-12-01 19:55] #635 closed, assigned to nobody

[2011-12-01 19:58] scottdavis commented on #634
are you using sprockets?

[2011-12-01 20:04] scottdavis commented on #634
Also the image_dimensions needs to get the full path to the file. im not sure why it would be passing anything to sprockets. It needs to ask sprockets where to find the file? maybe if i could see a gist of the sass causing the issue i can understand this a bit better.

[2011-12-01 20:19] scottdavis commented on #632
which version of compass?

[2011-12-01 20:21] scottdavis commented on #632
also are you sure the opacity mixin isn't being over ridden someplace? the source indicates 0.5 === 0.5

hit view source: http://compass-style.org/reference/compass/css3/opacity/

[2011-12-01 20:22] scottdavis commented on #630
can you make me a test app that replicates this so i can get to the bottom of this im trying to iron out all of the rails 3.1 issues for a release

[2011-12-01 20:23] scottdavis commented on #629
its weird because i have an intern using this now with scss and its working

[2011-12-01 20:25] agibralter commented on #630
Sure, I've got a deployment I'm working hard to get done, but after I'll try to throw one together. I'll try to do it in the next couple of days.

[2011-12-01 20:26] scottdavis commented on #624
Mind making me a test app i don't work with sinatra much

[2011-12-01 20:26] scottdavis commented on #630
thanks appreciate it

[2011-12-01 20:28] #584 closed, assigned to nobody

[2011-12-01 20:38] scottdavis commented on #625
Well this is working on my mac so that limits this to a windows issue i think

<pre>
[sdavis@sdavis:Compass-Issue-625 (master)]$ bundle exec rake assets:precompile
/Users/sdavis/.rvm/rubies/ruby-1.9.3-p0/bin/ruby /Users/sdavis/.rvm/gems/ruby-1.9.3-p0/bin/rake assets:precompile:all RAILS_ENV=production RAILS_GROUPS=assets
/Users/sdavis/.rvm/rubies/ruby-1.9.3-p0/bin/ruby /Users/sdavis/.rvm/gems/ruby

[2011-12-01 20:41] scottdavis commented on #605
`gem install -i Gem compass` is wrong i think you just need to run `gem install compass` makesure after running this you can run `compass version`  im thinking compass isn't actually installed. what command are you using to compile the stylesheets?

[2011-12-01 20:42] scottdavis commented on #606
also forgot to ask which version of rails

[2011-12-01 20:45] ghost commented on #634
Yes using sprockets. I don't have code right now, will post it tomorrow if I won't forget, but it's nothing fancy just creating sprite map with sprite-map and then asking for dimensions of one of the sprites using image-dimensions.

If you take a look at https://github.com/chriseppstein/compass/blob/master/lib/compass/app_integration/rails/actionpack31/helpers.rb#L13 this is where compass seems to

[2011-12-01 20:51] scottdavis commented on #634
weird im not having this issue in my app using the new version and im using tons of sprites is it possibly an old version of sprockets?

[2011-12-01 20:55] scottdavis commented on #580
can not as in it shouldn't? or as in its broken and doesn't reset the font?

[2011-12-01 20:58] scottdavis commented on #542
@chriseppstein did you implement this?

[2011-12-01 20:58] #599 closed, assigned to nobody

[2011-12-01 21:01] scottdavis commented on #501
did this get fixed in sass?

[2011-12-01 21:08] ronnqvist commented on #624
I'm referring to the example at https://github.com/chriseppstein/compass/wiki/Sinatra-Integration just try changing the sass_dir setting to something else.

[2011-12-01 21:26] chriseppstein commented on #542
I added `compass-env()`

[2011-12-01 21:28] chriseppstein commented on #501
no

[2011-12-01 22:00] madhums commented on #606
2.3.11

No issues in rails 3.

[2011-12-01 23:42] scottdavis commented on #606
chris just pushed a patch the other day for rails 2.3.x mind trying the master?

[2011-12-01 23:43] scottdavis commented on #542
what did you want the format to take the ruby? strftime arguments?

[2011-12-01 23:48] scottdavis commented on #624
the wiki is in the process of being depreciated there are more up to date examples on the compass website: http://compass-style.org/help/tutorials/integration/ that being said it looks to be the same. I know none of the core team use Sinatra often and we got that example from a user you may have to experiment. It looks like that is using the sass rack app and passing the compass options along? alt

[2011-12-02 00:22] chriseppstein commented on #542
@scottdavis is there some better known format we could use easily? I can't think of one.

[2011-12-02 00:36] scottdavis commented on #542
We can make up one but that's hard

Sent from my iPhone

On Dec 1, 2011, at 7:22 PM, Chris Eppsteinreply@reply.github.com wrote:

[2011-12-02 00:58] scottdavis commented on #542
or make macros

[2011-12-02 03:01] ramaboo opened #636 "404 in documentation"
On http://beta.compass-style.org/help/tutorials/spriting/ the second (half way down the page) link to Customization Options returns a 404.

[2011-12-02 03:02] scottdavis commented on #636
good catch its the same as the top link ill get that fixed

[2011-12-02 03:02] bzerangue opened #637 "Documentation typo for the reset utilities"
Here's the page, http://compass-style.org/reference/compass/reset/utilities/#mixin-reset-display

`!important` arguments in the mixin should be `$important`

[code]
[code]

[2011-12-02 03:07] scottdavis commented on #637
thanks

[2011-12-02 14:06] alexkehayias commented on #629
Yeah not sure what it is. I tried updating everything to the latest versions too. Next will have to try to completely remove it and reinstall.

[2011-12-02 15:19] trotzig opened #638 "output css filename is missing first character on Ubuntu"
We are using:
Compass version 0.11.5
Ruby 1.9.1

On Windows using this configuration, "compass compile" is generating correct output. On Ubuntu, running the same Compass and Ruby versions and same *.scss files, output css filename is corrupt. What we see is that the contents of the file is correct, but the first character of the filename is missing.

Here's an example:
(Windows) file **./scss/web.

[2011-12-02 16:13] chriseppstein commented on #542
let's go with ruby's format syntax this is not a major feature and they're well documented.

[2011-12-02 19:08] ZeeAgency commented on #289
So... what solution do we have today ?

[2011-12-03 17:36] madhums commented on #606
sure, give me sometime

[2011-12-03 18:09] unikitty37 opened #639 "compass/reset is preventing Google fonts from loading"
My `application.css.scss` contains this:

[code]

with `common.css.scss` starting:

[code]

The body text displays in Calibri. If I remove the include of compass/reset, the body text correctly displays in Lato — but then the page layout gets destroyed, of course.

Examining the Resources tab in Safari's element inspector shows the fonts aren't even loaded when compass/reset is included.

It worked

[2011-12-04 21:50] RyanHavoc opened #640 "Compass with debug_info => true kills CSS3 Keyframe animations in Webkit"
Hi Guys,

Just wanted to report this issue.

I run Compass with the debug_info => true parameter set in my config.rb.

I've just been styling some CSS3 keyframe animation to be using in Firefox and Webkit browser and discover that with the debug_info turned on the animations work in Firefox but not in Webkit.

I edited my compiled stylesheet directly and removed the debug_info from the keyframe de

[2011-12-06 07:26] agibralter commented on #630
Ok, this is roughly how I have my app set up. Go ahead and bundle install and run `rake assets:precompile`. And then check out app/assets/stylesheets/fonts... The first method works (that uses font-path from sass-rails). The second, fails... because it is also using the sass-rails helper, not compass's which takes two arguments.

[2011-12-06 14:24] NoNoNo opened #641 "Optimize output of mixin inline-block"
With Compass 0.11.5 && Sass 3.1.11 this SASS

[code]

is compiled to this CSS

[code]

I propose the output in only one rule:

[code]

(And the authoritative ›display‹ declaration should be after the legacy / proprietary declarations)

Thanks & greetings!

[2011-12-06 14:40] Phize commented on #580
The specificity of 'font-*: normal' is actually high.
I have had to redeclare 'font-*' whenever I need other font styles, although I have used that for a while.

Now I also think I shouldn't do like above.
So I have moved 'font-*: normal;' into a independent mixin (or reset-font mixin) to reset font-*.

[2011-12-06 22:23] olivierlacan commented on #516
I was seeing this behavior without Sprites (https://github.com/rails/sass-rails/issues/36).
I do not have an initializer hack.

Removing all mixins from my stylesheets reduces the slow compile issue.
This issue has always been correlated with mixins (or the arguments passed to mixins).

Updating to Sass 3.1.11 and Compass 0.12.alpha.2 didn't change a thing.

Also see https://github.com/rails/sass-

[2011-12-06 22:25] scottdavis commented on #516
chris is looking into this i think he narrowed it down to a GC issue

[2011-12-06 22:30] chriseppstein commented on #516
I don't fully understand the issue. could really use some help profiling this and finding the culprit(s). The Sass::Rails/Sprockets importer is also slow -- I can get a significant speedup (~30%) by placing it last on the loadpath.

I don't understand why GC would be so much worse in a rails process than stand alone.

[2011-12-07 01:16] whather commented on #516
I use a bunch of mixins and imports and sometimes see sass compilation times exceeding 2.5 minutes. Please let me know if you make any improvements. Thanks!

[2011-12-07 19:41] jtmkrueger commented on #516
+1 for this.  Were using a bunch of mixins and imports and seeing times up to 25 seconds.

[2011-12-07 20:09] leehambley commented on #516
Asto the hint about GC, any easy ways to disable GC for one localized module, or can the OP with that idea share his benchmarking code so we can reproduce?

[2011-12-08 04:51] scottdavis commented on #634
https://github.com/chriseppstein/compass/blob/master/lib/compass/app_integration/rails/actionpack31/helpers.rb#L13

This function needs the full system path to the image so it can get the dimensions im not sure what you are saying? any update on this?

[2011-12-08 06:56] aaronchi commented on #625
It seems like the problem was generated here:
https://github.com/chriseppstein/compass/commit/35b9b60c7c0d618c0d21456955cdb7481a49dc8d

This is what is causing the problem:

[code]

[2011-12-08 09:43] andriusch commented on #634
I mean this: Rails.application.assets.find_asset(image_file), it needs path without app/assets/images. I'm using:
sprockets (2.0.3)
rails (3.1.3)
compass (0.12.alpha.2)

Here's code:

[code]

[2011-12-08 11:51] unikitty37 commented on #639
Even more bizarrely, if I replace the `@import url(http://fonts.googleapis.com/css?family=Rokkitt:700|Lato:400italic,400,700,700italic|Inconsolata);` with the content of the imported URL, the web fonts load fine.

This happens in Safari 5.1.2 and Firefox 8.0.1.

Why would adding a reset break an import command?

[2011-12-08 14:18] scottdavis commented on #634
Ok I'll take a look into it

Sent from my iPhone

On Dec 8, 2011, at 4:43 AM, Andrius Chamentauskasreply@reply.github.com wrote:

[2011-12-08 14:29] NoNoNo commented on #356
Me too, when testing the effect described in http://lea.verou.me/demos/css3-patterns.html

\+ When SVG-support is on, the Mixin `background-image` emits a `background-size: 100%`, which will overwrite my declaration… :(

[2011-12-08 19:00] scottdavis commented on #634
ohh i know whats going on your not using the @importer to make your sprites. ok this is a bug and ill see if i can get it fixed for next release

[2011-12-08 19:05] scottdavis commented on #625
that was actually a fix for a problem that was causing sass to not return the correct uri to the importer that checks if the sprites needed to be updated I worked with @nex3 to target that problem I think this may have todo with the way the uri is being generated in a windows environment. I found my windows xp cd last night so ill give this a spin this weekend

since you have this open already wou

[2011-12-08 19:06] scottdavis commented on #625
_note_ it should be the `folder/*.png` if its not thats the issue

[2011-12-08 19:15] chriseppstein commented on #625
@charlesr can you help us reproduce this?

[2011-12-08 19:20] aaronchi commented on #625
[code]

for some reason, sending sass_options the uri instead of the name causes the problem on windows

[2011-12-08 19:23] scottdavis commented on #625
well that looks correct. maybe theres an issue deeper down in sass?

[2011-12-08 21:21] charlesroper commented on #625
Will have a look tomorrow when I'm at the computer.

##

Sent from the Nexus S.
On Dec 8, 2011 7:15 PM, "Chris Eppstein" <
reply@reply.github.com>
wrote:

[2011-12-09 14:06] yfeldblum opened #643 "Inject Generated Sprites into Asset Pipeline"
Right now, sprites are generated and stored in a file (using `@include "blah/*.png"` in a stylesheet, the sprite gets stored in a file like `public/assets/blah-shortdigest.png`).

When the application is using the asset pipeline, sprites should be added to the asset pipeline's cache. They should not be copied into the `public/assets` directory, and they should be targets for the asset pipeline to

[2011-12-09 15:13] scottdavis commented on #643
I wish there was a better solution for this. we tried to get this working the correct way and for now the current implementation will have to stand until changes in sprockets allow this sort of behavior. If you want to try and tackle this again be my guest its been a up hill battle for sprockets integration.

[2011-12-09 15:28] yfeldblum commented on #643
Ah. Is Sprockets missing an API for understanding that something in the pipeline wants to add a generated asset, and that the asset currently being compiled declares an additional dependency on that generated asset?

[2011-12-09 15:29] scottdavis commented on #643
yes

[2011-12-10 02:03] #643 closed, assigned to nobody

[2011-12-10 02:08] scottdavis commented on #638
is there a reason you are still running ruby 1.9.1? it had a lot of issues with file paths if i remember correctly

[2011-12-12 15:25] timkelty commented on #511
I'm still having this problem, I'm not sure how @scottdavis 's last comment is meant to be used...is that a function or a magic mixin? I can't get either to work.

[2011-12-12 15:27] scottdavis commented on #511
there is a fix for this in master i just did it yesterday

[2011-12-12 15:33] timkelty commented on #511
Oh cool, is it in the stable gem release or do I need to --pre?

[2011-12-12 15:36] hagenburger commented on #511
You need to set the `100%` two times:
1.  **For the generation of the sprite image (aligns the sprite on the right side in the PNG):**

[code]
2.  **For the CSS output (sets background-position 100% -YYpx):**

[code]

[2011-12-12 15:37] scottdavis commented on #511
Neither it's in git but I'll release a pre today

Sent from my iPhone

On Dec 12, 2011, at 10:33 AM, Tim Keltyreply@reply.github.com wrote:

[2011-12-12 17:29] aaronchi opened #644 "Bloated Gem"
I only realized this because I'm deploying on heroku where large gems contribute to your slug size which needs to be managed, but compass seems to add a lot of additional files to the compiled gem which makes it rather hefty.

Most gems exclude the tests/features. The compass gem also ships with an examples folder that is adds an additional 1MB.

I vendored a slimmed version of the gem into my pro

[2011-12-12 17:32] scottdavis commented on #644
the examples probably do need to be extracted out

[2011-12-13 08:21] masterkain opened #645 "File to import not found or unreadable: compass in Rails 3.2.0beta (master)"
Hello,
on the latest rails master compass cannot be loaded. Works in 3.1.3.
# app/assets/stylesheets/application.css.scss

[code]
# Gemfile

[code]
# Error

[code]

[2011-12-13 10:37] trotzig commented on #638
No reason other than that it came pre-installed on Ubuntu. We had problems with the RVM.

...and we're Java developers :)

I'll see if we can find time to upgrade and get back to you on this issue with the results.

[2011-12-13 10:46] masterkain commented on #645
Spent some good hours diving into the problem and apparently it does seems related to the sprockets, because:

1) it also happens with another gem
2) rails ships different sprockets versions (~> 2.0.3 for 3-1-stable, 2.1.2 for master)

So perhaps I assume something broke in sprockets between 2.0.3 and 2.1.2.

Feel free to close if it's not related.

[2011-12-13 14:35] pier-oliviert opened #646 "No mixin for mask"
Right now, Compass doesn't provide any mixin for the mask rules. Is it planned on the roadmap?

[2011-12-13 14:40] scottdavis commented on #645
Ugh and we haven't even finished rails 3.1 integration

Sent from my iPhone

On Dec 13, 2011, at 3:21 AM, Claudio Polireply@reply.github.com wrote:

[2011-12-13 15:10] masterkain commented on #645
I hear you,
in Rails 3.2 there are some important features I'd like not to miss for this project, however every so often the asset pipeline breaks. I probably have to submit a bug to sprockets as I found some evidence for it being the culprit, but I'm not sure 100% still.

It seems that only the root asset path gets picked up, like they are being filtered. I remember a ticker in sprockets which se

[2011-12-13 15:25] masterkain commented on #645
Nothing to do, forcing sprockets to 2.0.3 in master does not fix anything, therefore at the moment I'm short of places where I have to look. Any help is welcome.

[2011-12-13 21:54] rvock opened #647 "cleanup_old_sprites deletes too many "old" sprites"
Ive got multiple sprite folders:

icons
icons-area
icons-pagination

When the icons sprite is generated, all sprite-files are deleted (including the icons-area and icons-pagination Sprite).
The problem lies in the cleanup_old_sprites method in the sprite_methods.rb file.
It deletes the icons-_.png instead of the icons-s_.png.

I noticed the problem when splitting my sass-files which resulted in th

[2011-12-14 15:38] maddesigns opened #649 "Sprite: enhance the sprite function"
Now I have this @mixin:

@mixin filetypes($map) {
    $sprite-map-name: sprite-map-name($map);
    @each $sprite-name in [list] {
          a[href $=".#{$sprite-name}"] {
               @extend .#{$sprite-map-name}-sprite;
               @extend .#{$sprite-map-name}-#{$sprite-name};
          }
     }
}

I want to fill the **[list]** automatically with the imported filenames like <code>$sprite-nam

[2011-12-14 18:36] #647 closed, assigned to nobody

[2011-12-14 18:37] scottdavis commented on #649
dup of #620

[2011-12-14 18:37] #649 closed, assigned to nobody

[2011-12-14 18:38] scottdavis commented on #638
have you tried using jruby? its all javay and cool

[2011-12-14 18:39] scottdavis commented on #638
in fact if you developing in java you could probably write a direct integration

[2011-12-15 16:43] Papipo commented on #516
How is this coming along? I can't work on my laptop, each time I need to change my stylesheets I have to wait ages -_-

[2011-12-15 16:48] DanielWright commented on #516
YMMV, but I've found that selectively importing specific Compass modules (e.g. `@import compass/css3/inline-block`), rather than simply `@import compass`, dramatically improves compilation time.

[2011-12-15 18:27] scottdavis commented on #516
maybe the sass-rails importer is being slow ill have some time this weekend to slam my face into this

[2011-12-15 18:35] leehambley commented on #516
Nice to know I'm not the only one that feels like maintaining open source isn't good for my health of beauty :-D

##

Lee Hambley
Sent with Sparrow (http://www.sparrowmailapp.com/?sig)

On Thursday, December 15, 2011 at 7:27 PM, Scott Davis wrote:

[2011-12-15 18:45] scottdavis commented on #516
Its not the maintaining part (since I use it) its mostly having to integrate with other open source applications that makes me want to burn things

[2011-12-15 18:52] whather commented on #516
Scott, yeah I have a hunch it's the sass-rails importer. Looking forward to what you find over the weekend!

[2011-12-15 20:20] scottdavis commented on #516
anyone that wants to help out buy running a https://github.com/tmm1/perftools.rb on your rails app and emailing me the graph to me@sdavis.info would be helpful

[2011-12-15 23:39] Papipo commented on #516
It seems that the first request to my rails application stylesheet runs pretty fast. Then I make any change to my scss manifest file, or any of the partials it imports, and the slow party begins.

[2011-12-15 23:46] scottdavis commented on #516
can you run a perftools for me for both runs?

[2011-12-16 00:18] Papipo commented on #516
The first one is so fast that I don't get stuff to print in the graph. I can send you the second one.

[2011-12-16 00:22] Papipo commented on #516
Sent.

[2011-12-16 00:36] scottdavis commented on #516
thanks

[2011-12-16 01:35] hybrist commented on #619
Not an expert on Ruby myself - but it looks like stdout isn't flushed after writing to it. And... yes. So spending the last hour learning how Ruby and Gems work weren't a total waste of time. ^^

I fixed it by adding "$stdout.flush" after almost every puts "X" in watch_project.rb. Now everything gets channeled through and I can finally have one cake file for watching Coffeescript, Handlebars and C

[2011-12-16 02:11] scottdavis commented on #619
@JKrems can you file another bug so I can get this fixed please

[2011-12-16 02:29] scottdavis commented on #516
Do all of you have haml installed?

[2011-12-16 02:29] whather commented on #516
Yep

[2011-12-16 02:33] scottdavis commented on #516
haml seems to be secretly loading the Sass rack middleware try this in your application.rb and see if it helps

<pre>
config.after_initialize do |c|
  c.middleware.delete(Sass::Plugin::Rack)
end
</pre>

[2011-12-16 02:36] scottdavis commented on #516
https://github.com/nex3/haml/issues/472

[2011-12-16 02:55] scottdavis commented on #516
also you can just gist the text perfs
https://gist.github.com/d2ee08504d4c0c77c2a1#L145

[2011-12-16 03:37] scottdavis commented on #516
i get about a 100ms speed up doing this

<pre>

    config.after_initialize do |c|
      #c.middleware.delete(Sass::Plugin::Rack)

      class Sass::Plugin::Rack
        def call(env)
          puts "moving on"
          @app.call(env)
        end
      end

    end
</pre>

[2011-12-16 03:38] scottdavis commented on #516
another perf from my app: https://gist.github.com/1484335

[2011-12-16 03:51] scottdavis commented on #516
the Sass::Plugin::Rack call isn't the problem here and removing it is marginal performance boots at best since if it runs it just warms the sass-cache and then it hits the asset pipeline it just renders the cache out the pipeline

[2011-12-16 04:09] scottdavis commented on #516
@Papipo whats in your Gemfile my callgraphs are looking very different

mine:
http://dl.dropbox.com/u/177158/callgrinds/newscenter.gif
http://dl.dropbox.com/u/177158/callgrinds/newscenter-1.gif

yours:
http://dl.dropbox.com/u/177158/callgrinds/application.css.gif

[2011-12-16 04:13] scottdavis commented on #516
in fact it looks like most of the time in yours it spends a lot time rescuing from file system objects that don't exist .. are you sure you import statements are correct and your cache_dir is set properly?

you are not using the `//= require` directives in sprockets are you?

it seems yours is getting caught up in here https://github.com/sstephenson/hike/blob/master/lib/hike/index.rb#L81

im curio

[2011-12-16 07:56] Pichirho opened #650 "Circular or self reference exhausts resources"
If you import a self referencing file, compass may exhaust all memory.
### _self.scss

[code]
### crasher.scss

[code]
## Expected results

The parser should notice a self reference or a circular reference and stop parsing with an error.
## Actual results

When compass detects a change in crasher.scss, it includes _self.scss until it fails with `SystemStackError on line ["10"] of C: stack level to

[2011-12-16 08:03] Pichirho commented on #650
Forgot the important details:
- 64 bit Win7 Professional
- Rails 3.0.7
- sass 3.1.10
- compass 0.11.5

[2011-12-16 08:24] scottdavis commented on #650
this is an issue with sass not compass. compass only uses what sass provides please file the issue there

[2011-12-16 08:24] #650 closed, assigned to nobody

[2011-12-16 08:25] scottdavis commented on #516
http://dl.dropbox.com/u/177158/callgrinds/admin.gif

[2011-12-16 09:26] Papipo commented on #516
Well, as I said, the first request is very fast. Then I just comment one partial import an it becomes extremely slow.

in the sprockets part, I just require_self in the manifest file, the rest are imports of blueprint and sass mixins and my own partials. I don't think there is nothing wrong with my paths, I tried with just one partial and several compass/blueprint imports and it's sloooow.

[2011-12-16 09:44] leehambley commented on #516
- Graph: http://cl.ly/1R3Z3v2Y1h3F0H2g3z1W
- Text: https://gist.github.com/85398f73264f0c0c2a2a

The profile options were `/assets/screen.css?times=three` using the Rack perftools.rb gem.

[2011-12-16 14:23] Pichirho commented on #650
To me it was an issue with compass. I only use what sass compass made me have.

(I'm ok with no further actions with compass as I know what was wrong. Let's just say I'm lazy, too, and not filing it again to another project.)

[2011-12-16 15:53] Papipo commented on #516
Well, I think that that first fast request is not exactly correct. It might have cached the stylesheet from a previous development session. Each time I modify any of my scss files, then it gets really slow, no matter if it's the first css request to the server.

And I have detected something weird: my append-bottom calls don't appear in the compiled stylesheet, I have to add margin-bottom instead.

[2011-12-16 15:53] chriseppstein commented on #650
Thanks for filing the bug, I have opened a [new issue against sass](https://github.com/nex3/sass/issues/227)

[2011-12-16 16:29] scottdavis commented on #516
@leehambley i think you profiled a cache call remove tmp/cache and run it again

[2011-12-16 16:33] Papipo commented on #516
Well I created a test.scss file with a single compass import (@import "compass/typography/lists";) and it took 15 seconds to process it.

[2011-12-16 16:33] scottdavis commented on #516
im seing on average about 4000 ms in my app

[2011-12-16 16:44] leehambley commented on #516
@scottdavis I have no `./tmp/cache` - and my app is still showing:

[code]

Also, the `.css` file isn't existing anywhere in the project, do I have to profile this in production mode? (or could I be using something out of date?)

[2011-12-16 16:51] scottdavis commented on #516
im not sure you should have a sass-cache someplace

[2011-12-16 16:59] Papipo commented on #516
@leehambley are you using a different cache config in your app than the default one?

[2011-12-16 17:01] leehambley commented on #516
@Papipo not in development mode, there's a `./tmp/cache/sass/` but it's empty. (still investigating here!)

[2011-12-16 17:26] stoplion commented on #516
Seeing 2–5 min load times.

rails 3.1.3
sass 3.1
compass 0.11.1
sass-rails 3.1.5
sprockets 2.0.3

[2011-12-16 18:01] leehambley commented on #516
Can I suggest (I don't have the time unfortunately) but could someone open-source their CSS for the purposes of debugging this? Maybe we could run this on some different implementations of Ruby, and different system profiles, and see if we can pool our results..

##

Lee Hambley
Sent with Sparrow (http://www.sparrowmailapp.com/?sig)

On Friday, December 16, 2011 at 6:26 PM, stoplion wrote:

[2011-12-17 00:34] Papipo commented on #516
@leehambley there is no need for that, I am getting extremely slow speeds with a simple @import

[2011-12-18 16:00] ErwinM commented on #516
We recently kicked compass out of our app because of this issue. Real shame, but people were going mad in development.

[2011-12-18 17:10] scottdavis commented on #516
Can someone open source something really slow or create an example my app has about 200 imports and while it's a bit slow it's only about 4500ms I'm not seeing this problem of several minutes it maybe a circular import?

Sent from my iPhone

On Dec 18, 2011, at 11:00 AM, ErwinMreply@reply.github.com wrote:

[2011-12-18 22:09] Papipo commented on #516
Not in my case, I have tried very simple setups. Gonna install another ruby version or something, this is driving me nuts.

[2011-12-18 22:47] Papipo commented on #516
I guess this must have something to do with my application setup. Compiling active_admin.css takes 28 seconds here.

[2011-12-18 23:28] Papipo commented on #516
Please checkout this app https://github.com/Papipo/slow-compass-rails and let me know how much it takes to generate http://localhost:3000/assets/active_admin.css

[2011-12-19 15:36] scottdavis commented on #516
Compiled active_admin.css  (2307ms)  (pid 91983)

[2011-12-19 15:44] Papipo commented on #516
Here in a 13" macbook it takes 20 seconds. Is that normal?

[2011-12-19 16:43] scottdavis commented on #516
I'm on an imac with an i7 and SSD and its taking me 2.30700 seconds

[2011-12-19 17:03] Papipo commented on #516
Maybe this is just as slow as it's supposed to be. I can bring it down to 12 secs if I import border-radius and opacity separately, but this is just a small example and it sucks a lot -_-

[2011-12-19 17:20] olivierlacan commented on #516
2011 Core i5 MacBook Air

[code]

But let me tell you, this issue is not that easy to reproduce. I've tried numerous times to create apps to reproduce the problem, in vain. I'd be interested to know how many people have issues with apps that were transitioned from Rails 3.x to Rails 3.1.x

I've also been recently forced to extract Compass from a work project since I was getting 8-10 second compile

[2011-12-19 17:56] Papipo commented on #516
This app I posted was created from scratch, and the real application I am working on, has compile times of about 45 secs and it's rails 3.1 from the beginning.

[2011-12-19 18:07] Papipo commented on #516
Once I get home I am going to test this with a Quadcore iMac, not sure if there it will be manageable just because the CPU is faster. I think that in my laptop I have something that acts as bottleneck, but I don't know what it can be. I even tried switching from rvm to homebrew ruby 1.9.2.

[2011-12-19 18:16] scottdavis commented on #516
Chris and I talked Some today and this is looking more like a GC issue because of the rails stack overhead the solution for now is to only require what you need

Sent from my iPhone

On Dec 19, 2011, at 1:07 PM, Rodrigo Alvarezreply@reply.github.com wrote:

[2011-12-19 19:43] Papipo commented on #516
Where can I find resoures about interpreting perftools resutls and ruby profiling in general?

[2011-12-19 20:29] scottdavis commented on #516
The google code wiki for perftools

Sent from my iPhone

On Dec 19, 2011, at 2:43 PM, Rodrigo Alvarezreply@reply.github.com wrote:

[2011-12-19 22:44] scottdavis commented on #516
if you are using `@import "compass"` at the top of your stylesheets you are creating a very heavy IO load for sass to import all those files and parse / cache this on top of the over head from rails/sprockets is being slow I believe. That or there is a circular require and on cacheing issue

[2011-12-19 23:44] Papipo commented on #516
I think I have found the problem, and why it only affects some people. It seems to affect applications that load many gems which add extra asset search paths. That adds a lot of overhead, and putting the sprockets importer at the end of the load_paths in https://github.com/rails/sass-rails/blob/master/lib/sass/rails/template_handlers.rb#L74 brought my css from > 50secs to only 10.

[2011-12-20 00:46] scottdavis commented on #516
https://github.com/sstephenson/sprockets/pull/268#issuecomment-3212022

[2011-12-20 08:26] Keytwo commented on #632
I'm experiencing the same behavior on 0.12.alpha 2.

[2011-12-20 09:18] morgoth commented on #645
I have the same problem with rails 3.2.0.rc1, compass-0.12.alpha.2, sprockets 2.1.2

[2011-12-20 12:34] ghost opened #653 "alternating-raws-and-cols() should be able to affect rows without classes."
With Compass 0.11.5,
alternating-raws-and-cols() mixin uses nth-child() selector only for td-level.
And tr-level is specified by only class selector ('tr.odd' and 'tr.even').
So,  rows without the classes cannot be changed their background-color automatically.
I think this should be fixed.

current code:

<pre>
    tr.odd {
      td {
        background-color: $odd-row-color;
        &.even, &:nth

[2011-12-20 13:01] tricomsol commented on #645
I have the same problem with rails 3.2.0.rc1, compass-0.12.alpha.2, sprockets 2.1.2

[2011-12-20 14:21] scottdavis commented on #645
if someone wants to step up and do a patch to get this working that would be great we are still struggling with rails 3.1 problems

[2011-12-20 14:37] masterkain commented on #645
Perhaps related: https://github.com/rails/rails/issues/4041

[2011-12-20 16:51] aaronchi commented on #645
I feel like compass is becoming a second class citizen in the Rails world since the asset pipeline was introduced. Is it worth trying to get in touch with Joshua Peek or other Rails core devs to troubleshoot this?

[2011-12-20 18:09] phoet commented on #645
the asset-pipeline is the most time consuming rails feature/bug EVER!

[2011-12-20 18:36] wleeperogs opened #654 "Sass::SyntaxError: File to import not found or unreadable: compass/reset back with Rails 3.2.RC1"
With the release of rails 3.2.RC1 compass can't find the scss files again.

I have:

"@import 'compass/reset'" in one of my css files and it give the error in the subject line.

I have tried the alpha2 as well as the Master branch with no help.

[2011-12-20 18:37] #654 closed, assigned to nobody

[2011-12-20 19:10] aaronchi commented on #654
this seems to be an issue with sass-rails... we'll probably need to wait for a fix from the core rails team

[2011-12-20 20:14] Papipo commented on #516
Imagine how much overhead all those paths add, that with the sass-rails fix my stylesheets compile faster if I import the whole blueprint and compass instead of separate mixins. Now I brought them down to 4 secs :-)

[2011-12-20 21:16] aaronchi commented on #654
temp fix here: https://github.com/rails/sass-rails/issues/81

[2011-12-20 21:18] aaronchi commented on #645
temp fix here: https://github.com/rails/sass-rails/issues/81

[2011-12-21 00:45] scottdavis commented on #645
"the asset-pipeline is the most time consuming rails feature/bug EVER!" i can't agree more but when it works im fairly happy with it the problems are all in implementation and not idea

[2011-12-21 22:12] barkan opened #655 "IE8: Add a way to fall back to url when size of datauri exceeds 32KB"
Feature request:

Since IE8 can only do data uris that are 32kb or less, you have to keep track of image size outside your CSS, and choose when to adjust it.

It would be great if there was a way to query the file size of something before proceeding, or pass an argument to the mixin, automating this process.

[2011-12-21 23:02] scottdavis commented on #655
so you want an `image-size('filename.png')` sass function?

[2011-12-22 00:21] barkan commented on #655
Perhaps file-size so it can be used with fonts, too.

[2011-12-22 13:55] morgoth commented on #645
Temporary fix from @aaronchi is working.

Fix for this issue was just added to rails-sass: https://github.com/rails/sass-rails/commit/f8faec5e54b61dccc5cd11022c408ff1e20a40de

It should be enough to use sass-rails from master now

[2011-12-22 17:20] #645 closed, assigned to nobody

[2011-12-22 22:19] dangayle commented on #394
I'm having the works once, then stops issue with --watch also. Using --poll works. Using latest everything on OSX 10.7.2

[2011-12-24 07:13] umrashrf opened #656 "What about Client Side compilation?"
I was wondering if Compass supports client side compiling using Javascript? If not I would love to get my hands on it.

[2011-12-24 07:23] scottdavis commented on #656
No and never will sass is implemented in ruby and compass builds on top of that. I take the stance that compiling assets on the client side is an unnecessary burdon for an end user to experience. If you need yourself seeing this functionality try less

[2011-12-24 07:23] #656 closed, assigned to nobody

[2011-12-24 07:47] umrashrf commented on #656
I am working on SenchaFiddle.com and because Sencha Touch uses Compass for compiling scss to css, I have 2 options for the users to compile scss to css on the go.
1. They run the app, the SCSS is compiled over server.
2. They run and SCSS is compiled on the client side.

The point 1 is not good option because assuming if 1000 users request to compile SCSS at the same second, the server would queue

[2011-12-24 07:58] scottdavis commented on #656
well the only thing i can offer since this is an edge case use is your going to need to throw hardware / worker queues at this to make it work

[2011-12-24 08:37] umrashrf commented on #656
Can you elaborate "need to throw hardware / worker queues"?

[2011-12-24 08:46] scottdavis commented on #656
Well it depends on your server side technology
here's an example in rails http://railscasts.com/episodes/243-beanstalkd-and-stalker
Sent from my iPad

On Dec 24, 2011, at 3:37 AM, umrashrfreply@reply.github.com wrote:

[2011-12-28 23:11] northk opened #658 "Invalid gemspec: invalid date format in specification: "2011-12-24 00:00:00.000000000Z""
On OS X 10.6.8 with rubygems version 1.8.13 (fron gem -v), after upgrading from an older version of Compass to 0.11.6 (by running "compass install"), I get the following error when executing compass commands:

Invalid gemspec in [/Library/Ruby/Gems/1.8/specifications/
compass-0.11.6.gemspec]: invalid date format in specification:
"2011-12-24 00:00:00.000000000Z"
NOTE: Gem::Specification#default_ex

[2011-12-28 23:19] scottdavis commented on #658
are you using the default ruby that comes installed on snow leopard?

[2011-12-28 23:44] northk commented on #658
Hi Scott,

I'm pretty sure I ran "gem update --system" before upgrading Compass, so I'm not sure if that upgrades ruby or not. If not, then as far as I know I'm using the default ruby that comes installed on Snow Leopard.

However, I did some Googling and couldn't find an article that definitively asserts which version of ruby comes with Snow Leopard by default, so I can't be sure. It's possible t

[2011-12-29 00:23] scottdavis commented on #658
Type ruby -v

Sent from my iPhone

On Dec 28, 2011, at 6:44 PM, North Krimslyreply@reply.github.com wrote:

[2011-12-29 00:34] northk commented on #658
ruby -v
ruby 1.8.7 (2010-01-10 patchlevel 249) [universal-darwin10.0]

[2011-12-29 19:19] agibralter commented on #630
Oh whoa, I don't think I ever linked to the repo: https://github.com/agibralter/compass-rails-url-helpers-test

[2011-12-29 23:17] scottkellum opened #659 "feature-loaded variable for dependencies."
Add featrue-loaded variables for loading dependencies in add-on frameworks and other compass plugins. For example if border-radius is included then the variable $border-radius-loaded would be true.

[code]

This way stylesheets can gracefully identify missing dependencies, load them if necessary, or compile with or without a fallback.

---

I write a lot of functions in Sass that duplicate feature

[2011-12-30 01:11] chriseppstein commented on #659
It's not possible to conditionally import in Sass, so that use case is irrelevant. Somewhat related: There's an open issue to make sass imports a no-op if they've already been imported: https://github.com/nex3/sass/issues/139.

In terms of detecting the existence of a mixin. I think this is better provided as a sass language feature. E.g.:

[code]

[2011-12-30 01:11] #659 closed, assigned to nobody

[2011-12-30 16:17] scottkellum commented on #659
OK, I am adding this variable on all my plugins/files now and it is really helpful. Mixin detection will do the trick as well, although it could be more verbose.

[2011-12-30 19:25] chriseppstein commented on #659
what do you mean by "more verbose"?

[2011-12-31 18:42] ijy opened #660 "replace-text() image not found"
# The Problem

When using the replace-text() mixin:

[code]

 the image is not being found with the message:

[code]
# The Test

When analysing with Firebug I can see the location of the image is correct: http://cl.ly/CyxW but the extension is not being added. As a test if I write the background rule out manually pointing to the same location with the image extension (.png) added the image is foun

[2011-12-31 19:45] chriseppstein commented on #660
You have to provide the extension of the image.

[2011-12-31 20:25] ijy commented on #660
I had tried that before but was getting an error like this:

[code]

However having tried again I've just figured out the error of my ways. I just needed to wrap it in quotes. I was just passing it as a normal variable without quotes. Gah! Sorry about the false issue. It works fine when wrapped with quotes.

[2011-12-31 20:25] #660 closed, assigned to nobody

[2011-12-31 22:49] chriseppstein commented on #660
Ya. That the url() "function" acts as a kind of quote in CSS is very strange. Sass functions do not have this property.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Dec 31, 2011, at 12:25 PM, Ian Youngreply@reply.github.com wrote:

[2012-01-01 19:27] paulirish commented on #585
closed by #593 it appears

[2012-01-01 19:27] #585 closed, assigned to nobody

[2012-01-01 19:29] paulirish commented on #626
i see -moz- in mine..

[2012-01-01 19:31] paulirish commented on #627
:+1:

[2012-01-01 19:31] paulirish commented on #627
also compass needs a policy for retiring dead prefixes too. like a moz prefix that only affects pre 3.6..

[2012-01-01 19:34] paulirish commented on #590
They shipped transition with a prefix. http://blogs.msdn.com/b/ie/archive/2011/11/21/adding-personality-with-css3-transitions-and-animations.aspx

this need to be added.

[2012-01-01 19:54] scottdavis commented on #590
Thanks paul I'll get this in soon

Sent from my iPhone

On Jan 1, 2012, at 2:34 PM, Paul Irishreply@reply.github.com wrote:

[2012-01-01 20:28] billsaysthis opened #661 "image_height causes undefined local variable or method `options' error"
Using Rails 3.1 and asset pipeline with Compass 0.12.alpha3 in Gemfile gets an error using the image_height function (in application_helper.rb):

[code]

Calling code is:

[code]

Stack trace

[code]

Same code works correctly in Rails 3.0.11.

[2012-01-01 22:39] chriseppstein commented on #661
All Sass functions are evaluated in a context where the options passed to sass can be accessed via a method named `options`.

[2012-01-01 22:39] #661 closed, assigned to nobody

[2012-01-01 23:00] billsaysthis commented on #661
From the docs (http://compass-style.org/reference/compass/helpers/image-dimensions/#image-height) and source[1] I don't see why my code[2] is causing this error.

[1] image_size.rb

[code]

[2] application_helper.rb

[code]

[2012-01-02 00:39] aksrikanth commented on #337
[code]

still creates an app/stylesheets directory. I've installed compass from github master (version 0.12.alpha.3.39db29c).

How can I ensure that it uses the assets folders?

[2012-01-02 00:46] scottdavis commented on #337
you don't need to run init rails in rails 3.1 just add compass to your gemfile and your finished. on that note the new rails 3.1 generators will be in compass-rails gem once its released =)

[2012-01-02 00:48] chriseppstein commented on #661
Because your code doesn't define the `options` method.

[2012-01-02 01:29] billsaysthis commented on #661
Where in the docs is this explained? I'm happy if all I need to do is fix my code up a bit but so far you haven't shown me where this is described.

[2012-01-02 04:41] scottdavis commented on #661
I don't think there are any docs on this use case because your using a sass function in a rails helper which is pretty far outside of the normal use case and chris is right its because your not defining options.

https://github.com/chriseppstein/compass/blob/master/lib/compass/sass_extensions/functions/image_size.rb#L10

is calling the image_dimensions method which is trying to access the options

[2012-01-02 04:44] scottdavis commented on #658
@chriseppstein you didn't happen to build the gem with rbx or jruby did you?

[2012-01-02 05:03] chriseppstein commented on #661
It is documented from here:

http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html

And here:
http://sass-lang.com/docs/yardoc/Sass/Script/Functions/EvaluationContext.html#options-instance_method

You're not using our code as intended, so I expected you to be able to do this research yourself.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Jan 1, 2012, at 5:29 PM, billsaysthisreply@

[2012-01-02 05:04] chriseppstein commented on #658
Unlikely.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Jan 1, 2012, at 8:44 PM, Scott Davisreply@reply.github.com wrote:

[2012-01-02 05:16] scottdavis commented on #590
@paulirish take a look at that commit and make sure that covers it if it does close the issue thanks for reporting on this!

[2012-01-02 05:18] scottdavis commented on #639
can you post the full compiled output with and without the reset in a gist?

[2012-01-02 05:36] scottdavis commented on #653
would you mind doing a pull request against master with the changes and a testcase? heres the file:

https://github.com/chriseppstein/compass/blob/master/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss

test files are here:
https://github.com/chriseppstein/compass/blob/master/test/fixtures/stylesheets/compass/sass/utilities.scss#L20
and
https://github.com

[2012-01-02 05:37] scottdavis commented on #640
this sounds more like a webkit issue closing this unless it is truly a problem with the debug output then that may be a sass issue

[2012-01-02 05:37] #640 closed, assigned to nobody

[2012-01-02 05:38] #624 closed, assigned to nobody

[2012-01-02 05:40] scottdavis commented on #605
closing this for now unless this is still an issue repoen it

[2012-01-02 05:40] #605 closed, assigned to nobody

[2012-01-02 05:49] scottdavis commented on #627
fixed: 6c98ff1d5c

[2012-01-02 05:49] #627 closed, assigned to nobody

[2012-01-02 06:01] #620 closed, assigned to scottdavis

[2012-01-02 06:08] scottdavis commented on #634
holding off on this until compass-rails is finished

[2012-01-02 06:09] scottdavis commented on #625
@charlesr any word?

[2012-01-02 06:12] scottdavis commented on #486
use the `spirte_load_path` config option

[2012-01-02 06:12] #486 closed, assigned to nobody

[2012-01-02 06:13] scottdavis commented on #626
The test case passes are you sure you havent overridden the mixin someplace else in your codebase?

[2012-01-02 06:13] #626 closed, assigned to nobody

[2012-01-02 06:14] #580 closed, assigned to nobody

[2012-01-02 06:24] scottdavis commented on #575
I don't think this is a bug since sass doesn't support literal arguments the same way ruby does so passing the extra set of parenthesis is needed for now. what would be nice is if sass had:
<pre>
@mixin foo($bar: ...) {
  @each $argument in $bar {
    //do something with $argument
  }
}
</per>

[2012-01-02 06:24] #575 closed, assigned to nobody

[2012-01-02 06:37] billsaysthis commented on #661
I guess since this worked properly under previous versions of Rails/Compass I expected it to continue as the app code is unchanged. Thanks for taking the time to respond.

[2012-01-02 07:07] #441 closed, assigned to nobody

[2012-01-02 07:09] #192 closed, assigned to nobody

[2012-01-02 07:51] scottdavis commented on #117
done: 3d23b36f6397bd01f0c8a6bf14122730aa5e86b3

[2012-01-02 07:51] #117 closed, assigned to nobody

[2012-01-02 07:52] #164 closed, assigned to nobody

[2012-01-03 02:10] paulirish commented on #590
lookin sharp! thx scott! :)

[2012-01-03 02:10] #590 closed, assigned to nobody

[2012-01-03 20:42] joeybeninghove opened #663 "Rails 3.1.3, Compass Alpha 3 - Sprite related errors?"
Getting an error in a Rails 3.1.3 attempting to use sprites with Compass.  This happens with both dynamically serving of styles as well as during precompilation.  Trace below is from a precompile:

[code]

If we comment out the sprite-related calls in our scss, the error goes away.

Any ideas?

[2012-01-03 21:27] scottdavis commented on #663
Please post your scss used to create the sprites

Sent from my iPhone

On Jan 3, 2012, at 3:42 PM, Joey Beninghovereply@reply.github.com wrote:

[2012-01-03 21:29] #663 closed, assigned to nobody

[2012-01-03 21:29] joeybeninghove commented on #663
On 2nd thought, it ended up being user error on my end.  The images folder being referenced was missing, but was hard to tell that from the error message.  Sorry about that, all is good now!  :)

[2012-01-03 22:34] scottdavis commented on #663
give me an example of what you had and ill get a better error message added

[2012-01-04 13:40] charlesroper commented on #625
My apologies. Here's what I see:

[code]

[2012-01-04 13:49] scottdavis commented on #625
={

Sent from my iPhone

On Jan 4, 2012, at 8:40 AM, Charles Roperreply@reply.github.com wrote:

[2012-01-04 16:01] scottdavis commented on #625
can you run with trace?

[2012-01-04 16:35] charlesroper commented on #625
https://gist.github.com/1560837

[2012-01-05 00:48] blissdev commented on #658
Just wanted to note that I'm getting this issue as well, with the same version of Ruby. Updated my gems as well.

[2012-01-05 09:49] unikitty37 commented on #639
https://gist.github.com/1564467

Thanks

[2012-01-05 13:55] fearoffish commented on #364
I'm using 0.11.6 and I'm still seeing this error.

[code]

Are we still having to use the above to fix it?

[2012-01-05 13:57] scottdavis commented on #639
ok thanks will look into it

[2012-01-05 14:49] fearoffish commented on #364
Okay, found my problem, I just have no fix for it.  Somewhere after rails initialises the HOME env variable is set to '.', I can't find where though.  Funny thing is, in 0.11.6 I see you wrap the call with a 'begin' so it should catch this, if I'm right?

[2012-01-05 19:19] paulirish opened #664 "optimize IE-specific rules by placing them into an IE specific sheet?"
So this is a optimization that might be out of scope, but as compass does minification already, perf seems to be within scope to some degree..

from [@kangax's article on css performance](http://perfectionkills.com/profiling-css-for-fun-and-profit-optimization-notes/) ....

Thoughts on how this could be done?

[2012-01-05 21:10] kaelig commented on #664
Very good idea.

However, this may be Sass' job to do this since it's the CSS authoring tool on top of which Compass was built.

[2012-01-05 21:37] chriseppstein commented on #664
I've had this idea in a number of forms over the past 3 years. I always end up coming back to the fact that having a 1-1 correspondance between input files and output files is an incredibly simple approach that makes it easy for users to reason about how compilation works, etc.

But I see a world coming where sass will have to have vendor/feature specific output in order to take advantage of new C

[2012-01-05 21:53] kaelig commented on #664
When thinking about it, we can already output separate stylesheets (one for IE6, one for IE7, one for IE8…) with constants and `@if` statements. Then call them with conditionnal comments.

Here is a quick example I just threw:

[code]

Output:

[code]

It's as easy as `.ie7 &`-like selectors to maintain, and serves smaller stylesheets to modern browsers.

What do you think about this technique?

[2012-01-05 23:14] MarioRicalde commented on #664
I like your idea Chris, this is actually how I was picturing this in my mind. Keep the code inline and just define to what file you want to output the rules within the block. This would be a major feature that could help us developers work with Vendor features.

Also `@target` makes a lot of sense.

[2012-01-06 00:07] nex3 commented on #664
I'm with @Kaelig on this one: it seems like `@target`-style functionality is already possible with `@if` today. Maybe all that's missing is a way to set variables to true via the command line?

[2012-01-06 00:27] MarioRicalde commented on #664
@nex3 no, it's not possible. @Kaelig is missing the point completely.

What you can do right now with `@if` conditionals is just traverse and define via variables if it should be output in the _same file_.

What `@target` does is that it's going the code inside the block will be output to a target file ( not in the same file ).

[2012-01-06 00:28] nex3 commented on #664
@kuroir If you generate your CSS multiple times with different options specified, though, you'll get different output files just like target (as in @Kaelig's example).

[2012-01-06 00:48] chriseppstein commented on #664
If statements are enough if the compiler behavior is not customizable on a per-target basis, but if the compiler is going to have compilation modes to support new syntax improvements in CSS then I think it makes sense to expose that concept to the stylesheets an leave the mapping of syntax modes and stylesheet tweaks to frameworks like compass.

If the goal is to emit a core stylesheet and a per-t

[2012-01-06 00:49] chriseppstein commented on #664
Also these huge if/else if blocks scream for a case statement at the very least.

[2012-01-06 00:58] nex3 commented on #664
The correspondence between compiling to calc() and friends and specific browser targets is basically independent of whether we use `@target` or `@if`; either way, Compass can manage the correspondence, as you say.

I'm not sure why you'd want a core shared stylesheet and multiple more-specific stylesheets, as opposed to just having the more-specific stylesheets contain everything a given browser n

[2012-01-06 01:16] chriseppstein commented on #664
The difference between if statements and a dedicated feature is that with if statements compass has to generate starter stylesheet that sets up the conventions and there would be no good way for compass to associate compiler options to stylesheets unless we want to expose option setting within sass files.

With a dedicated feature, the targets in use could be deduced via inspection of the sass tre

[2012-01-06 05:19] nex3 commented on #664
Why can't compass just spin up multiple Sass compilers for the primary entry point, each with different initial variables set and different output locations?

[2012-01-06 05:31] chriseppstein commented on #664
Seems strange.

[2012-01-06 09:33] MattyBalaam commented on #664
Off topic, but I've wondered before about the possibility of Sass automatically moving all @media rules so the screen sizes aren't declared over and over again.

[2012-01-06 12:49] lecodeur commented on #664
Been using the approach Kaelig mentions for some time now and am really pleased about it.

Can even push it a bit with an $ie version and target "lower than" versions of explorer:

[code]

[2012-01-06 16:12] chriseppstein commented on #664
The question here is not whether if statements can be made to work. The question is whether a dedicated feature provides a compelling enough user experience over if-statements to warrant it.

[2012-01-06 17:34] deleteme commented on #664
@chriseppstein Your first response's sample code looks like it would be a pleasure to use. I'd loathe having to riddle my sass with if statements.

With this feature, Compass's mixins could be updated to put vendor prefixed properties into their own browser targets. Developers would just need to tell Compass to create multiple css files for each target, maybe through some new configuration option.

[2012-01-06 20:38] renemendoza commented on #514
+1

[2012-01-06 21:10] chriseppstein commented on #514
Compass has a [compact method](https://github.com/chriseppstein/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb#L18-26)

`tint` & `shade` seem like a better fit for sass.

What does `golden-ratio` do and why is it important?

Can someone point me to docs or info on how these are implemented and what they do?
- `animation`
- `animation-keyframes(fade-in, fade-out)`
- `@button(*ar

[2012-01-06 21:47] chriseppstein commented on #664
I should point out that Compass is already set up for this using if statements. [Example](https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/css3/_images.scss#L21-28)

[2012-01-07 09:56] albertovilla commented on #389
The project seems to have moved here: https://github.com/nextmat/compass-960-plugin

[2012-01-07 22:12] chriseppstein opened #665 "Add CSV output mode for compass stats"
Allows for easier integration with other tools and spreadsheets.

[2012-01-08 08:10] stefl commented on #637
I thought I'd see if I could fix this. I've taken a look in the source for this method here:

https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/reset/_utilities.scss

and it doesn't seem to be reflected in the docs. I think I'm missing something...

[2012-01-08 08:12] stefl commented on #637
Ah. It's fixed in the "beta" documentation. Suggest this issue is closed...

http://beta.compass-style.org/reference/compass/reset/utilities/#mixin-reset-display

[2012-01-08 08:24] stefl commented on #629
Could it be that because you're using Dropbox it has some kind of virtual file system so the usual "file changed" events don't fire? Try copying these files out of the Dropbox directory to somewhere else on your system?

[2012-01-08 09:11] ttilley commented on #629
Dropbox doesn't come with an update mechanism, and some versions are absolutely horrific. When growl 1.3 broke notifications with dropbox and people made a point of upgrading to fix that one thing, my bug report rate for rb-fsevent dropped from "OMG please stab me in the face" to practically zero. Yes, zero. If you have dropbox installed, I would **STRONGLY** suggest either upgrading or nuking it

[2012-01-08 09:13] ttilley commented on #629
Err... by "nuking" I mean both stopping the visible part from running and making sure `dbfsevents`, installed by dropbox, isn't running. Not necessarily uninstalling anything.

[2012-01-09 00:58] alexkehayias commented on #629
I was able to start a project from scratch and use scss syntax with compass watch working. I tried the above with Dropbox, but I've noticed a problem with another compass plugin I'm using compass-foundation. I've determined that the problem lies there. Thanks for all your help!

[2012-01-09 00:58] #629 closed, assigned to nobody

[2012-01-09 02:32] ericdfields commented on #514
Looks like the [Bourbon site got updated quite a bit](http://thoughtbot.com/bourbon/) since I first posted this.

Tint and shade are simple enough: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_tint-shade.scss

Golden ratio looks janky now that I investigate it: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_golden-ratio.sc

[2012-01-09 04:09] chriseppstein commented on #514
Tint/shade - since these are sass-based functions we can add them as useful shortcuts in compass. I think I remember @nex3 said he preferred these to be out of core.

Position - is already in compass. It's the stretching module.  http://compass-style.org/reference/compass/layout/stretching/

Animation - seems useful. I'd like to evaluate the API and get some feedback from people who have worked wi

[2012-01-10 02:01] nex3 commented on #664
If the primary difference between `@target not ie7` and `@if not $ie7` is aesthetic, as seems to be the case, I don't believe it's worth adding a new feature.

[2012-01-10 02:53] scottdavis commented on #664
I'm not totally sure the argument is aesthetic only we are talking about 2 things here extending the compiler to have multiple output files for a given stylesheet and a new directive to tell the compiler which file to render the conditional css too. The major difference between `@if` and `@target` is that currently using if `@if` you have to spin up multiple compilers and handel setting variables

[2012-01-10 19:20] ericdfields opened #669 "Multi box shadow broken?"
Compass 0.12.alpha.4 (Alnilam)

Using the example from the [compass docs](http://beta.compass-style.org/examples/compass/css3/box_shadow/):

[code]

Watcher says:
    Compilation took 1.282s
        error app/stylesheets/dashboard/dashboard.scss (Line 215: Mixin box-shadow takes 1 argument but 2 were passed.)
    overwrite public/stylesheets/dashboard/dashboard.css

[2012-01-10 19:34] chriseppstein commented on #669
It works for me. I think you've got something wrong on your end. Maybe an old version you're picking up or maybe you've defined your own box-shadow mixin?

[2012-01-10 19:34] #669 closed, assigned to nobody

[2012-01-10 19:56] ericdfields commented on #669
yup. overwritten elsewhere. sorry about that.

[2012-01-10 22:57] Nkburdick opened #670 "@import not working as expected"
All, I apologize if I'm missing something super easy, but I've been hitting my head against wall trying to do get my Rails 3.1 app working and I feel like I've tried everything.  I have structured my stylesheet directory so that my application.css just loads screen.css.scss.

[code]

Then, screen.css.scss looks ("something") like this:

[code]

The footer and header partials use the Compass column

[2012-01-10 23:12] Nkburdick commented on #670
I wanted to update that the only way I can seem to get it to work is to move the partial subdirectory out of the assets/stylesheets directory and into another (or on it's own), similar to what is referenced in issue 337 by @introspectif

https://github.com/chriseppstein/compass/issues/337#issuecomment-1231693

[2012-01-11 00:01] scottdavis commented on #670
You should avoid using the sprockets require syntax with sass in stead use the _filename.scss partial method define partials and import them using @import. use an application.scss to @import all partials

Sent from my iPhone

On Jan 10, 2012, at 5:58 PM, Nick Burdickreply@reply.github.com wrote:

[2012-01-11 01:38] scottdavis commented on #670
now that im at a computer... you need to have a file structure that looks like this

<pre>
- app/assets/stylesheets
  - application.scss
  - _styleguide.scss
  - partials
    - _footer.scss
    - _header.scss
</pre>

then just put this code in your application.scss

<pre>
// screen.css.scss

@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";

[2012-01-11 01:38] #670 closed, assigned to nobody

[2012-01-11 17:05] Nkburdick commented on #670
Thanks much for the help, but it's still breaking when I run `rake assets:precompile`.  It breaks on footer on an `@include  border-radius` call.  I don't have an`@import "compass"`in that footer partial because.

It works great in development, but I'm trying to get the assets to compile to push to Heroku on Cedar which runs an assets:precompile command prior to launch.

One note, in my gemfile I

[2012-01-11 17:23] richardaday commented on #655
Should the inline-image() function do one of the following?
- Check whether the image is >32kb and if true, use a URL instead
- Check whether the image is >32kb and warn the developer

[2012-01-11 17:27] scottdavis commented on #670
You may have to import compass in that file

Sent from my iPhone

On Jan 11, 2012, at 12:05 PM, Nick Burdickreply@reply.github.com wrote:

[2012-01-11 18:05] barkan commented on #655
The function, were it added, should probably be file-type agnostic, as it could be used for fonts, other file types, or whatever designers think of. Also, the function taking a specified action probably limits it, as there's just one browser (right now) with the 32KB constraint. And (as far as I know) SASS+Compass stay pretty browser agnostic.

As an off-the-cuff example: in your development css,

[2012-01-11 20:24] rvock commented on #639
Your example including the reset has the import-rule in the middle of the (compiled css) stylesheet.
This is not allowed:
http://www.w3.org/TR/CSS2/cascade.html#at-import

[code]

[2012-01-11 21:15] Nkburdick commented on #670
Whew, got it figured out!!!

@scottdavis,  I wondered if that was the case, but in a new rails app that I created, this wasn't the case.  In addition, my app was compiling all the various partials into their own stylesheets, which isn't what was intended.  But I figure it out.  Per the gist that Chris wrote, https://gist.github.com/1184843, I had added this line into application.rb `config.assets.

[2012-01-11 21:27] chriseppstein opened #672 "add docs for the css3/user-interface module"
https://github.com/chriseppstein/compass/blob/master/frameworks/compass/stylesheets/compass/css3/_user-interface.scss

[2012-01-12 02:29] heygrady opened #673 "Expose sprite-names as a function"
It is useful to obtain a list of sprite names from the sprite map in order to create your own custom stripe classes.

[code]

For my current project I was working with mobile and wanted to generate a sprite-map for retina displays and for normal displays using a media query. Essentially I needed to created two sprite maps and then change which one was used depending on the `device-pixel-ratio`.

[

[2012-01-12 02:30] heygrady commented on #673
BTW, Thanks for [answering so quickly](https://github.com/nex3/sass/issues/246#issuecomment-3455683) earlier today.

[2012-01-12 04:01] scottdavis commented on #673
already in master

https://github.com/chriseppstein/compass/commit/f4dda8a5d02318d01aa60583e5c25e8a9b064ad9

[2012-01-12 04:01] #673 closed, assigned to nobody

[2012-01-12 20:35] davidcalhoun commented on #289
+1

Hope this is fixed soon.

[2012-01-12 21:11] scottdavis commented on #289
ping @paulirish you have any input on the way to best implement this? hate to bother you but you seem to have a greater grasp on vendor prefix's then i do

[2012-01-13 01:22] dannygarcia opened #674 "Retrieving Specific Background Position (x/y)"
According to the documentation it's possible to retrieve the background position of a sprite like so:

[code]

It would be great to be able to specify which position to retrieve because some browsers lack support for `background-position-x` and `background-position-y`.

This could look like:

[code]

or

[code]

[2012-01-13 10:21] unikitty37 commented on #639
Thanks — the problem was that the Google fonts @import was in the middle of a bunch of sass @import commands, and they get replaced with compiled CSS. Moving the Google fonts @import to the top of application.css.scss fixed the issue.

[2012-01-13 10:21] #639 closed, assigned to nobody

[2012-01-13 22:36] renemendoza commented on #514
I am sorry i think i just wanted a free ride to get this buttons: http://hellohappy.org/css3-buttons/ :)

[2012-01-13 22:37] renemendoza commented on #514
i think i will try to port them to compass and learn some basic scs/sass along the way

[2012-01-16 22:27] heygrady opened #676 "Smush sprites and images with Smusher"
https://github.com/grosser/smusher

The sprites generated by Compass could be made smaller using a tool such as smoosher. It typically will remove as much as 25% from the size of the generated sprite. This is a necessary optimization for making the generated sprite as small as possible. This could be problematic since smoosher relies on a webservice so an internet connection is required for it to

[2012-01-16 23:00] scottdavis commented on #676
This will never be a core feature but feel free to create a plugin that does this. I specifically added callbacks for this use case

[2012-01-16 23:00] #676 closed, assigned to nobody

[2012-01-17 04:21] scottdavis opened #677 "teach configuration objects the concept of inheritable arrays"
for configuring load paths

[2012-01-17 05:52] scottdavis commented on #658
This should be fixed

[2012-01-17 05:52] #658 closed, assigned to nobody

[2012-01-17 10:52] blissdev commented on #658
I'm still getting these issues, should I be awaiting a gem update or something?

[2012-01-17 15:11] scottdavis commented on #658
chris pushed a new version try updating

[2012-01-17 16:21] msp opened #678 "Rails 3.2.0.rc.2 / Compass 0.12.alpha.4 - Sass not compiling"
Hi there

I'm not getting any compiled css, not seen any errors. Superficial test with `compass watch' doesn't seem to have probs so that'll suffice in the meantime.

How can I dig further?

$ bundle show rails
ruby-1.9.2-p290@dis11/gems/rails-3.2.0.rc2

$ bundle show compass
ruby-1.9.2-p290@dis11/gems/compass-0.12.alpha.4

$ bundle show sass-rails
ruby-1.9.2-p290@dis11/gems/sass-rails-3.2.3

Comp

[2012-01-17 17:48] paulirish commented on #289
Looking at the hardcoded list of props that are both 1) animatable/transitionable and 2) prefixed we don't end up with many that people are using, aside from `transform`

`background-size` is unprefixed everywhere except ff3.6, same with `box-shadow`. and `font-size-adjust` is ff only and probably not animatable..

(yup. it's not: http://oli.jp/2010/css-animatable-properties/  )

so tbh I think we

[2012-01-18 14:28] joliss commented on #678
No advice on the digging, just wanted to say it's working fine for me with the exact same versions.

Perhaps you can describe what you mean by "not getting any compiled css". 404 errors on the asset URLs?

[2012-01-18 14:35] joliss opened #679 "Add documentation for image functions"
Image functions (like radial-gradient) are only documented by example on http://compass-style.org/examples/compass/css3/gradient/ -- there is no "proper" reference documentation.
On http://compass-style.org/reference/compass/css3/images/ only the mixins are documented, but not the functions.

Before we can write docs, I suspect we'll need to figure out how to make this fit with the documentation s

[2012-01-18 21:35] msp commented on #678
Good to know.

Not working as in not creating css files in css_dir.

[2012-01-18 23:02] joliss commented on #678
Hm, I'm not sure that it's supposed to compile them to css_dir.

With me they end up in tmp/cache/assets.

You should perhaps check this: http://guides.rubyonrails.org/asset_pipeline.html

[2012-01-19 00:45] scottdavis commented on #678
i havent even begun to test with rails 3.2 im still trying to get rails 3.1.x working so bare with us

[2012-01-19 07:17] rvock commented on #674
You can add your own functions in your Scss-File, which use the sprite-position() function to create those functions:

[code]

Explanation: The sprite-position() function returns a sass-list with two entries: the x and y value. The nth() function returns an entry of a list (unlike some other languages, the first item is 1 and not 0)

I haven't tested the function yet, but it should work :)

[2012-01-19 09:47] msp commented on #678
Thanks Scott, I understood that from another thread. Let me know where to start digging so I can feed more usual info back..

[2012-01-19 11:08] rubiii commented on #674
fyi: i tested sprite-position-y and it works great. thank you very much!

[2012-01-19 14:01] jitendravyas commented on #208
How to get gradient for IE 7 and 8?

[2012-01-19 15:29] chriseppstein commented on #208
Use the filter-gradient mixin.

[2012-01-19 15:32] jitendravyas commented on #208
OK and for IE9 this new plugin http://compass-style.org/reference/compass/css3/images/ is generating SVG but to use filter-gradient with svg we will have to set filter:none for IE9.

is there a quick way to do that?

[2012-01-19 15:41] chriseppstein commented on #208
Existing CSS techniques apply, or you can make your own version of filter-gradient.

[2012-01-19 15:46] jitendravyas commented on #208
background: url(data:image/svg+xml;base64,PD9morecode /\* IE9 _/;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /_ IE6-8 */

/\* IE9 SVG, needs conditional override of 'filter' to 'none' */

Is there a way to replace filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=

[2012-01-19 16:26] scottdavis commented on #678
should probaly move these conversations over to the compass-rails gem issue tracker github.com/compass/compass-rails

[2012-01-20 11:37] blissdev commented on #658
Still getting this in 0.11.7 (Antares). Is this the new pushed version you are referring to?

[2012-01-20 14:18] brandon-rhodes commented on #605
The problem seems to have been that I was installing Compass _then_ installing Susy, which did not give Susy the chance to demand exactly the version of Compass that it is compatible with. So now I just install Susy and, it turns out, it brings along the correct Compass version as a dependency as part of its install. So everything seems to be working for me — thanks!

[2012-01-20 15:27] scottdavis commented on #658
what is your ruby gems version?

[2012-01-20 18:32] blissdev commented on #658
1.8.15

[2012-01-20 18:36] blissdev commented on #658
I'm sorry, this seems to be more of a rubygems bug. I fixed it using this technique: http://paikialog.wordpress.com/2012/01/08/fixes-for-invalid-date-format-specification-in-gemspec/

Also you can fix it by reinstalling gems. Sorry for cluttering this issue.

[2012-01-21 14:44] Ahrengot opened #682 "Add text-overflow mixin"
Couldn't find it in the documentation and I think it would be a nice feature.

[2012-01-21 17:41] imeos commented on #645
What really helped me out, after some good hours of trial and error, was to add this line to my Gemfile:
`gem 'compass', git: 'git://github.com/chriseppstein/compass', branch: 'master'`
... and to comment out the original compass dependency of course

[2012-01-21 20:37] scottdavis commented on #645
if you want to live on the bleeding edge use this in your gemfile

https://gist.github.com/9d27ab854dfadca917f1

[2012-01-22 08:05] trevor commented on #645
@scottdavis i needed to capitalize the 'c' in compass:
`git://github.com/Compass/compass-rails.git` works
`git://github.com/compass/compass-rails.git` didn't work

[2012-01-22 19:03] ErwinM commented on #516
@papipo how did you achieve your speed up? I am looking at your code link, but I don't get it. However, I would love to get a speed up so I can re-introduce compass in our app..

[2012-01-22 20:04] mirisuzanne commented on #682
Would you like to submit a patch?

[2012-01-23 10:02] Ahrengot commented on #682
Would love to, but don't really know how to mess around with the main compass files. I have no experience at all with ruby stuff.

[2012-01-23 13:43] Papipo commented on #516
Change this:

[code]

To this:

[code]

[2012-01-23 16:55] jtmkrueger commented on #516
Did this get addressed in Rails 3.2?

[2012-01-23 16:56] scottdavis commented on #516
I think this got fixed in sass-rails with moving sass support directly into
sprockets but im not 100% sure.

On Mon, Jan 23, 2012 at 11:55 AM, jtmkrueger <
reply@reply.github.com

[2012-01-23 16:59] scottdavis commented on #516
even if it didn't using this gist: https://gist.github.com/9d27ab854dfadca917f1 in your gemfile will allow you to run compass watch ... warning its very edge and not yet stable.

[2012-01-23 17:01] jtmkrueger commented on #516
I made a couple arbitrary changes to some scss files to see if was faster after I upgraded.  It appeared to load quicker, but I can't say I ran any other tests beyond that.  I bumped my sass rails up to 3.2.3 when I upgraded to rails 3.2. My app is running sprockets 2.1.2.

[2012-01-23 18:38] ntreadway commented on #584
Moving gem 'sass-rails' out of the :asset group resolves this issue.

[2012-01-24 10:03] ndemoreau opened #683 "rails 3.2.0. No such middleware to insert before: "Rack::Sendfile""
When upgrading to rails 3.2.0 and restarting Webrick, I get the error:

/Users/nico/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.0/lib/action_dispatch/middleware/stack.rb:119:in `assert_index': No such middleware to insert before: "Rack::Sendfile" (RuntimeError)
    from /Users/nico/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.0/lib/action_dispatch/middleware/stack.rb:83:in`insert'
    from /Use

[2012-01-24 13:28] scottdavis commented on #683
yes

[2012-01-24 13:28] #683 closed, assigned to nobody

[2012-01-25 15:14] Snugug opened #685 "SVG Support for Image Sprites"
I'd be very interested in SVG support for Compass Image Sprites, so PNGs would output a PNG file and SVGs would output an SVG file. There are a few unique things that can be accomplished with SVG Image Sprites that can't be as easily accomplished with PNGs, including infinite scaling using background-size.

[2012-01-25 16:24] chriseppstein commented on #685
I don't know enough about SVG to know how to assemble a unified sprite sheet. But in theory it would just mean snagging the contents of the svg files and munging them together so it seems doable. Also not sure what the implications for the generated css would be. If you can outline this in detail I will consider this for a post 0.12 feature.

[2012-01-25 16:36] seamusleahy opened #686 "SVG image dimensions"
The replace-text-with-dimensions() function doesn't work for SVGs because the image dimension function don't support SVG.

I was able to get it to work for my use case by adding a get_size_for_svg method to the ImageProperties class in Compass::SassExtensions::Functions::ImageSize.

[code]

I am reading the width and height attributes from the root <svg> element.

[2012-01-25 16:54] Snugug commented on #685
So generating an SVG sprite is actually fairly easy. SVGs are, at their core, XML files, so as you can parse an XML file, you can make an SVG Sprite. Here's the actual XML of an SVG file:

[code]

The key things that are going to change when adding one SVG into another is the height/width definition in `<svg>` and the `<symbol>` and `<use>` tags. Let's say we want to add the following SVG into thi

[2012-01-25 19:54] chriseppstein commented on #686
Are pixels the only legal values of `width` and `height`? Pretty sure they're not. We would need to decide how to handle that case.

[2012-01-25 20:02] chriseppstein opened #687 "Make a custom cursor mixin"
[This blog post](http://www.useragentman.com/blog/2011/12/21/cross-browser-css-cursor-images-in-depth/) indicates that a compass mixin for custom cursors would be awesome.

[2012-01-25 20:27] seamusleahy commented on #686
You are correct in that it can be other values than pixel. Is it possible to return non pixel values?
- [svg width](http://www.w3.org/TR/SVG/struct.html#SVGElementWidthAttribute)
- [SVG length](http://www.w3.org/TR/SVG/types.html#DataTypeLength)
- [CSS units](http://www.w3.org/TR/2008/REC-CSS2-20080411/syndata.html#length-units)

[2012-01-25 21:05] chriseppstein commented on #686
yes. it's possible to return any css unit with a little refactoring.

[2012-01-25 23:28] joemsak commented on #654
I have this exact issue on Rails 3.2.1 and Sass-Rails 3.2.3, and compass 0.12.rc.1

[2012-01-26 01:14] nex3 commented on #664
@scottdavis There's no need to spin up multiple instances of the executable. All you need to do is have multiple entry-point files, each of which defines the variables for its particular compilation profile (e.g. `screen-ie7.scss` would define `$ie7: true` and then `@import "screen"`).

I don't see why it would be more difficult to tell designers to use `@if $ie7 { ... }` than to use `@target ie7

[2012-01-26 02:24] scottdavis commented on #664
@nex3 my understanding is that `@target` will only render out that contents of that block to the intended target. Now i fully do understand the argument you have using `@if` but its going to create a huge headache in large projects where im going to have to maintain an abundance of if nested if statements. The goal is to keep the stylesheets as dry as possible and to achieve what im proposing belo

[2012-01-26 06:00] chriseppstein commented on #685
Pinging @johnbintz as he knows a lot about SVG -- I think the devil's in the details on this.

[2012-01-26 06:09] Snugug commented on #685
Sounds good.
As a bit of backstory, @simurai and I went back and forth on Twitter last night about SVG Image Sprites and some of the pitfalls of using SVG in CSS, namely that if the resulting size of a straight line winds up being 0<x≤1px, the line gets blurry. Not only would SVG Image Sprites be just good to have, but having the compiler be aware of the actual size of the image (like it can curre

[2012-01-26 06:15] chriseppstein commented on #685
I caught a bit of your conversation on twitter. I think this can be a good addition to compass, but we need to know details about how to avoid these issues, how the generated css would differ, etc. Is there any open source tool that sprites svg files? It'd be great to read their code or even reuse it (if it's ruby)

[2012-01-26 06:29] Snugug commented on #685
There's nothing I can find (admittedly a quick search) that currently does SVG sprites (every web SVG library I know of off the top of my head are all focused on drawing SVGs, not combining/working with existing SVGs).
With that being said, most of the CSS would be the same as it currently works: if you want to have it be the same size as the image, just use it in the background url definition:
[c

[2012-01-26 08:56] chriseppstein commented on #685
Ping @mental, can you offer any insights or pitfalls to be aware of?

[2012-01-26 09:02] nex3 commented on #664
Why can't the IE stylesheet include the same selectors as the normal stylesheet? Why not serve only screen.css to normal browsers and only screen-ie.css to IE? This will decrease both the number of HTTP requests IE needs to do and (slightly) the byte size of the output file.

[2012-01-26 09:48] chriseppstein commented on #664
in theory, rendering full stylesheets or auxillary stylesheets could both be supported by `@target`, but I agree that having full stylesheets that are served by browser detection is better in most cases.

As I've said before this feature boils down to two things:
1. The use of `@target` can be auto detected and the framework can own the duplicative renders according to a convention instead of plac

[2012-01-26 09:53] chriseppstein commented on #664
Note: this is all predicated on the notion that there is some efficiency in having an Engine reused across multiple renders for different targets. If this turns out to be untrue, then there's probably no point in having `@target`.

[2012-01-26 20:26] nex3 commented on #664
The framework can also set up a convention for multiple renders using `@if` with variables. You can even auto-detect it if you really want by searching the stylesheets for uses of the appropriate variables.

This would require a much tighter binding of target names and specific browsers/versions than I'd want to put in core Sass. Even if we went with `@target`, I wouldn't want Sass proper to have

[2012-01-26 21:42] chriseppstein commented on #664
You keep saying things _can_ be done. I keep saying that's not the point and has never been disputed by me. The point is whether it's the best way for things to be done. Grepping for `@if` statements and analyzing their logic is clearly more dangerous than a dedicated feature. Not all stylesheets compiled by compass have to `@import` compass -- a dedicated feature would be unambiguous and based in

[2012-01-27 00:47] ryanlindsey commented on #356
I can't compile Twitter's Bootstrap in production mode due to this error...

[2012-01-29 11:41] thulstrup opened #690 "Different image order for normal and retina sprites"
I have two folders of icons. One called "sprites" and one called "sprites-retina".
Both folders contains the same icons with the same filenames. The only difference is that the icons in the "sprites-retina" folder are double the size of those in the "sprites" folder.

When generating the sprite maps, the order of the icons in the "sprites" map is different than that of the "sprites-retina" map. Th

[2012-01-29 15:29] scottdavis commented on #690
let me see your sass

[2012-01-29 16:20] thulstrup commented on #690
Here's the mixin I use to generate the normal and retina icons.

[code]

[2012-01-29 23:23] scottdavis commented on #690
alright it seems there needs to be an option to define the sort order

[2012-01-30 19:42] chriseppstein commented on #397
Fixed in 0.12. currently on the no_rails_integration branch but will land on master very soon.

[2012-01-30 19:42] #397 closed, assigned to chriseppstein

[2012-01-30 19:53] chriseppstein commented on #690
Sprite names are sorted alphabetically to determine sprite ordering to make the sprite construction stable across compiles.

I think it's incorrect to assume that the two sprites will have an identical placement. I suggest comparing the values of `sprite-position($sprites, $name)` and `sprite-position($sprites-retina, $name)` and outputing an override for `background-position` if they differ.

[2012-01-30 19:53] #690 closed, assigned to nobody

[2012-01-30 21:15] scottdavis opened #691 "Create a more comprehensive logger for stdout"
via #675

[2012-01-30 22:15] thulstrup commented on #690
Thank you for your quick reply.
I've got it working, but it does seem a bit like a hack. Is this the best way to do it?

[code]

[2012-01-30 22:24] scottdavis commented on #690
Sprites are actually sorted from top to bottom by file size then by name in vertical layout this is not true in horizontal layout:
https://github.com/chriseppstein/compass/blob/master/lib/compass/sass_extensions/sprites/layout_methods.rb#L44

[2012-01-31 00:15] chriseppstein commented on #690
Doesn't seem hackish to me. If you want completely perfect sprite construction, you can hand build them ;) One of the main benefits of compass sprites is that you don't position them yourself and we do not make any guarantees around the assembly of them. So I think you're code is actually pretty optimal given the constraints.

[2012-01-31 01:33] maxbeatty commented on #129
It may be helpful to note that absolute paths should be specified with <foo>-path instead of <foo>-dir

http://groups.google.com/group/sass-lang/browse_thread/thread/a738f9cff292b62a

[2012-01-31 04:56] chriseppstein commented on #678
The asset pipeline doesn't generate css files unless you call `rake assets:precompile`. For more information on the asset pipeline, please read the [rails guide](http://guides.rubyonrails.org/asset_pipeline.html).

[2012-01-31 04:56] #678 closed, assigned to nobody

[2012-01-31 06:44] chriseppstein commented on #682
It already exists: http://compass-style.org/reference/compass/typography/text/ellipsis/

[2012-01-31 06:44] #682 closed, assigned to nobody

[2012-01-31 15:57] chriseppstein commented on #632
It's just not possible -- the code is very straightfoward. Please provide a stylesheet that reproduces the issue. Until then I'm closing this.

[2012-01-31 15:57] #632 closed, assigned to nobody

[2012-01-31 15:59] JeanMertz commented on #632
I must've moved on to other projects as I am not sure when and where I had this problem. I'll report back if I ever get this problem again, but for now I guess it was just a fluke in my codebase somewhere.

[2012-01-31 16:03] Keytwo commented on #632
Same as JeanMertz here, seems to me that I had some dirty in the project tree. It doesn't happen anymore.
Bests

[2012-01-31 16:07] chriseppstein commented on #612
Can't you just `compass init foo --force`?

[2012-01-31 16:09] chriseppstein commented on #644
Slimming down the gem file would be good. @aaronchi would you like to submit a patch?

[2012-01-31 16:10] chriseppstein commented on #539
fixed in 0.12

[2012-01-31 16:10] #539 closed, assigned to nobody

[2012-01-31 16:16] chriseppstein commented on #625
This seems to be a sass issue. The filename that sass is selecting for writing the cache file needs to be sanitized/escaped so that it only contains legal characters for windows.

[2012-01-31 16:18] chriseppstein commented on #625
I filed a bug there. Closing here.

[2012-01-31 16:18] #625 closed, assigned to nobody

[2012-01-31 16:24] chriseppstein commented on #516
In compass 0.12 you can run the compass watcher which should help. We'll continue working on the performance -- the issue is at the intersection of how sass and sprockets and compass interact so it's been tricky to nail down so far.

[2012-01-31 16:30] chriseppstein commented on #638
I run 1.9.1 on ubuntu and have never seen this issue. If you can provide an environment with a shell account I will log in and try to diagnose it. email chris@eppsteins.net. Closing for now.

[2012-01-31 16:31] #638 closed, assigned to nobody

[2012-01-31 16:31] chriseppstein commented on #606
@madhums any update?

[2012-01-31 16:43] #674 closed, assigned to nobody

[2012-01-31 16:43] chriseppstein commented on #677
fixed.

[2012-01-31 16:43] #677 closed, assigned to nobody

[2012-01-31 16:45] #634 closed, assigned to nobody

[2012-01-31 16:46] chriseppstein commented on #501
The compass-rails gem adds a depend_on call for each sprite so that it will invalidate now.

[2012-01-31 16:46] #501 closed, assigned to nobody

[2012-01-31 16:50] aaronchi commented on #644
I'd rather leave this to the maintainers to figure out what they want to include and exclude. IMO, the tests, features and examples don't need to be packaged with the gem unless there is some way they are being used.

Also, the compass gem creates a bunch of .rbc files and I don't know what those are or what they are for.

[2012-01-31 16:53] chriseppstein commented on #466
I'm concerned about changing `img` from `inline` to `inline-block`. I added an inline-block entry with img in it though.

[2012-01-31 16:53] #466 closed, assigned to nobody

[2012-01-31 19:03] msp commented on #678
Hi Chris - you'd only need to do the rake precompile in prod. I guess this raises a more general question about how the two options integrate - seems a little unclear to me. i.e. before the asset pipeline, compass just took care of my sass. Now with the pipeline it seems we have 2 options to do the same job? Or has the pipeline superseded the old method?

[2012-01-31 19:15] scottdavis commented on #678
The reason this exists is that using the assest pipeline cna be very slow in development but using watch you will gain a pretty decent speedup

[2012-01-31 23:49] sujithrs opened #692 "0.12.rc.0 - File to import not found or unreadable: compass/css3"
With 0.12.rc.0 branch, I get the following error with rails 3.1 (jruby 1.6.4). It works fine with 0.12.alpha.4.

ActionView::Template::Error (File to import not found or unreadable: compass/css3...

Please let me know if you need more details.

[2012-02-01 00:25] georgetogo commented on #692
Ditto.

[2012-02-01 00:40] chriseppstein commented on #692
It it reproducible in the same stack in a fresh application?

[2012-02-01 01:00] chriseppstein commented on #692
Did you follow the upgrade instructions? https://github.com/Compass/compass-rails/blob/stable/README.md

[2012-02-01 01:06] rmm5t commented on #692
I'm seeing the same problem with 0.12.rc.0 in a Rails 2.3.1 app. Confirmed that it used to work in 0.12.alpha.4.

`File to import not found or unreadable: compass.`

I'll try in a fresh Rails 3.2.1 app.

[2012-02-01 01:07] chriseppstein commented on #692
Please confirm that you have installed the compass-rails gem.

[2012-02-01 01:14] rmm5t commented on #692
I was able to reproduce this problem in a fresh Rails 2.3.1 app where I only added compass to the `Gemfile` and supplied a simple import in `application.css.sass`.

Added to `Gemfile` (in assets group):

[code]

Added to `app/assets/stylesheets/application.css.sass`:

[code]

The problem manifests itself during `rake assets:precompile` and happens in either a development or production environment.

[2012-02-01 01:15] chriseppstein commented on #692
@rmm5t Please confirm that you have installed the compass-rails gem and followed the upgrade instructions in the compass-rails [README](https://github.com/Compass/compass-rails/blob/stable/README.md)

[2012-02-01 01:51] rmm5t commented on #692
@chriseppstein Ah! Thanks. That's it. I guess I found myself "bundle updating" gems today without realizing the new compass-rails gem.  Also, sorry for the back-n-forth. I must have been commenting against a cached github page or something and didn't see your comments about the upgrade instructions or the compass-rails gem.

[2012-02-01 01:57] chriseppstein commented on #692
@georgeplendl @sujithrs Ditto for you two...

[2012-02-01 16:42] #692 closed, assigned to nobody

[2012-02-01 16:42] sujithrs commented on #692
It works fine with compass-rails gem. Thanks @chriseppstein!

[2012-02-01 17:30] drhenner opened #693 "release canidate.0 brakes ror_ecommerce"
Take a look at this thread.
https://github.com/drhenner/ror_ecommerce/issues/27

I actually had a different side effect.

my stack trace looked like this:

Started GET "/login" for 127.0.0.1 at 2012-02-01 12:13:30 -0500
Processing by UserSessionsController#new as HTML
  Rendered user_sessions/new.html.erb within layouts/application (6.5ms)
Completed 500 Internal Server Error in 71ms

ActionView::T

[2012-02-01 17:42] scottdavis commented on #693
install compass-rails and report back

[2012-02-01 17:44] drhenner commented on #693
Oddly enough:  If I install alpha.4 then upgrade to rc.0 everything works.  If I start with rc.0 is when I have issues.  I'll try the compass-rails thing now.

[2012-02-01 17:49] scottdavis commented on #693
compass no longer has rails integration baked in moving forward you will need compass rails http://beta.compass-style.org/blog/2012/02/01/compass-0-12-is-released/

[2012-02-01 17:49] drhenner commented on #693
Now I see what the other person reported on ror-e

David-Henners-MacBook-Pro:delete davidhenner$ rails s
./config/compass.rb:4:in `get_binding': uninitialized constant Compass::AppIntegration::Rails (NameError)
    from /Users/davidhenner/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.rc.0/lib/compass/configuration/serialization.rb:24:in`eval'
    from /Users/davidhenner/.rvm/gems/ruby-1.9.2-p290/gem

[2012-02-01 17:50] scottdavis commented on #693
wants in your compass config file?

[2012-02-01 17:52] drhenner commented on #693
project_type = :rails
project_path = Compass::AppIntegration::Rails.root
 # Set this to the root of your project when deployed:
http_path = "/"
css_dir = "public/stylesheets"
sass_dir = "app/stylesheets"
environment = Compass::AppIntegration::Rails.env
 # To enable relative paths to assets via compass helper functions. Uncomment:
 # relative_assets = true
preferred_syntax = :scss

[2012-02-01 17:52] scottdavis commented on #693
change environment = Compass::AppIntegration::Rails.env
to

[code]

[2012-02-01 17:53] drhenner commented on #693
sass_dir = "app/stylesheets"

might be an issue

[2012-02-01 17:54] scottdavis commented on #693
but i want ot note that doing this is a bad idea
while rails supports n environments compass only has 2 development and production if you have any custom rails environments compass will default to development and that may not be the intended result

you also shouldn't need to explicitly get the project path this should be done for you already

[2012-02-01 17:55] drhenner commented on #693
should I change

[code]

also?

[2012-02-01 17:57] scottdavis commented on #693
yes are you using asset pipeline?

[2012-02-01 17:57] drhenner commented on #693
but i want ot note that doing this is a bad idea..

what is "doing this"

[2012-02-01 17:58] drhenner commented on #693
Just moved to the asset pipeline Looking at this file I assume I need to change to:

sass_dir = "app/assets/stylesheets"

[2012-02-01 17:59] scottdavis commented on #693
just remove the line the defaults will take over
and "doing this"

[code]

[2012-02-01 17:59] drhenner commented on #693
https://github.com/drhenner/ror_ecommerce/blob/master/config/compass.rb

[2012-02-01 18:01] scottdavis commented on #693
basically you can just delete your compass config file and everything will be ok

[2012-02-01 18:04] drhenner commented on #693
Well I have things working now.  I'll try deleting the file and report back.... I'll give a summary in a final comment so other people can read the thread more easily.  You are da man!  Heck, I thought I gave good support by answering within an hour.... now I look bad!  Thanks

[2012-02-01 18:04] #693 closed, assigned to nobody

[2012-02-01 18:20] drhenner commented on #693
So in conclusion for those of you that are reading this thread....

1)  Compass was upgraded from 0.12.alpha.4 to 0.12.rc.0
2)  I needed to remove config/compass.rb in rails
3)  I needed to add "gem 'compass-rails'" in my gemfile

After that everything appeared to work.

[2012-02-02 07:09] Bazai opened #694 "Assets:precompile of generated sprites"
If i make sprite generation from my /assets/image/sprite folder, and then plug it with:
[code]
And if i run:
[code]

I'll obtain application.css file with link to sprite-_.png file inside *_root of public/ folder**, but my sprite-_.png file will be inside *_public/assets folder**

But we all need right mapping css - png.
Please, help. Is it my mistake or is it global?

[2012-02-02 09:11] StanAngeloff opened #695 "Compass sprites fail on Windows with Errno::EINVAL"
Following the [brief discussion](https://twitter.com/#!/StanAngeloff/status/164825220534902784) of this issue on Twitter, I set up a VM to see if I can reproduce. The following was installed in a vanilla Windows XP installation:

[code]

I created the following directory structure in `C:\Documents and Settings\Administrator\My Documents\hello`:

[code]

The contents of `config.rb` are as follows:

[2012-02-02 15:49] chriseppstein commented on #695
This issue is already filed on [sass](https://github.com/nex3/sass/issues/259)

[2012-02-02 16:01] ngs commented on #356
I wrote a patch. https://gist.github.com/1722819

[2012-02-02 16:13] sgalinski opened #696 "filter-gradient only accepts color values with either 3 or 6 digits"
Problematic Code:
filter-gradient(#19000000, #19000000);

The alpha value is required if you want to use the rgba hack for IE.

http://css-tricks.com/rgba-browser-support/

[2012-02-02 16:17] sgalinski opened #697 "generated sprites are larger than neccessary"
I really love the new smart spriting of 0.12rc, but the generated sprite files seems not to be crushed. I often get savings around 20% while using punypng afterwards on the generated file. I know that punypng can't be used, but maybe something like pngcrush?

http://www.punypng.com/
http://pmt.sourceforge.net/pngcrush/

[2012-02-02 16:29] scottdavis commented on #697
This is outside the scope of compass if you want to crush your sprites you should do this on deployment compass has call back hooks on sprite generator just for this reason.

http://beta.compass-style.org/help/tutorials/configuration-reference/#callbacks

[2012-02-02 16:29] #697 closed, assigned to nobody

[2012-02-02 16:30] scottdavis commented on #694
rails version? are you using compass-rails?

[2012-02-02 16:31] Bazai commented on #694
Yes, compass-rails. Rails 3.2.1.

[2012-02-02 16:34] scottdavis commented on #694
i just realized about 20 minutes ago i forgot to include the monkey patch in the rails 3.1/3.2 railtie can you try aginst the master using

[code]

in your gemfile

[2012-02-02 17:01] Bazai commented on #694
Yes, now it works. Merge it, pls :) Thanks a lot.

[2012-02-02 17:09] scottdavis commented on #694
ok pushing within the hour thanks for verifying

[2012-02-02 17:09] #694 closed, assigned to nobody

[2012-02-02 20:21] codegoblin opened #698 "0.12.rc.0 breaks dev asset pipeline (rails 3.1-3.2.1)"
Hey guys,

I upgraded from '0.12.alpha.4' to '0.12.rc.0'
and now I get the following error when I attempt to reload the app:

@import "_blueprint";
File to import not found or unreadable: _blueprint

Here is my application.css.scss (where the error is being generated from):
/*
- This is a manifest file that'll automatically include all the stylesheets available in this directory
- and any sub-dire

[2012-02-02 20:50] tysonmote commented on #698
+1

Temporary fix is including something like this in `application.rb`:

[code]

I'm pretty sure this is an old issue that was supposed to be fixed in 0.12... At least that's what my note to myself said for the above code. :)

[2012-02-02 21:39] scottdavis commented on #698
install compass-rails and report back

http://beta.compass-style.org/blog/2012/02/01/compass-0-12-is-released/

[2012-02-02 21:43] #698 closed, assigned to nobody

[2012-02-02 23:09] shaun-floss opened #699 "No files were found in the load path matching "icons/*.png"."
My sprites were working fine in Rails 3.1; I just upgraded to Rails 3.2, now I'm getting an error.

Compass::SpriteException

No files were found in the load path matching "icons/*.png".

The line that is generating this error is:
`$icons: sprite-map("icons/*.png", $spacing: 50px);`

Any ideas? Something to do with the asset pipeline?

[2012-02-02 23:25] chriseppstein commented on #699
please test using compass-rails: http://beta.compass-style.org/blog/2012/01/29/compass-and-rails-integration/

[2012-02-02 23:46] shaun-floss commented on #699
Perfect, the compass-rails gem fixed it.

Thanks chriseppstein!

[2012-02-02 23:46] #699 closed, assigned to nobody

[2012-02-03 00:01] codegoblin commented on #698
DOH! Thanks so much you guys for the prompt, informative responses. If it hasn't been mentioned yet, perhaps it would be worth it to update the rails-integration wiki or perhaps the main README to mention the new gem? Thanks again!

[2012-02-03 16:45] futura commented on #645
I just upgraded to Rails 3.2.1 and began getting the missing file error. Partial Gemfile:

[code]

I get:

[code]

The backtrace shows the problem comes here:

[code]

Line 5 of that file looks like this:

[code]

Is this a path issue (because my Compass files are one level below application.scss), or is it the sprockets issue above?

Also, when I assign the gems like @scottdavis (Jan 21) says, th

[2012-02-03 16:50] scottdavis commented on #645
Install compass-rails

Sent from my iPhone

On Feb 3, 2012, at 11:45 AM, futurareply@reply.github.com wrote:

[2012-02-03 20:10] futura commented on #645
To install compass-rails, do I have to do anything other than add it to my Gemfile? My assets group:

[code]

My stylesheets are in app/assets/stylesheets.

My config/compass.rb file has:

[code]

When I restart the Rails server, I get:

[code]

[2012-02-03 20:13] scottdavis commented on #645
No need to install it from git anymore the gem is released

Sent from my iPhone

On Feb 3, 2012, at 3:10 PM, futurareply@reply.github.com wrote:

[2012-02-03 20:42] futura commented on #645
Yes, thank you, Scott! Now working with a simple:

[code]

[2012-02-03 21:12] masterkain commented on #645
@futura perhaps you can write only `gem 'compass-rails'`

[2012-02-04 01:41] Lisaj opened #700 "Sprite generation error on windows"
Hi,
a long time I could not create a sprite on Windows.
If you start with the compass path "D:\ project\html" do not generate a sprite. The path must be entered "D:/project/html". The problem is that the generation of css works both ways but the sprite generation does not work with first.

I use compass 0.12.rc.1

[2012-02-04 16:55] jessepinuelas opened #701 "Upgraded From 0.11.7 to 0.12.rc.0 Errors"
When I try to watch files with compass using the following command:
compass watch [path/to/project]

I get the following error:
No application integration exists for rails

I ran all the steps you have listed and also tried the rails integration steps on http://compass-style.org. Am I missing something here?

This is what my gemfile looks like:

[code]

[2012-02-04 18:27] chriseppstein commented on #701
During the RC period you need to follow the instructions from our beta site: http://beta.compass-style.org/install/

They say to use:

[code]

[2012-02-04 18:27] #701 closed, assigned to nobody

[2012-02-04 20:39] jessepinuelas commented on #701
Thanks for the details. I reviewed the instructions from your beta site: http://beta.compass-style.org/install/
and I did not see any details about the bundle exec compass watch or compile.

[2012-02-04 22:23] nathggns opened #702 "Unable to fix typo in beta documentation"
I found a 404 caused by a typo in the [**beta**](http://beta.compass-style.org) documentation for [spriting](http://beta.compass-style.org/help/tutorials/spriting). I am unable to find the correct branch to edit to fix this typo. Is it private?

[2012-02-05 17:50] noniq commented on #516
I'm using Rails 3.2 and the Gems from https://gist.github.com/9d27ab854dfadca917f1 . Compiling my application.css.scss takes about **20ms** without compass – and goes up to about **2000ms** as soon as I add `@import "compass";`.

Compass itself uses many import directives for its own modules and mixins – this seems to be the main cause of the slowdown.

I wrote a quick and dirty script to build a

[2012-02-06 00:21] scottdavis commented on #516
not to mention the sprockets resolver is known to be slow when there are a lot of dependencies to resolve with hike slow

[2012-02-06 00:22] scottdavis commented on #702
no its in the doc-src directory on master

[2012-02-06 00:35] nathggns commented on #702
Thank You, I don't know why I failed to find this before.

##

Nathaniel Higgins
Sent with Sparrow (http://www.sparrowmailapp.com/?sig)

On Monday, 6 February 2012 at 00:22, Scott Davis wrote:

[2012-02-06 21:44] benjamincharity opened #704 "Need moz support for rotateY"
Firefox is beginning to support more CSS3 items but currently I am forced to include the moz prefix manually.

[2012-02-06 21:46] benjamincharity opened #705 "Need moz support for transform-style"
Again, Firefox has begun supporting these newer CSS3 items and I am currently still forced to manually add the moz prefixed versions.

Possibly a configuration option would be good to allow users to specify which browsers should be supported.

[2012-02-07 11:31] jonassmedegaard commented on #598
it is _decrease_ in bytes :-P

Thanks for the change - I fully agree.

[2012-02-08 16:06] mikefowler opened #707 "Link to Sass 'partial' documentation is dead"
On [Best Practices](http://compass-style.org/help/tutorials/best_practices/), the link to the Sass documentation for partials is dead.

[2012-02-08 16:10] joemsak commented on #654
_bump_ Edited versions in comment above

[2012-02-08 16:30] scottdavis commented on #654
did you install compass-rails?

[2012-02-08 16:30] scottdavis commented on #598
increase in free bytes!

[2012-02-08 16:31] joemsak commented on #654
Hey

I just found this http://blog.55minutes.com/post/16586931456/getting-compass-to-work-with-rails-3-1-and-3-2 and I'm following it now

Thanks!

[2012-02-08 16:35] scottdavis commented on #704
feel like making a patch?

[2012-02-08 16:35] scottdavis commented on #705
feel like making a patch?

[2012-02-08 16:36] scottdavis commented on #654
http://beta.compass-style.org/blog/2012/02/01/compass-0-12-is-released/

[2012-02-08 16:38] joemsak commented on #654
Looks like it came down to this solution

https://github.com/plataformatec/devise/commit/96f55a7ac7a61effd03a7f43dbbdfb6af8894579#diff-1

[2012-02-08 17:18] leopic opened #709 "Add 'column-break-before' property"
The current CSS Multi-column Layout draft mentions a property called: 'column-break-before', aimed to give developers more flexibility on where their columns should begin/stop.

It's currently supported by Webkit browsers and Opera 11.10 (no prefix needed).
- Opera: http://www.opera.com/docs/specs/presto28/css/multicolumnlayout/
- http://caniuse.com/multicolumn
- http://html5please.us/

Spec info

[2012-02-08 17:56] gotchahn commented on #645
With just gem 'compass-rails' makes works everything to me

[2012-02-08 20:30] ansman opened #710 "Support for animations"
Currently there is no support for keyframes in compass, they are supported in FF, Chrome, Safari and IE10 ATM.

[2012-02-08 20:31] ansman opened #711 "Bug in the backface-visibility and perspective mixins"
They only produce `backface-visibility: ...;` and `perspective: ...`, not any vendor specific prefixes.

[2012-02-08 21:00] chriseppstein commented on #710
We will add support for this in compass after sass 3.2 ships. Currently it's as a plugin if you want to run against the sass preview release. https://github.com/ericam/compass-animation

[2012-02-10 05:04] jwmount commented on #645
After I put  gem 'compass' and gem 'compass-rails' in Gemfile AND deleted gemfile.lock and ran $ bundle,  all OK.

[2012-02-10 15:48] SanderElias opened #713 "error in rgba after compile"
HI all,

I'm using compass 0.11.7 and ran into this problem.
If I create an .scss file with this content:

@import "compass/css3";

.another {
      background: rgba(254, 254, 254, 0.8);
  }

the result is:

/\* line 3, ../sass/test.scss */
.another {
  background: rgba(254, 254, 254, 0);
}

(note the last parameter off the rgba function being 0 in stead off 0.8)

As this is my first SCSS trail, i

[2012-02-10 17:00] yhbrandon commented on #356
how do you apply your patch?

[2012-02-10 17:17] scottdavis commented on #356
@ngs mind making a pull request?

[2012-02-10 22:29] chriseppstein commented on #713
I cannot reproduce this result. I get `rgba(254, 254, 254, 0.8)` in the output running the latest sass stable and master releases. What version of sass are you running?

[2012-02-11 09:25] SanderElias commented on #713
Hi Chris,

this is a cut and past form the command line. (I'm on windows 7, perhaps that has something to do with it!)

[E:\cristal\www_root]sass --version
Sass 3.1.15 (Brainy Betty)

[E:\cristal\www_root]compass --version
Compass 0.11.7 (Antares)

So I giess I'm on the latest versions.

regards
Sander Elias

[2012-02-11 09:26] SanderElias commented on #713
Sorry, for closing,
clearly I clicked the wrong button :)

regards
Sander

[2012-02-11 10:51] ansman commented on #710
Sweet

[2012-02-11 19:36] chriseppstein commented on #713
What version of ruby are you running?

[2012-02-11 20:14] chriseppstein commented on #713
On windows running ruby 1.9.2-p290:

[code]

[2012-02-12 13:42] SanderElias commented on #713
Ok, I seem to have an somewhat more recent ruby version:
[E:\cristal\www_root]ruby --version
ruby 1.9.3p0 (2011-10-30) [i386-mingw32]

[2012-02-12 15:45] chriseppstein commented on #713
Can you see if downgrading fixes it?

[2012-02-12 15:57] SanderElias commented on #713
removed everything, got the same ruby version as you have, and now it works.
So there is a small issue with the new ruby release.
Not a problem for me, as I only need ruby for compass, so I will be happy on this version. But I guess this need some attention nevertheles.

[2012-02-12 16:08] chriseppstein commented on #713
Thanks for confirming. I will investigate.

[2012-02-13 23:29] bookcasey opened #716 "$relative-font-sizing: false does not change unit to px"
I'm struggling with a problem using [$relative-font-sizing](http://compass-style.org/reference/compass/typography/vertical_rhythm/#const-relative-font-sizing).

This:

[code]

Outputs:

[code]

Which I find inexplicable. It only differs in `line-height` from `$relative-font-sizing: true` when it should output _absolute [pixes](http://compass-style.org/reference/compass/typography/vertical_rhythm/#

[2012-02-14 00:59] chriseppstein commented on #716
Ah, you need to set configuration variable before you import. http://compass-style.org/help/tutorials/configurable-variables/

[2012-02-14 00:59] #716 closed, assigned to nobody

[2012-02-14 14:34] doabit opened #718 "sprite with smart layout not support sprite-spacing?"
When i use sprite-layout with smart, sprite-spacing not work, does it not support sprite-spacing with smart layout?

$icon-spacing: 5px !default;
$icon-layout:"smart";

[2012-02-14 14:41] doabit commented on #718
I found http://beta.compass-style.org/help/tutorials/spriting/sprite-layouts/ and it shows not support configuration options

[2012-02-14 14:46] scottdavis commented on #718
Correct this is a limitation of smart layout

Sent from my iPhone

On Feb 14, 2012, at 9:34 AM, doabitreply@reply.github.com wrote:

[2012-02-14 16:39] #702 closed, assigned to nobody

[2012-02-14 18:06] jjmalina opened #719 "compass watch broken"
Hi,

I'm running compass 0.11.5 and Sass 3.1.15 and in one of my projects I'm unable to run `compass watch` instead I have to constantly run `compass compile` which works successfully though it displays the same error at the end.

This is the error I'm getting:

[code]

It seems like a Sass issue but I'm not really sure what to do about it. Would appreciate some advice.

Thanks,

Jeremiah

[2012-02-14 21:00] chriseppstein commented on #719
Can you please `Run with --trace to see the full backtrace`?

[2012-02-14 21:09] jjmalina commented on #719
Sure, it's really long so I pasted it at http://pastebin.com/qdmdzAMt

[2012-02-14 21:14] chriseppstein commented on #719
@nex3 Sass bug?

@jmalina327 Can you get this down to a minimal sass file or compass project that we can use to reproduce it?

[2012-02-14 23:30] nex3 commented on #719
Probably a Sass bug, yes. Please post an issue on the [Sass tracker](/nex3/sass/issues) once you have a reduced repro case.

[2012-02-15 01:03] jjmalina commented on #719
I found that this is related to compass' sprite generation. I'll investigate a bit more and will post on the Sass repo.

[2012-02-15 02:40] sentience opened #720 "Error in partial generates error message with incorrect filename"
I can reproduce this problem in Compass 0.11.7. It did not exist in 0.11.1 (which I was running previously).

When there is a syntax error in an imported partial, the error message reported by Compass contains the filename of the including file where it should cite the filename of the partial.

For example, if I have screen.scss that imports _partial.scss, and in _partial.scss, there is a syntax e

[2012-02-15 04:13] andreyvit commented on #720
@chriseppstein This is actually the report I emailed you about. I checked 0.11.7, 0.11.5 and 0.10.x (0.10.6, I think), and it existed there.

I've currently patched the version of Compass bundled with LiveReload like this:

[code]

I'd be glad to discuss some ways to contribute a similar functionality into the mainline. Maybe an additional command-line flag to get a full back-trace? How will that

[2012-02-15 04:15] Snugug commented on #685
Was there anything else done with this? Is there something I can do to help move this along w/my basically non-existent knowledge of Ruby? Or should I learn Ruby and write a patch?

[2012-02-15 07:57] nir0 commented on #623
same here, didn't use scss though

[2012-02-15 15:17] chriseppstein commented on #685
Really just need someone to prototype and test the svg construction. That can be done in any language.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Feb 14, 2012, at 8:15 PM, Snugugreply@reply.github.com wrote:

[2012-02-15 18:41] Snugug commented on #685
Sounds good, I'll give it a go later this week.

[2012-02-15 19:39] maxbeatty opened #722 "Feature Request: on_sprite_removed Callback"
I would like a callback like `on_sprite_saved` to pass the filename of any sprite being removed because of regeneration. This would allow for version control hooks to also remove the old sprite making for faster, more efficient development.

More detail of a common scenario is outlined in [this Google groups thread](http://groups.google.com/group/compass-users/browse_thread/thread/eef3ff49ade0bf97

[2012-02-16 16:39] madewithsalt opened #723 "Sprite mixin does not honor config image folder value"
Hello!

I found that using both the following sprite import method:

[code]

as well as the compass command line equivalent `compass sprite "icons/*.png"` does not honor my custom image folder name `"img/"`. It instead searches for the sprite PNG inside the path starting with `"images/"`.

The sprite image DOES save to the correct folder (in my case `"img"`) but the generated CSS does not point th

[2012-02-16 23:51] wagenet commented on #289
@paulirish Sounds good. Would love to see this implemented just for the transform case.

[2012-02-17 00:30] paulirish commented on #289
Can someone on this thread take a stab at a pull req for this?

[2012-02-17 00:40] chriseppstein commented on #289
Oh look a whole guide for contributing to Compass! http://compass-style.org/help/tutorials/contributing/

[2012-02-17 01:21] chrisdrackett opened #724 "Mixins not at document root"
I just updated sass and compass and am now getting the following when I try and compile:

sass/main.sass (Line 26: Mixins may only be defined at the root of a document.)

I do have mixin's in files that are imported, but this hasn't even been an issue in the past. Just curious what is going on!

[2012-02-17 01:37] mirisuzanne commented on #724
It's actually referring to the root of that file. You can't define a mixin nested inside an element.

Wrong:

[code]

Right:

[code]

[2012-02-17 02:01] chriseppstein commented on #724
Root of the document means its not nested in a selector.  Are your imports nested? If so, move the the mixins to a different file. There was a bug in the sass validator that caused this issue to not be detected until recently -- this resulted in unpredictable behavior as it was never intended.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Feb 16, 2012, at 5:21 PM, Chris Drackettreply@rep

[2012-02-17 02:35] chrisdrackett commented on #724
heh, I use this all over the place. Guess I never knew it wasn't valid ;) I'm also nesting imports in mixins. This is going to be fun! :(

[2012-02-17 02:35] #724 closed, assigned to nobody

[2012-02-18 03:57] emagnier opened #726 "A self-contained compiler for Compass on Windows (without installing Ruby)"
Will it be possible and feasible to package the Sass & Compass helper functions into a self-contained executable for the Windows Platform (and without installing Ruby) ?

Ruby is by default on Mac OS, but not on Windows. I thinks a compiler like this should give us a lots of new ways to manage our Scss. For example to create more easily self-contained web projects (without third parties to install

[2012-02-18 12:48] aleksandargosevski opened #727 "--no-cache on starting project"
It would be nice if you could add --no-cache option on starting a new project in command line.

[2012-02-20 14:52] e-anima commented on #394
i have thhe problem too that sass watch is working and compass watch is not. i guess it is because i run a vm and mount the drive inside.
my quick fix is a linux command calling compass watch . every second.
while sleep 1; do compass compile . ;done

[2012-02-20 20:24] chriseppstein commented on #394
You can try `compass watch --poll` which basically does what you're script here does.

[2012-02-20 20:39] chriseppstein commented on #727
Seems ok, but I'm curious why you don't want the cache and why it's important to have this on the project creation step.

[2012-02-21 08:47] aleksandargosevski commented on #727
That option isn't of crucial importance, but I dont know whats purpose of cache? Maybe is important, but i don't use it. :) Reason why I asked for is because i don't need one extra folder in my project folder.

[2012-02-21 15:57] chriseppstein commented on #727
The sass cache provides substantial performance improvements when recompiling unchanged files/partials.

[2012-02-21 16:03] aleksandargosevski commented on #727
Oh, now I undestand. Thanks. :)

[2012-02-21 21:55] roytomeij opened #731 "Documentation on running tests needs updating"
See http://groups.google.com/group/compass-users/browse_thread/thread/a19fda0dbba5a137

@scottdavis said: "That documentation is old can you open a gut hub issue?"

[2012-02-21 22:05] scottdavis commented on #731
GUT HUB IS THE BEST HUB!

[2012-02-21 22:06] scottdavis commented on #731
in the mean time if you need help my gtalk / aim is: jetviper21

[2012-02-22 06:11] roytomeij commented on #731
http://guthub.com/ actually works :P

I'll take you up on that one probably tonight (which is your afternoon).

[2012-02-24 15:52] OliverJAsh opened #732 "Compass `watch` broken on OS X 10.8 Mountain Lion Developer Preview (Ruby 1.8.7)"
When running `$ compass watch` on OS X 10.8 Mountain Lion (Developer Preview), this bug appears:

[code]

[2012-02-24 23:29] gisu commented on #726
On a Windows Machine is not a big Problem to Setup a Ruby Development Stage. We had a Ruby and a Rails One Click installer. Download, start Setup and ready to work.

Secondly you can use the Compass.App http://compass.handlino.com/ (with JRuby, SASS, Compass, Livereload - all in one little App) or take Scout http://mhs.github.com/scout-app/.

[2012-02-25 13:30] gasatrya opened #735 "Error when installing CSS3 PIE"
I got this error message

D:\xampp\htdocs\mixins>compass install compass/pie
Errno::EACCES on line ["38"] of C: Permission denied - D:/xampp/htdocs/mixins//P
IE.htc
Run with --trace to see the full backtrace

[2012-02-25 23:51] chriseppstein commented on #735
Please confirm that you have write permissions on the `D:/xampp/htdocs/mixins` directory.

[2012-02-26 00:00] chriseppstein opened #737 "Compute an average selector complexity for compass stats"
Compass should compute an average specificity per selector and a performance score per file to help users compare performance and complexity characteristics.

[2012-02-26 02:05] averyvery commented on #737
+1, showing a specificity score would be a pretty neat trick.

Complexity rating is a cool idea, but (like you said on Twitter) I can't imagine how it would work or who would define "complexity". Maybe it could be similar to the specificity rating — tally up a score based on selector depth, number of token types used (tag, .class, [attr], >, etc), weirdness (:not would have a high weirdness score)

[2012-02-26 02:31] scottdavis commented on #737
hey look it was magically assigned

[2012-02-26 06:33] gasatrya commented on #735
Sorry for my stupid question, how can I do "confirm that you have write permissions on the <code>D:/xampp/htdocs/mixins</code> directory." ?

Thanks

[2012-02-27 00:28] chriseppstein commented on #735
![Like this?](https://img.skitch.com/20120227-bhr319bcn32ht1ywybap9ibm5y.png)

[2012-02-27 00:29] chriseppstein commented on #735
You need to find the folder in windows explorer and then right click it and select properties. Then click the security tab and check that users can write there.

[2012-02-27 00:37] chriseppstein commented on #737
@scottdavis thanks... there should be a way to do that on issue creation

[2012-02-27 01:34] #356 closed, assigned to nobody

[2012-02-27 01:36] chriseppstein commented on #303
Note this is fixed on stable and will be release very soon.

[2012-02-27 05:21] zanker opened #738 "Validate sprite css in mixins not helpers"
Currently, Compass will validate the CSS of a sprite as soon as the image is imported.  The problem with this is that it makes it impossible to use images with numbers at the start because it's an invalid CSS tag.

This only causes invalid CSS  if you use the mixins referenced on the [spriting tutorial](http://compass-style.org/help/tutorials/spriting/), but if you use the [advanced helpers](http:

[2012-02-27 05:26] scottdavis commented on #738
This is intentional.

Sent from my iPhone

On Feb 27, 2012, at 12:21 AM, Zachary Ankerreply@reply.github.com wrote:

[2012-02-27 06:27] chriseppstein commented on #738
Note, you can use sprites without using the "magic" import. I did this recently for my app:

[code]

If you take this approach, the naming requirements are not necessary to enforce strictly. Changing the way this error is raised seems reasonable.

[2012-02-27 07:34] zanker commented on #738
Sorry the original description should have included an example for clarity. How I was calling it is identical to your example.

Was able to track down the files I needed, I'll see about getting a pull request up tomorrow.

[2012-02-27 09:48] ZeeAgency commented on #719
Same thing, it looks like there's a memory limit related to sprite generation around 2Mo (120 PNG x ~16Ko each)

[2012-02-27 14:10] mwawrusch commented on #726
To extend this a bit further. I would love to see compass turned into a webservice that is agnostic towards the underlying language (less, sass, stylus). Basically a web service that captures the knowledge embedded in compass and that generates suitable mixins for those languages which could be either downloaded or directly included in other tools.

[2012-02-27 16:03] shoppyonline commented on #645
This is all confusing, I just want to style my Sencha-Touch components.
I installed Ruby on my windows OS
I installed Compass
I got my sencha environment to play along
and now I'm getting a "File to import not found or readable error"
Whats that about? I've been at this for a week and a half now.

[2012-02-27 16:35] gasatrya commented on #735
Ok, I found the folder properties, and edited it so users can write. But I'm still got an error message whe installed the PIE :( ,

[2012-02-27 17:14] chriseppstein commented on #738
@zanker sounds good.

[2012-02-27 17:29] zanker commented on #738
https://github.com/chriseppstein/compass/pull/739

[2012-02-27 17:29] #738 closed, assigned to nobody

[2012-02-27 17:29] chriseppstein commented on #719
@jmalina327 @ZeeAgency In these cases the generated sprite file gets _really_ big. Suggest you use the sprite file generator `compass sprite --skip-overrides "sprite_folder/*.png"`

[2012-02-27 17:45] chriseppstein commented on #735
Please ensure that your system has the correct permissions for all folders -- this doesn't seem to be related to compass.

[2012-02-27 17:45] #735 closed, assigned to nobody

[2012-02-27 20:01] nhunzaker opened #740 "Add vertical-alignment argument to inline-block mixin"
I suppose it's not a mission critical feature, but is there any browser compliance issues that would need to be dealt with? This would be a really nice addition.

[2012-02-28 09:59] aleksandargosevski opened #741 "Animate mixin"
This is the good thing to insert in compass/css3 set of mixins.

http://thecssguru.freeiz.com/animate/

[2012-02-28 12:22] jenshedqvist opened #742 "Interpolation fails when using margin shorthand"
This SCSS:

`margin: -#{$module_padding + 1} -#{$module_padding + 1} 0 -#{$module_padding + 1};`

Outputs to:

`margin: -15px-15px 0-15px;`

It does the same thing with positive margins.

I'm using Win 7 64 bit and Sublime Text as editor. I've created an issue for this in SASS github as well.

[2012-02-28 19:04] nex3 commented on #742
This is definitely a Sass issue, not a Compass issue, so I'm closing it here.

[2012-02-28 19:04] #742 closed, assigned to nobody

[2012-02-29 00:19] nickcooley commented on #707
updated link to "http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#partials" will commit and request pull

[2012-02-29 12:08] DavidOliver opened #745 "Undefined mixin 'single-transition' v0.12.rc.1"
[code]

gives me:

[code]

[2012-02-29 12:30] DavidOliver commented on #745
Apologies. I realised there was a separate compass watch process running, and I didn't have the `s` for seconds. Seems to be fine now.

[2012-02-29 12:30] #745 closed, assigned to nobody

[2012-02-29 14:27] krisbulman opened #746 "documentation: inline block list showing sass instead of scss"
http://compass-style.org/reference/compass/utilities/lists/inline-block-list/

clicking scss in the top right does nothing, sass is displayed for both buttons

[2012-02-29 14:29] krisbulman commented on #746
also happens for horizontal lists

[2012-02-29 17:00] chriseppstein commented on #745
wierd. That message would not have come from missing the `s`. Were you missing an `@import` statement?

[2012-02-29 17:16] DavidOliver commented on #745
No, `@import` was there, and another mixin was working.

I think (but am not totally sure) it was to do with me using RVM, with varying Gem sets. I'd previously run a launcher for the `watch` command, and when running `watch` again from the command line Compass was behaving inconsistenly, sometimes not picking up on changes or compiling with line number comments even though I'd turned them off in

[2012-02-29 17:47] ZeeAgency commented on #710
I would like to propose those mixins for the future support. It has some little interesting differences with this plugin.

https://github.com/ZeeAgency/compass-animation

Thanks

[2012-02-29 18:14] chriseppstein commented on #710
@ZeeAgency Can you and @ericam discuss what differs and see about merging these two projects? I would love to hear both your thoughts on what is different and why.

[2012-02-29 18:55] mirisuzanne commented on #710
Nice work @ZeeAgency.

The two are very similar. I like what Zee calls "scoped prefixing" - and I think we should use that in core if we can. Although it may be something we want to support at a more basic level, if possible. The current solution is a bit bulky.

Mine follows the compass standard on experimental support, where Zee works around that. That's an interesting discussion topic for how w

[2012-02-29 19:40] chriseppstein commented on #710
@ericam I agree. this is directionally correct. And there is a core concept here that can be made part of our browser support module. Here's how I refactored it: https://gist.github.com/1943798

[2012-02-29 20:03] mirisuzanne commented on #710
@chriseppstein looks great.

[2012-02-29 20:56] chriseppstein commented on #710
re-opening... this isn't fixed, just delayed.

[2012-02-29 21:07] chriseppstein commented on #710
@paulirish reminds me that `-khtml` is stupid.

[2012-02-29 23:04] alanhogan commented on #303
Cheers, thanks for the update

[2012-02-29 23:08] alanhogan commented on #356
Stupid question / #lazyweb but:
- Is `transparent` really the same as `rgba(0,0,0 0.0)`?
- E.g. if a gradient is made from both of these values to `white` (`rgba(255,255,255, 1.0)`), do they look the same?

I would sort of naïvely expect that fading from transparent to white would involve fading through e.g. `rgba(255,255,255, 0.5)` et al, but that fading from zero-alpha black to white would mean

[2012-02-29 23:52] chriseppstein commented on #356
I don't think it's the same, which is why the patch I made simply passes the transparent keyword through to the generated css. It was more code, but I think it's better to stay true to the input.

[2012-03-01 01:49] ZeeAgency commented on #710
Ok, I'm back online so...

**About scoped prefixing**
Indeed, I originally wanted to propose the "scoped prefixing" as a Compass core concept inside "_shared" but planned to refactor before submit it.

@ericam I agree, this was a bulky solution, I refactored it tonight but offline
@chriseppstein your gist refactor is great, didn't think about using @content here too ! Really nice.

Just 2 things :

[2012-03-01 03:30] billyvg opened #747 "Compass watch silenty crashes (0.11.7)"
Compass watch "silenty" crashes -- it seems random, not sure how to debug and provide a more helpful ticket.  It crashes without any errors, and nothing in terminal.

OS is OSX 10.7.3

[2012-03-01 03:51] mirisuzanne commented on #710
@ZeeAgency not rude at all! It was very well written, and I was glad to see where you had made different decisions than I had.

Agree with your points here as well. Having just attempted to update the browser support on another module, I'm in favor of the proposed change towards leaving browser-support in the hands of developers. That seems simpler and more robust from both ends - as a dev and a c

[2012-03-01 05:13] ryanlindsey commented on #356
Replacing transparent with rgba values isn't the same, but it is close. [Here's a fiddle](http://jsfiddle.net/pixelsonly/4kWFS/)

[2012-03-01 06:01] chriseppstein commented on #356
yep. that's what I expected it would do. thank you for confirming.

[2012-03-01 07:21] ZeeAgency commented on #710
@ericam About official scoping, I totally agree. That's the behavior I currently have and the only thing I would change from @chriseppstein's gist.

[2012-03-01 08:37] jensgro commented on #713
I can confirm this issue. I used both the box-shadow-mix of Compass and two or three other mixins for box-shadow. Somehow the alpha is rendered and the next time it isn't. So most of the time "rgba(0,0,0,0.5)" in a mixin renders to "rgba(0,0,0,0)".

This is not only a problem of Compass.
My new mixin was straight and rendered with the wrong alpha-value:

@mixin box-s($x: 1px, $y: 1px, $blur: 3px,

[2012-03-01 08:44] jensgro commented on #713
It gets nicer. In my view it is no Compass-Issue, but a Sass-Issue.
I erased all mixins in my SCSS-file and included this snippet:

[code]

In the end, Compass/Sass rendered this:

[code]

Something very strange is happening.

[2012-03-01 08:56] jensgro commented on #713
Sorry for commenting this much. In the end it seems to be a problem of the tool "Scout" that I used to make my life a little bit easier. I guess I return to the Terminal again.

After configuring Compass via terminal and letting it watch via terminal all problems disappeared. Very strange.

[2012-03-01 09:34] JohnAlbin commented on #731
I'd consider myself a Sass master, but Ruby novice. My dev environment doesn't have "bundle" in its binary $PATH, so I can't even get as far as Roy did.

I'd love to contribute to Compass, but the docs for "writing tests" has even less text than the "running tests" section.

[2012-03-01 09:37] JohnAlbin commented on #731
Figured out that I needed to run `sudo gem install bunder` based on the opaque link saying “In a bundled enviroment…”

Make sure that's in the docs too!

[2012-03-01 09:44] roytomeij commented on #731
I'm in a Ruby shop, so I'm used to using RVM, Bundler, etc. I have the project on Ruby 1.8.7 using RVM (bundler couldn't install some gems on 1.9.2 and 1.9.3 because of compatibility issues with rcov I believe). For me it starts failing when trying to run the tests.

I didn't have time to talk to @scottdavis yet, but would greatly appreciate any help in the meantime (and fix the documentation afte

[2012-03-01 10:12] JohnAlbin commented on #731
Here's the steps I've run so far:
- sudo gem install bundler
- change to the root directory of a git checkout of Compass
- bundle install --binstubs devbin
- bundle exec rake test features

That's when I see the same errors that Roy sees. My text editor's syntax highlighter is showing what looks like a run-on string starting at line 141 of lib/compass/commands/watch_project.rb:

[code]

[2012-03-01 16:02] schmittjoh opened #748 "File Path normalization to support Windows systems"
Just making sure that the file path normalization issue does not get lost.

see #554

[2012-03-01 16:24] leek commented on #748
See also: https://github.com/chriseppstein/compass/commit/539f206e51d34a35bbcec602e7a5d5ae21246a9e#lib/compass/compiler.rb

[2012-03-02 22:12] e0da opened #751 "Calling the config file config.rb is not optimal"
Something like `Compassfile` or `compass.rb` would be better. If I follow the most common practices, I'm putting a config.rb file in my project root. That seems like it would have a high incidence of collision with other project files.

[2012-03-02 22:32] chriseppstein commented on #751
As seen here: https://github.com/chriseppstein/compass/blob/stable/lib/compass/configuration/helpers.rb#L136

You can use any of the following names (the first found in this order will be used):
- `config/compass.rb`
- `.compass/config.rb`
- `config/compass.config`
- `config.rb`
- `src/config.rb` (for legacy support -- don't use this)

[2012-03-03 01:18] scottdavis commented on #751
It can be called compass.rb also

Sent from my iPhone

On Mar 2, 2012, at 5:12 PM, Justin Forcereply@reply.github.com wrote:

[2012-03-03 16:14] chriseppstein commented on #751
@scottdavis Well you can call it anything you want with the `-c` option but that is not one of the paths we recognize by default.

[2012-03-04 01:12] e0da commented on #751
That's great news! Clearly, I was mistaken. I really appreciate your response.

[2012-03-04 01:12] #751 closed, assigned to nobody

[2012-03-04 14:36] ekenberg commented on #330
Just update your RubyGems:

[code]

after that, it should work.

[2012-03-05 22:42] MoOx commented on #741
This is too huge & complex to be added as is.
But maybe a animation mixin & some timing function preset will be great (like bourbon does).
I've done some stuffs here https://github.com/MoOx/compass-recipes/tree/master/stylesheets/recipes/animation

[2012-03-05 22:45] MoOx opened #752 "Fonts .eot & .svg are not "discovered""
I'm creating a compass extension & have & problem when I try to use discover.
My fonts are not copied as they should be.
.eot (for IE) & .svg (iPhone i think) are not copied as fonts. I know .svg is complex to manager, but .eot should be quick to add right ? I've fork but I don't find where to add this in the code... :s

[2012-03-06 01:19] alanhogan commented on #356
fantastic, thanks for doing this the Right Way, Chris.

[2012-03-06 01:39] chriseppstein commented on #356
![Fuck Yea](http://markreads.net/reviews/wp-content/uploads/2011/03/FUCK-YEA.png)

[2012-03-06 17:47] flomotlik commented on #518
Hey guys,

I somehow seem to not really get how this is supposed to work.

I have a standard rails asset pipeline project with compass-rails.
images are in app/assets/images

During asset compile on Heroku or locally the sprites are created correctly in public/assets/

While in development the sprites are created in app/assets/images. I would like to have them in public/assets though.

My compass.

[2012-03-06 22:38] chriseppstein commented on #518
I thought sprockets provides a controller in development that knows how to find requests for assets in the app/assets folder.

[2012-03-07 08:36] flomotlik commented on #518
Sprockets includes app/assets and public/assets folders in development.

I would like compass to compile the sprites into public/assets, not into app/assets/images, so I can easily ignore the public/assets folder and not have any additional files in app/assets

[2012-03-07 09:05] mathiasschopmans opened #756 "@hide-text optimization"
// new technique
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

Pros:
- Really long strings of text will never flow into the container because they always flow away from the container.
- Performance is dramatically improved because a 9999px box is not drawn. Noticeably so in animations on the iPad 1.

see: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack

[2012-03-07 10:10] flomotlik commented on #518
Got it:
generated_images_dir in my compass.rb file solved this.

Forgot to flush the tmp directoy which resulted in the images not being built correctly.

Thx for this awesome project guys.

[2012-03-07 13:24] barraponto commented on #756
I was just about to post this issue. Let's not forget about http://www.stuffandnonsense.co.uk/archives/mir_image_replacement.html and its negative letter-spacing approach. It might be even better since it does not change the box properties at all. However, since it never grew popular, it lacks proper testing for cross browser support. Yet the same is valid for text-indent:  100%;

[2012-03-07 15:49] emagnier opened #757 "In the prefix() function, $prefix could be a list"
So we could write something like that:

background-image: prefix(moz webkit o ms, linear-gradient(top, $colorTop 0%, $colorBottom 100%));

[2012-03-08 03:12] chriseppstein opened #759 "document the css3/user-interface module"
https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/css3/_user-interface.scss

[2012-03-08 03:22] chriseppstein commented on #759
And add an import of `compass/css3/user-interface` into `compass/css3`

[2012-03-08 03:40] mirisuzanne commented on #759
Looks right to me.

-e

On Mar 7, 2012, at 8:12 PM, Chris Eppstein wrote:

[2012-03-08 10:45] aleksandargosevski opened #760 "Sprite direction"
Hello.

Is it possible to change the direction of icons inside sprite from y-axis to x-axis?

I have a problem. When I have title with 2 rows, on more icon inside sprite is loaded. You can see example on http://d.pr/E89r

Is there any other css solution, or I must to change direction of icons inside sprite?

[2012-03-08 15:01] pivotal-casebook commented on #364
No the begin will not save it. You need a rescue.

The problem is if something or anything is setting HOME to a relative path (not an absolute path) then expand_path will blow up. The guard clause should not only check for home but also check to see if it is absolute.

See https://github.com/chriseppstein/compass/pull/761 for a possible resolution.

[2012-03-08 17:05] chriseppstein opened #762 "document sprite inlining feature in 0.12"
I don't see the sprite inlining feature in the docs. Am I missing it?

[2012-03-08 17:35] rubytastic commented on #337
Having this same issue with rails 3.2.2

Sass::SyntaxError: File to import not found or unreadable: blueprint/reset.

group :assets do
  gem 'sass-rails', "  ~> 3.2.4"
  gem 'coffee-rails', "~> 3.2.2"
  gem 'uglifier', '>= 1.0.3'
  gem 'compass', git: 'git://github.com/chriseppstein/compass', branch: 'master'
  # include other compass plugins here.
end

Updated gem file to latest would that be cor

[2012-03-08 17:37] chriseppstein commented on #337
@rubytastic Please file any new issues against the compass-rails gem. Please ensure you have followed the upgrade instructions on the [README](https://github.com/Compass/compass-rails/blob/stable/README.md).

[2012-03-08 17:43] rubytastic commented on #337
Thx @chriseppstein, my bad seems I never correctly upgraded and it only now breaks on 3.2.2 in case anyone else might have this issue just follow the upgrading instructions works, specific using the compass-rails gem instead of compass gem!

[2012-03-08 23:34] silvenon commented on #731
The rcov issue has been fixed 3 days ago. I had troubles with installing gherkin too, the fix was to add this to the Gemfile:

[code]

For me the tests are still full of warnings and stuff, but it's now possible to execute them (using `bundle exec rake test features`). Will you contribute to the docs?

[2012-03-09 04:49] pietschy commented on #403
I just spent a 1/2 hour being confused by the documentation.  Simply changing the `icons` in the tutorial `my-icons` would make this so much clearer.

[2012-03-09 08:11] chriseppstein commented on #757
Sass would still only output a single property. The CSS3 mixins take care of this.

[2012-03-09 08:11] #757 closed, assigned to nobody

[2012-03-09 08:14] chriseppstein commented on #760
If you install the pre-release you can set the sprite layout to horizontal.

[code]

http://beta.compass-style.org/help/tutorials/spriting/sprite-layouts/

[2012-03-09 08:14] #760 closed, assigned to nobody

[2012-03-09 08:46] chriseppstein commented on #720
Fixed. If the file the error occurred in was not the primary file, compass now displays the file name the error originated in.

[2012-03-09 08:46] #720 closed, assigned to nobody

[2012-03-09 10:50] aleksandargosevski commented on #760
Thank you very much. You are great.

[2012-03-09 12:52] markushausammann commented on #377
Had a similar problem and solved it by adding @charset "UTF-8"; to my font partial.

[2012-03-09 20:28] chriseppstein commented on #403
Ok. Seems like a good change. Would you be willing to submit a patch for this?

[2012-03-09 21:46] wyuenho commented on #741
Eric Meyer already has an animation plugin for the next version of SASS and Compass. It is a much better alternative than _animate.sass for it actually uses keyframes and doesn't have all the mixin conflicts.

https://github.com/ericam/compass-animation

[2012-03-09 22:33] xjamundx commented on #685
Hey this sounds like exactly what I need right now!

[2012-03-09 22:34] pietschy commented on #403
Yep.

[2012-03-10 10:03] roytomeij commented on #731
Seems to be working now on `stable` on RMV with Ruby 1.9.3. I do get a lot of warnings, but just one error (about "Get stats for my project" not passing). Is this a good basis to start working on Compass with and base the documentation changes on?

[code]

[2012-03-10 11:41] roytomeij commented on #623
I assume this is not an issue anymore? I checked against Compass 0.11.7 and the stable branch, and I get the `-o-` prefix when using `@include transition()` (without doing anything with `$experimental-support`)? If correct, this issue can be closed.

[2012-03-10 18:32] Anahkiasen opened #767 "Unclear documentation of prefix helpers"
I'm trying to add prefixes to just one property but am unsure on how to do so. So I went and checked the documentation, unfortunately nothing explains the correct syntax for that. There is a link provided to [this page](https://github.com/chriseppstein/compass/blob/master/frameworks/compass/stylesheets/compass/css3/_images.scss) to take example, but it's actually not helping at all.
The sole examp

[2012-03-10 21:23] roytomeij commented on #705
Something went wrong in the above, please ignore. Will make a pull request with the proper code.

[2012-03-12 05:18] #731 closed, assigned to nobody

[2012-03-12 05:37] #752 closed, assigned to nobody

[2012-03-12 05:40] chriseppstein commented on #740
Compass tries to keep the css3 mixins very simple and matching the corresponding official property syntax as much as it can. Suggest that you use this compass building block to make your own mixin that fits your needs.

[2012-03-12 05:40] #740 closed, assigned to nobody

[2012-03-12 05:42] chriseppstein commented on #767
Which property were you trying to prefix? I plan to make this much more configurable in the next release.

[2012-03-12 05:42] chriseppstein commented on #756
This is in 0.12.

[2012-03-12 05:42] #756 closed, assigned to nobody

[2012-03-12 05:44] chriseppstein commented on #747
Ruby rarely "silently" crashes. can you run compass with the `--trace` option set? I'm on the same OS version and have never experienced this.

[2012-03-12 05:46] chriseppstein commented on #741
Ayup. We've got this running on sass 3.2 right now: https://gist.github.com/1943798 It's pretty hot.

[2012-03-12 07:01] chriseppstein commented on #726
Regarding language agnosticism, I think compass is complicated enough as it is without introducing a new degree of complexity. Stylus has Nib, and Less doesn't have a compass because it doesn't have the horsepower.

As far as a one-click installer goes, I think that is a good idea. There have been some recent developments in the ruby community that make this easier.

[2012-03-12 07:04] chriseppstein commented on #732
We'll probably need to switch from fssm to [listen](https://github.com/guard/listen) in order to address this. Or maybe just upgrade fsevents. Since you're on the cutting edge, some more investigation would be greatly appreciated.

[2012-03-12 07:07] chriseppstein commented on #723
Pretty sure this is a configuration problem. Since this issue is pretty old, I'm closing it. If you still want help, please show me your configuration and I'll take a look.

[2012-03-12 07:07] #723 closed, assigned to nobody

[2012-03-12 07:08] chriseppstein commented on #719
closing -- I'm assuming the pregeneration of sprite files cleared this up for you.

[2012-03-12 07:08] #719 closed, assigned to nobody

[2012-03-12 07:09] #707 closed, assigned to nobody

[2012-03-12 07:11] chriseppstein commented on #713
Please file a bug with Scout. If they need help diagnosing, I'll be happy to assist.

[2012-03-12 07:11] #713 closed, assigned to nobody

[2012-03-12 07:13] chriseppstein commented on #696
You have to pass proper css3 values using rgba to compass -- We'll translate that to their stupid syntax for you.

[2012-03-12 07:13] #696 closed, assigned to nobody

[2012-03-12 07:13] #695 closed, assigned to nobody

[2012-03-12 07:14] chriseppstein commented on #630
this is fixed by using compass-rails.

[2012-03-12 07:14] #630 closed, assigned to nobody

[2012-03-12 07:16] chriseppstein commented on #342
In 0.12, compass works with the rails asset pipeline -- no special instructions are needed.

[2012-03-12 07:16] #342 closed, assigned to nobody

[2012-03-12 07:17] chriseppstein commented on #516
Please give the new compass-rails a try. We'll track any further performance issue at that repo now.

[2012-03-12 07:17] #516 closed, assigned to nobody

[2012-03-12 07:18] #606 closed, assigned to nobody

[2012-03-12 07:19] chriseppstein commented on #448
This didn't make it into 0.12.

[2012-03-12 07:22] chriseppstein opened #770 "Add tint and shade functions"
These appear to be quite popular and are fairly trivial.

[2012-03-12 07:23] chriseppstein commented on #514
Tracking tint and shade at #770. The rest from this issue is dealt with.

[2012-03-12 07:23] #514 closed, assigned to nobody

[2012-03-12 07:25] chriseppstein commented on #512
Closing to due to inactivity.

[2012-03-12 07:25] #512 closed, assigned to nobody

[2012-03-12 07:25] #505 closed, assigned to nobody

[2012-03-12 07:25] #503 closed, assigned to nobody

[2012-03-12 07:27] #506 closed, assigned to chriseppstein

[2012-03-12 11:45] barraponto commented on #770
I have set up a comparison of lighten(), scale-color() and mix(): http://barraponto.blog.br/tryscale/tryscale.html
Here is the SCSS I wrote for the comparison, might be useful to integrate in the docs: https://gist.github.com/211d390300a011c0be3a/962774d6ba38f968ca5e52ce9e6f58745912c7a4

[2012-03-12 11:50] barraponto commented on #746
I see SCSS by default, and if I click on SASS it works for me.

[2012-03-12 12:20] barraponto commented on #711
Just tested with Compass 0.11.7, Sass 3.1.10 and Ruby 1.9.2. Works fine.
Also tested with Compass 0.12.0, Sass 3.1.15 and Ruby 1.9.3. Works fine as well.

[2012-03-12 12:41] krisbulman commented on #746
hmm, never been able to get this working, tested chrome 17, safari 5.3.1, ff10 (osx) and IE8. It always defaults to sass, and scss does nothing. Also just tested this on Browserstack with several versions of Firefox and see the same sass syntax on the page for each test:

[code]

[2012-03-12 12:44] barraponto commented on #746
Oh, sorry! I was looking at the mixin sources (they do change). The actual page content doesn't.

[2012-03-12 12:45] barraponto commented on #746
I guess this is the default behavior, although inconsitent: see http://compass-style.org/reference/compass/helpers/sprites/

[2012-03-12 12:45] krisbulman commented on #746
Ah, confusing.. the examples at the top of the page should also change IMO

[2012-03-12 13:15] Anahkiasen commented on #767
I was trying to prefix a _font-smoothing: antialiased_ wasn't sure of how to proceed. Now after looking at some mixins sources I understand that the function is actually called on the property name, which I didn't get at the time.

[2012-03-12 13:32] scottdavis commented on #448
Yea it's on my list to remove Fssm and use the new listener gem

Sent from my iPhone

On Mar 12, 2012, at 3:19 AM, Chris Eppsteinreply@reply.github.com wrote:

[2012-03-12 14:00] paolochiodi opened #772 "rack, sprockets, compass"
Hi, I may need some help.

I just created a simple rack app that is serving stylesheets through sprockets, and I'm using compass as in https://gist.github.com/2022093 (relevant part only)

Everything is working ok, except when I try to do @import "sprite/*.png";

"sprite" folder is located in public/images and compass version 0.12

thank you

[2012-03-12 14:02] paolochiodi commented on #772
ops, i forgot to point out the error:

Sass::SyntaxError: File to import not found or unreadable: sprite/*.png

[2012-03-12 14:48] scottdavis commented on #772
you need something that will tie sprockets and compass together there is a sass-sprockets i think

[2012-03-12 14:49] scottdavis commented on #772
also what you have in your gist isn't going to work since the compass sass extension are not getting loaded

[2012-03-12 15:09] paolochiodi commented on #772
thank you for the quick answer... coming from rails applications I were not aware of sprockets-sass.
how can get the compass sass extension to load?

[2012-03-12 15:13] paolochiodi commented on #772
btw, adding sprockets-sass the error is different:
Sass::SyntaxError: File to import not found or unreadable: utilities/color
Load paths:
  /Users/chiodi84/.rvm/gems/ruby-1.9.3-preview1@redmoon/gems/compass-0.12.0/frameworks/blueprint/stylesheets
  /Users/chiodi84/.rvm/gems/ruby-1.9.3-preview1@redmoon/gems/compass-0.12.0/frameworks/compass/stylesheets
  Compass::SpriteImporter

[2012-03-12 15:21] #772 closed, assigned to nobody

[2012-03-12 15:21] paolochiodi commented on #772
never mind, I solved removing the line
assets.append_path(File.join(compass_gem_root, 'frameworks', 'compass', 'stylesheets'))

it seem it is better to leave sprockets-sass alone in charge of managing sass and compass

[2012-03-12 16:45] Anahkiasen opened #773 "Environnement variable for use of percentage"
Would it be possible to add a $use-percentage variable or something to Compass to allow use of percentage in all main functions instead of 0->1 ?
I know using .4 instead of 40 is convention but for everything opacity-wise, fade functions etc, I find it more easy to wrap my mind around % instead. And considering LESS is doing the same, I must not be alone. So maybe a variable, set to false by defau

[2012-03-12 17:19] chriseppstein commented on #773
40 is not a percent. 40% is a percent. Did you try that?

[2012-03-12 17:21] chriseppstein commented on #772
Someone should write a compass-sprockets gem. All the knowledge for how to do this can be found in the compass-rails gem.

[2012-03-12 17:22] silvenon opened #774 "New docs version crisis"
The when I go to the reference on the website, it says `Version: 0.11.6`, then when I click (for example) on Box, it says `Version: 0.12.0`, then I click on Appearance and it says `Version: 0.11.6` again.

[2012-03-12 17:26] chriseppstein commented on #774
Github is not good at expiring browser cache. Can you shift-reload?

[2012-03-12 17:33] silvenon commented on #774
It worked! Whew :)

[2012-03-12 17:33] #774 closed, assigned to nobody

[2012-03-12 17:53] mirisuzanne commented on #770
I've been using this:

https://gist.github.com/2023622

I based it off http://pastie.org/1230161 by Josh Goebel - but moved it into Sass. We might want to add units to that (%) or switch to a 0 -> 1 system. Not sure.

[2012-03-12 18:13] shaun-floss commented on #623
Yes, I just verified. Indeed, the -o- prefix is being included now. Closing this issue.

[2012-03-12 18:13] #623 closed, assigned to nobody

[2012-03-12 18:53] Anahkiasen commented on #773
I can't try right now but do you mean if I do, say, @include opacity(40%) it will read and convert it to .4 ?

[2012-03-12 19:13] chriseppstein commented on #773
I'm saying that's much better than a global config option. It works in some
places. We could do better to support in more places.

[2012-03-13 01:13] ryanjcollier commented on #732
I updated both fsevents and the compass gem, but still get the same issue. It still works for the initial compile, but will crash on any subsequent changes to the sass. For now the only work around is to run "compass watch" each time you want to view the compiled changes. This would be a nice fix as defeats the productivity enhancements achieved by using watch ... and is quite annoying. =D

[2012-03-13 03:13] nir0 commented on #623
+transition
and
@include transition()
have different behaviour, is that right??

[2012-03-13 07:07] ry5n commented on #418
Now that @content is available for use, does [this Gist](https://gist.github.com/2027364) help solve this issue?

[2012-03-13 07:15] mirisuzanne commented on #418
Yes, care to submit a patch?

It seems to me that the first mixin there is the important one, and should be titled to match the selector ("placeholder" singular). Any additional shortcuts should be considered individually and be named to match their specific function (e.g. "placeholder-color").

[2012-03-13 07:19] ry5n commented on #418
Good advice, thanks! I'll make that change and issue a pull request, but… I must admit, I'd still pretty new using Git/Github (been using Compass longer than version control, believe it or not). Which branch should I request against?

[2012-03-13 07:26] mirisuzanne commented on #418
Probably "master" - http://compass-style.org/help/tutorials/contributing/#patches

[2012-03-13 07:29] ry5n commented on #418
_facepalm_. Thanks :)

[2012-03-13 08:13] ry5n opened #775 "Add rem support with pixel fallbacks to vertical-rhythm module"
Currently the vertical-rhythm module supports setting the unit of font-size to rems, but doesn't provide pixel fallback declarations for older browsers and [has some other issues](https://github.com/chriseppstein/compass/pull/766#issuecomment-4450905). More complete support for rems, including pixel fallbacks, would be an awesome addition to this module. See [#766](https://github.com/chriseppstein

[2012-03-13 08:22] JohnAlbin commented on #775
Its definitely telling that we were both working on this at the same time. :-)

[2012-03-13 08:24] paolochiodi commented on #772
sprockets-sass claims "Automatic integration with Compass" as a feature, and for me is working well

[2012-03-13 14:54] Anahkiasen opened #781 "Several ressources folders"
I'm using Compass as part of a self-coded framework. In that framework there can be several structures for the assets folder but for the biggest projects it goes like this :

[code]

framework refers to the file proper to the framework itself, needed librairies and base stylesheet for error codes etc.
template1 is one of what can be many template folders, one for each possible design for the curre

[2012-03-13 15:44] chriseppstein commented on #781
Better to just have two compass projects in this case. Or you can introduce a common parent folder.

I just can't justify introducing this complexity to the project for such a rare use case.

[2012-03-13 15:44] #781 closed, assigned to nobody

[2012-03-13 15:47] Anahkiasen commented on #781
Can I have different config files in one folder and load each one individually when I need ?

[2012-03-13 16:24] chriseppstein commented on #781
yep. you can just be in that directory or you can pass the `-c` option to compass to tell it where your configs are.

[2012-03-13 17:21] Anahkiasen commented on #781
Ok, I made a little bit in my framework that generates a config.rb in each template folder and then I just `compass watch` when I work on one. Perfect, thanks :)

[2012-03-14 05:56] chriseppstein commented on #775
I think rem is a great unit for developer authoring, but I don't see a need to change the output unit to rem. I would support any changes needed to make it simple for authors to pass rem-based values to the compass mixins but when using absolute units -- let's keep the px output. Please let me know if I'm missing something.

Also, seems like this could be done as non-breaking addition to stable. I

[2012-03-14 06:08] mirisuzanne commented on #710
my plugin (https://github.com/ericam/compass-animation) has been converted to SCSS and updated with scoping.

[2012-03-14 07:03] ry5n commented on #775
@chriseppstein I'm not 100% sure what you're suggesting and I'd like to understand. Are you suggesting we allow rem inputs (with rem outputs) but no pixel fallbacks? I think that that's already supported (except for +establish-baseline operating on the body rather than root).

Maybe I can restate the rationale for this better by laying bare my thought process:
1. Sizing fonts in px is bad (receive

[2012-03-14 07:52] chriseppstein commented on #775
I'm saying we don't need pixel fallbacks. As long as the author tells us that 1rem = 16px (or whatever), then compass can still output pixels, and the author can pass rem-based numbers to all the compass mixins. As far I can tell, rem is a _authoring_ convenience and has no other semantic differences over using pixels than the mental model.

[2012-03-14 13:13] kaelig opened #784 "One click installer - thats a lot of percents!"
Here is a link to a screenshot of the installer showing more than 100% completion: http://dl.dropbox.com/u/72735/temp/Capture%20d%E2%80%99%C3%A9cran%202012-03-14%20%C3%A0%2014.07.53.png

This happened during the install.

Config: OS XLion (latest), macbook pro core i7, rvm installed.

[2012-03-14 14:49] JohnAlbin commented on #775
That is incorrect in the real world. Otherwise `em`s would just be an “author convenience”. By only using ems or rems or percentages for font-size in our stylesheets, we are allowing the user to change the default font size. The UAs give a default default font size of 16px; they also allow user's to set the default font-size for the UA.

This is what @ericam was pointing out in #766. Currently the

[2012-03-14 15:54] chriseppstein commented on #775
Let's avoid the loaded language. We're all operating in the real world here :)

Excellent. This was the point I was missing. Thank you for clarifying it.

Maybe so, but I vastly prefer to author in `em`s because the font size (rhythm) of the page is such an natural unit of measure. If something doesn't look right on a finished design, my designer usually says "can you add a half-lines worth of pad

[2012-03-14 15:57] chriseppstein commented on #784
Thanks. I noticed that too and already filed a bug on the tool I used to build the package: https://github.com/wagenet/packager/issues/7

[2012-03-14 15:57] #784 closed, assigned to nobody

[2012-03-14 16:32] chriseppstein opened #785 "Document one-click installer and make sure extensions work with it."
We need to make sure the one-click installer works well with extensions.

And once we've made sure that the initial issues are understood and fixed, we need to update the website installation page to provide a link to the installer and whatnot.

[2012-03-14 16:51] chriseppstein opened #787 "Browser hacks module"
Now that we have `@content` a whole bunch of selector-based browser targeting hacks can be created.

@paulirish wrote an excellent blog post [enumerating them](http://paulirish.com/2009/browser-specific-css-hacks/)

I wish hacks weren't necessary, but I still need them from time-to-time.

[2012-03-14 16:52] chriseppstein opened #788 "mother-effing hyphenation"
http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/

Get in my library.

[2012-03-14 16:54] chriseppstein commented on #493
why does this depend on the extension repo?

[2012-03-14 16:59] chriseppstein opened #789 "Hide text is making me cry"
https://github.com/twitter/bootstrap/issues/2362#issuecomment-4502048

[2012-03-14 17:50] scottdavis commented on #493
Because you depend on me!

Sent from my iPhone

On Mar 14, 2012, at 12:54 PM, Chris Eppsteinreply@reply.github.com wrote:

[2012-03-14 19:46] JohnAlbin commented on #775
Sorry! What I meant was to compare what the CSS spec says versus user experience in browser realities. But I definitely did not phrase that correctly. I apologize.

Really? That'd be nice! I used to work with a designer who wanted me to move something over "a pixel to the left". x-p

You could be right, but I'm not sure. Let's see what @ry5n and I come up with first. :-) @ry5n, I'm going to be at

[2012-03-14 21:47] billyvg commented on #747
Crashes have seemed to stop since upgrading to 0.17rc1 -- however if I'll start running with --trace, thanks!

[2012-03-14 21:47] #747 closed, assigned to nobody

[2012-03-15 05:08] ry5n commented on #775
@JohnAlbin @chriseppstein Sounds like we're agreed on the basics then – improve rem support and allow for outputting pixel fallbacks when using rems as the internal font unit. John, I think that will be fine, I may do a bit of work in the meantime but let's check in when you're back. Have a great time in Denver. :)

[2012-03-15 08:48] ai commented on #704
Fix in pull request #793

[2012-03-15 08:48] ai commented on #705
Fix with another 3D styles in pull request #793

[2012-03-15 16:51] okonet opened #794 "inline-block mixin (and others) should also respect "$experimental-support-for-..." settings"
Right now even if

$experimental-support-for-mozilla: false

the mixin produces -moz specific rules such as:

display: -moz-inline-box;
-moz-box-orient: vertical;

[2012-03-15 17:20] scottdavis commented on #794
mind making a patch?

[2012-03-15 17:22] okonet commented on #794
Sure! Will submit soon.

##

Sincerely yours,

Andrey Okonechnikov

@okonetchnikov
http://okonet.ru

On Thursday, 15. March 2012 at 18:20, Scott Davis wrote:

[2012-03-15 17:28] scottdavis commented on #732
can you try the latest guard from master and see if it works? if it doesn't put a ticket in for the listen gem https://github.com/guard/listen this is much higher level then compass its self.

[2012-03-15 17:39] scottdavis commented on #732
i was going handel this from the listen side since im working on that project

[2012-03-15 17:40] scottdavis commented on #732
freaking ninja reopening!

[2012-03-15 17:41] scottdavis commented on #732
https://github.com/guard/listen/issues/14

[2012-03-15 18:03] scottdavis commented on #474
closing due to no activity

[2012-03-15 18:04] scottdavis commented on #362
refresh my memory is this still an issue in 0.12 if it is please let me know and ill reopen this as a new feature request

[2012-03-15 18:04] #362 closed, assigned to scottdavis

[2012-03-15 18:04] chriseppstein commented on #732
Don't want to close the issue on our end until it's fixed in compass

[2012-03-15 18:05] scottdavis commented on #249
get me a use/test case and ill get this into 0.13

[2012-03-15 18:06] scottdavis commented on #364
status on this?

[2012-03-15 18:07] scottdavis commented on #732
i added a new label to test after listen integration and tagged a few tickets

[2012-03-15 18:49] scottdavis commented on #300
closing this since no updates in 6 months

[2012-03-15 18:49] #300 closed, assigned to nobody

[2012-03-15 18:50] scottdavis commented on #536
closing since it was resolved

[2012-03-15 18:50] #536 closed, assigned to nobody

[2012-03-15 18:51] scottdavis commented on #491
using listen instead

[2012-03-15 18:51] #491 closed, assigned to scottdavis

[2012-03-15 18:52] scottdavis commented on #489
maybe we should check the files to see if they contain an error string even if its unchanged?

[2012-03-15 19:06] chriseppstein commented on #364
should be good.

[2012-03-15 19:06] #364 closed, assigned to nobody

[2012-03-15 19:11] chriseppstein commented on #300
Compass now does an automatic clean when compiling or starting the watcher if the config file is newer than any of the generated css files.

[2012-03-15 19:51] paulirish opened #795 "Auditing rules to enforce best practices at runtime"
Seen lots of posts/talks about best practices of writing sass lately.. I feel like some of these could be codified and presented in compass to enforce these improvements better than a smattering of external posts.
- http://speakerdeck.com/u/beausmith/p/less-tips-tricks-best-practices
- `compass stats` has stuff but doesnt track filesize and isnt aware of you ballooning your sass to 100k (gzipped)

[2012-03-15 20:17] chriseppstein commented on #795
Actually, compass 0.12 shows both sass and css filesize in the stats output.

One idea is that just printing the css filesize when compiling might actually have a dramatic end-user behavior effect (like showing the runtime gas mileage in a car).

We could also have a strict mode that would forbid certain bad behaviors like nesting more than 4 levels deep.

[2012-03-15 21:07] billsaysthis opened #796 "Span mixin deprecation warnings for Blueprint grid"
Using @import "blueprint/grid" should not generate deprecation warnings as I see (in 0.12 and 0.12.1), as shown below. This may only be a warning but its annoying to see on every compile and makes it harder to see errors or warnings coming from my code.

[code]

[2012-03-15 21:10] paulirish commented on #795
gzipped filesize would be better as it wipes out the cost of vendor prefixes, among other things. see also @necolas's latest post about CSS and gzip.

I've thought about using sparklines to indicate filesize growth over time.

Strict mode is a good idea, yeah.

[2012-03-15 21:25] paulirish opened #797 "Enable 3d transform prefixes for -ms- and -o-"
As discussed in #793 : https://github.com/chriseppstein/compass/pull/793#issuecomment-4527675

Assigned to you, @ai  :)

[2012-03-15 21:29] ai commented on #797
Opera 12 doesn’t use 3D transformations. In caniuse.com http://caniuse.com/transforms3d 12 alpha-version is marked as unknow, but in Opera dev changelog only WebGL in annonced http://my.opera.com/ODIN/blog/2011/10/13/opera-12-alpha-released

[2012-03-15 21:29] ai commented on #797
I already add `-ms-` prefix in `moz3d` branch 439959d47d3d3c1cda48f189e04c2b04922ad16a

[2012-03-15 22:35] chriseppstein commented on #796
It was deprecated in 0.11 actually. https://github.com/chriseppstein/compass/commit/136954561f1c541f19549dde962c81a310c276bb

[2012-03-15 22:35] #796 closed, assigned to nobody

[2012-03-15 22:37] billsaysthis commented on #796
I see, thought this was coming from the gem but now I see better. Sorry for the interruption.

[2012-03-15 23:19] paulirish commented on #797
I dont understand. you're saying you want everyone that uses compass now to not have Opera compatibility?

People are not going back to update their compass and recompile their stylesheets when Opera announces their support.

The only responsible thing to do is to use the o prefix until either Opera sunsets it or they announce they'll just use the unprefixed version.

[2012-03-15 23:26] ai commented on #797
Ouh, there is really something wrong with prefixes :). Main idea behind prefixes is allow browser to have issues in their properties. Opera may have different implementation, when release 3D transform. Or willn’t have any 3D tranform. Or will read non-prefixed version (they do this very often, because they popular only in Norway and Russian developers). So if we implement it now, result CSS maybe

[2012-03-15 23:27] ai commented on #797
And why noone didn’t pull `-moz-` prefix commit? There are any problem with `-moz-` and Mozilla? Nope ;)

[2012-03-15 23:29] ai commented on #797
Also, why Compass have `experimental` mixin with custom list of prefixes. By your logic every css3-mixin should use every prefixes for future.

[2012-03-15 23:36] ai commented on #797
OK, I add `-o-` prefix 436a2575e13892d4735aa772fb4aa335adee75c0

But I still think that is like a become a criminal, because current laws (browser prefix policy) is bad.

[2012-03-15 23:42] paulirish commented on #797
[I agree.](http://paulirish.com/2012/vendor-prefixes-are-not-developer-friendly/)

Yup. They should. :)  We should only deprecate use of prefixes on an opt-in basis, but never opt-in to using them.

cc @chriseppstein @scottdavis

Thx @ai

[2012-03-16 00:12] miketaylr commented on #797
+1 (from a flight heading to Norway right now). 3D is on our roadmap so adding them now will save headaches in the future.

[2012-03-16 00:14] ai commented on #797
@miketaylr answer from Opera – very cool! :)

[2012-03-16 01:35] scottdavis commented on #797
merged

[2012-03-16 01:35] #797 closed, assigned to nobody

[2012-03-16 06:27] ttilley commented on #732
Nuke the ruby cocoa fsevent backend. It's been broken since lion, and just if'd out. I'll update FSSM to just destroy it, though listen is the way moving forward.

[2012-03-16 06:32] chriseppstein commented on #732
Workaround on mountain lion: `compass watch --poll`

[2012-03-16 07:32] paulirish commented on #787
there are really only like 3 (maybe 5) that can safely be used, IMO.
more at http://mathiasbynens.be/notes/safe-css-hacks

[2012-03-17 10:53] xpepermint commented on #337
@rubytastic true, thx.

[2012-03-18 08:59] chriseppstein commented on #797
I merged this to stable and it will be released in 0.12.2.

[2012-03-18 09:49] chriseppstein commented on #334
This was actually done a long time ago. Closing. Note: I did check and it seems like it's prudent to add -ms support so I did.

[2012-03-18 09:49] #334 closed, assigned to nobody

[2012-03-18 20:12] #392 closed, assigned to chriseppstein

[2012-03-18 20:15] chriseppstein commented on #355
meh.

[2012-03-18 20:15] #355 closed, assigned to nobody

[2012-03-18 21:23] #375 closed, assigned to nobody

[2012-03-18 21:29] chriseppstein commented on #477
that landed a while ago. closing.

[2012-03-18 21:29] #477 closed, assigned to nobody

[2012-03-18 21:30] #473 closed, assigned to nobody

[2012-03-18 21:38] chriseppstein commented on #465
The transform module has 3d support: http://compass-style.org/reference/compass/css3/transform/ I'm not sure what else is needed here -- seems like you can opt-in to a 3d based approach with relative ease. Closing.

[2012-03-18 21:38] #465 closed, assigned to nobody

[2012-03-18 21:41] chriseppstein commented on #481
@brynary Sorry it's taken so long to get to this, I think you've moved on. But if you can remember what approach you were using for invalidation where you didn't need access to the file on disk, I'd consider a feature to support this. closing for now, though.

[2012-03-18 21:41] #481 closed, assigned to nobody

[2012-03-18 21:46] chriseppstein commented on #494
I can't think of a way to solve this issue in compass really. I think namespacing is best handled by a future Sass feature and so in the meantime, judicious handling of import order and selective importing is the best solution.

[2012-03-18 21:46] #494 closed, assigned to nobody

[2012-03-18 21:50] chriseppstein commented on #711
Thanks @barraponto. Closing. Please provide a reproducible test case if you'd like us to re-open.

[2012-03-18 21:50] #711 closed, assigned to nobody

[2012-03-18 21:52] chriseppstein commented on #705
@ai nailed it. closing.

[2012-03-18 21:52] #705 closed, assigned to nobody

[2012-03-18 21:53] chriseppstein commented on #704
It's on stable now in 0.12.2.

[2012-03-18 21:53] #704 closed, assigned to nobody

[2012-03-19 08:19] tobsch opened #800 "Feature-Request: Combine images from multiple folders to one sprite"
Hi there,

as discussed in https://github.com/Compass/compass-rails/issues/17, it would be really helpful to implement a way to combine images from multiple folders to one single sprite.
This is helpful in situations where you can't afford any more http requests.
One possible way to solve this be a mixin for loading images where you can define the map to load them into, like

[code]

another mixin