[2011-06-09 20:09] scottdavis commented on #379
try against the current master and see if you get the same error

[2011-06-09 20:26] ginty commented on #337
@ivotrompert It is possible to add all your imports to one file, however to do so it seems that you have to call all your files blah.css.scss. I just had blah.scss and in that case the sub files could not access the global imports.

[2011-06-09 22:01] haarts commented on #336
@chriseppstein not sure I follow. So they are the once who are going to fix this? That is good news! FYI I'm now looking into the inline-image option of compass, this would make the sprite generation obsolete (I think).

[2011-06-09 22:44] chriseppstein commented on #336
@haarts Serving images via base64 encoding is not usually more efficient than serving an image. Unless the image is very small. Usually spritemaps are big enough to warrant being a proper image served by the webserver.

I heard that heroku is going to add a predeploy step for the `rake assets:precompile` step in rails 3.1.

[2011-06-09 23:06] darthschmoo commented on #217
Should this be a closed issue?  It doesn't seem to be working in the latest version of compass either.

Is there a fix in the works?

Thanks!

[2011-06-09 23:17] chriseppstein commented on #217
@darthschmoo please provide a reproducible test case.

[2011-06-09 23:18] chriseppstein commented on #217
When I run the above example I get:

[code]

[2011-06-10 17:06] darthschmoo commented on #217
Sorry.  I should have read this more carefully.  I think I got distracted by the use of the word 'alphas' in it, because my problem seemed to only crop up with rgba() colors.  I'll file a bug report if it makes sense to do so.

[2011-06-10 17:40] scottdavis commented on #415
whats the use case? why 50% the sprite canvas size is variable and centering an image with a percentage may create different results if you add more files

[2011-06-10 18:07] chriseppstein commented on #217
@darthschmoo file a bug if you think you found one.

[2011-06-10 19:46] gumayunov commented on #379
It works from master branch! Thanks!

[2011-06-10 22:53] lunks commented on #337
[code]

[code]

This seem to work, but not for sprites.

Note: I tried to add the images path to see if it could find my images and generate the sprites, without success. Compass can't find the folder when I write 'load folder/*.png' on any scss.

[2011-06-11 01:02] brentkirby commented on #337
You don't need the initializer. Removing  the :require => false, and updating rails to rc3 should work fine.

I'm also using sass-rails at 3.1.0.rc.2, haven't tried master recently.

Sprites don't seem to work with asset pipeline however. Compass is finding the images in app/assets, but for some reason once the sprite is generated it still sets the url in the compiled css to /images so sprockets d

[2011-06-11 02:55] curvedmark commented on #415
Since compass adds sprite images vertically, centering a sprite image horizontally shouldn't create different results.
My use case is sometimes I'd like to horizontally center a sprite image in my background, and it would be great if compass will let me center it in the sprite map, just like it allows me to put a sprite image to the right side of the sprite map.

[2011-06-11 03:16] scottdavis commented on #379
ok thanks closing this then!

[2011-06-11 03:16] #379 closed, assigned to scottdavis

[2011-06-11 03:17] scottdavis commented on #415
patches accepted =D

[2011-06-11 03:40] marcandre commented on #337
@ivotrompert: thanks a 10^6, I renamed my file and bingo.

[2011-06-11 03:42] scottdavis commented on #337
"Sprites don't seem to work with asset pipeline however. Compass is finding
the images in app/assets, but for some reason once the sprite is generated
it still sets the url in the compiled css to /images so sprockets doesn't
pick it up. Adding"

we fixed this in master last night

On Fri, Jun 10, 2011 at 11:40 PM, marcandre <
reply@reply.github.com>wrote:

[2011-06-11 03:53] brentkirby commented on #337
@jetviper21 nice!  I was going through the source trying to figure it out but I haven't had time to wrap my head around everything thats in there :)

Should I point to master now or stick with the rails31 branch?

[2011-06-11 04:02] scottdavis commented on #337
master will not work on 3.1 currently once we merge it will

On Fri, Jun 10, 2011 at 11:53 PM, brentkirby <
reply@reply.github.com>wrote:

[2011-06-11 05:16] MarioRicalde commented on #337
I'm using master standalone with rails 3.0 <3 that's how I fixed the bug. Not a big deal-

[2011-06-11 17:54] manuelmeurer commented on #337
I still can't get Compass to run. I am using

[code]

in my Gemfile but when I try to `include` a Compass mixin, I get

[code]

Just to confirm: there is no initializer or `config/compass.rb` needed?

EDIT:

False alarm, once I added the `@import 'compass/...'` to that file, it worked. Until now it was possible to `@import` Compass in one partial, use it in another and `@import` both partials into

[2011-06-11 18:01] brentkirby commented on #337
no initializer needed. Make sure all of your files use .css.scss extensions for sprockets. I don't think imports/variables are inherited (yet?), what I did was make a _globals.css.scss file and put all of my compass imports, setup (blueprint grid etc) and variables in it. If your only adding variables/imports to it, it won't actually add additional css, so you can just import that globals file ins

[2011-06-11 19:58] chriseppstein commented on #337
@brentkirby imports and variables should work as expected in a normal sass project but of course the extensions have changed.

[2011-06-11 20:03] brentkirby commented on #337
Does that apply to sprockets/asset pipeline? I haven't tried since pull from rails31 / upgrade to rc4. Of course it could just be in how I'm using it with sprockets, not a lot of documentation yet :)

[2011-06-11 20:09] chriseppstein commented on #337
@brentkirby post gist I'm confused.

[2011-06-11 20:46] brentkirby commented on #337
here you go

https://gist.github.com/1020932

When home.css.scss is processed it throws

[code]

Real quickly I tried require 'includes/setup' and require 'includes/_setup'  in screen.css.scss but no luck. depend_on doesn't work either. I just figure it doesn't work natively with sprockets yet.

If inside home.css.scss i add @import 'includes/setup' then everything is fine, I just have to do that

[2011-06-11 20:51] brentkirby commented on #337
Forgot something :)

With the asset pipeline would it maybe make sense to have a compass-rails plugin etc versus the current gem? If you drop the framework files into vendor/ and do a little tweaking most of it works pretty well. It seemed like as long as the sass functions were added and the framework files were available that may work a lot better. With sass @import working with sprockets manife

[2011-06-11 23:12] jessor opened #426 "ENOENT crash watching files over sshfs mount"
Not sure if I'm right here or if I should post this with fssm. Apologies if I'm wrong.

The following error happens reproducably when I watch a folder mounted via sshfs and change sth in a stylesheet.

[code]

[2011-06-11 23:58] chriseppstein commented on #426
fssm has some issues with slow filesystems. Try adding --poll to the command
options.

On Sat, Jun 11, 2011 at 4:12 PM, jessor <
reply@reply.github.com>wrote:

[2011-06-11 23:59] chriseppstein commented on #337
I don't think compass-rails is necessary at this time.

[2011-06-12 01:07] jessor commented on #426
@chriseppstein yep, this fixes it for me. thanks!

[2011-06-12 01:07] #426 closed, assigned to nobody

[2011-06-12 14:11] RainerBlessing commented on #337
I don't know if it's an issue with compass and Rails 3.1: I get the error: "Sass::SyntaxError (Undefined operation: "-compass-list-size(compact(linear-gradient( ...".

[2011-06-12 14:56] scottdavis commented on #371
what about interlacing?

[2011-06-12 15:03] scottdavis commented on #371
https://github.com/wvanbergen/chunky_png/issues/21

https://github.com/wvanbergen/chunky_png/blob/master/lib/chunky_png/canvas/png_encoding.rb#L69

[2011-06-12 17:40] scottdavis commented on #371
db74d8bdb36de7a778ed2ecbfb194fbddf6ab508 in 0.11.4 you will be able to send chunky png the options you want

https://github.com/wvanbergen/chunky_png/blob/master/lib/chunky_png/canvas/png_encoding.rb#L69

[2011-06-12 17:40] #371 closed, assigned to nobody

[2011-06-12 20:34] chriseppstein commented on #397
sass-rails has a preferred syntax option that it exposes, we just need to set that according to the compass config setting if one exists.

[2011-06-13 09:41] ghost opened #427 "mixin problem with special char "\""
Hi,

I have problem with writing special char `\` in sass. I need write to mixin something like this syntax:

[code]

to this

[code]

But in need this syntax use in $each to: (this is ideal case and this doesn't work)

[code]

and **there is problem**:

I will write
`#{$prefix}:\#{$vmlTags}` error: **error sass/screen.scss (Line 16: Invalid CSS after "...ix}:#{$vmlTags": expected ":", was "} { be

[2011-06-13 10:16] chriseppstein commented on #427
Hi can you please file this bug against Sass?

https://github.com/nex3/sass/issues

[2011-06-13 10:16] #427 closed, assigned to nobody

[2011-06-13 13:45] Jesse-Breuer opened #428 "blueprint showgrid mixin, horizontal line spacing"
Hello, I am working with blueprint via compass (scss syntax) on rails
3.1 rc1.
I am following the guidelines for blueprint on the compass site:
http://compass-style.org/reference/blueprint/grid/
http://compass-style.org/reference/blueprint/typography/

I was noticing that when using @include showgrid; the horizontal lines
in the generated background grid image line up with my text with font
size s

[2011-06-13 22:01] wprater commented on #377
Im getting this same issue while using Ruby 1.9, rvm, and pow.

[2011-06-14 06:16] rstacruz commented on #377
Fixed it by adding this to my app's initializers:

[code]

[2011-06-14 22:02] morgoth commented on #377
@rstacruz you mean: `Encoding.default_external`
Yes, this fixes problem.

[2011-06-14 22:02] #377 closed, assigned to nobody

[2011-06-14 22:09] wprater commented on #377
The issue must be with rvm then, since the Encoding get reset out of my environment.

[2011-06-15 18:25] jgarber commented on #366
This would help me out too! Thanks!

[2011-06-15 18:41] scottdavis commented on #366
describe a use case and it will be considered

On Wed, Jun 15, 2011 at 2:25 PM, jgarber <
reply@reply.github.com>wrote:

[2011-06-15 18:51] jgarber commented on #366
Okay, a site I'm re-working right now, http://tinefcon.com/, uses a horizontal navigation (and I'm using +horizontal-list) with background images for normal and hover states. The background images are different heights and involve transparency. When I first fed the images in, the shortest item (Testimonials) had a few pixels of its hover image visible beneath it. I fixed it with `$nav-spacing: 20p

[2011-06-15 19:19] scottdavis commented on #366
mind making a visual example of how they would be packed? if i make this an option i will need some visual guide since im a code monkey =)

[2011-06-16 00:42] jgarber commented on #366
Basically, it's just switching it to arrange the pieces horizontally rather than vertically. It's a common option for sprite generators like http://spritegen.website-performance.org/ for example...

Horizontal
<a href="http://tinypic.com?ref=16ii2ba" target="_blank"><img src="http://i52.tinypic.com/16ii2ba.png" border="0" alt="Image and video hosting by TinyPic"></a>

Vertical
<a href="http://tiny

[2011-06-16 03:14] scottdavis commented on #366
well i am working on a smart way to pack sprites (bin packing) which if you want a small file is the best way to go its implementing the other controls that nico specced out that are hard

so this is purely cosmetic? its not breaking your sprite maps if they are vertical (im trying to understand fully whats going on)? can you gist the sass file for your sprites? im trying to wrap my head around th

[2011-06-16 05:25] kathi commented on #366
my usecase is, that i have a div which can grow in height depending on the user content with constant width. this whole div is clickable and switches the bg image on hover. if the div is getting to high another image in the sprite is getting visible - which isnt so good. so spacing doesnt help me fixing the problem, because setting the spacing that big, that it could not happen that any other pict

[2011-06-16 06:42] bicepjai commented on #404
i cannot make compass work with my rails 3.1 rc project ... can anyone help me out !!

[2011-06-16 06:49] bicepjai commented on #337
does compass work with rails 3.1.0.rc4 ??

[2011-06-16 06:51] bradphelan commented on #337
Yes
On Jun 16, 2011 8:49 AM, "bicepjai" <
reply@reply.github.com>
wrote:

[2011-06-16 07:05] bicepjai commented on #337
http://rails-technical-gem.blogspot.com/2011/06/making-use-of-hi-end-technology.html?showComment=1308207769605#c7469237168718547262

[2011-06-16 07:12] bicepjai commented on #337
can you show me the link or notes where there is proper guide for compass
addition to rails 3.1 project

Thanks
J

On Wed, Jun 15, 2011 at 11:51 PM, bradphelan <
reply@reply.github.com>wrote:

[2011-06-16 07:20] bradphelan commented on #337
You have found the thread where this was discussed and most of the issues solved. I suggest if you have a specific problem or error then post it here and somebody might be able to help you. In general you need to have the following in your Gemfile

[code]

and make sure you name your files

foo.css.scss
or
foo.css.sasss

but not

foo.scss
foo.sass

or it will not work

[2011-06-16 07:26] bicepjai commented on #337
thanks ....i appreciate it !!
still i get these stylesheets  not found errors ?

Started GET "/assets/stylesheets/screen.css" for 127.0.0.1 at 2011-06-16 01:30:03 -0700
Served asset /stylesheets/screen.css - 404 Not Found  (2ms)  (pid 2327)

thnx J

On Thu, Jun 16, 2011 at 12:20 AM, bradphelan <
reply@reply.github.com>wrote:

[2011-06-16 09:44] esamattis opened #432 "compass command returns with exit status 0 even on errors"
The compass command returns with exit status 0 even if compiling failed.  It should return non zero status if even one file fails to compile.

This is for scripting purposes. Exit status is an ideal way to detect errors and notify about them.

This is at least on Compass 0.11.1 (Antares).

[2011-06-16 10:02] antonevane commented on #432
Latest Compass version is 0.11.3

[2011-06-16 10:28] esamattis commented on #432
No difference on latest Compass.

[2011-06-16 14:18] scottdavis commented on #432
noted and ill make sure this gets fixed

[2011-06-16 14:19] scottdavis commented on #366
seems like a fair use case ill bump this up the list and get this implimented

[2011-06-16 14:21] amra opened #433 "Better documentation for mixin box-shadow"
In documentation for 'box-shadow' are parameters named like $shadow-1, $shadow-2, ...
Each time I use it I must read the source code to get parameters right.
Please improve parameter names.

[2011-06-16 14:29] scottdavis commented on #433
patches accepted =)

[2011-06-16 17:44] imathis commented on #433
How are you using this mixin? I haven't had any problems using it. Perhaps we're using it differently.

For me it looks like this:

`@include box-shadow(#000 0 1px 2px, #fff 0 1px inset);`

When do you need to use named variables?

[2011-06-16 19:45] amra commented on #433
Check the parameters description for mixin box-shadow (on http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow):
`box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)`

E.g. what should I use for `$shadow-4` parameter?

On same page is mixin single-box-shadow (http://compass-style.org/reference/compass/css

[2011-06-17 05:41] kathi commented on #366
thanks :)

[2011-06-17 08:39] fbjork opened #434 "asset_cache_buster not working"
I tried adding the following to config/compass.rb in my Rails 3.0 app on Ruby 1.9.2p180:

[code]

And I get this:

[code]

any ideas?

[2011-06-17 10:09] ashnur commented on #415
I would gladly write a patch for this ( because I need it too), if I would know where to start. Any suggestions?

[2011-06-17 10:58] scottdavis commented on #415
its a rather complicated problem are you able to get into irc and ill show you were to start

[2011-06-17 11:03] scottdavis commented on #434
don't use Pathname or cast Pathname to a string for now? this does smell like a ligament bug but chris is going to have to chime in since he wrote this.

[2011-06-17 11:07] #390 closed, assigned to nobody

[2011-06-17 11:18] ashnur commented on #415
#compass on irc.freenode.net?

[2011-06-17 11:19] scottdavis commented on #415
Yes

Scott Davis

On Jun 17, 2011, at 7:18 AM, ashnurreply@reply.github.com wrote:

[2011-06-17 11:57] mfilej commented on #337
Confirming what @manuelmeurer reported, imports are not inherited from application.css.sass.

Minimal example (or clone the [repo](https://github.com/mfilej/compass-import-test)):

/app/assets/stylesheets/application.css.sass:

[code]

/app/assets/stylesheets/test.css.sass:

[code]

Versions:

[code]

Accessing /assets/application.css gives:

[code]

[2011-06-17 12:06] masterkain commented on #337
try removing the sprockets directives in /app/assets/stylesheets/application.css.sass

[2011-06-17 13:17] manuelmeurer commented on #337
@mfilej, actually, what I meant was this:

application.css.scss

[code]

partials/_one.css.scss

[code]

partials/_two.css.scss

[code]

This used to work, but now the mixin `border-radius` cannot be found.
It's fixed by moving the `@import` to `application.css.scss`, which makes sense anyways IMO, so it's not a big deal.

EDIT:
Changed `//= require` to `@import`. Sorry, typo.

[2011-06-17 14:11] scottdavis commented on #337
you shouldn't need the //=require if your using scss
just use @import

[2011-06-17 14:44] manuelmeurer commented on #337
@jetviper21, you're right, I mistyped. I'm using `@import`everywhere, not `//= require`.

[2011-06-17 14:50] scottdavis commented on #337
Sprites are fixed I just haven't merged it into the 3.1 branch

Sent from my iPad

On Jun 17, 2011, at 10:44 AM, manuelmeurerreply@reply.github.com wrote:

[2011-06-17 16:06] mfilej commented on #337
@manuelmeurer uh, I see now it's not quite the same.

@masterkain thanks! That was the issue, now it works fine. Full steam ahead! :)

[2011-06-17 23:04] jamesarosen commented on #337
I'm geting `undefined method 'Error' for Compass:Module`. My setup is in [this Gist](https://gist.github.com/1032551). I _don't_ re-import compass and my globas in each `.css.scss` file as the above thread seems to indicate that is now unnecessary.

### Later

I figured out what this was. In one of my `.css.scss` files I was trying to do `@import "foo.scss"`, which had been renamed to `foo.css.scs

[2011-06-18 04:36] curvedmark commented on #415
@ashnur told me that 50.0% might work, and it's true. By specifying 50.0% instead of 50%, the sprite image can be centered.

[2011-06-18 10:09] ivanovv commented on #382
Same problem here:

[code]

[2011-06-18 10:13] ivanovv commented on #382
fixed for me by running compass clean && compass compile

[2011-06-18 10:46] manuelmeurer commented on #337
@jamesarosen You don't need to add any suffix to your imports, `@import "foo"` should work just fine.

[2011-06-18 15:31] scottdavis commented on #415
oh weird this sounds like possibly a sass bug in the unit parser? or maybe a feature @chriseppstein??

[2011-06-18 20:50] ashnur commented on #415
I am not sure what this is, but I would say it is a bug. There is a division in the file you showed me, line 41, where the value you set is divided by 100 and as both part of this expression are integers, the result is also an integer, so in example 99/100 is 0 and not 0.99. That's why 100% works, and i guess numbers bigger than 100% and smaller than 200% also work(give back 1 and not 0). But it i

[2011-06-19 15:47] #415 closed, assigned to nobody

[2011-06-19 19:56] #434 closed, assigned to nobody

[2011-06-19 19:58] chriseppstein commented on #382
I have added a logger in sass 3.1.3. I will update the compass logger to log to this and then when sass is in some environment with a special logger it will all just work. Specifically, the sass-rails gem will provide logging integration between sass and rails.

[2011-06-19 23:16] derekprior commented on #337
I'm sure i'm doing something silly here... I'm using the github versions of the compass rails31 branch and sass-rails. I have created a partial named _base.css.scss that contains the imports for compass/reset, blueprint-liquid, and blueprint-typography. I then have a layout.css.scss file that includes my base partial.

When rails compiles this into application.css, I'm seeing reset and typography

[2011-06-19 23:34] chriseppstein commented on #337
@derekprior sprockets doesn't know about partials so you need to change application.css to application.css.scss and use the following contents:

[code]

[2011-06-20 01:28] derekprior commented on #337
When I do that, no /assets/application.css file ends up being generated (and I get an invalid route trying to access it). I must be misunderstanding this process somewhere along the way.

If it matters, this is a "green field" rails 3.1 app (not upgraded).

[2011-06-20 01:34] derekprior commented on #337
disregard - when renaming application.css.scss I accidentally moved it to the root of the app directory. Whoops.

[2011-06-20 02:46] sj26 commented on #337
I just sent [a pull request](https://github.com/chriseppstein/compass/pull/437) to fix referencing images and other assets to the rails31 branch so stuff like replace-text and image-url now works and renders the correct HTTP path for images, fonts, etc.

[2011-06-20 09:43] fbjork opened #438 "uninitialized constant Compass::Logger (NameError)"
I tried adding the cache busting logic again, after the Pathname fix was committed (https://github.com/chriseppstein/compass/commit/852f03316008afe1ccb2106d602a4288c27cc738)
and now I get the following error:

/Users/fredrik/.rvm/gems/ruby-1.9.2-p180@global/gems/rake-0.9.2/lib/rake/ext/module.rb:36:in `const_missing': uninitialized constant Compass::Logger (NameError)
    from /Users/fredrik/.rvm/

[2011-06-20 23:41] jesuschrist commented on #438
This error is occurring to me when I switch between branches on my project.  The only way to fix it is to run 'compass clean' on the command line.

The reason seems to be that branch changes trigger the compass configuration file to be touched and this sends compass into its handle_configuration_change! reload method.  The error above is thrown because compass/logger doesn't seem to be 'required'

[2011-06-21 17:40] foca opened #440 "Only when Rails.env.production?: `clearfix': Undefined mixin 'clearfix'. (Sass::SyntaxError)"
Our deploy recipes were running `Sass::Plugin.update_stylesheets` and everything worked fine when deploying to our staging server (`Rails.env == "staging"`) but when we configured a production server it started failing with the above error.

We haven't been able to figure out the exact problem (it might be in Sass, and not in Compass), so we're attaching the minimum Rails app that we were able to

[2011-06-21 17:49] scottdavis commented on #440
whats in your compass config file?

[2011-06-21 18:14] foca commented on #440
[code]

One of the first things we thought was that the output_style could be the culprit, but since it works in environments that are not development (and not production) then we discarded that.

[2011-06-21 19:44] scottdavis commented on #440
well first DRy this up some by replacing your if with this

<pre>
output_syle = (environment == :production ? :nested : :compressed)
</pre>

but im assuming this issue is that compass/sass only has 2 environments (:development, :production) but im not sure how or why thats effecting this

[2011-06-22 01:28] sbc commented on #438
I was having this issue and running 'compass clean' worked for me. If this is a config issue and I need to require 'compass/logger' someplace, I would like to know the 'right' place to put it.

[2011-06-22 01:37] jesuschrist commented on #438
You shouldn't need to require it sbc.  It seems to me that it needs a proper home in the gem.  Otherwise, it will likely continue to happen if your compass configuration gets reloaded.

[2011-06-22 08:50] ivanovv commented on #382
Sounds great!

[2011-06-22 14:32] peritus commented on #432
I want this, so rake fails if there is an error in the .scss source.

[2011-06-22 17:23] fbjork opened #441 "SystemStackError: stack level too deep"
I'm getting SystemStackError: stack level too deep when I try Compass 0.11.3 in a Rails 3.0.9 + Ruby 1.9.2 app. Any idea how to debug this issue?

compass watch/compile works fine in the same app.

[2011-06-22 21:00] heygrady opened #442 "inline-image() uses incorrect mime-type for SVG backgrounds"
[code]

This generates the following CSS

[code]

Expected output would specify the mime-type as image/svg+xml

[code]

[2011-06-23 20:35] maxl0rd commented on #438
This is biting us too, right now. What's the consensus?

[2011-06-24 11:55] nir0 opened #444 "compass stopped to detect changes"
after last update compass stopped to detect changing sass files. so if i run "compass watch ." it says ">>> Compass is watching for changes. Press Ctrl-C to Stop." and nothing happens when i update any file. if i run "compass compile" it runs through files, including "unchanged app/stylesheets/application.sass" though its changed. finally, if i run "compass compile --force" it overwrites: "overwri

[2011-06-25 05:31] scottdavis commented on #366
https://github.com/chriseppstein/compass/commit/43868ecabd856b812f805ac7bb983f47c94f8d0f#L1R609

[2011-06-25 05:31] #366 closed, assigned to scottdavis

[2011-06-25 08:37] nir0 commented on #444
update: seems like compass stopped watching application.sass and all files requested in it through @import
other files are being updated correctly.
mayb "application" is now a reserved word, if so, plz add a warning.
turned my application.sass into index.sass, all working

[2011-06-26 17:12] nir0 commented on #444
update 2: after reinstalling environment on server (nginx + passenger + rvm) and setting env to development inside compass config, it started to compile stylesheets automatically, as expected! i'm happy

[2011-06-26 17:12] #444 closed, assigned to nobody

[2011-06-28 22:30] betelgeuse opened #446 "Error initializing railtie"
[code]

[2011-06-29 14:16] gavinlaking commented on #446
Also happening for me and only since I upgraded to Rails 3.0.9.

[2011-06-29 21:05] josevalim opened #448 "Make fssm dependency optional once Rails 3.1 support lands"

[2011-06-29 21:39] chriseppstein commented on #448
+1

[2011-06-30 01:57] scottdavis commented on #448
+1 but wouldn't it or guard still have to be in the gemspec?

[2011-06-30 02:46] chriseppstein commented on #448
It is a quandary. We might have to factor compass into several gems.

[2011-06-30 22:56] caged opened #449 "all-*-sprites should accept and honor offsets"
The `sprite` mixin allows you to supply and x and y offset.  `all-*-sprites` uses the `sprite` mixin internally, but doesn't allow you to specify offsets.

And, a closely related issue.  If you'd like me to break these into two tickets, let me know.
Offsets are not honored when compass generates :active, :hover and :target selectors from _active.png, _hover.png and _target.png images.  Compass wil

[2011-07-01 01:37] scottdavis commented on #449
this is a bug bug what do you mean by "excessive selectors"?

[2011-07-01 15:54] caged commented on #449
This is the output I get from a single _active.png image. Is there a compelling reason to generate all three of these?

`.icons-demographics:active, .icons-demographics.demographics_active, .icons-demographics.demographics-active`

[2011-07-01 17:11] scottdavis commented on #449
yes we decided to do this incase you wanted to use a state else were all you have todo is use @extend. instead of booting the sprite engine to figure out the already known location of something and repeating yourself

[2011-07-02 21:22] alec-c4 commented on #337
Hi,
in new app with following lines in Gemfile
      gem 'sass-rails', :git => 'https://github.com/rails/sass-rails.git'
      gem 'compass', :git => 'https://github.com/chriseppstein/compass.git', :branch => 'rails31'

i see version conflict

[code]

Any idea how to solve it?

[2011-07-02 21:23] masterkain commented on #337
you need to specify the branch:

group :assets do
  gem "sass-rails", git: "git://github.com/rails/sass-rails.git", branch: "3-1-stable"
  gem "coffee-rails", git: "git://github.com/rails/coffee-rails.git", branch: "3-1-stable"
  gem "uglifier", git: "git://github.com/lautis/uglifier.git"
end

[2011-07-03 01:00] chriseppstein commented on #337
@alec-c4 You need to change sass-rails 3.1.0.rc.4, the version you have has been yanked.

[2011-07-03 01:02] masterkain commented on #337
@chriseppstein, how far are we from seeing the rails31 branch merged in master? :)

[2011-07-03 01:06] chriseppstein commented on #337
working on it.

[2011-07-03 01:18] travisp commented on #446
Happening for me on Rails 2.3.8

[2011-07-03 04:01] #442 closed, assigned to nobody

[2011-07-03 04:55] chriseppstein commented on #446
fixed by 852f03316008afe1ccb2106d602a4288c27cc738

[2011-07-03 04:55] #446 closed, assigned to nobody

[2011-07-03 04:59] #438 closed, assigned to nobody

[2011-07-03 05:04] chriseppstein commented on #440
This is not a bug. You're using a mixin that is not defined or imported. This works when used as a partial, because the dependency was already imported. You need to either make this file a partial or import the dependencies.

[2011-07-03 05:04] #440 closed, assigned to nobody

[2011-07-03 05:08] #433 closed, assigned to nobody

[2011-07-03 06:18] kmiyashiro commented on #394
I'm also experiencing this, here's a gist of my gems: http://gist.github.com/1061995

I just did a `gem update` and `gem cleanup` and it is still broken. The only thing I can think of is the latest OS X 10.6.8 update which required a restart. Other than that, nothing has changed.

[2011-07-03 06:59] chriseppstein commented on #394
I guess someone who's experiencing this issue is going to have to fix it. I can't reproduce it.

[2011-07-03 07:19] #432 closed, assigned to nobody

[2011-07-03 07:31] chriseppstein commented on #388
I'm pretty sure this is fixed now. I did some work on this recently and I can't reproduce it now. Please try again with compass  0.11.4

[2011-07-03 07:31] #388 closed, assigned to nobody

[2011-07-03 07:37] fantactuka commented on #388
I've found smth like options[:loud] that contains [:identical, :create, :override] at Compass::Actions.log_action and in case this option is defined - quiet will be overridden to `false`. I was looking for a way to set :loud to `[]` or `nil` when using command line but didn't find it.

[2011-07-03 07:52] chriseppstein commented on #388
But I thought those are only loud when using the watcher. At least that was what I intended.

[2011-07-03 08:04] fantactuka commented on #388
Actually you was right. Updated to 0.11.4 and it looks fine now.
Thanks a lot for compass

[2011-07-03 17:00] chriseppstein commented on #441
I'm sure you've moved on, but if not, it would be great if you could provide a stack trace.

[2011-07-03 17:02] chriseppstein commented on #428
This should be fixed in v0.11.4 by 8d8d3eecbc80ee0d55b077ddd3d6d56219b5bef3. Please verify.

[2011-07-03 17:02] #428 closed, assigned to nobody

[2011-07-03 17:20] chriseppstein commented on #420
@garybernhardt this is fixed in v0.11.4

[2011-07-03 17:20] #420 closed, assigned to nobody

[2011-07-03 17:22] chriseppstein commented on #417
@ericam We're you planning on implementing this?

[2011-07-03 17:28] chriseppstein commented on #418
I have filed a feature request against sass: https://github.com/nex3/sass/issues/128

[2011-07-03 17:45] #409 closed, assigned to nobody

[2011-07-03 17:57] chriseppstein commented on #399
The list from that site is:

[code]

I think some of these are inline elements so we need to sort out which is which and then change blueprint to only reset html5 block elements.

It would be great if someone could make this patch.

[2011-07-03 18:02] chriseppstein commented on #394
@ttilley, Seriously considering dumping fssm because of this issue. Do you have any advice?

[2011-07-03 18:04] chriseppstein commented on #375
Compass has this property but it's not accessible on the command line. Would you like to make a patch?

[2011-07-03 18:06] chriseppstein commented on #300
closing this as fixed. Please comment if not.

[2011-07-03 19:31] ttilley commented on #394
@chriseppstein - While that would make me sad, the state of things has changed quite a bit since I wrote FSSM specifically for use in Compass. I've also learned quite a bit from bug reports, interaction with other developers, and eventually needing to dive down to C for rb-fsevent. When I look at the cache implementation in FSSM I can't help but ask myself what kind of drugs I was taking (the prob

[2011-07-03 19:38] ttilley commented on #394
Please tell me someone with this issue is using RVM on a mac... If so, then my hope is that reproducing this reliably would just require that person to tarball their ~/.rvm and upload it somewhere. If it can't be reliably reproduced using the -exact- same ruby and gem list then I have no idea what to tell you... but I've had bug reports from a small number of people where events simply weren't fir

[2011-07-03 19:39] mirisuzanne commented on #417
Let's say yes. Sure.

[2011-07-03 19:41] ttilley commented on #394
@chriseppstein - note that nuking FSSM wouldn't necessarily help if they're seeing the same problem other people are in rb-fsevent. they'd have the same problem with guard or what have you. :-/

[2011-07-03 19:44] ttilley commented on #394
OH. ALSO. Do any of you have unicode characters in your directory paths being watched? Have you renamed any directories under the path to have the same name but different case? Both scenarios should work, and I've seen work, but have been mentioned.

[2011-07-03 19:50] ttilley commented on #394
@wrumsby - you're using the polling backend, sarah is using rb-fsevent. James is using the wrong versions of like everything and should be fine after an update (at which point he will also still be using the polling backend like you are though). Is it possible to get a snapshot of sarah's ~/.rvm/ if she is using rvm? I know that it might be a bit much to ask, but it would help me immensely.

Also,

[2011-07-03 20:05] ttilley commented on #394
I actually think that the person who mentioned "a few reboots" fixing it might have booted into another install of OSX, made changes, and then back into the main OSX install. This would have triggered an inconsistent history event, since changes were made that the installed fseventsd wasn't aware of, resulting in the previous logs being thrown out and state being rebuilt. This may have included va

[2011-07-03 20:17] MoOx commented on #375
I'm not a ruby coder (my first ruby script was for my first ruby gem compass-recipes), but I can try

[2011-07-03 21:22] chriseppstein commented on #375
@MoOx I like your attitude!

[2011-07-04 00:47] wrumsby commented on #394
@ttilley Just had a look, Sarah doesn't seem to be using rvm - she should have a fairly standard OS X environment (unless Coda installs additional things).

[2011-07-04 00:55] chriseppstein commented on #394
@ttilley I appreciate that this is a hard problem and thanks for your hard work on it. I'm fine with there being a predetermined checklist for users to run thru if they are having problems before escalating this to a bug and getting you involved. Maybe a wiki page could be constructed or perhaps this issue could perhaps be boiled down to a script that checks for issues and returns a list of confli

[2011-07-04 01:32] ttilley commented on #394
@wrumsby - what versions of OSX and Xcode? Also, does anything from the previous checklist stand out?

[2011-07-04 01:52] wrumsby commented on #394
@ttilley She has OS X 10.6.8 and XCode 3.2.6 (1761).

The `watch` is watching a subdirectory of her `/Users/` directory. Watch _is_ working for `.scss` files, but isn't picking up changes to other files defined in a `watch` config in `config.rb`.

The fseventsd process appears to be running correctly and `/dev/fsevents` is there, but there's nothing if she runs

[code]

[2011-07-04 12:45] gastongamietea opened #457 "Transitions css files typo"
While I was building my scss files I found an issue in _transitions.css. There is a typo for variable $default-transition-function, it was written as **$default-transition-funciton**.

Once you have fix that typo it works with no issues.

Thanks,
Gaston

[2011-07-04 15:04] asciidisco opened #458 "on_sprite_saved callback throws an error"
Hey guys,

i´ve tried to use the "on_sprited_saved" callback in my config.rb,
but when i now try to compile or watch a directory, the following error occurs:

undefined method `on_sprite_saved' for #<Tray:0x12c08c7>
<script>:30:in`build_change_options_menuitem'
org/jruby/RubyKernel.java:1088:in `eval'
src/ui/tray.rb:147:in`build_change_options_menuitem'
src/ui/tray.rb:398:in `watch'
src/app.rb:170

[2011-07-04 15:05] asciidisco commented on #458
Oh GitHub messed with my code...

[code]

[2011-07-04 21:10] alec-c4 opened #459 "rails 3.1 issues"
Hi,
i workin' on rails 3.1 application and found following problem - if i use name /app/assets/stylesheets/**application.scss** instead of **application_.css_.scss** there are problems with using stylesheet_link_tag "application" - application.css file not found. Could you also enable support for files without .css in the middle? Also - i think it will be very useful to remove line

[code]

from c

[2011-07-04 22:14] nevir commented on #459
This might be an issue to raise over on the rails (or sprockets) projects too - since that naming scheme is really enforced by Rails proper.  (Maybe template extensions should have an optional default content type)

(It could get confusing where some plugins recognize `file.format.template` and others handle just `file.template`).  Don't forget rails supports things like `application.css.scss.erb`

[2011-07-05 18:57] fbjork commented on #441
I'm still stuck on this. I tried 0.11.4 but the problem persists. The only stack trace says is this:
activesupport (3.0.9) lib/active_support/callbacks.rb:421

I have to do compass clean then compass watch for it to work.

[2011-07-05 19:01] chriseppstein commented on #441
@fbjork Only one line? That's not much to go on. Can you zip up a minimal rails app that reproduces the issue?

[2011-07-05 19:02] chriseppstein commented on #457
This is fixed on stable, we need to cut a new release.

[2011-07-05 19:02] #457 closed, assigned to nobody

[2011-07-05 19:04] chriseppstein commented on #459
All css files in rails 3.1 that are processed via the asset pipeline must have the `.css` extension part in them. That is a rails convention and Compass is adhering to it.

[2011-07-05 19:04] #459 closed, assigned to nobody

[2011-07-05 19:05] chriseppstein commented on #459
The remaining issues discussed here are a dup of #337.

[2011-07-05 21:41] chrisdrackett opened #460 "Ability to add images, fonts, etc. to extensions"
It would be great to add non-sass files to a compass extension without the files having to be copied into the project.

After using compass for about a year I've built up a good amount of "common" files that I use on most projects I work on. These files include sass files, images (arrows, etc.) and icon fonts currently.

Its become a bit of a burden to copy these assets into each project, and make

[2011-07-05 21:53] chriseppstein commented on #460
I don't know how to do this in an app server agnostic way. I assume you're using rails, in this case, an Engine is probably more appropriate for your needs because the stylesheets can be shared without copying because rails know where to find them.

[2011-07-05 21:53] #460 closed, assigned to nobody

[2011-07-05 22:04] chrisdrackett commented on #460
I'm actually doing mostly static sites and django. I guess there isn't really a clean way around this.

[2011-07-05 23:57] alexcabrera commented on #460
If you're using Django, you could package all your common static files into an app, include the app in your INSTALLED_APPS, and then use `manage.py collectstatic` to automagically move all the static files from the app into your STATIC_ROOT.

Then all you need to do is keep your new app under version control and install it into your virtualenv when you start a new project.

[edit] - You might want

[2011-07-06 01:38] masterkain opened #461 "undefined method `sass' in production mode"
Hello, I'm trying to start my Rails 3.1 app in production mode:

[code]

Results in:

[code]

Anything I can check? I stay up to date with the asset pipeline and updated all my config files accordingly to the latest rails.

[2011-07-06 02:37] chrisdrackett commented on #460
this is worth looking into for sure. I'm currently using webassets (https://github.com/miracle2k/webassets/) to compile compass and I'm not sure how these two approaches will interact (it just magically works right now ;)

[2011-07-06 03:18] scottdavis commented on #461
<pre>
undefined method `sass' for #<Rails::Application::Configuration:0x00000104550910>
</pre>

post your application.rb

[2011-07-06 03:20] masterkain commented on #461
Here it is: http://pastie.org/private/fqjiqawwbc6e4chbl3mtiq

[2011-07-06 07:27] damien-roche commented on #314
To note, I now use manual compile. I'm sorry for my past messages. You're right, my attitude stunk. Didn't mean to come across like that, was just a bit irked about the issue.

Of course, compass is free and is _fantastic_. I should be thanking you! :)

Do you have any update on whether this issue is resolved or if you've had anybody else report similar issues?

[2011-07-06 12:46] JeanMertz commented on #337
Has anyone in here figured out how to use .erb with compass?

Right now my asset file (the file that gets loaded and loads all the other css files) looks like this:

[code]

[code]

This works perfectly, except for when I want to start serving images from the assets directory as well. This requires the file to be renamed .css.scss.erb to use images_path(), but how would I do this?

Do I rename `ap

[2011-07-06 15:07] gastongamietea commented on #457
Hi,

ok cool, I just wanted to point that out... :)

Thx

---

Gastn Gamietea

My profile at http://www.linkedin.com/in/gamietea

On Tue, Jul 5, 2011 at 4:02 PM, chriseppstein <
reply@reply.github.com>wrote:

[2011-07-06 16:10] ghost commented on #337
@JeanMertz if i understand you want to use erb to serve images starting from image assets folder.
If this is right you don't need this.

Instead of "url()" css default function use "image-url" helper as stated here: http://compass-style.org/reference/compass/helpers/urls/

This helper should resolve asset path.

[2011-07-06 16:33] brentkirby commented on #337
I'm pretty sure you still need to be using the rails31 branch as well

[2011-07-06 19:03] dira commented on #399
Started working on the patch.

[2011-07-06 21:31] chrisdrackett commented on #460
@alexcabrera do you know if there is a good way to handle this when developing locally?

[2011-07-07 07:40] JeanMertz commented on #337
@vchiodino Thank you for the help. Will this work the same as the erb-style, including the hash value to the image name in production?

Also, do you use sprites, and does it work for you? I just can't seem to get it to work the way it's described in this [tutorial](http://compass-style.org/help/tutorials/spriting/).

Here is what I use, and the error it returns:

[code]

[code]

Here is my (releva

[2011-07-07 11:42] rwz commented on #337
I'm using `rails31` branch, but all assets paths helpers are not working for me.

For example when i do `background: image_url('logo.png')` i'm getting `url('/images/logo.png')`. But the right path is `/assets/logo.png`

This is my Gemfile:

[code]

What do i do wrong?

[2011-07-07 11:45] rwz commented on #337
The only way i see it is to use lame code like this:
`background: url(asset_path('bg.jpg', 'images'))`

It works this way.

[2011-07-07 12:57] ginty commented on #337
I agree I don't see image_url working yet either, although I assumed this
was just because the feature was not fully available yet.

A decent hack to get things going in the meantime is to make a symbolic link
from public/images to app/assests/images, that way your css has the final
intent syntax and all you have to do is remove the link from public when
this is fixed.

On 7 July 2011 12:45, rwz <

[2011-07-07 16:51] mchung commented on #337
@rwz @ginty
1. No need for the symbolic link.
2. Use asset_url, which is [documented over here](https://github.com/rails/sass-rails).  For example: asset_url("rails.png", image) becomes url(/assets/rails.png)
   - As a convenience, for each of the following asset classes there are corresponding _path and _url helpers: image, font, video, audio, javascript, stylesheet.

My Gemfile

[code]

[2011-07-07 20:48] Godisemo opened #463 "Sprites url in rails 3.1 doesn't work with assets dir"
The spritemap in rails 3.1 is generated to the assets folder but the css output is something like

[code]

to work with the assets folder it should be something like

[code]

[2011-07-07 21:16] chriseppstein commented on #463
are you using the rails31 branch?

[2011-07-07 21:44] Godisemo commented on #463
As I said, the spritemap is generated into the correct folder but the generated css points to the old, pre rails 3.1, path.

Yes, I'm using the rails31 branch, my gemfile is

[code]

[2011-07-08 13:52] HamptonMakes commented on #457
Please push a release for this! Teh pleaz!

[2011-07-08 15:34] rwz commented on #337
Got the image_url to work by adding initializer:
`Compass.configuration.http_images_path = '/assets'`

[2011-07-08 16:53] Godisemo commented on #463
The problem was fixed by adding the following line to my application.rb configuration file.

[code]

Shouldn't this be the default behavior in the rails 3.1 branch?

[2011-07-08 16:53] #463 closed, assigned to nobody

[2011-07-08 21:17] codingdesigner opened #464 "Warnings in _vertical_rhythm.sass"
I was upgrading an older project that used the Susy version of vertical_rhythm to the lastes Compass 0.11.4 and got a lot of warnings when passing three arguments to mixins like adjust-font-size-to. The logic for triggering the warning appears to be wrong. :

[code]

In my project I called it like:

[code]

$relative-font-sizing is set to true (by default) and I still got the warnings.

It looks l

[2011-07-08 21:49] chrisdrackett opened #465 "default to translate3d in safari"
in safari/mobile safari 3d transforms are hardware accelerated. Because of this I would suggest always using translate3d in safari.

right now compass does:

[code]

I would suggest:

[code]

[2011-07-09 00:10] scottdavis commented on #465
does this work in chrome?

[2011-07-09 00:10] scottdavis commented on #464
this is @ericam 's baby

[2011-07-09 00:11] chrisdrackett commented on #465
yes, this works in chrome as well, I have an example here: http://tictok.net/ (click Log In, the slide is using translate3d for webkit.)

[2011-07-09 01:29] scottdavis commented on #465
how about safari on windows? and andriod webkit?

[2011-07-09 02:29] chrisdrackett commented on #465
yes, yes

[2011-07-09 07:31] nathanbrauer opened #466 "elements-of-type(inline-block)"
Currently there is no inline-block type.  This should include img and I think two others (I forgot which ones off the top of my head).

[2011-07-09 17:15] scottdavis commented on #465
so now that thats over =p this is going to be a hard change given the way that the browser support functions work. @chriseppstein

[2011-07-09 19:47] thijskuipers opened #467 "Undefined variable: "$default-transition-funciton""
Syntax error: Undefined variable: "$default-transition-funciton".
        on line 106 of /Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/css3/_transition.scss, in 'single-transition'
        from line 108 of /Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/css3/_transition.scss, in 'transition'

I just got this error after updating

[2011-07-09 19:53] thijskuipers commented on #467
My bad, can now see you already fixed this in commit 7a814581e7a2ea146d44

[2011-07-09 19:53] #467 closed, assigned to nobody

[2011-07-09 20:41] mirisuzanne commented on #417
It looks like this has been removed from the W3C recommendation: http://www.w3.org/TR/css3-userint

It was in an old Working Draft:

http://www.w3.org/TR/2000/WD-css3-userint-20000216

But Is not in the Candidate Recommendation:

http://www.w3.org/TR/css3-ui

There is some experimental browser support. How do we handle that?

[2011-07-10 18:10] johanbrook opened #469 "Transition mixin should generate shorthand syntax if possible"
Hi!

I've noticed that the `transition` mixin in Compass outputs separate properties, vendor prefixed:

**SCSS for including the transition mixin**

[code]

**CSS output**

[code]

Lots of bloat, as you can see. This wouldn't bother if this behavior was consistent in Compass, but the construct for `box-shadow`, for instance, behaves different (and better). See below.

**SCSS for including the box

[2011-07-10 21:34] imathis opened #470 "Docs for Contrast-color busted source"
The view source on `contrast-color` at http://compass-style.org/reference/compass/utilities/color/contrast/ seems to be generated incorrectly. It appears as below:

![source screenshot](http://f.cl.ly/items/1y3Z3p3s2o1J2o473n0W/Screen%20shot%202011-07-10%20at%205.29.08%20PM.png)

Seemingly the Sass syntax's pre tag wasn't correctly closed.

Also above, under the configuration variables, why are th

[2011-07-10 23:49] chriseppstein commented on #466
Please send a pull request when you remember :)

[2011-07-10 23:50] chriseppstein commented on #465
Why is it hard?

[2011-07-11 00:38] chriseppstein commented on #458
It looks like this config file is being evaluated in a strange context. Are you using compass.app?

[2011-07-11 00:40] chriseppstein commented on #399
Fixed by 07819ccfbdcf3055d53877aa93187ce5f50df8ff

[2011-07-11 00:40] #399 closed, assigned to chriseppstein

[2011-07-11 00:41] chriseppstein commented on #464
fixed in 0.11.5

[2011-07-11 00:41] #464 closed, assigned to nobody

[2011-07-11 01:41] scottdavis commented on #465
Because in lazy

Sent from my iPhone

On Jul 10, 2011, at 7:50 PM, chriseppsteinreply@reply.github.com wrote:

[2011-07-11 03:14] codingdesigner commented on #464
Glad to see it fixed! Thanks

[2011-07-11 04:42] nathanbrauer commented on #466
I was wrong-- it's just img

[2011-07-11 04:43] plentz opened #471 "compass 0.11.5 broken in jruby"
0.11.4 works well. (tested in jruby 1.6.3 and 1.6.2)

[Gemfile.lock](https://gist.github.com/1075320)

[code]

[code]

[2011-07-11 04:52] lunks commented on #471
Having the same issue with Compass 0.11.5 and JRuby 1.6.2 with Rails 3.0.9.

[2011-07-11 07:57] chriseppstein commented on #471
can one of you do a bisect and find the offending changeset? Nothing that changed should have had this effect. It was a pretty benign release.

[2011-07-11 08:32] tomstuart opened #472 "Blueprint .container shouldn't be overflow: hidden"
Blueprint's clearfix works by setting `overflow: hidden` on both `.clearfix:after` and `.container:after`, but Compass's Blueprint `.container` uses the general Compass `clearfix` mixin, which sets `overflow: hidden` on the `.container` itself.

[2011-07-11 08:49] rwz commented on #337
Even with initializer mentioned above all compass helpers that use *-url helpers internally do not work in production.
Sprites do not work either.

Basically, compass is totally incompatible with rails 3.1 for now.

[2011-07-11 09:09] mikker commented on #472
I agree. I always, always override this to `overflow: visible`.

[2011-07-11 09:23] asciidisco commented on #458
Yes. I first tried it with compass.app and later on with another jRuby based installation on a different pc.
Maybe this is an jRuby related issue...

[2011-07-11 09:31] sj26 commented on #337
Mmm, the rails31 branch doesn't seem to fall through to the sass-rails functions which will work.

I'm back to using [my fork's rails31 branch](https://github.com/sj26/compass/tree/rails31) which works in production by using Sprockets' asset tag helpers.

[2011-07-11 09:42] tomstuart opened #473 "Blueprint documentation"
As a Blueprint user I'm interested in two things:
- Is Compass's blueprint/basic intended to be a fully-compatible drop-in replacement for Blueprint? (aka "Is it worth filing compatibility issues?")
- If so, what version of Blueprint is Compass's port supposed to be compatible with? (1.0.0? 1.0.1?)

It would be useful for answers to these questions to be documented somewhere; if somebody wants to

[2011-07-11 10:08] sj26 commented on #337
(Ideally, compass should not define `*_url` and `*_path` helpers in Rails 3.1, this is done for us by sass-rails.)

[2011-07-11 15:28] chriseppstein commented on #473
Sounds great. Thanks!

[2011-07-11 15:30] tomstuart commented on #473
Okay. So, what are the official answers? I already gather that, yes, Compass does intend to be 100% Blueprint-compatible. Exactly which Blueprint version is it currently trying to be 100% compatible with?

[2011-07-11 15:31] chriseppstein commented on #471
Also, try clearing your sass cache.

[2011-07-11 15:35] ESWAT commented on #394
Hi, just wanted to chime in that I’ve also started having this problem today and had to switch to the polling method. I was on Compass 11.4 and after updating my gems and Compass to 11.5 was still having problems.

Gemset (1.9.2@180 with RVM) https://gist.github.com/1076049
.gemrc https://github.com/eswat/osx-dotfiles/blob/master/gemrc
Tarball of my .rvm http://dl.dropbox.com/u/506504/rvm.tar.gz

[2011-07-11 15:36] chriseppstein commented on #473
Sorry. Yes. blueprint/basic should be drop-in compatible. We do upgrade our BP version periodically, but right now we're at 1.0

[2011-07-11 15:38] tomstuart commented on #473
Thanks. I'll assume that means Blueprint 1.0.0 (September 30th, 2010), and that Blueprint 1.0.1 compatibility (May 14th, 2011) is not yet expected.

[2011-07-11 15:40] chriseppstein commented on #417
It doesn't really matter if it's a standard or not, if most browsers implement it, then we can add a mixin for it with caveats in the docs.

[2011-07-11 16:09] mirisuzanne commented on #417
That's fine, but I can't find it on any support tables that I know of. Has anyone done that testing? If not, I can do some basic testing next week. What do we consider 'most browsers'?

[2011-07-11 17:17] plentz commented on #471
looks like removing tmp/sass-cache did the trick :)

[2011-07-11 17:17] #471 closed, assigned to nobody

[2011-07-11 17:24] chriseppstein commented on #471
Does it come back after some time or stay fixed?

[2011-07-11 19:56] adamstac commented on #417
I've used this in Chrome v12.0.742.112 and Firefox v4.0.1 and Safari 5.0.5 on Mac. Though, I haven't tested this on any other browsers.

If the browsers support it, I'd say add it. I was just checking to see if we had already and Wynn pointed me here to share my usage and comments. What Eric showed off above seems like a nice mixin to support this.

[2011-07-11 20:57] plentz commented on #471
not in my tests :)

[2011-07-11 21:12] chriseppstein commented on #471
PROTIP: `compass clean` will nuke your sass cache.

[2011-07-12 00:06] ttilley commented on #394
Awesome. Well, the rvm bundle, not you having issues. ^^;

If I can't reproduce this using the same exact binaries, I'm taking a
double shot for every comment.

On Monday, July 11, 2011, eswat
reply@reply.github.com
wrote:

##
-               *
  Travis Tilley
  (201)676-0873

[2011-07-12 04:38] dfischer commented on #337
Spriting doesn't use the /asset prefix. Depends upon "/images" in rails 3.1 project.

url("/images/ui-s80112416a3.png") no-repeat scroll 0 0 transparent

[2011-07-12 09:27] curvedmark commented on #472
Me too. Please consider using pie-clearfix by default.

[2011-07-12 12:31] ttilley commented on #394
actually, it might be a bit until I have a solid time slot for this. I wish it were painless to install OSX into a virtual machine... Since I have a mac dev account, I -can- install osx server into a virtual machine for dev purposes, which they allow... then set it up with exactly the right version of xcode and whatnot.

my main system is currently running the GM seed of lion and xcode <4.1 isn't

[2011-07-12 14:04] ijy commented on #300
Sorry for the delay in getting back on this. I've just tried it again having updated to the current latest version of Compass (0.11.5) and the problem is still there.

My stylesheets are all hooked up and style changes are working fine. config.rb is placed in the stylesheets directory. When I cycle output_style through the various formats none of them seem to make a difference. If however I force

[2011-07-12 18:12] webbower opened #474 "inline-image data uri doesn't work in IE8/9"
If I use a CSS property like:

[code]

What gets outputted is something like:

[code]

IE8/9 seems to choke on the quotes inside url(). I know for a fact that the quotes are not required inside url() in general, but they seems to cause problems in IE8/9 here with the data URI. When I manually enter the following into my CSS, it works in in IE8/9

[code]

The only difference is the lack of single a

[2011-07-12 18:20] chriseppstein commented on #474
you don't need to specify the mime type for standard extensions -- compass knows what mime type a `.gif` is.

That said, this is a bug and as a workaround you can do:

[code]

[2011-07-12 20:27] webbower commented on #474
Awesome! Good to know. Thanks!

[2011-07-13 12:16] scottdavis commented on #458
I'll investigate this today

[2011-07-14 09:58] rwz commented on #337
@sj26 using your branch. All*-url helpers works fine in production, except sprites.

compass generates sprite paths like `/assets/categories-s40cf83bd1c.png`, but assets:precompile generates files with names like `categories-s40cf83bd1c-85a4960caf1fd144dbcd4f9f8fb134f7.png`

Do you have any idea how to fix this? I've heard you got your branch in production just fine.

[2011-07-14 10:36] sj26 commented on #337
@rwz Honestly I've not been using sprites (naughty me). I hear there are good ways to do sprites the rails way(tm) these days, but haven't looked into it.

I might take a squiz at compass sprites in rails 3.1 when I get a chance.

[2011-07-15 08:33] rolang opened #477 "inline-font-files is not working"
Inline-font-files breaks the CSS. It seems like the encoding is wrong. I used UTF-8 and the base64 string seem strange. Like when you open a Word file with notepad.
Tested with sass version 3.1.4, compass version 0.11.5, on windows 7 and opensuse 11.3, with font-files ttf, eot and woff. Can't copy and paste the string here, it won't work.

[2011-07-15 14:11] bsingr commented on #337
how i got rails31+compass+sprites finally working for me http://uberfork.com/post/7651220989/rails3-1-and-sass-compass-image-sprites

[2011-07-15 15:00] scottdavis commented on #458
can you post your config file compass.app version? please

[2011-07-15 15:51] rwz commented on #337
@dpree not gonna work in production

[2011-07-15 18:20] hlb commented on #458
Hello, I am from Compass.app team. Please provide your config.rb testcase, so we can dig into it.

BTW, it seems you are using Compass.app v1.5, please update to v1.6 first. (it has different sass/compass/jruby version)

[2011-07-15 22:58] ttilley commented on #394
@chriseppstein - I'm thinking it might be best to default to polling in FSSM on mac for a while. The issue is potentially within fsevents itself if it's the issue stated within the context of Time Machine last month on Apple's filesystem-dev list.

If your watch functionality is broken, and calling rb-fsevent from that same path is similarly broken, but watching from that path's direct parent work

[2011-07-16 14:34] imathis opened #478 "Configuration reference sass_dir defaults to "src" incorrect"
See http://compass-style.org/help/tutorials/configuration-reference/
sass_dir says it defaults to "src" this has been changed to "sass"

[2011-07-17 04:45] bokmann commented on #337
I'm having a problem that I have reduced to its simplest case, and in doing so realized I can reproduce it using nothing from compass but conventions.  Still, this seems like the best place to ask.  I'm unable to define a variable in my assets/stylesheets/partials/_base.scss and be able to use it in another partial, even when I'm 100% sure the file is being properly included.

Relevant contents of

[2011-07-17 05:40] JeanMertz commented on #337
Not sure, since you're not using `sprockets`, but I still think you need to name your partials `.css.scss`, same as all the other scss files in rails 3.1.

[2011-07-17 06:04] bokmann commented on #337
I tried that too, it made no difference.  For what its worth, I'm positive the files are being included - if I rename them I get an error about the file not being there, and if I include css in them it is emitted.  It just seems like variables aren't persisted from one scss evaluation to the next.

[2011-07-17 06:07] sj26 commented on #337
`$chalkboard` != `$charcoal`, your original source extract said `$charcoal`. Are you still having this problem? If so, I suspect it's unrelated.

[2011-07-17 15:06] bokmann commented on #337
@sj26 sorry, no, that was a 1:00am brain dead transcription error into comments, not an actual error in the code.  The code in the above comment is now faithful to the example I have that fails.

In the light of a new day I resolved the issue, but in a way that doesn't clue me into the original problem; I blew away my bundle install (which I put into a local vendor directory) and rebundled - the i

[2011-07-18 05:37] chibisov commented on #394
I have the same issue only if workin in Dropbox folder.

[2011-07-18 11:10] ZenGardenDubai commented on #337
I have followed the discussion above but it seems that all these changes are a bit over my head.

I have created a new rails app (rc4) and added the following to my gem file:

gem "compass", :git => 'https://github.com/chriseppstein/compass.git', :branch => 'rails31'
gem 'sass-rails', :git => 'https://github.com/rails/sass-rails.git', :branch => '3-1-stable'

I installed compas with :

compass ini

[2011-07-18 11:59] sj26 commented on #337
The sprites problem seems to be a race. Sprites are generated by compass after/during the asset precompilation process which means they aren't copied into public/assets, and aren't served by your static fileserver, neither does sprockets know the checksum of the (not yet) generated files to create the proper path to the asset.

[2011-07-18 12:04] JeanMertz commented on #337
Sorry for not giving you the answer you are looking for, but the advice I would give you and anyone else struggling with this is this:

If you can't figure it out after all the above comments and the blog posts on the internet, I would advice you to wait a few more weeks (two or three I hope) for 3.1 final to be released. There will de documentation and guides to go with it and no more pulling gem

[2011-07-18 12:42] manuelmeurer commented on #337
@JeanMertz Jepp, that's pretty much my approach as well. I got most of it working (not the sprites yet) but will not invest any more time in fiddling around until Rails 3.1 final is out.

[2011-07-18 12:43] pake007 commented on #337
@bokmann  try to rename your _base.scss to _base.css.scss, I met the same problem and got the 'Undefined variable' error, then fixed by renaming the partial file. I don't know the reason, but it works for me. I also hope the feature version can fix this problem.

[2011-07-18 13:15] ZenGardenDubai commented on #337
Though the following blog post says it is no longer necessary to do the steps, but I was able to get compass working:

http://metaskills.net/2011/05/18/use-compass-sass-framework-files-with-the-rails-3.1-asset-pipeline/

However, I still cannot use blueprint stylesheets for example this wont work:

@import "compass";
@import "blueprint";

body{
      background: black;
      @include +linear-gradi

[2011-07-18 14:05] ZenGardenDubai commented on #337
ok I think i got it,  I need to specifically include the blueprint mixin i want to use

Also and as stated everywhere in this ticket, no need for the sass initializers

[2011-07-18 22:37] dfischer commented on #337
So what's the agreed upon structure to avoid CSS duplication as of now?

[2011-07-18 22:42] mdeering commented on #461
I ran up against this issue today while upgrading from 3.0 to 3.1

Fix for me was to add the following to my Gemfile

[code]

The missing sass-rails gem was the culprit in my case.

[2011-07-18 23:49] markoan opened #480 "Sprite helper magic icon-sprite mixin doesn't work for pseudo-class selectors"
I started using the sprite helper for a custom menu I made and I wanted to optimize sprite size (avoiding extra space padding in the images). I found a way to insert an element using the :before pseudo-class and styling that element with the size of my sprites. The problem is that compass doesn't recognize the special class and uses the complete selector thus generating incorrect css for the eleme

[2011-07-18 23:56] chriseppstein commented on #480
hmmm. I think this is a pretty edge-case requirement. Not sure there's much we can do to support it. I suggest that you generate the sprite import using the `compass sprite` command and hand-tweak the output.

[2011-07-19 00:27] markoan commented on #480
Hi, thanks for the reply. I guess you are right. This is what I'm doing right now, just a quick search and replace.

[2011-07-19 00:27] #480 closed, assigned to nobody

[2011-07-19 18:04] lessallan commented on #403
+1 for AndreasMadsen

[2011-07-19 18:24] chriseppstein commented on #403
ok. we'll update the docs.

[2011-07-19 18:57] brynary opened #481 "Cache busting query params not being included on absolute paths"
Our .sass file contains:

[code]

Also, we have a cache buster configured in config/compass.rb:

[code]

When compass compiles our Sass, there is no cache busting param added on to the URL.

We believe we have a lead on the bug, but could not solve it. From  lib/compass/sass_extensions/functions/urls.rb:

[code]

The comment appears to conflict with the implementation. It seems this should be chec

[2011-07-19 19:10] chriseppstein commented on #481
The `image-url` helper expects a path relative to your images directory, E.g.:

[code]

Is it the case that these images are being served without being stored in your project's images directory?

In normal usage of compass, you can't generate a cache buster for root relative urls because we can't pass a filesystem path to the `asset_cache_buster` block.

I think I need to know more about what's go

[2011-07-20 05:33] dfischer opened #482 "Compass Watch randomly quits."
I tried to run it with `compass watch --trace` to get some debug output but nada. It randomly quits during changes. My only sign of notification is browser not updating styling, so then I check terminal and compass watch isn't running anymore.

I have noticed it happen about 5 times during a hour.

Anything I can run to help debug this?

[2011-07-20 05:35] scottdavis commented on #482
run guard compass =p

[2011-07-20 05:48] dfischer commented on #482
So, `compass watch` is deprecated? Should --warn then.

// realized it's not default. nvm.

[2011-07-20 05:52] jonjaques opened #483 "Problems with Sprites and URI Ouput"
Having some problems with css that is generated with the sprite system. Basically, it's outputting some wacky text in the url strings, and I think it's related to the paths set up in config.rb.

**My directory structure**

[code]

**My SASS config is this:**
`http_path = "/"
css_dir = "css"
sass_dir = "sass"
images_dir = "images"
javascripts_dir = "scripts"`

**My import directive**
`@import "../i

[2011-07-20 20:49] andrewhavens opened #484 "Where is the "technical" documentation?"
I'm trying to figure out how the compass gem works from a technical implementation perspective, but I can't find any general documentation on that. I have a PHP project that I would like to add Compass to, but I need to know what kind of directory structure is required, gem dependencies, what sorts of command line options are available, etc...

Where can I find that information? If it is available

[2011-07-20 20:50] chriseppstein commented on #484
Most of that should be covered here: http://compass-style.org/help/tutorials/

[2011-07-20 20:50] #484 closed, assigned to nobody

[2011-07-20 20:50] andrewhavens commented on #484
Ah, nevermind...found it myself...in the readme. Now I feel dumb. =/

http://compass-style.org/help/tutorials/command-line/

[2011-07-20 21:01] chriseppstein commented on #483
The import is relative to your images directory. the `../images/` part in your import is unnecessary.

[2011-07-21 06:21] jonjaques commented on #483
Chris, thank you for the clarification. I suppose that's what I get for trying to implement sprites at 1AM.

[2011-07-21 06:21] #483 closed, assigned to nobody

[2011-07-22 01:07] chriseppstein commented on #337
After speaking with the sprockets guys it turns out to be ok to allow imported stylesheets to omit the .css part of the extension. https://github.com/rails/sass-rails/commit/3babfd6f4e887afbbc13007f2316ab6223690358

I think this will ease the transition for many people and avoid the strange failure scenarios.

[2011-07-22 04:40] rwz commented on #337
![SPRITES Y NO WORK](http://img35.imageshack.us/img35/6178/downloadzgj.png)

[2011-07-22 15:09] scottdavis commented on #337
@rwz A+++++++++++ comment would read again. in fact i already read it 4 times!

[2011-07-22 19:43] chriseppstein opened #486 "Compass sprite importer generates invalid output when using symlinks"
it works on stable, so this is some change that occured in master or the rails31 branch.

[2011-07-23 02:54] scottdavis commented on #486
example? invalid is a bit generic

[2011-07-23 17:12] bjensen commented on #337
This has become a very long thread..What is the current status?

Can I do compass init rails  in my rails 3.1 project and I am good to go?

[2011-07-23 17:20] MarioRicalde commented on #337
+1 for the thread being too long. It's almost impossible to know what's the
current status: I vote for  making a new issue with the current status.
*
*
_█  Mario "Kuroir" Ricalde_
_█  *_Front-end Engineer *
_█  *_kuroir@twitter*
*█  *+1 ‪(415) 800-415-4‬

On Sat, Jul 23, 2011 at 12:12 PM, bjensen <
reply@reply.github.com>wrote:

[2011-07-24 11:28] Uninen opened #487 "Watch works only on first save"
I'm using Compass to develop Django projects on Mac OS X using VMWare Fusion virtual machine running Ubuntu. Problem is, when mounting Ubuntu directories to Finder via SSHFS or Transmit, OS X makes all these '._filename' files on save and I believe these files mess with Compass watch.

When I start watch, it works fine for the first change, but after that it stops recognising changes. Everything w

[2011-07-25 17:01] caboe opened #488 "Can not use expression language"
When using expression language in JSF-projects, like this in the scss file:
background-image:url("#{resource['images/layout/help.png']}");
I get an error:
Invalid CSS after "...url("#{resource": expected "}", was "['images/layout...")

[2011-07-25 17:09] chriseppstein commented on #488
This is not legal sass syntax. Please seek support on the mailing list.

[2011-07-25 17:09] #488 closed, assigned to nobody

[2011-07-25 18:05] alindsay55661 opened #489 "Unchanged errors not showing"
I just updated compass and noticed the following behavior.  When I compile a file that has errors the errors will display in the terminal.  I compile a second time it lists the file as unchanged but doesn't display the errors.

I believe this is a bug as the errors should display irrespective of whether or not a css file has already been compiled.  Often time developers will check out the file and

[2011-07-25 18:20] chriseppstein commented on #489
In order to do this, in development mode we'd have to search the css output for content that looks like an error. In production mode, we'd have to assume zero length css files had errors. then in these cases we would treat the file as if it was passed `--force`. If the files being changed are unrelated to this, it will cause a technically "unnecessary" delay. It's not clear to me what the right be

[2011-07-25 18:28] camelpunch opened #490 "Malformed version number string 0.11.3.rails.0 / 0.12.0.alpha.0.b1b6273"
I'm getting behaviour similar to https://github.com/chriseppstein/compass/issues/140 with both master and rails31 branches when using bundler with the :git option. This is through Passenger on REE.

Incidentally, when I try 'rails c development' I get the following:

[code]

[2011-07-25 19:14] MarioRicalde commented on #489
The errors displays in the browser still right? I believe that one single notification of the error is good enough. I mean, that's like a "something went wrong" kind of notification on the console. Also, when there's an error on the browser, all the styles will die so it's really visible.

[2011-07-25 19:16] chriseppstein commented on #489
all that is true, but I'm not convinced that we shouldn't do it. I've been tripped up by this when the page I'm working on is not using the stylesheet that has the error.

[2011-07-26 06:28] scottdavis opened #491 "remove FSSM and replace with GUARD"

[2011-07-26 08:58] caboe commented on #488
But this is an typical pattern when using expression language...
Why not simply ignore everything that is written in quotes?

[2011-07-26 09:06] MarioRicalde commented on #488
Please note that I'm not an expert on the Expression Language. But I think you're taking the wrong approach here. To me it seems that you need to run the Expression Language (compiler?) before passing it to compass so: `resource['something']` is valid sass.

That's how Rails does it with `.scss.erb` I believe.

[2011-07-26 11:22] caboe commented on #488
Thank you for your fast reply.
But sadly, this would be no solution. The aim is to replace the expression on run time, so the apllication can decide what to display. The solution in the mean time is a second (non-SCSS) CSS file, witch contains all URLs. But it is not very maintainable to have classes separated in two files.

[2011-07-26 11:33] MarioRicalde commented on #488
Where are you getting resource['images/layout/help.png'] from? I'm assuming that you're tying to make that return some sort of path to the asset.

Did you know that compass provides with `image-url()` [1] which takes the configuration file image path?

 I mean you can even make your own @function if that's what you want.[2]

If you need more help, try reaching our mailing list [3]

[1] http://comp

[2011-07-26 14:11] bvsatyaram opened #492 "Link to screencast is missing in Rails integration wiki page"
The rails integration wiki page located at
https://github.com/chriseppstein/compass/wiki/Ruby-on-Rails-Integration
says:
"Having issues? Watch this quick screencast on how to set everything up:"
But the link to screencast is missing.

[2011-07-26 14:27] caboe commented on #488
The problem is, that I need "resource['images/layout/help.png']" in the generated CSS. The application decides on witch resource this expression maps. This could be for example different skins, depending on the user.

[2011-07-26 14:53] scottdavis commented on #492
that wiki page is old use the compass-style.org site: http://compass-style.org/help/

[2011-07-26 14:53] #492 closed, assigned to nobody

[2011-07-26 14:55] scottdavis commented on #489
this tripped me up literally 5 minutes ago +1

[2011-07-26 14:58] scottdavis commented on #458
no response from author closing this

[2011-07-26 14:58] #458 closed, assigned to scottdavis

[2011-07-26 15:09] scottdavis commented on #449
fixed

[2011-07-26 15:09] #449 closed, assigned to scottdavis

[2011-07-26 15:11] scottdavis opened #493 "extract blueprint into plugin"
move blueprint into its own package and out of core

[2011-07-26 16:09] caboe commented on #488
Found a solution. Not elegant, but it works:
$pre: 'url("#' + '{';
$post: '}")';
....
background-image: unquote($pre + "resource['images/layout_new/header_org.jpg' ]" + $post);

[2011-07-26 16:33] caboe commented on #488
OK, it's time to use a mixin- it's more elegant:

@mixin background-image($url) {
   $pre: 'url("#' +  "{resource['";
   $post: ']}")';
   background-image: unquote($pre + $url + $post);
}
....
@include background-image("images/layout_new/header_org.jpg");

[2011-07-26 16:35] chriseppstein commented on #488
You can escape sass's interpolation syntax with a `\` like this:

[code]

[2011-07-26 16:48] caboe commented on #488
That was what I'm looking for. I always tried

background-image:url("#{resource\['images/layout/help.png']}");

because the error message complaints about the '[' bracket...

Thank you

[2011-07-26 18:25] jlong opened #494 "Global variable clash with new typography module"
While upgrading a project today I had trouble with the new typography module because I had defined $base-font-size as 95% and imported all of Compass:

https://github.com/radiant/radiant-prototype/blob/master/stylesheets/admin/_base.sass

I ended up having to import utilities and css3 separately in order to use this variable name. (I'm not using the typography module.)

The problem was caused beca

[2011-07-26 18:27] chriseppstein commented on #494
Can you please provide a small example that demonstrates the problem?

[2011-07-26 18:48] jlong commented on #494
Yup:

[code]

[2011-07-26 19:02] MarioRicalde commented on #494
This is why I suggest that you take the cascading approach:

Include all your dependencies on the top, compass should be always the highest on the chain of includes:

Example: https://github.com/kuroir/Survival-Kit/blob/master/src/stylesheets/app.scss

[2011-07-26 19:43] MarioRicalde commented on #493
After I'm done with the documentation for sprites if this is not done I'll go on ahead and tackle this guy, if you haven't began working on it that is ;)

[2011-07-26 19:48] MarioRicalde commented on #492
Updated the wiki, to link to http://compass-style.org/help/

[2011-07-26 20:24] scottdavis commented on #493
this can't be started until after the extension repo

[2011-07-28 12:24] krisbulman opened #497 "developing documentation - bundle install --binstubs fails"
I'd like to contribute to documentation, however I'm having trouble getting started.

RubyGems version 1.8.6
Bundler version 1.0.15
OS X version 10.6.8

forked repo, cloned to local location, installed bundler, cd'd to doc-src, ran bundle install.. failed:

<pre>
$ sudo bundle install --binstubs
Fetching git://github.com/chriseppstein/nanoc.git
remote: Counting objects: 18375, done.
remote: Compre

[2011-07-28 13:05] tyrinslys commented on #477
I see the same problem, and in addition the closing characters for the @font-face are not printed, so it breaks css for the rest of the file.

<pre>
$fontOstrich: "ostrich-bold.ttf";
@include font-face("ostrich", inline-font-files($fontOstrich, truetype));

yeilds:
@font-face {
font-family: "ostrich";
src: url('data:font/truetype;base64, [lots of font data here]
</pre>

expected to see these endin

[2011-07-28 20:17] tyrinslys opened #498 "functions cos, tan, sin broken"
The functions cos, tan and sin are broken save when using radians.

The following scss:

<pre>
.trig-example {
  // the trig functions seem to be broken at the moment

  /* should be 0 */
  left:sin(0);
  left:sin(0deg);
  left:sin(0rad);

  /* should be 1 */
  left:sin(90);
  left:sin(90deg);
  left:sin(1.570796rad);

  /* should be 0*/
  left:sin(180);
  left:sin(180deg);
  left:sin(3.14159rad);

[2011-07-29 13:29] natebird opened #499 "Rails 3.1 rc5 and Compass failing to load"
I am using the Rails31 branch of Compass. Here is backtrace:

[code]

And part of the Gemfile for reference

[code]

I didn't get this error until I changed the Compass gem.

Thanks!

[2011-07-29 14:44] scottdavis commented on #497
the documentation is a pita to get up and going and it shouldn't be im sorry =(

[2011-07-29 14:44] scottdavis commented on #499
sass-rails broke with the sprockets update

[2011-07-29 15:48] natebird commented on #499
Good to know. Anything I can do? Or just wait for sass-rails to pick up a fixed version of sprockets?

[2011-07-29 17:04] natebird commented on #499
Changing the Gemfile to use `gem 'sass-rails'` worked.

[2011-07-29 17:04] #499 closed, assigned to nobody

[2011-07-29 19:05] krisbulman commented on #497
yeah, now i am getting

<pre>
LocalJumpError at /index.html
no block given
Ruby    layout /partials/example/: in render, line 7
Web     GET localhost/index.html
</pre>

after running nanoc3 aco & hitting http://localhost:3000/index.html

difficult to contrib

[2011-07-29 22:18] metaskills commented on #337
I am really trying to get things working again. Every post suggests that you can only use .sass files which I think sucks. Even Sass says the .sass is the deprecated syntax over the preferred .scss. I'll let y'all know what I come up with.

[2011-07-29 22:24] chriseppstein commented on #337
rails applications default to `scss` unless you set `config.sass.preferred_syntax = :sass`

[2011-07-30 02:56] metaskills commented on #337
OK, I finally got my setup working on 3.1.0.rc5. Hopefully this latest blog article is useful to some.

Use Compass Sass Framework Files With The Rails 3.1.0.rc5 Asset Pipeline
http://metaskills.net/2011/07/29/use-compass-sass-framework-files-with-the-rails-3.1.0.rc5-asset-pipeline/

[2011-07-30 15:10] CaioBianchi commented on #300
Having the same issue here! I was playing with it all day yesterday... and out of the blue stopped working!
Compass compiles the css file, but just ignores the config.rb file.

[2011-07-31 18:02] HelloGrayson commented on #375
+1 for this

[2011-07-31 19:17] stevenyxu opened #500 "compass overwrites image_url from sass-rails"
I wanted to add compass to an existing Rails 3.1.0.rc5 app that I have. I added the gem to the Gemfile, and used [Ken Collins'](http://metaskills.net/2011/07/29/use-compass-sass-framework-files-with-the-rails-3.1.0.rc5-asset-pipeline/) fix to get the asset pipeline to recognize the compass framework stylesheets.

However, in the process of doing so, compass seemed to overwrite the recently-introdu

[2011-08-02 05:59] scottdavis commented on #500
this is a known issue and chris is "working on it"

[2011-08-02 06:00] #412 closed, assigned to scottdavis

[2011-08-02 06:01] scottdavis commented on #497
are you using ruby 1.9.2?

[2011-08-02 13:15] snitko opened #501 "Do not cache sprites in Rails 3.1 dev mode"
I'm experiencing a problem in Rails 3.1, supposedly after the most recent Compass update.

When the server is started and the page is loaded for the first time, sprites are generated. A file called `user_menu_icons-s06e7e31dcf.png` is placed under `app/assets/images` dir. Then, if I update the images under `app/assets/images/user_menu_icons` the sprite is not updated. Not until I restart Rails and

[2011-08-02 15:26] huerlisi commented on #461
@masterkain according to this [howto](http://metaskills.net/2011/07/29/use-compass-sass-framework-files-with-the-rails-3.1.0.rc5-asset-pipeline/) you should use the following in your `application.rb`:

[code]

This is also what a fresh generated application with rails 3.1.0.rc5 brings up.

[2011-08-02 16:53] chriseppstein commented on #501
if we didn't cache sprites, it would be unbearably slow.

As a work around if you change the file that imports the sprite it will rebuild the sprite.

[2011-08-02 16:54] chriseppstein commented on #501
Related: I have a bug against sass to allow us to create non-stylesheet dependencies in sass: https://github.com/nex3/sass/issues/144

this is specifically to handle this issue.

[2011-08-02 17:35] chriseppstein commented on #117
or not.

[2011-08-02 20:08] scottdavis commented on #498
these are directly using the ruby math functions i dont know what else to say:
https://github.com/chriseppstein/compass/blob/stable/lib/compass/sass_extensions/functions/trig.rb

[2011-08-02 20:13] scottdavis commented on #486
_nudge_ @chriseppstein

[2011-08-02 20:14] scottdavis commented on #461
you no longer need the sass gem in rails 3.1 just sass-rails

[2011-08-02 20:14] #461 closed, assigned to nobody

[2011-08-02 20:16] scottdavis commented on #472
is this already in blueprint? can you provide a link we only add things to blueprint that are in the official repo reopen it if thats the case

[2011-08-02 20:16] #472 closed, assigned to nobody

[2011-08-02 20:17] scottdavis commented on #482
this still a problem?

[2011-08-02 20:20] tomstuart commented on #472
As explained, Blueprint sets `overflow: hidden` on `.clearfix:after` and `.container:after` but not on `.container`. You can see this in [Blueprint's grid.css](https://github.com/joshuaclayton/blueprint-css/blob/master/blueprint/src/grid.css).

[2011-08-02 20:32] tyrinslys commented on #498
Thanks for the link. Look at line 21 of the link you provided. I think that '&&' should be an '||'

The [documentation reads](http://compass-style.org/reference/compass/helpers/trig/), "_If the number is unitless or has a unit of deg then it will return a unitless result. Degrees will first be converted to radians._"

In other words if deg is the unit or has no units then do radian conversion else

[2011-08-02 21:07] masterkain commented on #461
@huerlisi yeah I'm doing that, old post, keeping up with the changes

[2011-08-02 22:21] scottdavis commented on #498
you are correct working on a fix

[2011-08-02 22:28] scottdavis commented on #498
since im super rusty at my trig does this test case look correct? https://github.com/chriseppstein/compass/blob/stable/test/units/sass_extensions_test.rb#L67

[2011-08-02 22:49] #498 closed, assigned to nobody

[2011-08-02 22:51] snitko commented on #501
No, wait, it wouldn't be slow. We do cache them, I probably gave a misleading title. We just rebuild them when one of the files in the sprite source did changed. And this is not what happens now. It is is somewhat broken to have to change the .scss file that imports the sprite.

[2011-08-02 22:51] krisbulman commented on #497
ruby 1.8.7 (on OS X Snow Leopard)

[2011-08-02 23:00] chriseppstein commented on #501
Agree that you shouldn't have to invalidate the importing stylesheet. But this is unlikely to change until the next major sass release.

[2011-08-02 23:51] tyrinslys commented on #498
I have grouped by degree for easy reading. There are cases where I don't know how the test should be handled (infinity and (neg)infinity for the tan functions and the rounding test) But other than that this should be a complete.

Update:
actually the last tests for rounding should be fine how you had them, so I am updating this post.

Another Update:
See this gist instead (I am still learning gith

[2011-08-03 00:59] scottdavis commented on #497
try using 1.9.2 i had issues with chris's version of nanoc on 1.8.7

[2011-08-03 11:12] rwz commented on #337
@metaskills, still not working in production. works well in development though.

[2011-08-03 11:14] metaskills commented on #337
I suspect your are supposed to pre-compile for production. Did you notice to how the :assets gem group is even excluded from the production env? I suspect that further enforces my hunch too. FYI, I have precompiled with success but not yet deployed my 3.1 app to production.

[2011-08-03 11:49] natebird commented on #337
@metaskills Thanks for the article. It helped me through a couple hurdles. There is a lot to document and explain about how the asset pipeline works - especially with css frameworks like Compass. I hope to compile my notes into a blog post here soon too.

[2011-08-03 14:47] brentkirby commented on #337
[Ruby on Rails Guides: Asset Pipeline](http://edgeguides.rubyonrails.org/asset_pipeline.html) Maybe that helps some people?

I'm not sure you could place compass in your :assets group, since I'd imagine the gem needs to be installed for sass-rais/sprockets etc to find the assets/stylesheets during the precompile, maybe not? Either way you definitely need to precompile them in production. Sass/comp

[2011-08-03 22:16] tdreyno opened #503 "Blueprint @function reference throws Sass error"
With Compass 0.11.5 and Sass 3.1.6 (on both ruby 1.8.7 and 1.9.2), importing the blueprint framework via:

[code]

Throws the following error (in Sinatra):

[code]

I've tracked down the error to blueprint/_grid.scss and the lines (112):

[code]

If I comment that out, the error goes away.

[2011-08-03 22:26] tdreyno commented on #503
Debugged further, the ONLY occurs on sass 3.1.6. Version 3.1.5 works fine.

[2011-08-03 22:55] chriseppstein commented on #503
@nex3 ping

[2011-08-04 09:26] skwrl opened #504 "compass create using blueprint raises an error"
On debian with a fresh compass install, creating a new project using blueprint raises a fatal error: NoMethodError

Here's the command I used

[code]

And here's the result: https://gist.github.com/1124821

[code]

[2011-08-04 11:39] rizkysyazuli opened #505 "mysterious png error"
i got this weird error:

[code]

here's what i got on line 221:

[code]

i'm on mac OS Lion, with ruby 1.8.7 and gem 1.8.6 installed. i've updated compass to the latest (0.11.5) but it still shows the same error.

[2011-08-04 14:58] yevgenko commented on #504
I'm encountering exactly same issue(output), but with [Susy](http://susy.oddbird.net/)...

[2011-08-04 15:52] skwrl commented on #504
Is blueprint working for you ?
Cause I tried susy and oddly enough it works fine here.

[code]

Then I used this command to create the project:

[code]

[2011-08-04 16:12] yevgenko commented on #504
Oh, default susy projects works fine for me, but I'm actually looking
at [320+susy](https://github.com/ericam/320-susy) which throwing the
same error you reporting...

[2011-08-04 16:13] yevgenko commented on #504
and same error with blueprint...

[2011-08-04 16:48] yevgenko commented on #504
I was able to get [320+susy](https://github.com/ericam/320-susy) working by commenting out `@import compass/layout` in sass/_base.sass and clearing .sass-cache

[2011-08-04 19:40] awmartin commented on #504
I've encountered the same error with an already existing compass+blueprint project. I attempted `compass compile` with version 0.11.5 and the same NoMethodError appeared.

[2011-08-04 21:55] Kevnz opened #506 "Extend when used with sprites puts some classes out of order"
We are using the extend function with the spriting features of Compass and in IE6 the hover classes are wrong. What happens is the generated CSS has the hover style applied in the wrong order and since IE6 doesn't do multiple class selectors it applies the hover style to the default style.
So in our code we had

[code]

But when changed back to using the icon sprite it works as expected.

I hope t

[2011-08-04 22:04] chriseppstein commented on #506
can you show the actual and expected output please?

[2011-08-04 22:12] chriseppstein commented on #504
this is a sass bug. Please downgrade to sass 3.1.5 as a work around.

[code]

[2011-08-04 22:12] chriseppstein commented on #504
I opened a bug against sass: https://github.com/nex3/sass/issues/149 Closing this here.

[2011-08-04 22:12] #504 closed, assigned to nobody

[2011-08-05 01:34] wrumsby commented on #506
Hey Chris,

Actual output was:

[code]

expected output for the above would be (unless we are misunderstanding):

[code]

So, sometimes `.add` is appearing as the second selector, rather than the first selector, which confuses IE6.

[2011-08-05 02:45] dfischer commented on #337
So what I'm trying to figure out is what is the proper way to include files into application.css?

I see a few people using require_tree and then a few other people not using require_tree and using glob imports `@import "*";`

I've noticed giant performance hits using the sass glob import. Anyone have feedback or comments on this?

I think people are getting confused on what "the right way is."

[2011-08-05 03:27] brentkirby commented on #337
You can use `require_tree` or any of the sprockets helpers... but your going to need to include any "globals" in all of your files. Sprockets also won't find partials (that I know of).

For instance, say you  have 3 files

application.css.scss
_mixins.css.scss
something_else.css.scss

In application.css.scss if you do

[code]

When something_else is compiled, if you use any mixins from _mixins.css

[2011-08-05 03:44] sj26 commented on #337
It's important to know the difference between sprockets and sass.

Sprockets is a pre-processor. It essentially stitches your css files together. It does this AFTER filtering them through sass, so anything shared between sass files has to be imported by sass so it's available at filter time.

[2011-08-05 04:56] spohlenz commented on #500
If it's of any help, requiring `compass` before `sass-rails` seems to work around the issue for me.

[2011-08-05 04:57] stevenyxu commented on #500
Indeed; sass-rails just overwrites the method. Thanks for the suggestion in
any case. Here's hoping it saves time for others folks who stumble on this
issue. I'm only sorry I didn't post the solution myself. I don't want to
become "oh I fixed it. nvm"-guy.

On Fri, Aug 5, 2011 at 12:56 AM, spohlenz <
reply@reply.github.com>wrote:

[2011-08-05 08:52] chriseppstein commented on #504
fixed in sass 3.1.7

[2011-08-05 09:43] skwrl opened #507 "nanoc integration tutorial leads to error"
Following the formal integration part of the [tutorial](http://compass-style.org/help/tutorials/integration/) for nanoc3 leads to nanoc crashing with a _NameError: uninitialized constant Compass_

[2011-08-05 19:23] marvinahv commented on #469
You can have the shorthand css output, just omit the commas in your constructor.

@include transition(color 0.2s ease-out); //  Without the commas

will output:

-moz-transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;

Hope that helps!

[2011-08-06 16:27] doctyper commented on #465
While I like the idea, I would suggest that this feature be opt-in. There are scenarios where you don't necessarily want hardware-accelerated transforms. In some cases they behave weirdly; they can mess with your z-index values or even positioning.

Suggestion: have the translate3d mixin output 2d equivalents (or as close as you can get) to non-3d browsers. This would then imply that you are reque

[2011-08-06 21:19] scottdavis commented on #500
the issue is that compass and sass-rails image_url helpers take different arguments. compass needs to be able to detect if sass-rails is loaded and alias the functions

[2011-08-07 10:22] johanbrook commented on #469
Actually, it does not for me.

Having this in the Sass file:

[code]

.. produces this weird mess:

[code]

I'm on Compass 0.11.3. It should behave as you described it, but it simply doesn't.

[2011-08-07 19:19] huerlisi commented on #500
@spohlenz and how do you achieve `compass` being required before `sass-rails`? Switching lines in `Gemfile` didn't help, adding an initializer requiring them didn't work out, either.

[2011-08-07 23:45] spohlenz commented on #500
@huerlisi an initializer is probably to late in the boot process. Try putting the requires directly in `config/application.rb`.

[2011-08-08 09:30] huerlisi commented on #500
@spohlenz thanks, works now!

[2011-08-08 15:10] doctyper commented on #289
I was actually just working on a patch for this when I came across this issue. Patch:
https://github.com/doctyper/compass/commit/50c7c551408f3a3e10daa2ab33d55e4a11c3e8c3

As you can see it takes a lot of customization (unless I'm missing some helper functions?) Unfortunately I did have to "bake-in" prefixed properties in order to get the patch to work.

@chriseppstein Thoughts? Would this be a val

[2011-08-08 17:55] johnnym commented on #500
@huerlisi, can you explain what you did exactly? I added `require 'compass'` and `require 'sass-rails'` to `config/application.rb`, but it seems that `image-url` still isn't being overridden by sass-rails.

[2011-08-08 18:01] huerlisi commented on #500
@johnnym, see https://github.com/huerlisi/bookyt/blob/rails3.1/config/application.rb

[2011-08-08 18:05] huerlisi commented on #500
@johnnym, just realizing that I had to play a bit with `rake assets:clean` and `rake tmp:clear` to get the stylesheet actually rebuilt.

[2011-08-08 18:25] johnnym commented on #500
Thanks! The cache was the problem. I would have expected it to have been rebuilt automatically since I changed all the `asset-url`'s I was using to `image-url`, but clearing it worked.

[2011-08-09 15:39] scottdavis commented on #500
Just to warn you all the above solution is not the correct one it may make it work but the compass and sass-rails helpers take different arguments so down the line once this is fixed you will have to refactor.

https://github.com/rails/sass-rails/blob/master/lib/sass/rails/helpers.rb#L13
https://github.com/chriseppstein/compass/blob/master/lib/compass/sass_extensions/functions/urls.rb#L51

[2011-08-10 16:15] rawfolio commented on #469
Getting the same issue..

[2011-08-10 16:57] piouPiouM commented on #362
When I declare the variable `$rx-repeat: repeat-x;` or `$rx-header-repeat: repeat-x;` before a `@import "rx/*.png;", the property`background-repeat`is not applied _via_, for example, the call to`@include rx-sprite('header');`.

Is there a connection with this bug?

Note: I use Compass 0.11.5.

[2011-08-10 18:04] scottdavis commented on #362
its not a bug its just a feature request =)

[2011-08-11 04:02] marvinahv commented on #469
Maybe that. I am on Compass 0.11.5 and Sass 3.1.5 and it works fine with those versions. Have you tried upgrading to the new version?

[2011-08-11 10:04] piouPiouM opened #511 "Sprite: unable to align right (100%)"
If we have this code:

[code]

and my `menu-separator` is not aligned right (100%).

How to align to right an image of a sprite? With lemonade it was enough to specify an offset-x 100% for the image to be generated at the right in the sprite.

Compass version: 0.11.5

[2011-08-11 11:13] jenshedqvist opened #512 "<sprite>-sprite uses old non-existent sprite map"
I'm importing the same sprite generation include in two different SCSS files:

[code]

The `_sprites.scss` contains:

[code]

Everything works fine in `screen.scss` and it uses the new sprite-map "icon16-sbd1401becc.png". However, my `jquery.ui.selectmenu.theme.scss` tries to use the old <b>non-existent</b> sprite map "icon16-s171549091d.png".

I've tried removing the new sprite map and generate i

[2011-08-11 14:30] piouPiouM commented on #511
Same with this code:

[code]

See the generate sprite:
![icon-s4a2e5f1182.png](http://farm7.static.flickr.com/6124/6032506114_26853aeb1c_o.png)
With lemonade, the last image (the arrow) was positioned on the right of the sprite.

[2011-08-11 16:17] scottdavis commented on #512
run compass clean and try to recompile also mind posting the source snippets that are giving you issues it sounds like something is hard coded?

[2011-08-11 16:22] scottdavis commented on #511
<pre>
@include icon-sprite('menu-expand', false, 100%, 11px);
</pre>

setting this 3rd argument to 100% is not going to effect the output image generation the image generation is effected by the configuration variables.

try setting the `$<map>-<sprite>-position` variable to 100%

[2011-08-11 16:36] piouPiouM commented on #511
It's work fine (thx!) but the generate CSS is `background-position: -197px -125px;` and not `background-position: 100% -125px;`. Unfortunately, the image is displayed on the left and not right.

I test with `$icon-position: 100%` and `$icon-menu-expand-position: 100%` (I want to use).

[2011-08-12 01:31] scottdavis commented on #511
this sounds like a bug lets bug @hagenburger and see what he says

[2011-08-12 14:09] jenshedqvist commented on #512
It worked after I restarted my computer which I seldom do. Nothing was hard coded, apparently sometimes something get's stuck in the pipes, maybe a Win 7 issue who knows.

[2011-08-14 20:07] evansagge opened #513 "sprockets and sprites (rails 3.1)"
I have this defined in app/assets/stylesheets/icons.css.scss

[code]

In development mode, this works fine. I get an `icons-s17f1c1a7aa.png` generated in app/assets/images/, and the icons show up fine when I use them.

But when I deploy with sprockets, it renames the generated sprite to something like `icons-s17f1c1a7aa-c8a6d4369227ac689dc8f40706521d68.png`, but the background-image used by the ge

[2011-08-14 20:21] scottdavis commented on #513
short anwser no

On Sun, Aug 14, 2011 at 4:07 PM, evansagge <
reply@reply.github.com>wrote:

[2011-08-15 02:38] scottdavis commented on #513
we are working on it not eta yet chris still has a lot todo

[2011-08-15 02:38] #513 closed, assigned to nobody

[2011-08-15 11:24] thedarkone commented on #490
`Malformed version number string 0.12.0.alpha.0.` errors are a result of quite a spartan ENV setup under which Passenger's ruby is started. You probably have `git` installed via MacPorts and its additional path prefix (`/opt/local/bin`) isn't prepended to the $PATH env var.

Compass tries to use current `HEAD`'s hash for its version string, but fails because the `git` binary isn't available: https

[2011-08-15 21:59] ericdfields opened #514 "Integrating what bourbon has that compass doesn't"
I'd like to pull in the few really nice Bourbon additions that compass doesn't have, I've identified the following as all the features from Bourbon that Compass _doesn't_ have in some form or another:
## Functions

  compact(_args)
  golden-ratio(_args)
  shade(_args)
  tint(_args)
## Mixins

  animation
## Addons

  animation-keyframes (fade-in, fade-out)
@ button(_args)
@ position(_args)

Which

[2011-08-15 22:38] chriseppstein commented on #514
Under what license is bourbon released?

[2011-08-16 00:05] ericdfields commented on #514
MIT: https://github.com/thoughtbot/bourbon/blob/master/LICENSE

[2011-08-16 09:43] piouPiouM commented on #512
I encounter the same problem after renaming my directory "sprites" in another name.

Compass 0.11.5
ruby 1.9.2p180 (2011-02-18 revision 30909) [x86_64-darwin10.6.0]
Mac OS X

**Edit:** no improvement after reboot.
**Note:** the directory is under SVN

[2011-08-16 11:58] murdoch opened #515 "Could not find compass (>= 0) amongst [actionmailer-3.1.0.rc5 etc]"
I have just upgraded to rails3.1.rc5 and get the following error message when I run: compass init rails -r html5-boilerplate -u html5-boilerplate --force

/home/stephen/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/site_ruby/1.9.1/rubygems/dependency.rb:247:in `to_specs': Could not find compass (>= 0) amongst [actionmailer-3.1.0.rc5, followed by every gem on my system]

I'm using the rails31 branch. Here's

[2011-08-16 12:38] scottdavis commented on #511
try `icon-position($icon, 'menu-expanded', 100%);`

[2011-08-16 12:47] murdoch commented on #515
ok, I managed to get the initializer to run by installing 0.11.5 stable gem.

I will figure the rest out from here/

[2011-08-16 12:47] #515 closed, assigned to nobody

[2011-08-16 17:29] chriseppstein commented on #515
Use:

[code]

Instead of:

[code]

On Aug 16, 2011, at 4:58 AM, murdochreply@reply.github.com wrote:

[2011-08-17 11:31] netzpirat commented on #491
FYI: FSSM uses the rb-fsevent and rb-inotify libraries, and has polling and FSEvent via RubyCocoa implemented. Guard also uses rb-fsevent and rb-inotify, and has polling implemented. In order to remove duplicate effort, the Guard team is planning to use FSSM and remove its own implementation and contribute to FSSM.

[2011-08-17 14:05] scottdavis commented on #491
ugggg -1

[2011-08-17 14:16] netzpirat commented on #491
We haven't decided anything yet, but we talked about testing FSSM on a separate branch and see how it behaves. Can you please give some more details why you wouldn't suggest FSSM?

[2011-08-17 14:23] scottdavis commented on #491
well chris will need to comment more but from what i understand it hasn't been too actively maintained.

[2011-08-17 14:35] netzpirat commented on #491
Ok, so no technical issue then.

I spot travis (the maintainer of FSSM) as very competent and active in the area of file system notification. He put a lot of effort into rb-fsevent lately and improved it a lot! So he did in fact maintain it one layer deeper :P

[2011-08-17 16:07] scottdavis commented on #491
OSS inception

[2011-08-17 20:23] camelpunch commented on #490
Thanks, that sounds about right. Will close in anticipation of this being the fix.

[2011-08-17 20:23] #490 closed, assigned to nobody

[2011-08-19 11:35] wakiki opened #516 "rails 3.1 asset pipeline exponentially slow with compass"
Using rails 3.1's new way of writing css files, I have about 30 .css.sass.erb files in my /assets/stylesheets directory

each of them uses blueprint and compass mixins like +column(x), so I have to include compass and blueprint at the top of each file.

The result is that it takes about 2-3 minutes to compile the stylesheet via sprockets the first time, and every time I change any css it takes abo

[2011-08-19 11:36] wakiki commented on #516
Whoops forgot to include compass gem!

gem 'compass', :git => 'git://github.com/chriseppstein/compass.git', :branch => 'rails31'

[2011-08-19 13:06] scottdavis commented on #516
rails 31 integration isn't perfect yet and we are working on it keep an eye on the main ticket https://github.com/chriseppstein/compass/issues/337

[2011-08-19 22:48] alibosworth opened #517 "Sprite creation deletes any images with that prefix"
Specifically I have a folder _images/clients/_  containing images which are sprited.

I also have a completely separate image _image/clients-background.png_

When compass sprites the _/clients/_ directory, it correctly creates _images/clients-sb7ab70ede7.png_, but it also deletes _image/clients-background.png_, presumably as part of its cleanup process

are sprite prefixes considered a reserved na

[2011-08-19 23:50] scottdavis commented on #517
no this is a bug and it was caused when we updated the sprite hash by prefixing it with -s the regex for clean up needs to be updated and ill do that now

[2011-08-19 23:54] scottdavis commented on #517
this is the problem line: https://github.com/chriseppstein/compass/blob/master/lib/compass/sprite_importer.rb#L8 so whats fun here is background does satisfy the hex match

[2011-08-20 00:02] scottdavis commented on #517
ok ive fixed this on master i hope

[2011-08-20 00:03] #517 closed, assigned to nobody

[2011-08-20 00:28] chriseppstein commented on #517
No. This is a bug, the sprite code can be smarter :)

On Aug 19, 2011, at 3:48 PM, alibosworthreply@reply.github.com wrote:

[2011-08-20 23:47] brentkirby opened #518 "add sprites_path/sprites_dir configuration"
This one has been bugging my OCD for a while :)  Currently compass uses the images_dir/path for sprites, meaning by default both the sprite source files, and the resulting generated sprite files exist in the same path.

When using `compass compile`, or `compass watch` on a static/standalone site you can configure css_path/dir etc to your public/root path and keep your sass/scss files separate, mak

[2011-08-21 01:09] scottdavis commented on #518
This is implemented in 0.12

Sent from my iPhone

On Aug 20, 2011, at 7:47 PM, brentkirbyreply@reply.github.com wrote:

[2011-08-21 01:14] scottdavis commented on #518
https://github.com/chriseppstein/compass/blob/a82a3dd5d4a26d3716cedf7ead4690ae9ace4fef/doc-src/content/CHANGELOG.markdown

Also seams I can't spell search while drinking

Sent from my iPhone

On Aug 20, 2011, at 7:47 PM, brentkirbyreply@reply.github.com wrote:

[2011-08-21 01:18] brentkirby commented on #518
nice! This makes my OCD is happy :)  Always drove me nuts they were in the same path.

[2011-08-21 01:18] #518 closed, assigned to nobody

[2011-08-21 04:49] chriseppstein commented on #518
I added this on the rails31 branch earlier today :)

Hunt & pecked on my iPhone... Sorry if it's brief!

On Aug 20, 2011, at 4:47 PM, brentkirbyreply@reply.github.com wrote:

[2011-08-24 18:28] alanhogan opened #519 "image-url/image_url failing to generate correct path in rails 3.1rc6"
All of a sudden… both `image-url` and `image_url` functions are generating URLs that omit the `/assets/*` prefix, resulting in 404-ing background image resources.

[code]

[2011-08-24 18:58] chriseppstein commented on #519
all of a sudden? What changed between before and after?

[2011-08-24 19:14] ttilley commented on #394
I can't reproduce this bug locally, and everyone who reports it to the rb-fsevent issue tracker seems to magically fix it at some later point by upgrading xcode, tweaking a setting, or something entirely unrelated. I have an open ticket with apple hoping to get a few details clarified (especially regarding the new, but essentially undocumented, file-level events).

This hasn't been dropped or igno

[2011-08-24 19:46] alanhogan commented on #519
Seemingly nothing, but I did just update from Rails 3.1 rc5 to rc6 and do a `bundle update` (I noticed sprockets changed, but it looks like a trivial update).

[2011-08-24 22:10] stevepiercy commented on #394
@ttilley what is the IRC channel or handle to troubleshoot in real-time? If I had known about how to get help in real-time, I would have jumped at the chance.

I had this issue on 10.5, and like kmiyashiro above, after an OS update and a restart, the problem has gone away.
https://github.com/chriseppstein/compass/issues/394#issuecomment-1491511

[2011-08-24 22:58] ttilley commented on #394
I'm usually on irc.freenode.net as either Aphelion or ttilley (though more often idle than not). I suppose the best channel for anything rb-fsevent specific would be #guard rather than #compass.

[2011-08-24 23:44] qnm commented on #519
It may be that compass is over-writing the image_url method from sass-rails. Look at https://github.com/chriseppstein/compass/issues/500 to see if it helps you.

[2011-08-25 09:25] xn commented on #337
Seems like things have shifted again. I updated my asset related gems in my bundle and am now having problems with my sprites.

They were returning:
 url("/assets/ui-sad67d660bc.png")

Now they are returning:
url("/app/assets/images/ui-sad67d660bc.png")

Selected current bundle:
compass (0.12.0.alpha.0.f23bf58 f23bf58)
rails (3.1.0.rc6)
sass (3.1.5)
sass-rails (3.1.0.rc.6)
sprockets (2.0.0.beta.14

[2011-08-25 10:34] rwz commented on #337
@xn It's this bug: https://github.com/chriseppstein/compass/issues/500

Here's the ugly way to fix it for now:
in your application.rb after `require 'rails/all'` add this:
[code]

And don't forget to remove this shit after the bug is fixed
[code]

[2011-08-25 16:23] dfischer commented on #500
Any updates on this issue?

[2011-08-25 16:29] scottdavis commented on #500
Chris wants to do a alpha this week I think

Sent from my iPhone

On Aug 25, 2011, at 12:23 PM, dfischerreply@reply.github.com wrote:

[2011-08-25 19:09] alanhogan commented on #519
Thanks, @qnm, but nothing in that issue helped.

✓ My config/application.rb begins:

[code]

✓ Compass appears (as a Git reference) before `sass-rails` (as a gem) in my `gemfile`

✓ I have restarted the server after doing `rake assets:clean` and `rake tmp:clear`

✓ I have attempted both `image-url('facebook_16.png')` and `image_url('facebook_16.png')`

✗ Either way, I end up with references to `/f

[2011-08-25 19:10] alanhogan commented on #500
See also: #519. Probably the same issue, but none of the fixes in this thread have worked for me.

[2011-08-25 21:41] xn commented on #337
Sadly, I already have that and it doesn't work. I've also checked bug #519.

[2011-08-25 22:11] botandrose commented on #477
Turns out the font file wasn't being base64 encoded. I've sumitted a pull request to fix this: https://github.com/chriseppstein/compass/pull/520

[2011-08-25 23:22] dfischer commented on #519
I don't know if it's related but I'm getting odd paths like this ->
/app/assets/images/ui-xxx.png

Tried the above like @alanhogan poinrted out. I'm not sure why mine has full path and his removed everything.

[2011-08-25 23:34] alanhogan commented on #519
@dfischer's comment gave me the idea of double-checking for maybe a stray Compass config file (`config.rb`, I believe) but I’ll be damned if I have one.

[2011-08-26 20:55] dfischer commented on #519
Yeah no luck on that myself. I thought that's what it is... and I tried playing with a config.rb file to hack it to work with proper paths but no luck.

[2011-08-26 21:08] alanhogan commented on #519
I guess the crazy thing is that it seems to be working for some (a majority of?) other people. It doesn’t for you or I, or my co-worker, though.

[2011-08-27 19:03] sporkd commented on #519
I just ran into the same problem.  Had to change them all to `asset-url("filename.png", image)`

[2011-08-27 23:24] alanhogan commented on #519
@sporkd Huh, thanks for the tip — it doesn’t work for me, though.

`asset-url('facebook_16.png', image)` ends up as literally `asset-url("facebook_16.png", image)` in my CSS.

[2011-08-28 01:37] alanhogan commented on #519
I mean, do I have to make my `.css.scss` files `.css.scss.erb` files or something for this to work?

[2011-08-28 12:09] silvenon opened #521 "apply-side-rhythm-border mixin"
This mixin relies on negative padding, which browsers don't allow, so it doesn't really work.

[2011-08-28 18:20] stevenyxu commented on #500
For the folks who need a fix "yesterday", I can still manage to get around the issue (in what I hope is a forwards-compatible way) by using an ERB stylesheet instead. So, I still have the old included stylesheet:

[code]

But then, I've just added a line to "application.css.scss.erb" (rename if necessary):

[code]

In some future point when this gets fixed, I can remove the line from application.c

[2011-08-28 22:33] sporkd commented on #519
Nope.  I believe that image-url is just a convenience method in sass-rails for calling asset-url.  And it works for me with just a .scss extension.  So whatever's causing image-url to not add `/asset` to the front, is not breaking asset-url.  At least for me.

[2011-08-29 14:42] johanbrook commented on #469
Recently upgraded, and it seems this is fixed. Awesome!

[2011-08-29 14:42] #469 closed, assigned to nobody

[2011-08-29 18:36] alanhogan commented on #519
What version of `sprockets` is everyone using? Me, I’m on `2.0.0.beta.15`. For those of you who do not have a problem — which version are you on?

[2011-08-29 18:50] alanhogan commented on #519
I seem to still be having this problem after updating to Rails 3.1.0.rc8.

[2011-08-29 20:21] chriseppstein commented on #337
just pushed a bunch of changesets to the `rails31` branch. It should make sprites work and clear up the extra `/app/assets/` in asset urls. i'm hoping to release a v0.12 beta release very soon with proper rails 3.1 support, please let me know what further issues you are facing so I can address them asap.

[2011-08-29 20:29] chriseppstein commented on #519
just pushed a bunch of changes to the rails31 branch. please retest.

[2011-08-29 21:16] xn commented on #337
Awesome. I'll be testing that today. Thanks!

[2011-08-29 21:29] lunks commented on #337
Working awesomely here. Thank you very much!

On Mon, Aug 29, 2011 at 18:16, xn
reply@reply.github.com
wrote:

[2011-08-29 23:39] scottkf commented on #337
So far so good Chris, thanks!

[2011-08-29 23:50] alanhogan commented on #519
Sorry, @chriseppstein. Still not working.

A touch anxious about the fact no clear cause of the problem seems to have been found.

Thanks for looking into this…

[2011-08-30 00:14] chriseppstein commented on #519
@alanhogan really looks like sass-rails is not even required. Please verify that it is or not.

[2011-08-30 00:21] alanhogan commented on #519
Oops, I take it back. Most of the places the problem was occurring are now solved!

STRIKE: One background image is still failing to load because of a separate issue (the generated path begins with `/` and the page I was looking at was on a different subdomain, hence total failure to load the image. At least I think that is the problem. Suggestions to work around this? Can I force asset-url to gen

[2011-08-30 00:22] alanhogan commented on #519
@chriseppstein Removing sass-rails from my `gemfile` and `application.rb` results in:

[code]

[2011-08-30 00:28] alanhogan commented on #519
Updated previous comment. Absolutely everything seems to work now.

[2011-08-30 00:34] chriseppstein commented on #519
@alanhogan any url that is fully qualified or root relative will be passed through directly to the output, but usually it's better to just use the css `url()` function in those cases.

with respect to your next comment please link to a gist with the stack trace.

[2011-08-30 00:34] chriseppstein commented on #519
please close this when you're satisfied :)

[2011-08-30 00:43] #519 closed, assigned to nobody

[2011-08-30 01:43] alanhogan commented on #519
@chriseppstein FWIW, the stack trace you requested:

https://gist.github.com/1179939

[2011-08-30 04:44] rwz commented on #337
Having error after this update. The error only happens on production server (can not reproduce in production env on my dev machine) during css compilation.

[code]

Using rails 3.1.0.rc8, sprockets 2.0.0, Gemfile:

[code]

application.rb:

[code]

[2011-08-30 06:00] chriseppstein commented on #337
What versions of rails, sprockets, sass, sass-rails, and compass do you have and can you make sure this is reproducible when they are all at the very latest version?

[2011-08-30 06:56] rwz commented on #337
Latest versions of everything. Tried `sass-rails` with `'~> 3.1.0.rc'` and with `:git => 'git://github.com/rails/sass-rails.git', :branch => '3-1-stable'``

Like i said, i can't even reproduce it on my dev-machine. It only happens on production server.

Here is the Gemfile.lock: https://gist.github.com/52b657617a05ba632f88

[2011-08-30 07:40] chriseppstein commented on #337
Ok everyone. I have shipped compass 0.12.alpha.0 which has rails 3.1 support that I think should mostly work now. I am closing this most epic issue and we'll address any further problems in more specific new bugs. Thank you for your patience. Sorry it took so long.

Going forward install the prereleases or use the master branch.

[2011-08-30 07:40] #337 closed, assigned to chriseppstein

[2011-08-30 12:01] kaleb commented on #401
This would be nice. I just started using compass (with webputty.net) and could not figure out why my repeating-linear-gradients were not working.

[2011-08-30 17:28] mirisuzanne commented on #521
The padding will only be negative if you are using it wrong. You can't make the width of the border more than the number of rhythm-units you want to span.

We can add a warning when your numbers don't work, but the basic functionality does not need to be changed.

[2011-08-31 03:15] lloydk opened #522 "Compass does not work with Rails 3.1 and the asset pipeline disabled"
[code]

I generated a new Rails 3.1 (release) application. Then added compass 0.12.alpha.0 to my Gemfile and commented out the gems in the asset group (because sass-rails requires the asset pipeline to be enabled).

[code]

Edited config/application.rb to disable the asset pipeline:

[code]

It looks like the code that is in the [configure_rails!](https://github.com/chriseppstein/compass/blob/mast

[2011-08-31 04:34] lloydk opened #524 "Is 0.12 supposed to be backwards compatible with 0.11?"
Is Compass 0.12 supposed to be backwards compatible with 0.11?  After upgrading my Rails application to Rails 3.1 and Compass 0.12.alpha.0 the app/stylesheets directory is no longer in my load paths. Is this a bug or expected behavior?

[2011-08-31 07:41] lloydk commented on #524
Closing this issue as it looks like more work needs to be done to support Rails 3.1 with the asset pipeline disabled.

[2011-08-31 07:41] #524 closed, assigned to nobody

[2011-08-31 10:56] qichunren opened #525 "LoadError: no such file to load -- ./config/compass.class with jruby and wirble"
I deployed my rails project on JRuby.
rails 3.0.9
jruby 1.6.4
wirble (0.1.3)

my compass.rb file in config/ is:

[code]

I use warble war compand to generate .war file and deploy it with tomcat, but when I viist my app, got 500 error, and I found error mesage in tomcat log:

This is my log:

<pre>

lAug 31, 2011 6:38:23 AM org.apache.catalina.core.ApplicationContext log
INFO: Warning: no max runti

[2011-08-31 13:29] chriseppstein commented on #524
Did you enable the asset pipeline?

[2011-08-31 14:06] lloydk commented on #524
Still disabled for now, was going to fallback to 0.11.5 but that didn't seem to work either. My goal was to port my app over to Rails 3.1 with the asset pipeline disabled but it looks like enabling the pipeline might be the quicker option. I'd like to see Compass revert back to the "old" behavior if the pipeline is disabled but I couldn't come up with a quick patch so I went to bed :)

[2011-08-31 15:25] scottkf opened #526 "0.12.alpha.0 and "File to import not found...""
[code]

It's actually true for every file I try to import. Solving this was simply adding

[code]

to `application.rb`

However, is this something that should be done automatically, or, what am I missing here?

[2011-08-31 15:26] aaronchi commented on #500
works more simply with

[code]

only the image_url function seems to be affected

[2011-08-31 15:53] chriseppstein commented on #524
I have a idea for how it can work. Will try it soon.

[2011-08-31 21:00] silvenon commented on #521
Yeah, you're right. Padding is negative only if you use 0 $lines, so maybe there should be a warning that $lines should be greater than 0.

[2011-08-31 21:30] scottdavis commented on #526
run `bundle exec compass frameworks` in curious what the output is

[2011-09-01 03:49] rwz opened #527 "undefined method `static_root' for #<Sprockets::Index>"
I've made a blank new rails 3.1 app with compass and one sass file with sprites. And the `assets:precompile` rake task fails on this setup with two different error messages.

You can see the test app here: https://github.com/rwz/compass_static_root_bug

[2011-09-01 04:12] guilleiguaran commented on #527
The error of the second run was fixed with #2768, I don't have idea about the first one

[2011-09-01 04:14] guilleiguaran commented on #527
The first one:

https://github.com/chriseppstein/compass/commit/7147147e24121ffb03044c638a6a8b02b8fccb7f#L0R68

static_root was deprecated in Sprockets

[2011-09-01 09:19] maxguzenski opened #528 "Rails 3.1 and @include all-<name>-sprites;"
I've a issue when using compass (branch 3.1) with rails 3.1 that works in rails 3.0

//screen.css.scss at
@import "icons/gray16x16/*.png";
@include all-gray16x16-sprites;

So, a got this error on reload my browser:

Sass::SyntaxError: Invalid CSS after ".icons": expected selector, was "/gray16x16-add"  (in /Users/max/projetos/d4swing/ app/assets/stylesheets/screen.css.scss)";

ps.:  when use ".cla

[2011-09-01 10:48] Karolined commented on #300
Hi, I was looking at this problem today. Downloaded latest of compass, it compiled the css, but was ignoring the settings in my config.rb file. For me this seemed to be caused by running the compass commands from the wrong folder. I was running the compass compile/watch command standing in the folder above the one actually containing the config.rb file.

[2011-09-01 12:16] ijy commented on #300
Although I'm not quite using the latest version - still on Compass 0.11.5 (Antares). I've just re-tried it every which way I can think of but still no change. I have compass watching in one window which is correctly compiling all the changes to my stylesheets but it's completely ignoring my config.rb file. When just testing now even forcing compile (compass compile) doesn't work.

I have noticed t

[2011-09-01 13:41] chriseppstein commented on #528
This is likely because one of your filenames is not a legal CSS identifier.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Sep 1, 2011, at 2:19 AM, maxguzenskireply@reply.github.com wrote:

[2011-09-02 01:20] sroussey commented on #403
What happens when a folder is inside a folder?

@import "customFolderName/folder2/*.png";
@include all-customFolderName-folder2-sprites;

Though that doesn't work, with a Undefined mixin message.

[2011-09-02 02:01] alanhogan commented on #162
Firefox 5+ supports this style of animation.

https://developer.mozilla.org/en/CSS/CSS_animations

[2011-09-02 02:14] scottdavis commented on #528
@chriseppstein no it shouldn't be that i added a better error for that case:

https://github.com/chriseppstein/compass/blob/master/lib/compass/sprite_importer.rb#L81

it might be because you have a nested directory but im not sure. chris changed a lot of stuff and broke some things it seems

[2011-09-02 02:36] maxguzenski commented on #528
My filenames at icons/gray16x16/ is:

add.png, calendar.png, close.png, edit.png, home.png, message.png, search.png, trash.png and user.png

sprit was generated ok (file with all icons together) but styles is not.

I think that something in compass is trying to generate a style with name "/gray16x16", but should be just "gray16x16"

remember, it works right in rails 3.0 and last compass from rubyg

[2011-09-02 02:40] chriseppstein commented on #403
Just use the last folder name.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Sep 1, 2011, at 6:20 PM, srousseyreply@reply.github.com wrote:

[2011-09-02 03:27] scottdavis opened #529 "0.12 alpha issue with generated_image_url and rails 3.0.x"
<pre>
[sdavis@sdavis:hubble-breakthroughs (master)]$ RAILS_ENV=developmet bundle exec sass -i --compass

"url('/public/images/foo')"

</pre>

image_dir is the default

[2011-09-02 04:38] doabit opened #530 "rake aborted! PIE.htc isn't precompiled"
I use branch rails31,when i run "rake assets:precompile" get error:

[code]

index.scss

[code]

[2011-09-02 06:28] sroussey opened #531 "sprite position"
From the docs:

$<map>-position -- The position of the sprite in the sprite map along the x-axis. Can be specified in pixels or percentage of the sprite map's width. 100% would cause the sprite to be on the right-hand side of the sprite map. Defaults to 0px. E.g. $icon-position: 100%.

Sadly, it simply does not work.

And if that does get fixed, I thing the magic :hover stuff wouldn't pick it up a

[2011-09-02 06:33] sroussey opened #532 "sprite extra wordy for hover, etc"
Instead of just adding :hover, it also add several other choices, making the css real big.

.commerce-editor-tabbar .preview {
  background-position: 0 -480px;
}
.commerce-editor-tabbar .preview:hover, .commerce-editor-tabbar .preview.preview_hover, .commerce-editor-tabbar .preview.preview-hover {
  background-position: 0 -560px;
}

I would rather have:

.commerce-editor-tabbar .preview:hover, .co

[2011-09-02 06:37] sroussey opened #533 "Magic Sprite Selectors not applying background position"
From back in May:

http://groups.google.com/group/compass-users/browse_thread/thread/d2560d178f4518d8

It is pretty easy to see the bug in line 44:

https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss#L44

It _does_ get passed otherwise:

https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/

[2011-09-02 07:49] doabit commented on #530
Set   config.assets.compile = true  can works well.

 https://github.com/rails/rails/issues/2805#issuecomment-1976657

[2011-09-02 07:49] #530 closed, assigned to nobody

[2011-09-02 13:55] scottdavis commented on #532
There are a few use cases where having the extra class name is helpful in case you need to @extend etc we didn't we didn't implement this blindly if you check prior tickets you can see the discussions

Sent from my iPhone

On Sep 2, 2011, at 2:33 AM, srousseyreply@reply.github.com wrote:

[2011-09-02 13:56] scottdavis commented on #531
Are you running the alpha I pretty sure I fixed this?

Sent from my iPhone

On Sep 2, 2011, at 2:28 AM, srousseyreply@reply.github.com wrote:

[2011-09-02 15:25] #532 closed, assigned to nobody

[2011-09-02 15:25] scottdavis commented on #533
mind making a patch?

[2011-09-02 16:54] sroussey commented on #533
Looking around I think this is fixed in master, likely a while ago. Just have to wait I guess.

[2011-09-02 16:59] sroussey commented on #531
The second part of the issue I created a different ticket for, and indeed it looks fixed in master though not stable.

But the main part, setting position of 50% for example, doesn't seem to work in either case.

[2011-09-02 17:05] sroussey commented on #532
I tried creating my own mixin to "fix" this issue, but neither including it before nor including it after seems to have much effect. How do others deal with this?

[2011-09-02 17:11] scottdavis commented on #532
besides being a little verbose what exactly is the issue? if you don't want to extra classes you can turn off the magic selectors by setting the config option `$disable-magic-sprite-selectors` to `true`. but by doing this you will need to manualy create each state selector by using the `<whatever>-sprite` mixins

[2011-09-02 17:12] scottdavis commented on #533
master is pushed to the 0.12.alpha gem

[2011-09-02 17:12] #533 closed, assigned to nobody

[2011-09-02 17:13] scottdavis commented on #531
ok ill look into it

[2011-09-02 17:14] scottdavis opened #534 "Document `$disable-magic-sprite-selectors`"
needs to be documented

[2011-09-02 17:14] scottdavis commented on #528
would you mind making a small test project that i could play with?

[2011-09-02 17:20] #522 closed, assigned to nobody

[2011-09-02 17:21] scottdavis commented on #522
merged already closing

[2011-09-02 17:32] #511 closed, assigned to nobody

[2011-09-02 17:38] scottdavis commented on #500
this should be fixed in the current alpha

[2011-09-02 17:38] #500 closed, assigned to nobody

[2011-09-02 17:40] scottdavis commented on #491
so what we may do is use guard and let guard deal with fssm

[2011-09-02 18:18] lloydk commented on #522
This issue should be kept open until compass actually works with the asset pipeline disabled. Additional changes are necessary to get things working.

[2011-09-02 18:26] scottdavis commented on #522
oh i saw chris merged in your change i figured it was finished he didn't comment

[2011-09-04 07:44] krainboltgreene commented on #217
Similar issue:

[code]

And the error:

[code]

Works just fine in a project that doesn't use Compass.

[2011-09-06 14:47] Zettersten opened #536 "https, IE7, and SVG causing "mixed content" warning dialogs"
Please reference this issue on Modernizer for more details and possible solutions,
https://github.com/Modernizr/Modernizr/issues/218

On an https enabled domain - IE7 users get a "Mixed content" warning when CSS contains SVG data URI's.

Compass spits out:

[code]

Paul Irish suggests the following:

[code]

Where the term "data" goes away and is replace with two forward slashes.

Please review th

[2011-09-06 21:18] kremso commented on #527
@guilleiguaran: I was able to fix the first error by using the code you suggested.

https://github.com/kremso/compass/commit/1e5debe9388505d9dc993d4599d8dca696833f37

However, that didn't fix the second error. I was able to workaround that one by setting this in production.rb

   config.assets.compile = true

[2011-09-06 21:23] guilleiguaran commented on #527
@kremso, try using rails from 3-1-stable branch

[2011-09-07 02:36] #534 closed, assigned to nobody

[2011-09-07 11:25] ramontayag commented on #505
Yeah I get this too when I try to `image_url("icons/dimensions_24/clock.png")`

I'm using `compass '0.12.0.alpha.0.22e2458'` on the `rails_31` branch.

[2011-09-07 11:27] frarees opened #539 "Integration within Rails 3.1 and its Assert Pipeline"
I'm not a Guru on this topic, but:

I've installed compass **0.12.alpha.0**, then typed `compass init rails /path/to/app`. What I see is that it generated those files:

directory ./app/stylesheets/
   create ./config/compass.rb
   create ./app/stylesheets/screen.scss
   create ./app/stylesheets/print.scss
   create ./app/stylesheets/ie.scss

Following Rails' convention, shouldn't *.scss files rena

[2011-09-07 11:31] ramontayag commented on #539
It's not completely supported yet. There's been development on this end. For now you'll need to [do some stuff manually](http://stackoverflow.com/questions/6480124/how-to-use-compass-with-rails-3-1).

[2011-09-07 11:37] frarees commented on #539
Thanks for the info! Btw, I hadn't had to make any changes by myself, and I think everything is working out of the box! (Correct me if I'm wrong).

Just installing the gem, then moving those files to the proper folder (to fit the assets pipeline, in my case in `lib/assets`) did. At least, I can access those 3 stylesheets properly.

[2011-09-07 12:16] ramontayag commented on #505
Update: it seems my problem is because I'm using it to `replace-text-with-dimensions`

[2011-09-07 17:24] colszowka commented on #522
Since I am using precompiled assets via s3/cloudfront, I managed to work around this by moving the compass gem to the assets group, which is not used in production since `config/application.rb` states this: `Bundler.require *Rails.groups(:assets => %w(development test))`.

[2011-09-07 17:36] Zettersten commented on #536
I'd like to mention that the solution above only works for embedded **fonts (@font-face)**, not data images.

[2011-09-07 22:10] CaioBianchi commented on #300
The solution that I've found is restarting the "watch" function. it all works fine, perhaps a limitation. =\

[2011-09-07 22:14] jvivs commented on #421
+1.  would like to see how this works.

[2011-09-08 01:04] ramontayag commented on #539
Yup! It's not a lot of work to set it up manually.

[2011-09-08 18:24] Snugug opened #541 "compass install Doesn't Work if Not In Project Root"
The title says it all. Compass installs, especially of the type where you are requiring a library and installing it at the same time, do not appear to work if you are not in the root of your project folder. It will appear to work and the command line will return that it's worked, but it doesn't touch the config.rb file and it creates the structure it needs from the folder you are in.

[2011-09-08 20:33] chriseppstein opened #542 "make new compilation helper functions"
- `compass-env()` - returns `production` or `development`
- `current-date($format)`
- `current-time($format)`
- `current-source-file()`
- `current-output-file()`

[2011-09-08 20:48] chriseppstein commented on #541
compass install takes an argument to specify the directory.

[2011-09-08 20:50] Snugug commented on #541
Didn't know that. Perhaps some better documentation on compass install, or if you could point me to the compass install documentation, would be ideal.

[2011-09-08 21:15] chriseppstein commented on #541
all the cli is self documenting you can say `compass help <command>` or `compass <command> -h`

[2011-09-08 21:16] Snugug commented on #541
Oh, well thanks! I'll close this now, answers my question.
Thanks much for your help on Twitter today, and love Compass

[2011-09-08 21:16] #541 closed, assigned to nobody

[2011-09-09 00:58] ravinggenius opened #543 "font_files helper has no test coverage"
font_files helper really should have test coverage. I'd like to refactor it to be less obtuse, but it needs tests for the current implementation first.

[2011-09-09 01:03] ravinggenius opened #544 "font_files helper requires font types to be named explicitly"
Is this by design? I'd like to be able to leave off the font type if it could be inferred by the extension. I don't mind refactoring this myself. Any comments?

[2011-09-09 03:18] ravinggenius commented on #544
I went ahead and made the changes. Feel free to adjust if necessary.

[2011-09-09 08:40] ijy commented on #300
Does that consistently work for you? I can confirm that I've tried stopping and starting the watch as well as watching both the directory containing the config.rb file and the specific stylesheets directory and neither fixes things for me.

Like I said it seems to always get there in the end but it just seems inconsistent. I've changed my output compression from nested to compressed, stopped the w

[2011-09-09 11:59] scottdavis commented on #544
looks fine to me

[2011-09-09 14:18] CaioBianchi commented on #300
yes, it works fine! kinda inconvenient and the process kinda sloppy... but it works! I don't think it would be much work to just watch that ruby file for changes.

[2011-09-09 19:51] chriseppstein commented on #300
Some notes:
1. You _have_ to restart the watcher if the config changes.
2. Compass _should_ run a  "clean" if the config is newer than any existing css files.
3. The --force option exists for just this kind of reason. :)

As seen here, #2 seems to be working for me:

[code]

Are you sure there's a bug?

[2011-09-10 03:22] ravinggenius commented on #544
I added a pull request (issue #545).

[2011-09-10 03:23] ravinggenius commented on #543
I added a pull request (issue #545).

[2011-09-10 06:20] mwawrusch opened #546 "Recompilation of a single scss file with 30+ includes now takes 15 mins on Rails 3.1"
I do not preload mongoid models, I added rails-dev-tweaks but still got that lousy response time of 15 minutes per change in my css file. Interestingly precompilation does take seconds at most.

Not sure if this is compass' fault or sprockets's but I guess I start at the top of the food chain... In any case I could use some creative ideas how to speed that up.

[2011-09-10 10:23] ijy commented on #300
Hey Chris,

1) Sometimes it works, sometimes it doesn't
2) _'Should'_ but definitely not always. Actually not very often at all.
3) Probably the most useful command of them all. Thank the lord for manual overrides :)

As for a _'bug'_, well that depends purely on the intended operations of Compass along with the definition for bug. With --force there is an alternative way so it's not end of the wo

[2011-09-10 22:46] kevmoo opened #547 "Nuke the rails31 branch? Master is tracking 3.1 support, right?"
Just checking...

[2011-09-11 21:00] chriseppstein commented on #300
@ijy I need you to provide steps to reproduce that a change to the config doesn't cause a clean on the next compilation. I showed you the steps I was taking. Do those steps work or not for you?

[2011-09-12 20:26] mirisuzanne commented on #417
closed by 92981fb5d3

[2011-09-12 20:26] #417 closed, assigned to nobody

[2011-09-12 20:40] mirisuzanne commented on #521
added a note in the docs. closed by 7fced9373e

[2011-09-12 20:40] #521 closed, assigned to nobody

[2011-09-13 06:24] chriseppstein commented on #527
confirmed. this is a version inconsistency between rails and sprockets. nothing to do w/ compass.

[2011-09-13 06:44] rwz commented on #527
What about the static root bug? It's still not fixed in current master.

[2011-09-13 06:51] chriseppstein commented on #527
my bad. Compass does refer to static root.

[2011-09-14 15:09] adamhooper commented on #527
I've switched to kremso's commit 1e5debe9388505d9dc993d4599d8dca696833f37 instead of 0.12.alpha.0. It works for me. Any reason not to merge it?

[2011-09-14 15:11] guilleiguaran commented on #527
@adamh looks like @kremso haven't send a pull request

[2011-09-14 18:25] timkelty opened #552 "Allow --debug-info from command line"

[2011-09-14 18:56] scottdavis commented on #552
can you be a bit more descriptive?

[2011-09-14 18:58] scottdavis commented on #539
you no longer need to compass init rails with rails 3.1 just add compass to your Gemfile if you do need a config file you can create one in app/config/compass.rb and you can over ride the railtie defaults. the compass init command should probably warn you about this.

[2011-09-14 19:06] timkelty commented on #552
Sorry, yes.

I'd like to be able to invoke sass's --debug-info flag, but from compass watch/compile.

Currently in config.rb I can do:
`sass_options = {
  :debug_info => true
}`
But I'd also like to be able to do this, from the command line:
`compass compile --debug-info` or `compass compile --no-debug-info`

[2011-09-14 19:41] joiggama opened #553 "appearance mixin doesn't work with 'field' param value for an input[type=search] in webkit for mac"
When trying to use:

[code]

Does not actually makes my `input` element look like a normal field while browsing with chrome for mac (I guess it's the same for Safari). Playing with the DOM I saw `-webkit-appearance:  field` crossed. But it works with:

[code]

[2011-09-15 12:17] rwz commented on #527
Switched on rails 3.1.1.rc1 with kremso's compass fork. Works fine so far.

[2011-09-15 17:11] RobertDeRose commented on #337
How do you init a rails 3.1 using the 0.12.ahpa.0, particularly with trying to use the susy plugin

[2011-09-15 17:16] scottdavis commented on #337
@chriseppstein has a gist someplace

Sent from my iPhone

On Sep 15, 2011, at 1:11 PM, Crypticusreply@reply.github.com wrote:

[2011-09-15 18:03] RobertDeRose commented on #337
any idea where, because all the gist I found are dealing with setting up the gem file and compass.rb file, but nothing about using compass init rails, let alone how to setup using a compass plugin like susy

[2011-09-15 18:59] chriseppstein commented on #337
it doesn't mention compass init rails because rails has it's own generators which you should use now.

susy install is the same the same basic premise, require susy, install files. except you probably need to bundle exec:

[code]

I'll update [the gist](https://gist.github.com/1184843) with some more details. This gist will become official docs soon.

[2011-09-15 22:31] RobertDeRose commented on #337
Thank you very much Chris for the awesome work and pointing out the proper gist to follow.

[2011-09-16 21:39] chriseppstein commented on #553
@ericam ping

[2011-09-16 21:48] mirisuzanne commented on #553
If I understand right, this is simply a change to the docs? does 'textfield' work in place of 'field' on all browsers, or do we need both when 'field' is passed?

[2011-09-16 22:02] #543 closed, assigned to nobody

[2011-09-16 22:03] #544 closed, assigned to nobody

[2011-09-17 00:12] chriseppstein opened #555 "sprite tests broken in jruby for smart layout"
http://travis-ci.org/#!/chriseppstein/compass/builds/165943

[2011-09-17 00:12] chriseppstein commented on #555
same issue in rbx it seems: http://travis-ci.org/#!/chriseppstein/compass/builds/165944

[2011-09-17 00:15] chriseppstein commented on #547
you're right. it's deleted now.

[2011-09-17 00:15] #547 closed, assigned to nobody

[2011-09-17 00:17] chriseppstein commented on #546
sorry I didn't reply sooner. Can you move your stylesheets to a fresh app and reproduce this issue? If you can, please email that app to me for testing. chris@eppsteins.net

[2011-09-17 00:22] chriseppstein commented on #539
We need to deprecate that command for rails and emit a link to updated docs. Leaving this open to track those aspects.

[2011-09-17 00:26] chriseppstein commented on #536
ugh. this is such a clusterf*ck. IE7 is on it's way out. I don't see a clean implementation for it. Can you put your svg files in a different stylesheet and use conditional comments to load them or try some selector/browser hacks to hide this from IE7?

[2011-09-17 00:26] chriseppstein commented on #531
@scottdavis ping

[2011-09-17 00:28] chriseppstein commented on #528
@maxguzenski please help us debug this

[2011-09-17 02:25] scottdavis commented on #528
i bet this is related to the to_tree problem that nex3 just fixed

[2011-09-17 02:26] scottdavis commented on #555
yea im not sure what the deal is i don't know enough about jruby.. i donno if they are broken or just things are getting calculated differently in jruby, rbx

[2011-09-17 02:27] scottdavis commented on #531
havent goten to it yet

[2011-09-17 03:27] scottdavis commented on #531
so i found a inconsistant when we re did a lot of the core sprite code the docs sated `$<map>-<sprite>-postion` but the implementation was expecting `$<sprite>-position` im fixing the implementation to match the documentation as it does actually make sense.

note: `map` is the folder name and `sprite` is the individual filename

[2011-09-17 03:32] maxguzenski commented on #528
Sorry, I'll try with last compass 3.1 branch

[2011-09-17 04:47] scottdavis commented on #531
This should be now fixed in master if someone wants to verify a position of 50% works in my test app

[2011-09-17 04:48] scottdavis commented on #528
use master not 3.1 please

[2011-09-17 04:52] scottdavis commented on #555
i did a manual test and they are working fine in jruby, rbx the scan packer when using smart layout is just doing things differently for some reason I asked @johnbintz to look at it when he had time since he wrote 90% of that at railsconf

[2011-09-17 09:57] kremso commented on #527
Pull request sent.

[2011-09-17 16:04] johnbintz commented on #555
@scottdavis, try this: https://github.com/johnbintz/compass/commit/c9593794bdfab5f7ce5edecd8d12f988c3741450

[2011-09-17 16:05] FlyingDR opened #557 "Blueprint grid doesn't respect Compass settings for legacy IE support"
column-base() mixin from Blueprint (blueprint/grid and blueprint/rtl) renders [star html](http://www.dynamicsitesolutions.com/css/filters/star-html/) hack for old IE, but did it unconditionally while it (logically) should rely on $legacy-support-for-ie setting to determine if this hack should be rendered. Since column-base() is used intensively when building blueprint grids - resulted css code bec

[2011-09-17 18:32] chriseppstein commented on #557
This is a good idea. Can you please submit a pull request? Here's the tutorial on how to contribute: http://compass-style.org/help/tutorials/contributing/

[2011-09-18 05:14] joiggama commented on #553
Yes, I suposse it would work. I don't actually use appearance mixin that much. I had to use it because of webkit for mac, wasn't getting my styles right. Any other browser was working just fine.

[2011-09-19 19:39] yfeldblum opened #561 "Git tag should be "v0.12.alpha.0""
The git tag for `v0.12.alpha.0` should be `v0.12.alpha.0` to be consistent with all the other version tags, which have a leading `v`.

[2011-09-19 23:06] scottdavis commented on #561
typo? "The git tag for v0.12.alpha.0 should be v0.12.alpha.0"

[2011-09-20 07:02] brikou opened #562 "[baseline] example needed"
it could be great to find some example about how to use the baseline feature :)

[2011-09-20 13:19] anathematic opened #563 "erb in partials not rendering"
Hello!
It looks like I've run into an issue with Rails 3.1 + 0.12.alpha.0, erb snippets in partials are not rendering when pulled into the main files via @import

Some example codes:
`background-image: url('<%= asset_path "application/fancy-button-background-blue.png" %>');`

Renders as :
`background-image: url('<%= asset_path "application/fancy-button-background-blue.png" %>');`

Any thoughts?

C

[2011-09-20 13:28] scottdavis commented on #563
why are you using erb in partials? the sass image_path function should do what you need

[2011-09-20 13:31] scottdavis commented on #547
<img src="http://i956.photobucket.com/albums/ae50/marsman61/GWJ/nuke-it-from-orbit.jpg" />

[2011-09-20 13:42] anathematic commented on #563
Aha! I wasn't actually aware of the image_path function which resolved my issue, for others:
`background-image: url(image_path("application/fancy-button-background-blue.png"));`

Is an example of using image_path function.

Thanks Scott!

[2011-09-20 13:42] #563 closed, assigned to nobody

[2011-09-20 14:01] scottdavis commented on #562
for vertical rhythm?

[2011-09-20 21:00] chriseppstein commented on #563
Just use `image-url` which obviates the need for wrapping with url.

[2011-09-21 18:02] ultimatedelman opened #566 "Replace Text With Sprite"
I came across an issue where I wanted to use "replace-text-with-dimensions" and sprites and discovered there's no built in way to do it. So I created a mixin :)

[code]

To use, first, create your sprite outside of the mixin (to pass in):

`$social: sprite-map('social/*.png');`

Then call the mixin like so:

[code]

where "twitter" and "facebook" are the names of the images in the sprite folder.

[2011-09-22 08:13] seantanly commented on #370
Seems that this issue resurfaced in 0.12.alpha.0

Though compass is able to generate the sprite image, the image is placed in the top level of the image folder instead of in the nested folder.

Due to this, sprite map of similar name cannot be used.

e.g.
images/theme/orange/icons/_.png
images/theme/black/icons/_.png

Seems that the sprite image of the first is being overwritten by the second.

[2011-09-22 08:53] mwawrusch commented on #546
no problem. I try to get you something, but will take some time.

[2011-09-22 11:56] lypanov commented on #505
I'm getting the same error with just one line in my .scss:
  @import "sprites/flags/*.png";

Ready. to give up.. :(

[2011-09-22 12:17] lypanov commented on #505
Oh this is just plain weird!
  compass sprite app/assets/images/sprites/flags/de.png app/assets/images/sprites/flags/gb.png
     -> Please specify at least one image to sprite.
  file app/assets/images/sprites/flags/de.png
     -> app/assets/images/sprites/flags/de.png: PNG image, 16 x 11, 8-bit/color RGB, non-interlaced

With (Compass 0.12.alpha.0 (Alnilam), on Ubuntu, without oily_png, using REE

[2011-09-22 16:56] ChristianPeters opened #567 "Rails 3.1 & A.P.: Sprite creation fails because of missing Logger"
Environment: Rails 3.1.0, current chriseppstein/compass master branch, sass-rails 3.1.0; I created a blank rails app with asset pipeline enabled and specified a simple sprite in application.css.sass.

Stylesheet compilation fails on the following three lines with 'undefined method nil.[]':
- https://github.com/chriseppstein/compass/blob/master/lib/compass/sass_extensions/sprites/sprite_methods.rb#

[2011-09-22 16:57] unimatrixZxero commented on #567
+1

[2011-09-22 19:42] nbarthelemy opened #568 "sprite_methods.rb throws errors because options not defined"
The sprite_methods.rb file uses options[:compass][:logger] all over the place. The error appeared after moving from rails31 branch to master. After a bit of pocking around, I found out that options is not defined.

example:

[code]

I am not sure where/how these options get set.

[2011-09-22 19:42] nbarthelemy opened #569 "sprite_methods.rb throws errors because options not defined"
The sprite_methods.rb file uses options[:compass][:logger] all over the place. The error appeared after moving from rails31 branch to master. After a bit of pocking around, I found out that options is not defined.

example:

[code]

I am not sure where/how these options get set.

[2011-09-22 19:43] #569 closed, assigned to nobody

[2011-09-22 19:44] nbarthelemy commented on #567
+1

[2011-09-22 19:44] #568 closed, assigned to nobody

[2011-09-22 21:42] scottdavis commented on #370
This problem has never come up before so for now im going to consider this an edge case and recommend that you don't nest and just use orange_icons, black_icons etc.

[2011-09-22 21:43] scottdavis commented on #370
also @seantan your issue isn't that same as this one this had to do with not finding the nested folders

[2011-09-22 21:45] scottdavis commented on #567
damnit chris! /cc @chriseppstein !

[2011-09-22 21:45] scottdavis commented on #566
+1 mind making a pull request?

[2011-09-22 21:47] scottdavis commented on #531
@sroussey ping

[2011-09-25 18:59] pzgz commented on #567
Thanks, this did help me out, just for correction, the option should be 'sass_options = {quite: true} ', that's a typo for 'quite'

[2011-09-25 20:52] bmaland commented on #526
I suspect this was due to only including the compass and sass-rails gems in the asset group in Gemfile, they have to be in development as well.

[2011-09-25 21:22] jaylevitt commented on #561
... so that it doesn't show up all the way in the bottom of the github menu, for one thing.

[2011-09-25 22:43] avocade commented on #513
+1 if it's any use.

[2011-09-26 04:02] davidortinau opened #570 "pretty-bullets not properly resolving long image path"
My assets are buried in a themes package, so my SASS looks like:

ul.nav
+pretty-bullets("/themes/lifepoint/assets/images/small_bullet.png")

The Compass process spits out the error:

Errno::ENOENT on line 30 of /Users/dave/.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.5/lib/compass/sass_extensions/functions/image_size.rb: No such file or directory - /work/lifepointplano/themes/lifepoint/assets/imag

[2011-09-26 04:27] qnm commented on #567
Using :quiet => true didn't work for me. I used

[code]

instead - ymmv.

[2011-09-26 13:08] chriseppstein commented on #570
Can I see your compass config?

Hunt & pecked on my iPhone... Sorry if it's brief!

On Sep 25, 2011, at 9:02 PM, David Ortinaureply@reply.github.com wrote:

[2011-09-26 13:15] davidortinau commented on #570
Here you go:

http_path = "/"
css_dir = "stylesheets"
sass_dir = "sass"
images_dir = "images"
javascripts_dir = "javascript"

preferred_syntax = :sass

On Sep 26, 2011, at 8:08 AM, Chris Eppstein wrote:

[2011-09-26 14:17] chriseppstein commented on #570
Are all your images in that folder? If so set images_dir = "themes/lifepoint/assets/images".

you can also set http_images_path to the location where images are served if it doesn't match after that.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Sep 26, 2011, at 6:15 AM, David Ortinaureply@reply.github.com wrote:

[2011-09-26 14:49] davidortinau commented on #570
Yes, most of my images are there, so I'll go ahead and do that.

What do you think about having pretty-bullets recognize the leading / (and other path related starters) and override the images_dir default for that path? I may have some images here, and other images on S3, etc.

On Sep 26, 2011, at 9:17 AM, Chris Eppstein wrote:

[2011-09-26 15:02] chriseppstein commented on #570
Any image URL that starts with / is passed thru. But keep in mind you can always just use normal URL references.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Sep 26, 2011, at 7:49 AM, David Ortinaureply@reply.github.com wrote:

[2011-09-26 15:05] chriseppstein commented on #570
With respect to pretty bullets, the mixin uses the image dimension helpers so it has to find the image on disk. You can copypasta the mixin and tweak it if you have other needs.

Hunt & pecked on my iPhone... Sorry if it's brief!

On Sep 26, 2011, at 7:49 AM, David Ortinaureply@reply.github.com wrote:

[2011-09-26 15:08] davidortinau commented on #570
Gotcha. Thanks for the info and quick replies.

I did some digging last night through the source, but I'm still getting my bearings. I hate bringing up issues without seeing the code and being able to offer some kind of half-baked solution.

On Sep 26, 2011, at 10:05 AM, Chris Eppstein wrote:

[2011-09-26 16:02] chriseppstein commented on #567
Fixed by fecc98219d05104a13f66be78bc2ca9d048ab369

[2011-09-26 16:02] #567 closed, assigned to nobody

[2011-09-26 16:03] chriseppstein commented on #570
Closing.

[2011-09-26 16:03] #570 closed, assigned to nobody

[2011-09-26 16:04] chriseppstein commented on #566
+1

[2011-09-26 16:10] chriseppstein commented on #561
Fixed. Committers should run the following or else the tag will reappear if they push any tags:

[code]

[2011-09-26 16:10] #561 closed, assigned to nobody

[2011-09-26 16:16] scottdavis opened #571 "test hangs in 1.9.3-rc1 - CompassTest#test_env_in_development"
CompassTest#test_env_in_development

[2011-09-26 16:18] ultimatedelman commented on #566
I've forked the repo... Where should I put this mixin? I was thinking about putting it in the `sprites/_base.scss` but I'm not sure exactly.

EDIT: I decided that is probably the best spot to put it. Committed, pull request sent! :)

[2011-09-26 17:43] #571 closed, assigned to nobody

[2011-09-28 01:20] gunta commented on #314
I'm having this issue also.
Using MacOS X 10.6.8 + Macfusion SFTP + Espresso 2 editor.

[2011-09-28 05:53] seantanly commented on #370
ok, not nesting works.

Just thought that it would be cool if the generated sprites are created just 1 level below their source png folder.

Thanks for the suggestions.

[2011-09-28 06:17] ttilley commented on #314
interesting. i had thought that this was a MACFUSE-exacerbated oddity. all of the apple-supported filesystems fire an event both on the start of write and the end if events fire before writing is finished. sshfs doesn't appear to.

...ok, I just looked up macfusion and it is ALSO using MACFUSE. I may need to add filesystem detection support and throw a warning to stderr if you monitor a non-apple-

[2011-09-28 07:25] aaronchi commented on #370
Yes... Would be nice if it worked with nesting :(

[2011-09-28 17:23] scottdavis commented on #370
Busy workin on extension registry but I'll take a patch if someone wants to submit one

Sent from my iPhone

On Sep 28, 2011, at 3:25 AM, aaronchireply@reply.github.com wrote:

[2011-09-30 17:36] steverandy commented on #526
I was having the same issue with Rails 3.1.0, but it was ok when I upgraded to Rails 3.1.1.rc1.

But now I’m getting the same error with Rails 3.1.1.rc2.

[2011-10-02 03:46] davidchambers opened #575 "transition-duration mixin doesn't support multiple arguments"
From the documentation:

---
### foo, bar, baz

[code]

gives…

[code]

---
### foo bar baz

[code]

produces…

[code]

---
### "foo, bar, baz"

[code]

produces…

[code]

---

Is this correct behaviour? As a new Compass user, I expected `+transition-duration(0.2s, 0.5s, 0.2s)` to work.

[2011-10-02 04:26] davidchambers opened #576 "URIs unnecessarily quoted"
From [section 4.3.4](http://www.w3.org/TR/CSS2/syndata.html#uri) of the CSS2 spec (emphasis mine):

There may be a good reason that Compass includes quotation marks. If not, perhaps we could omit them.

---

Note: I'm writing this having just tried the (extremely cool) `inline-image` function. I don't know whether similar functions also output quotation marks.

[2011-10-02 08:49] chriseppstein commented on #576
url is a special case function that acts like a quotation in css. all other functions take strings unless they accept a simple identifier. I use quotes for consistency. are you worried about extra bytes?

[2011-10-02 08:53] chriseppstein commented on #575
seems like a bug. workaround is an extra set of parenthesis:

[code]

[2011-10-02 09:08] davidchambers commented on #575
Oh, yep. I've been wrapping `0.2s, 0.5s, 0.2s` in quotes, which also works.

[2011-10-02 09:13] davidchambers commented on #576
Nope. I was simply keen to learn the reasoning behind the quotation marks' inclusion. Having done so I can sleep peacefully. :)

[2011-10-02 09:13] #576 closed, assigned to nobody

[2011-10-02 22:37] MoOx commented on #291
So we can almost do that, thanks to this PR https://github.com/nex3/sass/pull/167.
Is somebody working on this ?

[2011-10-03 00:12] davidchambers opened #577 "Option to include line breaks in compressed output"
At the moment I have a Sass file of around 1000 lines, which generates a CSS file of around 32 KiB. Each time I commit a change I first run `compass compile --output-style compressed`. The problem with this approach is that even a one-line change results in a 64 KiB diff, since one huge line is modified in the CSS file.

I realize that it's possible to avoid this problem by not including the gener

[2011-10-03 00:26] ttilley commented on #577
This already exists, for the most part, with the `:compact` output option:
http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style

The only difference from what you propose, as far as I can tell, is that there is an additional newline between groups. So every so often you'll have two newlines instead of one.

[2011-10-03 01:31] scottdavis commented on #577
Well I always commit my compiled Stylesheets and I have a script that will  compile for production and rsync when I deploy

Sent from my iPhone

On Oct 2, 2011, at 8:12 PM, David Chambersreply@reply.github.com wrote:

[2011-10-03 02:11] davidchambers commented on #577
Thanks, @ttilley. That's perfect.

I feel silly for not learning exactly how the four existing output options behave before proposing a fifth. :)

[2011-10-03 02:11] #577 closed, assigned to nobody

[2011-10-03 12:12] daflip opened #578 "Adjacent Sibling Selectors being interpreted as compass functions"
This didn't happen previously:

  error sass/application.scss (Line 92: Invalid CSS after "  input.checkbox+": expected number or function, was "label ..")

Related scss code:

input.checkbox+label { text-transform: none; }

Version:

`--> gem list|grep compa
compass (0.11.5, 0.11.1)

[2011-10-03 12:22] daflip commented on #578
Sorry, my bad this is actually a problem with the sass dependency and not compass itself. https://github.com/nex3/sass/pull/182

[2011-10-03 12:22] #578 closed, assigned to nobody

[2011-10-03 13:54] chriseppstein commented on #578
Please define "previously".

[2011-10-03 14:19] daflip commented on #578
"previously": before sass version 3.1.8. As mentioned the issue stems from a regressional bug in sass, not compass itself.

[2011-10-03 22:42] mirisuzanne commented on #291
I'm waiting for the signal from Chris that this syntax is set on the sass end. Then, unless someone beats me to it (you are more than welcome), I'll start putting together the compass module.

[2011-10-04 11:48] rwz commented on #526
Same here. Worked on rc1, fails on rc2.

[code]

[2011-10-04 19:41] pabloalr opened #579 "Error compiling asset on blueprint button plugin"
Rails 3.1, Compass v0.12.alpha.0, Blueprint Button plugin.

`Sass::SyntaxError: Invalid CSS after "  *": expected identifier, was ":first-child+ht..."`

I'm really clueless on how to fix this.

[2011-10-04 19:44] scottdavis commented on #579
can you provide an example? of the steps needed to get to this point so we can trouble shoot?

[2011-10-04 19:52] pabloalr commented on #579
I'm only doing a regular @import buttons.

Looks like it's a syntax issue on frameworks/blueprint/stylesheets/blueprint/_buttons.scss:98

[2011-10-04 19:57] chriseppstein commented on #579
this is a regression in sass. I think there will be a fix by @nex3 soon.

[2011-10-04 19:59] pabloalr commented on #579
ok, w'll wait before moving to production. Thanks!

[2011-10-04 19:59] #579 closed, assigned to nobody

[2011-10-05 01:18] Phize opened #580 "nested-reset mixin cannot reset font properties."
nested-reset mixin cannot reset font properties (and text-\* properties).

Compass Reset Utilities: https://github.com/chriseppstein/compass/blob/stable/frameworks/compass/stylesheets/compass/reset/_utilities.scss

Here is a test code.

[code]

[code]

Live demo: http://jsfiddle.net/6cYfz/1/

I added some lines to reset font-style/variant/weight although it is a matter of personal preference.

[co

[2011-10-05 06:07] #403 closed, assigned to nobody

[2011-10-05 06:08] scottdavis commented on #329
/nudge @imathis you have time todo this or should i throw something together just trying to triage old tickets

[2011-10-05 06:10] scottdavis commented on #497
also don't run bundler with sub when you create binstubs that will create a permissions nightmare

[2011-10-05 06:10] scottdavis commented on #497
also ive changed the docs to use the vanilla version of nanoc so this shouldn't be an issue

[2011-10-05 06:10] #497 closed, assigned to nobody

[2011-10-05 06:17] scottdavis commented on #237
What in this guide needs to be extended: http://beta.compass-style.org/help/tutorials/contributing/

[2011-10-05 06:19] #328 closed, assigned to nobody

[2011-10-05 06:22] scottdavis commented on #562
/nudge

[2011-10-05 06:22] #562 closed, assigned to nobody

[2011-10-05 06:28] scottdavis commented on #566
closing since theres a pr

[2011-10-05 06:28] #566 closed, assigned to nobody

[2011-10-05 06:30] scottdavis commented on #528
any update on this?

[2011-10-05 06:30] #528 closed, assigned to nobody

[2011-10-05 06:33] scottdavis commented on #531
no response works for me closing this

[2011-10-05 06:33] #531 closed, assigned to nobody

[2011-10-05 13:33] lunks opened #582 "@import "image_dir/*.png" fails on Rails 3.1.1rc2"
Using recommendations from this gist https://gist.github.com/1184843

I get the following error when running `rake assets:precompile`:

[code]

`dashboard` is a directory in `app/assets/images`.

Assets and sprites work running the server in development mode just fine, the issue is when using `rake assets:precompile` in either `development` or `staging` environments.

[2011-10-05 16:51] FlyingDR opened #583 "Problem with paths calculation for cache buster in image-url()"
Project layout:

[code]

Compass project resides in `/scss`, images are in `public/images`, compiled CSS is expected to be in `public/css`.

Contents of config.rb:

[code]

Contents of test.scss:

[code]

Compilation process (Compass v0.11.5):

[code]

Please notice "File not found" warning and invalid path, image is searched in.

Resulted CSS:

[code]

Small research shows that problem is in `lib

[2011-10-05 17:21] chriseppstein commented on #237
no, there's a TestUnit test case for testing sass files in applications.

[2011-10-05 18:09] scottdavis commented on #237
ohhhhhhhh

[2011-10-05 18:10] scottdavis commented on #583
feel like making a pull request / tests?

[2011-10-05 23:40] julioprotzek commented on #516
The https://github.com/chriseppstein/compass/issues/337 topic was closed but the problem remains.
Any ideas?

[2011-10-06 01:06] markmcdonald51 opened #584 "`method_missing': undefined method `sass'"
I wanted to use compass and blueprint for a project...

ran: compass init rails .  --using blueprint

then added to mt Gemfile:
gem "compass", ">= 0.12.alpha.0"

bundle install

rails s returns this:

home/mark/.rvm/gems/ruby-1.9.2-head/gems/railties-3.1.0/lib/rails/railtie/configuration.rb:78:in `method_missing': undefined method`sass' for #Rails::Application::Configuration:0x000000027afb28 (NoMe

[2011-10-06 01:51] maxguzenski commented on #528
Sorry, I was traveling...

My project is not using compass anymore, but I get my old branch back, put compass from master and with a simples:

@import "/assets/images/icons/color16x16/*.png";

I always get:

Sass::SyntaxError: File to import not found or unreadable: /assets/images/icons/color16x16/*.png

I tryied:

@import "/assets/images/icons/color16x16/_.png";
@import "/images/icons/color16x16/

[2011-10-06 01:57] maxguzenski commented on #528
My fault...

It is working!

gemfile:
gem 'compass', :git => "git://github.com/chriseppstein/compass.git"

sass:
@import "icons/color16x16/*.png";
@include all-gray16x16-sprites;

[2011-10-06 03:20] paulirish opened #585 "single-transition should use shorthand"
[code]

will render the following:

[code]

however.. it should render something much more clean like:

[code]

(without the fancy indentation if you wanna be like that.. :)

[2011-10-06 05:48] davidchambers commented on #585
From [CSS Transitions Module](http://www.w3.org/TR/css3-transitions/#the-transition-shorthand-property-):

It appears that when [WebKit added `-webkit-transition`](http://www.webkit.org/blog/138/css-animation/), the delay property did not exist. What would be the desired output for the following?

[code]

What happens, for example, if a browser that doesn't know about the delay property is given `

[2011-10-06 06:00] paulirish commented on #585
it would likely ignore the entire rule.

I wonder what live webkit browsers this affects. My gut tells me we're definitely past them on desktop and on mobile they are dated. But that'd require some research.

In the meantime we can do:
- shorthand for everyone if delay prop is **not** provided
- shorthand for everyone but webkit if delay prop is provided
  - webkit gets shorthand minus delay and t

[2011-10-06 07:19] lunks commented on #582
Solved with latest rails 3.1 stable branch.

[2011-10-06 07:19] #582 closed, assigned to nobody

[2011-10-06 08:17] davidchambers commented on #585
Sounds good. I'm happy to work on a patch for this; I'm keen to become more familiar with Compass's internals.

[2011-10-06 08:42] MarioRicalde commented on #584
This should be relevant to you:

https://gist.github.com/1184843

This works with Rails 3.1

[code]

[2011-10-06 09:17] aurelien-baudet opened #587 "use external project"
Hi,

I have 2 projects:

<ul>
<li>the first is a library of widgets that also contains a compass project . In this compass project, there are many variables that I can override. I also use sprites for the images</li>
<li>the second is a project that uses this library. I want to have my own compass project and import the compass project described above with specific variable values (override)</li>

[2011-10-06 09:24] MarioRicalde commented on #587
I suggest you look into the [Configuration Reference](http://compass-style.org/help/tutorials/configuration-reference/).

What you want to do can be done. You just need to run compass watch in the "first project" and make it include the other files.

You can see I do it [Here](https://github.com/kuroir/Survival-Kit/tree/master/src/stylesheets).

[2011-10-06 09:38] aurelien-baudet commented on #587
I don't understand, you have only ONE compass project with only ONE src folder.

In my case, the project 'im' depends on the project 'xmpp'. Moreover, I want to override some variables (of 'xmpp' project) before importing/using it. So I can't generate xmpp css file and import the generated css because variables won't have the override.

[2011-10-06 09:40] FlyingDR commented on #583
I'm not a Ruby developer at all, not sure if I will be able to create proper tests for it, especially for Rails type of projects, simply have no experience with it

[2011-10-06 11:24] MarioRicalde commented on #587
What I'm saying is that you're thinking it wrong. Split your secondary project into different importable files. And reuse them across both projects...

[2011-10-06 12:22] aurelien-baudet commented on #587
I found the problem: when using sprites accross projects, the sprite utility is looking for images in the folder where the compass watch is launched even if the sprite import is done in the other compass project.

I have made an example:
There are 2 projects 'a' and 'b'. 'b' contains images and the sprite information. 'a' imports 'b'.
I launch compass watch -c config.rb in 'a' folder.

If there ar

[2011-10-06 13:46] onelson commented on #579
fwiw, I ran into this the yesterday and the error went away when I downgraded sass from 3.1.8 to 3.1.4 (to match another working environment I have here). There might be a higher version of sass that still works, but I didn't have time to dig in and find out.

[2011-10-06 15:09] scottdavis opened #588 "Document sprite search path"
...

[2011-10-06 15:11] scottdavis commented on #587
This is actually a documentation issue (I made a new ticket) for sprites you need to get the `sprite_load_path` to an array of search paths that may contain sprites ex:

In your compass.rb

<pre>
sprite_search_path = ['somepath/files', 'myotherpath/files']
</pre>

[2011-10-06 15:13] scottdavis commented on #583
no problem ill add this to the 0.12 milestone and ill do it

[2011-10-06 15:19] aurelien-baudet commented on #587
Thanks for the reply.

I have tried it but doesn't seem to work. I have tried with relative paths and also with absolute paths.

I use compass version 0.11.5. Is a version problem ?

[2011-10-06 16:12] scottdavis commented on #587
Yes importer paths are in the 0.12 beta

Sent from my iPhone

On Oct 6, 2011, at 11:19 AM, aurelien-baudetreply@reply.github.com wrote:

[2011-10-06 18:10] avocade opened #589 "[Rails 3.1] Sprites in shouldn't generate combined sprite images in app/assets/images"
Only be generated when running rake assets:precompile. Should be generated/rendered on the fly when running in development.

Might be too expensive to run on every reload, though, lot more work to do than compiling coffee/sass. So this is more of a convenience issue. It's just a bit weird getting the final uistuff-digest1-digest2.png filenames in the final precompiled output.

[2011-10-06 18:23] scottdavis commented on #589
I donno if this is really the best option since regenerating them each time and serving this is going to be very costly and you will be waiting awhile especially if you have multiple sprites. I think this would severely hinder development time

[2011-10-06 20:10] paulirish opened #590 "transition missing -ms- prefix"
MSFT has committed to transitions in IE10 but they havent shipped yet.

So we don't know whether they will be prefixed or not.

Currently anyone using compass will not having working transitions in IE10 if it ships with a prefix.
Of course the beta cycle is long so there's that.

But there are some projects that SHIP AND SIT and nobody recompiles their sheets after a compass upgrade that would add

[2011-10-06 20:11] paulirish commented on #590
mostly this is a policy issue.

[2011-10-07 03:02] Rocketpilot opened #592 "Global control over vertical-offset of Sprite Images"
One of my most frequently used design patterns is to apply a small icon background-image to the left padding-space of headings, like so: http://cl.ly/1f293A2Z0y2h2V1z0B1h

To make the image sit on the text's baseline I generally adjust the y-position of the background image.

In using Compass's spriting features, I've noticed that the default positioning of the background image is for the y-positi

[2011-10-07 07:43] aurelien-baudet commented on #587
I have installed the pre version using gem and it has installed the version 0.12.alpha.0. With this version, it doesn't work. How can I install the beta version or when will it be available through gem install ?

[2011-10-07 09:20] matsimitsu commented on #527
Any updates on this one? Still getting the issue :)

[2011-10-07 11:29] scottdavis commented on #587
I know it should work with alpha because I'm using it it production post your configuration please

Sent from my iPad

On Oct 7, 2011, at 3:43 AM, aurelien-baudetreply@reply.github.com wrote:

[2011-10-07 11:43] avocade commented on #589
You're probably right if one has lots of sprites. Just wanted to get the idea out there.

Not a huge problem, as I said more of a convenience/niceness issue. I'll close the ticket.

[2011-10-07 11:43] #589 closed, assigned to nobody

[2011-10-07 12:37] aurelien-baudet commented on #587
Thanks for help, I have zipped all files so you can try it by launching OWI/im/compass/watch.bat

http://www.2shared.com/file/X_bUXzfC/owi.html

[2011-10-07 13:50] scottdavis commented on #587
oh your using windows this could possibly be a bug ill check it out

[2011-10-07 14:24] Zettersten commented on #536
I ended up doing so - thanks for the input. I'm not sure the solution above is a working one.

[2011-10-08 00:39] scottdavis commented on #527
this should be in master https://github.com/chriseppstein/compass/commit/fe4edff7d4980b50ae377336cf8ccfbc284bfaaa

[2011-10-08 00:39] #527 closed, assigned to nobody

[2011-10-08 01:47] sean-lynch opened #594 "Support importing from dependency projects"
Compass newbie here, so if I'm misunderstanding how it works, I'll be happy to find out I'm wrong.

It seems that compass is built up around the notion of a single project which contains subdirectories for ALL stylesheets, ALL images, ALL javascript, etc.

Unfortunately, I'm coming from a world of maintaining multiple very small projects that share a central set of dependencies. In this world, the

[2011-10-08 04:34] pzgz commented on #579
FYI, I have exactly same issue. Apparently @nex3 has fixed it in the new sass commits, I upgraded my rails to 3.1.1 and sass has been changed to 1.3.10, verified the issue is gone.

[2011-10-08 17:51] chikamichi commented on #514
Hi. Any new insights on this?

[2011-10-08 21:17] ChristianPeters commented on #539
Do you also have compass extensions on your radar?

`compass install my_extension` should copy templates into an `assets` folder.

[2011-10-09 12:11] doabit opened #596 "how to make sprite png works with ie6"
I found the sprite creates image with 256bit.it can not work with ie6,is there a way to create png with indexed mode?

[2011-10-09 12:35] scottdavis commented on #596
set the `chunky_png_options` in your config file here is a link to the available options https://github.com/wvanbergen/chunky_png/wiki/Constraints

[2011-10-09 12:47] doabit commented on #596
Thank you,i have set

[code]

in config/compass.rb and got error

[code]

[2011-10-09 13:08] scottdavis commented on #596
Im getting this error also:

<pre>
TypeError on line ["157"] of /Users/sdavis/.rvm/gems/ruby-1.9.3-rc1/gems/chunky_png-1.2.5/lib/chunky_png/canvas/png_encoding.rb: can't convert nil into Integer
Run with --trace to see the full backtrace
</pre>

This may be a chunky_png bug or a configuration issue lets ping @wvanbergen

[2011-10-09 13:12] doabit commented on #596
Thanks,i will.

[2011-10-09 13:25] scottdavis commented on #583
oh this is a configuration issue not a compass issue you need to set your image_dir relative to your project config file so in this case it would be the same as image_path

[2011-10-09 13:25] #583 closed, assigned to scottdavis

[2011-10-09 13:29] #588 closed, assigned to scottdavis

[2011-10-09 13:29] wvanbergen commented on #596
Can you get me the full stack trace by running the rake task with --trace?

Sent from my iPad

On 2011-10-09, at 8:08, Scott Davisreply@reply.github.com wrote:

[2011-10-09 13:30] #478 closed, assigned to scottdavis

[2011-10-09 13:37] #237 closed, assigned to scottdavis

[2011-10-09 13:37] scottdavis commented on #596
<pre>TypeError on line ["157"] of /Users/sdavis/.rvm/gems/ruby-1.9.3-rc1/gems/chunky_png-1.2.5/lib/chunky_png/canvas/png_encoding.rb: can't convert nil into Integer
  /Users/sdavis/.rvm/gems/ruby-1.9.3-rc1/gems/chunky_png-1.2.5/lib/chunky_png/canvas/png_encoding.rb:157:in `encode_png_pixelstream'
  /Users/sdavis/.rvm/gems/ruby-1.9.3-rc1/gems/chunky_png-1.2.5/lib/chunky_png/canvas/png_encoding.rb:8

[2011-10-09 13:44] #507 closed, assigned to scottdavis

[2011-10-09 13:52] wvanbergen commented on #596
Do you have the same error with different ruby versions?
I can't actually look to this during the next two weeks, as I am on vacation. The more information you can give me before then, the better :)

Sent from my iPad

On 2011-10-09, at 8:37, Scott Davisreply@reply.github.com wrote:

[2011-10-09 14:19] doabit commented on #596
I tried 1.9.2-p180 and got same error .

[2011-10-09 15:07] wvanbergen commented on #596
Final question: are you sure you are not using more than 256 colors?

Sent from my iPhone

On 9 okt. 2011, at 09:19, doabitreply@reply.github.com wrote:

[2011-10-09 15:35] #378 closed, assigned to scottdavis

[2011-10-09 16:24] doabit commented on #596
I'm sorry, my mistake,i modified all images to 8bit and indexed mode,now it works well.

-----------update--------

Now,if i have one image with rgb mode,it will got the error.Do i must modify all image to 8bit and indexed mode??

[2011-10-09 17:50] doabit commented on #596
I still get same error if i set :color_mode => ChunkyPNG::COLOR_INDEXED, all images modified to 8bit and indexed mode.

Update----

I got error like

[code]

I wil modify all images again.

[2011-10-09 23:04] davidchambers opened #597 "`border-image` mixin includes `-webkit-border-image` twice"
For example:

[code]

produces...

[code]

[2011-10-10 13:42] wvanbergen commented on #596
The images may use different colors, so the total number of colors of the combined image may still exceed 256.

ChunkyPNG will automatically use indexed colors if possible.

Sent from my iPhone

On 9 okt. 2011, at 12:50, doabitreply@reply.github.com wrote:

[2011-10-10 13:52] doabit commented on #596
Thanks,i also think so,is there a way to make it work? I have modified all images to 8bit and indexed mode with fireworks.

[2011-10-10 14:43] agibralter commented on #527
Any chance for a 0.12.alpha.1?

[2011-10-10 14:44] paulirish opened #598 "remove khtml prefix"
I have not found a legit use of the khtml prefix ever.

I think we could drop it. :)

[2011-10-10 15:59] scottdavis commented on #598
never user Konqueror?

[2011-10-10 18:26] paulirish commented on #598
me? no. I don't know anyone that has either. Do you test your sites in Konqueror? I'd wager that nobody uses compass does.

Regardless of whether we test are two issues..

1) does konqueror use any khtml prefixes (now or recently) and on what properties?
2) if konqueror is actively using khtml vendor prefixes, does their market share warrant support?

on 1) http://www.konqueror.org/css/ indicates

[2011-10-10 19:45] wvanbergen commented on #596
You must reduce the number of colors you are using to 256 if you want to use indexed colors. ChunkyPNG doesn't come with something to reduce the number of colors, so you have to preprocess your input images to all use the same palette of 256 colors. You can do this in Photoshop.

Sent from my iPhone

On 10 okt. 2011, at 08:52, doabitreply@reply.github.com wrote:

[2011-10-10 20:30] paulirish commented on #598
http://gitorious.org/dbusmenu/kdelibs/blobs/master/khtml/css/cssproperties.c#line703 if anyone wanted to know konqueror's support of css props

[2011-10-10 23:17] frankapimenta commented on #337
hey Guys,

I have a question: I google it for a while and i could not find a solution for my case.

I want the generator (scaffold) to create the assets/stylesheets/sass and assets/stylesheets/javacripts directories for sass and coffee files instead of default ones (without the last directory).

Where could I change that?

Thanks in advance.

[2011-10-10 23:33] slbug commented on #337
Create a gem with custom generators. GL.

[2011-10-11 02:58] doabit commented on #596
Thanks,i have switch to use rbg mode and use pie to set png works in ie6. Thank you very much.

[2011-10-11 02:58] #596 closed, assigned to nobody

[2011-10-11 03:47] jonassmedegaard opened #599 "underline.png in vertical_rhythm is missing"
The mixin debug-vertical-alignment by default use underline.png but that file is nowhere to be found in the source of Compass.

[2011-10-11 21:02] scottdavis commented on #598
how about we just turn it off by default? https://github.com/chriseppstein/compass/blob/master/frameworks/compass/stylesheets/compass/_support.scss

[2011-10-11 21:16] paulirish commented on #598
works for me

[2011-10-11 22:33] scottdavis commented on #598
ping: @chriseppstein

[2011-10-11 22:55] chriseppstein commented on #598
+1

[2011-10-11 23:15] scottdavis commented on #598
I say we remove it if its no longer a valid prefix

[2011-10-11 23:21] dangayle commented on #598
I just put in a tutorial on how to turn -khtml and -o prefixes off, so +1

[2011-10-11 23:23] chriseppstein commented on #598
I'd like `-o` to stay on by default.

[2011-10-11 23:24] scottdavis commented on #598
yes i agree `-o` on by default lots of mobile browsers are opera

[2011-10-11 23:26] MarioRicalde commented on #598
+1 to this (passes out)

[2011-10-11 23:31] soffes commented on #598
+1 `-khtml` off be default

[2011-10-11 23:34] chriseppstein commented on #598
seems like we can just remove `-khtml` altogether. billions of bytes xferred will be saved.

[2011-10-11 23:35] scottdavis commented on #598
<img src="http://i372.photobucket.com/albums/oo166/agtman/nuke-it-from-orbit.jpg" border="0">

[2011-10-11 23:37] alanhogan commented on #598
Is that… Andromeda Strain?

I think `-o` on and `-khtml` off by default would be a very _gut_ option.

Konquerer is not commonly tested, in my experience, and never shows up on marketshare reports. Opera, however…

[2011-10-11 23:39] soffes commented on #598
Personally, I would turn off `-o` as well. I don't know anyone that uses it.

[2011-10-11 23:40] yatil commented on #598
+1 for getting rid of -khtml-
-1 for getting rid of -o-

[2011-10-11 23:43] paulirish commented on #598
Opera's prefix presence is out of the scope of this ticket. If you would like to be the **jerk** that files a ticket proposing removing Opera support, feel free...... **jerk**

:)

[2011-10-11 23:45] chriseppstein commented on #598
@samsoffes a very scientific approach. I asked around my office and no one here uses it either!

[2011-10-11 23:47] scottdavis commented on #598
+1 for jerks

[2011-10-11 23:51] soffes commented on #598
@chriseppstein I mean I know it has a very small market share, but I have never met anyone that uses it. I figure we're the kind of people that would know people that use it being engineers and all.

I checked for [my blog](http://samsoff.es) it has 0.41%. [At work](http://hipstamaticapp.com) it has 0.92%. So some people are using it, but personally, I don't care about those users :)

[2011-10-12 00:05] scottdavis commented on #598
opera is the fat kid in gym class lets now pick on him ok!

[2011-10-12 00:08] alanhogan commented on #598
Let’s not be cruel.

Opera has (had?) some very unique and compelling UI innovations (Quick Dial, for example, was pioneering; and Fast Forward).

It is also _the_ viable browser on feature phones.

It’s also the only Proprietary But Good Browser not maintained by MSFT, and generally very standards-compliant.

[2011-10-12 00:41] scottdavis commented on #598
ok so removing khtml all together and leaving opera seems to be the consensus

[2011-10-12 04:05] rwz commented on #598
+1 for `-khtml` off by default

[2011-10-12 07:04] kristerkari commented on #598
-khtml is not needed, but please keep -o on by default

[2011-10-12 07:05] jacmoe opened #602 "Sprites by names false or true"
I discovered that you can't sprite pngs with the names 'false.png' or 'true.png' - that's probably a bug?

It took me only an hour to discover. :P

Compass kept telling me this:
    error sass/style.sass (Line 58: The second argument to sprite() must be a sprite name.

It works great - both command line compass sprite command and the magical include - but it fails when I use the all sprites mixin.

[2011-10-12 09:08] ZeeAgency commented on #598
+1, -khtml off by default but keep -o

[2011-10-12 10:50] MarioRicalde commented on #598
I agree: `-o` by default is a good call and like @paulirish said it's not the reach of this ticket so we shouldn't even be talking about it.

@chriseppstein Think also about the tons of CO₂ we'll be saving the world from.

![](http://www.greenpeace.org/eastasia/Global/eastasia/planet-2/External/image/2004/9/cover-of-the-book-greenpeace.jpg)

[2011-10-12 16:38] chriseppstein commented on #602
I guess we should make these names strings instead of identifiers.

[2011-10-12 17:34] scottdavis commented on #602
i can fix this just like i fixed colors so shouldn't be a problem

[2011-10-17 15:11] #555 closed, assigned to scottdavis

[2011-10-17 15:25] elsherif commented on #513
I just found a workaround:

in production.rb write:

config.assets.compile = true

then set env to production when compiling:

rake assets:precompile RAILS_ENV=production

that would make all sprites used in stylecheets use the fingerprinted compiled files as reference.

would like to know if that work with you!

[2011-10-18 01:23] yhslai commented on #584
Same problem.

[2011-10-18 03:17] fakewaffle commented on #421
+1

[2011-10-20 10:50] kjf commented on #584
Same issue here with rails 3.1.1 in production.

[code]

[2011-10-20 22:36] scottmessinger opened #604 "Box-Shadow not working with compass 0.12.alpha.0"
The following code

[code]

produces the following bug:

[code]

I'm using Rails 3.1.1

In my gem file:

[code]

Any ideas why this would be?

Thanks in advance!

[2011-10-21 00:27] scottdavis commented on #604
possibly because you are missing the comma's `single-box-shadow($color, $hoff, $voff, $blur, $spread, $inset)` the single-box-shadow mixin was set to be deprecated anyway i believe

http://compass-style.org/reference/compass/css3/box_shadow/

[2011-10-21 01:39] scottmessinger commented on #604
Hi Scott! Thanks for the response. I get the same error with or without the commas. This problem seems to effect gems like fancy-buttons, as I get the same error message.

What method should I use if single-box-shadow is set to be deprecated?

[2011-10-21 01:55] scottdavis commented on #604
which version of fancy-buttons?

[2011-10-21 01:56] scottdavis commented on #604
ping @imathis

[2011-10-21 02:36] scottmessinger commented on #604
@imathis using the fancy-buttons gem isn't working, I get "File not found or unreadable: fancy-buttons" error. But that's a separate matter. When I copy the fancy-button sass files into my project directory and import them, I get the error about missing the blur param. Any ideas what's going on?

[2011-10-21 02:53] scottmessinger commented on #604
It's version 1.1.2 of fancy-buttons.

[2011-10-21 05:19] scottdavis commented on #604
aginst the latest master using the code you posted im compiling fine

<pre>

.left_arrow {
  -moz-box-shadow: 0px 0px 5px red 2px 2px 10px;
  -webkit-box-shadow: 0px 0px 5px red 2px 2px 10px;
  -o-box-shadow: 0px 0px 5px red 2px 2px 10px;
  box-shadow: 0px 0px 5px red 2px 2px 10px;
}
</pre>

[2011-10-21 23:53] scottmessinger commented on #604
It's super weird. I think it has to be some weird conflict with one of my gems or something....I'll keep looking into it.

[2011-10-22 00:08] scottmessinger commented on #604
I figured out the problem. Before compass started using PIE, I had created a box_shadow mixin using PIE called "box_shadow" That was conflicting with compass (though I thought compass used 'box-shadow' with a dash). Thanks for the looking into the issue. Knowing that it wasn't the framework helped me pinpoint where the problem was coming from.

[2011-10-22 00:08] #604 closed, assigned to nobody

[2011-10-23 07:57] brandon-rhodes opened #605 "Syntax error: Undefined mixin 'adjust-font-size-to'"
I just pulled a project off the shelf, ran its install script which in turn ran "gem install -i Gem compass" and "gem install -i Gem compass-susy-plugin", and then tried recompiling my project's CSS. I got the error:

[code]

But the source file compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss in my Gem directory still seems to define this mixin. An aside: whe

[2011-10-23 13:08] brandon-rhodes commented on #605
And I keep seeing mailing list messages trumpeting syntax like:

[code]

but I always have to put double quotes around it or I get:

[code]

Am I running into a difference between Sass and Scss, or something else?

[2011-10-24 21:09] madhums opened #606 "unable to compile sass"
First of all, thanks for the awesome plugin!!

Its a weird problem, I am using compass with rails. Its not able to compile sass files.

I can see nothing in the logs, there is only this [stacktrace](https://gist.github.com/1310287) in the compiled css file. It gets a SIGTERM signal exception which doesn't kill the process and the CPU usage goes to 95% !

Then I tried running the command line tool

[2011-10-24 21:41] madhums commented on #606
Ok, I updated to chunky_png 1.2.5 using bundle update and that fixed the issue. Probably some bug with chunky_png v1.2.0.

[2011-10-24 22:31] madhums commented on #606
This is really weird, it worked only for once, when I updated the gem. Just logged out and logged back in and its happening again!

[2011-10-26 00:21] jpcody opened #608 "Allow cache-busting params to be added to CSS output files"
Perhaps this is already available, but it seems it'd be valuable to extend the asset_cache_buster for images to the compiled CSS files Compass/SASS creates. This would look like simply outputting to path_to_compile_to.css?timestamp.

It makes sense to me to provide an option to do this on the Compass end because Compass is acutely aware of when CSS changes, thus, the cache needs to be busted. Addi

[2011-10-26 00:29] chriseppstein commented on #608
it's not the filename that forces caches to invalidate. It's the link to them. Compass doesn't own that part so we can't provide this feature. If you use rails with compass, it does this for you -- other frameworks might as well.

[2011-10-26 00:29] #608 closed, assigned to nobody

[2011-10-29 03:14] scottdavis commented on #608
using `path_to_compile_to.css?timestamp` is a bad idea since it will not be picked up my reverse proxy caches you should instead put the hash in the filename when you push to production ex: `myfile-38q56q0865.css`

[2011-10-29 03:15] scottdavis commented on #606
what version of ruby and what platform?

[2011-10-29 15:16] omsoft opened #609 "Was getting an error "expected selector or at-rule""
Hi folks,
i was getting this error "Syntax error: Invalid CSS after "": expected selector or at-rule, was "=roundcorner(!s..."
My compass version was 0.10.6, no SASS installations. Was using RVM.

the source code:
=roundcorner(!size=7px)
    -moz-border-radius= !size

After many tries, uninstalling and changing versions of compass/sass, i found a solution. I didn't have specified the haml version

[2011-10-30 02:31] #609 closed, assigned to nobody

[2011-10-30 22:58] jgn commented on #579
Does anyone know a prior working compass / sass combination? I.e., versions of the two that worked together without generating this error? I've downgraded through a variety of versions but haven't hit a good combination yet.

[2011-10-31 14:51] silvenon commented on #291
Just do it :)

[2011-10-31 21:06] scottdavis commented on #590
did we fix this i can't remember?

[2011-10-31 21:12] scottdavis commented on #584
whats the status on this?

[2011-10-31 21:25] paulirish commented on #590
unfixed. this could just wait a little bit until the next platform preview which may have transitions. then we can add the prefix or leave it out.
so.. right now.. open as a tracking issue.

[2011-11-01 20:48] leehambley commented on #516
This is a problem still for me, I'm seeing absolutely insane (2500ms) requests, more than 90% of my request time for a fairly trivial app.

[2011-11-02 02:03] scottdavis commented on #516
im not having this problem in my rails 3.1.0 app are you using an older version of sass?

[2011-11-02 04:20] julioprotzek commented on #516
I ended up skiping asset pipeline for this project and compiling sass with `compass watch`. But I was using sass version which comes with Rails 3.1.1 O.o

[2011-11-02 08:03] leehambley commented on #516
Here's the low-down:

$ bundle show | ack '(?:rails|sass)'
- rails (3.1.0)
- sass (3.1.10)
- sass-rails (3.1.2)

I'm using :compass from @chriseppstein's master.

[2011-11-02 09:15] madhums commented on #606
Ruby version - ree-1.8.7-2011.02 [ x86_64 ]
Platform - ubuntu 11.10

I updated chunky_png to 1.2.5 and removed v1.2.0 - that fixed the above issue, but now I am getting this error in one of the css files. `Errno::ENOENT: No such file or directory - getcwd`. Full [stacktrace](https://raw.github.com/gist/1310214/2460e14b9d3369a5da3ac636b99a304da8b4dd99/getcwd_error)

[2011-11-02 15:07] ZeeAgency opened #611 "Feature request: inline-sprite"
We should be able to inline sprites with this helper.

https://gist.github.com/1333822

Thanks again Chris

[2011-11-04 13:01] scottdavis commented on #529
seems to be fixed

[2011-11-04 13:01] #529 closed, assigned to chriseppstein

[2011-11-04 13:02] scottdavis commented on #546
also are you using sprites?

[2011-11-04 13:03] scottdavis commented on #599
@ericam do you have the png file hiding someplace?

[2011-11-04 13:19] mwawrusch commented on #546
Hi Chris, Scott
actually everything is fine now. Some changes between then and now in
Compass or Rails fixed it. Super fast now. And I don't use sprites (well I
do, but I export them from fireworks directly, not using the compass
version)

Thanks
Martin

On Fri, Nov 4, 2011 at 6:02 AM, Scott Davis <
reply@reply.github.com>wrote:

[2011-11-04 13:21] #602 closed, assigned to scottdavis

[2011-11-04 13:22] #546 closed, assigned to nobody

[2011-11-04 13:26] scottdavis commented on #594
In your dependency you need to register the files with compass see below for an example:

https://github.com/Compass/compass-theme/blob/master/lib/compass-theme.rb#L3

then in your compass config just require the dependency ex: `require 'compass-theme'`

[2011-11-04 13:26] #594 closed, assigned to nobody

[2011-11-04 13:29] scottdavis commented on #525
you may just want to run `compass compile` in a deploy hook before you package the app up im not really sure what warbler is but this seems to be out side the scope of compass

[2011-11-04 13:29] #525 closed, assigned to nobody

[2011-11-04 14:16] #598 closed, assigned to nobody

[2011-11-04 14:18] scottdavis commented on #506
im really not sure what doto about this @chriseppstein ? is it seems like more of a sass issue

[2011-11-04 14:27] chriseppstein commented on #506
It's hard to say if there is a sass issue here. But let's focus on the source of the issue: hover not working in some browsers. Is there a reasonable fix for that?

[2011-11-04 14:47] #611 closed, assigned to scottdavis

[2011-11-04 14:58] #526 closed, assigned to chriseppstein

[2011-11-04 15:03] scottdavis commented on #597
this is caused by the `$support-for-original-webkit-gradients` being set to true by default in your screen.scss set it to false before importing compass

[2011-11-04 15:03] #597 closed, assigned to nobody

[2011-11-04 15:05] #382 closed, assigned to chriseppstein

[2011-11-04 17:24] mirisuzanne commented on #599
Nope. Sorry. Don't know where that came from or where it went to.

But it wouldn't be very useful if it was there, because it needs to match your actual site settings. You really should be making your own or using the new grid background module. Compass does include a simple way to make your own in the command line:

[code]

(Width + Gutter x Height)

I'd recommend changing debug-vertical-alignmen

[2011-11-04 18:55] scottdavis commented on #599
ok ill move this to the 0.12.1 milstone

[2011-11-04 18:59] coderanger opened #612 "Support for upgrading an existing extension in a project"
Something like `compass upgrade foo` maybe?

[2011-11-08 10:29] iamademar commented on #584
Any updates on this one?

[2011-11-08 10:56] iamademar commented on #584
Here's a fix, on your application.rb:

[code]

[2011-11-08 17:58] millermedeiros commented on #465
translate3d messes with `background-position: fixed` and `z-index`.. it shouldn't be the default. maybe just add info on the docs that translate3d is hardware accelerated on iOS.

[2011-11-08 18:04] chrisdrackett commented on #465
I think if anything this should be an option. We currently use 3D transforms 100% of the time on webkit and work around the issues above because the performance gains are so significant.

[2011-11-08 18:23] chriseppstein commented on #465
The compass css3 mixins are low-level wrappers around browser prefixes and compatibility and are meant to be used in constructing more high-level mixins. So I agree they shouldn't do anything beyond that stated purpose if there are downsides to such a strategy. I suggest someone makes accellerated versions of these mixins and they can be another module.